Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix(score): reject zero batch size
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix clippy regressions in test targets
  crates/bitnet-kernels/src/opencl_session_manager.rs
  crates/bitnet-kernels/tests/metal_batch_norm_shader_tests.rs
  crates/bitnet-kernels/tests/metal_format_tests.rs
  crates/bitnet-kernels/tests/metal_shared_memory.rs
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-server/src/bin/server.rs
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(minimal-json): avoid unwraps in edge-case tests
  crates/bitnet-minimal-json-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(sampling): avoid unwraps in edge-case tests
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): replay attention norm source for value projection (#5212)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): probe selected key dim-token slot
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize attention norm source for value projection (#5208)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): probe selected key dim-token slot (#5427)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize value projection input source (#5207)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(sampling): harden greedy sampling and add edge-case tests (#5419)
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(minimal-json): stricter parsing, escape/unicode decoding and edge-case tests (#5418)
  crates/bitnet-minimal-json-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): classify selected post-rope history source
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(agent): clarify PR branch refresh authority (#5422)
  AGENTS.md
  CLAUDE.md
  docs/tracking/TRACKER_MODEL.md
Due: none

chore: improve local dev checks
  .cargo/config.toml
  README.md
  crates/bitnet-tokenizer-text-core/src/lib.rs
  scripts/dev-check.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore(devex): add local dev check helper
  Justfile
  Makefile
  README.md
  scripts/dev-check.sh
Due: none

test(score): avoid unwrap in batch validation test
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix clippy regressions in test targets (#5425)
  crates/bitnet-kernels/src/opencl_session_manager.rs
  crates/bitnet-kernels/tests/metal_batch_norm_shader_tests.rs
  crates/bitnet-kernels/tests/metal_format_tests.rs
  crates/bitnet-kernels/tests/metal_shared_memory.rs
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-server/src/bin/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

server: add BitNet QK256 strict server smoke
  Cargo.lock
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-17/server-strict-bitnet-qk256-smoke.json
  ci/model-artifacts/model-coverage-matrix.toml
  crates/bitnet-receipts-core/src/artifact_kinds.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/lib.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_SERVER_006_BITNET_QK256_STRICT_SERVER_SMOKE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T220902Z-CUDA-SERVER-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): localize prefix value-cache source drift (#5205)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: clean up strict clippy failures
  benches/neon_ops.rs
  benches/neon_simd.rs
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/tests/activation_functions_edge_cases.rs
  crates/bitnet-gpu-hal/tests/checkpoint_manager_edge_cases.rs
  crates/bitnet-gpu-hal/tests/context_window_edge_cases.rs
  crates/bitnet-gpu-hal/tests/execution_planner_edge_cases.rs
  crates/bitnet-gpu-hal/tests/hal_traits_edge_cases.rs
  crates/bitnet-gpu-hal/tests/model_pruning_edge_cases.rs
  crates/bitnet-gpu-hal/tests/sparse_operations_edge_cases.rs
  crates/bitnet-honest-compute/tests/honest_compute_tests.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/metal_format_tests.rs
  crates/bitnet-opencl/src/context_pool.rs
  crates/bitnet-opencl/src/diagnostics.rs
  crates/bitnet-opencl/src/quantized_kernels.rs
  crates/bitnet-opencl/tests/opencl_paged_kv_edge_cases.rs
  crates/bitnet-opencl/tests/quantized_ops_tests.rs
  crates/bitnet-opencl/tests/registry_dispatcher_edge_cases.rs
  crates/bitnet-opencl/tests/snapshot_wave13.rs
  crates/bitnet-opencl/tests/snapshots/snapshot_wave13__distribution_stats_normal.snap
  crates/bitnet-opencl/tests/spirv_tests.rs
  crates/bitnet-opencl/tests/spirv_validator_cache_edge_cases.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-runtime-context-core/tests/runtime_context_core_edge_cases2.rs
  crates/bitnet-runtime-feature-flags-core/tests/feature_flags_core_edge_cases.rs
  crates/bitnet-runtime-feature-flags/tests/feature_flags_tests.rs
  crates/bitnet-runtime-feature-flags/tests/runtime_feature_flags_tests.rs
  crates/bitnet-startup-contract-core/tests/startup_contract_core_edge_cases2.rs
  crates/bitnet-testing-scenarios-profile-core/tests/property_tests.rs
  crates/bitnet-tokenizers/src/universal.rs
  crossval/benches/gpu_offloading_bench.rs
  crossval/tests/cpp_wrapper_smoke_test.rs
  tests/test_infrastructure_helpers_tests.rs
  tests/test_support_tests.rs
  tools/bitnet-task/src/ci.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): classify selected post-rope history source (#5428)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: build out roadmap
  ROADMAP.md
Due: none

docs: expand project roadmap
  ROADMAP.md
Due: none

test: strengthen scenario config coverage
  crates/bitnet-testing-scenarios-core/src/lib.rs
  crates/bitnet-testing-scenarios-core/tests/scenarios_core_edge_cases.rs
  crates/bitnet-testing-scenarios-core/tests/snapshots/snapshot_tests__available_scenarios_count.snap
  crates/bitnet-testing-scenarios-core/tests/snapshots/snapshot_tests__scenario_descriptions_all_variants.snap
  crates/bitnet-testing-scenarios-core/tests/testing_scenarios_core_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: expand roadmap plan
  ROADMAP.md
Due: none

docs: build out proof-first roadmap
  ROADMAP.md
  docs/README.md
  docs/SUMMARY.md
Due: none

test: expand quantization bit packing coverage
  crates/bitnet-quantization-bits/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve local developer workflows
  Makefile
  README.md
  crates/bitnet-tokenizer-text-core/src/lib.rs
  docs/development/build-commands.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore(devex): add local environment doctor
  Makefile
  README.md
  scripts/doctor.sh
Due: none

docs: mark CUDA-SERVER-006 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T222403Z-CUDA-SERVER-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-SERVER-006 BitNet QK256 strict server smoke (#5439)
  Cargo.lock
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-17/server-strict-bitnet-qk256-smoke.json
  ci/model-artifacts/model-coverage-matrix.toml
  crates/bitnet-receipts-core/src/artifact_kinds.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/lib.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_SERVER_006_BITNET_QK256_STRICT_SERVER_SMOKE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T220902Z-CUDA-SERVER-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T222403Z-CUDA-SERVER-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): pin selected post-rope capture replay
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report prefix value-mix source deltas (#5204)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: close CUDA-SERVER-006 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T222858Z-CUDA-SERVER-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(score): reject zero batch size (#5424)
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): pin selected post-rope capture replay (#5442)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report prefix value-mix rust self recompute (#5202)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: close CUDA-SERVER-006 tracker (#5443)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-17T222858Z-CUDA-SERVER-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test: remove CUDA server smoke expect calls
  crates/bitnet-server/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report rust post-rope capture source
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
