Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(cuda): add dense GGUF RoPE parity proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-rope-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rope.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_018_ROPE_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T075800Z-CUDA-DENSE-018-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(cli-sampling): remove token count map
  crates/bitnet-cli-sampling-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-DENSE-018 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T080826Z-CUDA-DENSE-018-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

perf(sampling): avoid powi in count penalty
  crates/bitnet-sampling/src/strategies.rs
  crates/bitnet-sampling/tests/snapshots/snapshot_wave12__repetition_penalty_apply_with_counts.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(logits): avoid top-k allocation when already sparse
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): satisfy cpu feature clippy
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): refresh CUDA-DENSE-018 head sha
  docs/tracking/campaigns/nvidia-5070ti/active.toml
Due: none

perf(inference): reuse repetition token history
  crates/bitnet-inference/src/generation/sampling.rs
  crates/bitnet-inference/tests/snapshots/snapshot_generation_config__sampling_strategy_balanced.snap
  crates/bitnet-inference/tests/snapshots/snapshot_generation_config__sampling_strategy_conservative.snap
  crates/bitnet-inference/tests/snapshots/snapshot_generation_config__sampling_strategy_creative.snap
  crates/bitnet-inference/tests/snapshots/snapshot_generation_config__sampling_strategy_deterministic.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave18__w18_gen_sampling_strategy_default_debug.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave18__w18_gen_sampling_strategy_greedy_debug.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave28__snapshot_sampling_strategy_balanced.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave28__snapshot_sampling_strategy_conservative.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave28__snapshot_sampling_strategy_creative.snap
  crates/bitnet-inference/tests/snapshots/snapshot_wave28__snapshot_sampling_strategy_deterministic.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(gpu-hal): make checkpoint ordering deterministic
  crates/bitnet-gpu-hal/src/checkpoint_manager.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(gpu-hal): avoid cloning HNSW prune query
  crates/bitnet-gpu-hal/src/semantic_search.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(sampling): drop unused token count state
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(logits): avoid top-p allocation when already sparse
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(cli-sampling): reuse logits buffer
  crates/bitnet-cli-sampling-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add CUDA-DENSE-018 dense GGUF RoPE parity proof (#4228)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-rope-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rope.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_018_ROPE_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T075800Z-CUDA-DENSE-018-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T080826Z-CUDA-DENSE-018-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(wasm): explain disabled browser controls
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

docs(cuda): close CUDA-DENSE-018
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T084148Z-CUDA-DENSE-018-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-018 (#4235)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T084148Z-CUDA-DENSE-018-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(wasm): sync browser example interactions
  crates/bitnet-wasm/examples/browser/main.js
  examples/wasm/browser/index.html
  examples/wasm/browser/main.js
Due: none

ci(coverage): add receipt artifact
  .github/workflows/coverage.yml
Due: none

fix(tokenizers): infer GGUF model type from architecture
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(devex): clarify xtask no-default-features usage
  docs/development/build-commands.md
  docs/getting-started.md
  docs/quickstart.md
  tools/bitnet-task/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): route CUDA-DENSE-019 dense one-layer RoPE
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_019_ONE_LAYER_ROPE_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T090503Z-CUDA-DENSE-019-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor: apply small clippy cleanups
  crates/bitnet-common/src/perf_profiler.rs
  crates/bitnet-testing-scenarios-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-DENSE-019 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T091813Z-CUDA-DENSE-019-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): route CUDA-DENSE-019 dense one-layer RoPE (#4241)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_019_ONE_LAYER_ROPE_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T090503Z-CUDA-DENSE-019-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T091813Z-CUDA-DENSE-019-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: add advisory test telemetry lane
  .github/workflows/test-telemetry.yml
  policy/ci-lane-whitelist.toml
  policy/ci-lanes.toml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
