Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

diag(bitnet): carry reference text probes in run receipt
  xtask/src/bitnet_reference_run.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

qk256: add ignored OpenCL hardware smoke (#4749)
  crates/bitnet-qk256-dispatch/tests/opencl_qk256_hardware.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(cli): expose prompt stop contract receipts
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close slm eval v2 reports
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/events/2026-05-15T033907Z-M4-SLM-EVAL2-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close Apple M4 SLM eval v2 report item (#4835)
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/events/2026-05-15T033907Z-M4-SLM-EVAL2-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): carry Qwen no-think into answer corpus
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-say-ok.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

models(cuda): add Qwen3 artifact contract
  ci/model-artifacts/dense-slm-model-contracts.toml
  ci/model-artifacts/model-coverage-matrix.toml
  docs/reports/CUDA_MODEL_001_QWEN3_06B_ARTIFACT_CONTRACT.md
Due: none

docs(cuda): track CUDA-MODEL-001 PR
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T034533Z-CUDA-MODEL-001-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T034554Z-CUDA-MODEL-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(bitnet): use transposed lm_head at runtime
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf: optimize token repetition penalty via `.powi`
  crates/bitnet-sampling/src/strategies.rs
  crates/bitnet-sampling/tests/snapshots/snapshot_wave12__repetition_penalty_apply_with_counts.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(slm): carry Qwen no-think into answer corpus (#4832)
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-say-ok.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): record corpus support slice
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T035639Z-SLM-CPU-009A-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

docs: audit M3 Air artifact cache
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/storage-audit.json
  docs/reports/apple-silicon-macbook-m3-air-storage-audit.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T040100Z-M3MBA-010-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T040500Z-M3MBA-010-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(apple-m4): add dense SLM benchmark v2 command
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add M4 dense SLM benchmark v2 command (#4840)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

⚡ Bolt: [performance improvement] optimize token repetition penalty via `.powi` (#4674)
  crates/bitnet-sampling/src/strategies.rs
  crates/bitnet-sampling/tests/snapshots/snapshot_wave12__repetition_penalty_apply_with_counts.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): record corpus support slice (#4838)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T035639Z-SLM-CPU-009A-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

docs: audit M3 Air artifact cache (#4839)
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/storage-audit.json
  docs/reports/apple-silicon-macbook-m3-air-storage-audit.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T040100Z-M3MBA-010-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T040500Z-M3MBA-010-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

models(cuda): add CUDA-MODEL-001 Qwen3 artifact contract
  ci/model-artifacts/dense-slm-model-contracts.toml
  ci/model-artifacts/model-coverage-matrix.toml
  docs/reports/CUDA_MODEL_001_QWEN3_06B_ARTIFACT_CONTRACT.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T034533Z-CUDA-MODEL-001-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T034554Z-CUDA-MODEL-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(proof): add A770 productization specs
  docs/hardware/HARDWARE_MATRIX.md
  docs/hardware/intel-arc-a770-validation.md
  docs/specs/INDEX.md
  docs/specs/a770-bitnet-claim-boundary.md
  docs/specs/intel-arc-a770-gpu-roadmap.md
  plans/a770-bitnet-claim-boundary-implementation.md
Due: none

diag(bitnet): compare reference prompt tokens
  xtask/src/bitnet_reference_plan.rs
  xtask/src/bitnet_reference_run.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-MODEL-001 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T041133Z-CUDA-MODEL-001-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(slm): record Qwen3 tiny corpus evidence
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/capital_france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/math_2_plus_2.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/repeat_colors.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/say_ok.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/yes_no_water.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus.json
  docs/slm/SLM_CPU_QWEN3_CONSTRAINED_SCORING.md
Due: none

test(slm): record Qwen3 tiny corpus evidence (#4843)
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/capital_france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/math_2_plus_2.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/repeat_colors.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/say_ok.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/yes_no_water.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus.json
  docs/slm/SLM_CPU_QWEN3_CONSTRAINED_SCORING.md
Due: none

docs(slm): record corpus evidence slice
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T043800Z-SLM-CPU-009B-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

fix(bitnet): use GGUF BPE tokenizer for reference prompts
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/loader.rs
  xtask/src/bitnet_reference_plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(a770): add BitNet A770 claim-boundary spec
  docs/hardware/HARDWARE_MATRIX.md
  docs/hardware/intel-arc-a770-validation.md
  docs/specs/INDEX.md
  docs/specs/a770-bitnet-claim-boundary.md
  docs/specs/intel-arc-a770-gpu-roadmap.md
  plans/a770-bitnet-claim-boundary-implementation.md
Due: none

test(slm): record Qwen3 tiny corpus green
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/capital_france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/repeat_colors.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/say_four.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/say_ok.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus.json
  docs/slm/SLM_CPU_QWEN3_CONSTRAINED_SCORING.md
Due: none

test(a770): guard BitNet claim-boundary spec
  xtask/tests/a770_claim_boundary_spec.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): report GGUF RoPE contract
  crates/bitnet-cli/src/commands/inspect.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): sync SLM-CPU-009 merge
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T051700Z-SLM-CPU-009-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): report I2S matmul contract
  crates/bitnet-cli/src/commands/inspect.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

proof(bitnet): add I2S activation quant GEMV oracle
  crates/bitnet-quantization/src/i2s_qk256.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
