Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(kernels): enhance CUDA RoPE kernel with scaling_factor, sincos table, and expanded tests
  crates/bitnet-kernels/src/cpu/rope.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rope.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA embedding lookup kernel with CPU fallback (#1673)
  crates/bitnet-common/tests/property_tensor_shapes.rs
  crates/bitnet-kernels/src/cuda/embedding.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/embedding.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/tests/property_model_config.rs
  crates/bitnet-quantization/tests/property_quantization_round_trip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(common): add production tensor data validation
  crates/bitnet-common/src/tensor_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: CHANGELOG entries for waves 26-28 (PRs #1243-#1252)
  CHANGELOG.md
Due: none

test: add integration wave 6 — cross-crate interaction tests
  crates/bitnet-common/tests/error_handling_integration.rs
  crates/bitnet-inference/tests/config_serialization_integration.rs
  crates/bitnet-kernels/tests/kernel_dispatch_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fuzz: add wave-9 targets (softmax_stability, embedding_lookup, memory_layout)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/embedding_lookup.rs
  fuzz/fuzz_targets/memory_layout.rs
  fuzz/fuzz_targets/softmax_stability.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add memory pool module for tensor allocation
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add Intel GPU device detection and probing
  crates/bitnet-kernels/src/device_features.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: optimize typical sampling for sparse probabilities
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-logits/tests/logits_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add Intel GPU architecture guide and update CHANGELOG
  CHANGELOG.md
  docs/GPU_SETUP.md
  docs/INTEL_GPU_ARCHITECTURE.md
Due: none

test(kernels): add property test wave 8 for CPU kernels
  crates/bitnet-kernels/tests/property_tests_wave8.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CUDA conv1d kernel with CPU fallback
  crates/bitnet-kernels/src/cuda/conv1d.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add Intel GPU feature matrix testing
  .github/workflows/intel-gpu-feature-matrix.yml
  tests-new/intel_gpu_feature_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add layer normalization and RMS norm kernels
  crates/bitnet-kernels/src/cpu/layer_norm.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add shape-aware reduction module with axis support
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/reduction.rs
  crates/bitnet-kernels/src/shaped_reduction.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add Intel Arc A770 benchmark definitions and runner
  crates/bitnet-kernels/src/benchmarks/intel_arc.rs
  crates/bitnet-kernels/src/benchmarks/mod.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add KV cache optimization module for incremental inference (#1685)
  crates/bitnet-common/src/tensor_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add comprehensive RoPE validation tests
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/rope_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: add Intel GPU smoke workflow and Arc setup docs (#1686)
  .github/workflows/intel-gpu-smoke.yml
  docs/GPU_SETUP_INTEL.md
Due: none

feat(kernels): add CUDA quantized I2_S matmul kernel with CPU fallback
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add integration wave 6 — cross-crate interaction tests (#1684)
  crates/bitnet-common/tests/error_handling_integration.rs
  crates/bitnet-inference/tests/config_serialization_integration.rs
  crates/bitnet-kernels/tests/kernel_dispatch_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fuzz: add wave-9 targets (softmax_stability, embedding_lookup, memory_layout) (#1666)
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/memory_pool.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/embedding_lookup.rs
  fuzz/fuzz_targets/memory_layout.rs
  fuzz/fuzz_targets/softmax_stability.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): wire opencl feature gate across workspace
  Cargo.toml
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/tests/backend_selection_tests.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
  crates/bitnet-common/tests/property_tests.rs
  crates/bitnet-common/tests/snapshot_tests.rs
  crates/bitnet-common/tests/snapshot_wave5.rs
  crates/bitnet-common/tests/snapshots/snapshot_tests__kernel_capabilities_cpu_avx2.snap
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-kernels/tests/opencl_bdd_tests.rs
  crates/bitnet-kernels/tests/property_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: fix formatting in quantized matmul kernel
  crates/bitnet-kernels/src/cuda/quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU reduction operations module
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/reduction.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(inference): add prefix cache edge case tests (42 tests)
  crates/bitnet-inference/tests/prefix_cache_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(common): add error types and security limits edge case tests (48 tests)
  crates/bitnet-common/tests/error_security_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gguf): add GGUF header parser edge case tests (52 tests)
  crates/bitnet-gguf/tests/gguf_header_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL kernel source registry with 10 built-in kernels
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kernel_sources.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(metal): Metal Shading Language compute kernels for Apple Silicon
  Cargo.lock
  Cargo.toml
  crates/bitnet-metal/Cargo.toml
  crates/bitnet-metal/src/kernels/attention.metal
  crates/bitnet-metal/src/kernels/elementwise.metal
  crates/bitnet-metal/src/kernels/matmul.metal
  crates/bitnet-metal/src/kernels/mod.rs
  crates/bitnet-metal/src/kernels/rmsnorm.metal
  crates/bitnet-metal/src/kernels/rope.metal
  crates/bitnet-metal/src/kernels/softmax.metal
  crates/bitnet-metal/src/lib.rs
  crates/bitnet-metal/tests/metal_kernel_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CUDA reduction kernel with CPU fallback (#1701)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/reduction.rs
  crates/bitnet-kernels/src/shaped_reduction.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add property test wave 8 for CPU kernels (#1692)
  crates/bitnet-kernels/tests/property_tests_wave8.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): enhance CUDA RoPE kernel with scaling_factor, sincos table, and expanded tests (#1690)
  crates/bitnet-kernels/src/cpu/rope.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rope.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kernel_sources.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  crates/bitnet-common/tests/error_security_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
