Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

ci(intel-gpu): add compile-check and nightly A770 workflows
  .github/workflows/a770-nightly.yml
  .github/workflows/intel-gpu-compile.yml
Due: none

feat(gpu-hal): NPU detection and heterogeneous offloading
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/npu_support.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove phantom module declarations (profiling, streaming)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/npu_support.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: update cuda/transpose.rs to use new TransposeKernel API
  crates/bitnet-kernels/src/cuda/transpose.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: address review feedback on transpose kernel
  crates/bitnet-kernels/src/cpu/transpose.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: add wave 16 kernel-focused fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_activation_chain.rs
  fuzz/fuzz_targets/fuzz_batch_norm.rs
  fuzz/fuzz_targets/fuzz_cpu_attention.rs
  fuzz/fuzz_targets/fuzz_layernorm_stability.rs
  fuzz/fuzz_targets/fuzz_quantize_dequantize.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA conv1d kernel with CPU fallback
  crates/bitnet-kernels/src/cuda/conv1d.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): kernel JIT compilation with shape specialization
  crates/bitnet-gpu-hal/src/kernel_jit.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add proptest wave 14 (kernel, model, tokenizer properties)
  crates/bitnet-common/tests/proptest_wave14.rs
  crates/bitnet-kernels/tests/proptest_wave14.rs
  crates/bitnet-models/tests/proptest_wave14.rs
  crates/bitnet-tokenizers/tests/proptest_wave14.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(docs): wrap Vec<u8> in backticks to fix rustdoc HTML tag error
  crates/bitnet-st-tools/src/common.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL KV cache management for A770 inference
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL activation and softmax kernels for A770
  crates/bitnet-kernels/src/gpu/kernels/activations.cl
  crates/bitnet-kernels/src/gpu/kernels/attention.cl
  crates/bitnet-kernels/src/gpu/kernels/mod.rs
  crates/bitnet-kernels/src/gpu/kernels/normalization.cl
  crates/bitnet-kernels/src/gpu/kernels/rope.cl
  crates/bitnet-kernels/src/gpu/kernels/tiled_matmul.cl
  crates/bitnet-kernels/src/kernels.rs
  crates/bitnet-kernels/tests/opencl_activation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update CHANGELOG with A770 OpenCL waves 99-103
  CHANGELOG.md
Due: none

feat(kernels): extend CPU activation functions with slice API, in-place variants, and softplus beta
  crates/bitnet-kernels/src/cpu/activations.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU transpose and reshape operations (#1760)
  crates/bitnet-kernels/src/cpu/transpose.rs
  crates/bitnet-kernels/src/cuda/transpose.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): attention mechanism variants (7 types)
  crates/bitnet-gpu-hal/src/attention_variants.rs
  crates/bitnet-gpu-hal/src/hal_traits.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): Apple Silicon benchmark and NEON correctness suite
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/apple_silicon_benchmarks.rs
  crates/bitnet-kernels/tests/neon_correctness_exhaustive.rs
  tests/common/config_validator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(gpu-hal): suppress missing_const_for_fn and fix ~515 clippy warnings
  crates/bitnet-gpu-hal/src/api_server.rs
  crates/bitnet-gpu-hal/src/deployment_manager.rs
  crates/bitnet-gpu-hal/src/error_taxonomy.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/memory_layout.rs
  crates/bitnet-gpu-hal/src/model_pruning.rs
  crates/bitnet-gpu-hal/src/model_serialization.rs
  crates/bitnet-gpu-hal/src/parallel_communication.rs
  crates/bitnet-gpu-hal/src/prompt_processing.rs
  crates/bitnet-gpu-hal/src/quantization_toolkit.rs
  crates/bitnet-gpu-hal/src/serving_runtime.rs
  crates/bitnet-gpu-hal/src/sparse_operations.rs
  crates/bitnet-gpu-hal/src/streaming_aggregator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): mixed-precision FP16/FP32 support for A770 OpenCL
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_precision.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA RoPE kernel with CPU fallback (#1925)
  crates/bitnet-kernels/src/cuda/rope.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL buffer alignment utilities (#1912)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_buffer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): add Metal kernel validation tests (#1884)
  crates/bitnet-kernels/tests/metal_kernel_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gguf): add KV metadata edge case tests (#1870)
  crates/bitnet-gguf/tests/gguf_kv_metadata_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gguf): add simple loader edge case tests (#1861)
  crates/bitnet-models/tests/gguf_simple_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add WGSL shader library (#1859)
  crates/bitnet-wgpu-shaders/Cargo.toml
  crates/bitnet-wgpu-shaders/src/elementwise.rs
  crates/bitnet-wgpu-shaders/src/layer_norm.rs
  crates/bitnet-wgpu-shaders/src/lib.rs
  crates/bitnet-wgpu-shaders/src/matmul.rs
  crates/bitnet-wgpu-shaders/src/rope.rs
  crates/bitnet-wgpu-shaders/src/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz(kernels): add wave 16 fuzz targets (#1910)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_activation_chain.rs
  fuzz/fuzz_targets/fuzz_batch_norm.rs
  fuzz/fuzz_targets/fuzz_cpu_attention.rs
  fuzz/fuzz_targets/fuzz_layernorm_stability.rs
  fuzz/fuzz_targets/fuzz_quantize_dequantize.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add kernel integration test suite v2 (#1895)
  crates/bitnet-kernels/tests/kernel_numerical_tests.rs
  crates/bitnet-kernels/tests/kernel_pipeline_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(wgpu): add bitnet-wgpu foundation crate (#1860)
  Cargo.lock
  Cargo.toml
  crates/bitnet-wgpu/Cargo.toml
  crates/bitnet-wgpu/src/buffer.rs
  crates/bitnet-wgpu/src/device.rs
  crates/bitnet-wgpu/src/dispatch.rs
  crates/bitnet-wgpu/src/error.rs
  crates/bitnet-wgpu/src/lib.rs
  crates/bitnet-wgpu/src/pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): resolve lint errors blocking CI on main
  crates/bitnet-kernels/src/cuda/batch_norm.rs
  crates/bitnet-kernels/tests/cpu_matmul_edge_cases.rs
  crates/bitnet-kernels/tests/integration_wave10.rs
  crates/bitnet-kernels/tests/integration_wave7.rs
  crates/bitnet-kernels/tests/integration_wave9.rs
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-kernels/tests/property_tests_wave8.rs
  crates/bitnet-kernels/tests/proptest_wave10.rs
  crates/bitnet-kernels/tests/snapshot_kernel_outputs.rs
  crates/bitnet-kernels/tests/snapshot_wave5.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): OpenCL I2_S quantize/dequantize for A770 inference
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_quantize.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL inference pipeline orchestrator for A770
  crates/bitnet-kernels/src/opencl_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL memory manager with unified memory for A770
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: fix formatting and update Cargo.lock
  crates/bitnet-kernels/src/opencl_precision.rs
  crates/bitnet-kernels/tests/metal_dispatch_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): OpenCL kernel registry with A770 device-aware selection
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(docs): wrap Vec<u8> in backticks to fix rustdoc HTML tag error (#1929)
  crates/bitnet-common/tests/proptest_wave14.rs
  crates/bitnet-kernels/src/cuda/conv1d.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/tests/proptest_wave14.rs
  crates/bitnet-models/tests/proptest_wave14.rs
  crates/bitnet-st-tools/src/common.rs
  crates/bitnet-tokenizers/tests/proptest_wave14.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): OpenCL activation and softmax kernels for A770 (#1919)
  crates/bitnet-kernels/src/gpu/kernels/activations.cl
  crates/bitnet-kernels/src/gpu/kernels/attention.cl
  crates/bitnet-kernels/src/gpu/kernels/mod.rs
  crates/bitnet-kernels/src/gpu/kernels/normalization.cl
  crates/bitnet-kernels/src/gpu/kernels/rope.cl
  crates/bitnet-kernels/src/gpu/kernels/tiled_matmul.cl
  crates/bitnet-kernels/src/kernels.rs
  crates/bitnet-kernels/tests/opencl_activation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal dispatch sizing and workgroup validation tests
  crates/bitnet-kernels/tests/metal_dispatch_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(inference): remove unreachable match arms in test_real_inference
  crates/bitnet-inference/tests/test_real_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
