Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(wasm-example): implement accessible tab navigation
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

feat(wasm-browser): improve tab accessibility with ARIA roles and keyboard navigation
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

⚡ Bolt: optimize batch quantization grouping
  .jules/bolt.md
  crates/bitnet-server/src/batch_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CI formatting issues in batch_engine.rs
  crates/bitnet-server/src/batch_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🛡️ Sentinel: [HIGH] Restrict CORS origins based on config
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: Remove unnecessary string allocations in batch optimization
  crates/bitnet-server/src/batch_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(wasm-example): improve tab accessibility and semantics
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

Refactor CORS configuration to use SecurityConfig
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refactor CORS configuration to use SecurityConfig
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix overly permissive CORS configuration by enforcing allowed origins
  .jules/sentinel.md
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix formatting in security.rs and update CORS logic
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf: Avoid String allocation in batch formation
  crates/bitnet-server/src/batch_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Sentinel: [HIGH] Fix overly permissive CORS configuration
  .jules/sentinel.md
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): optimize repetition penalty sampling with incremental updates
  crates/bitnet-inference/src/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(ux): convert tabs to accessible buttons with ARIA roles
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

⚡ Bolt: Optimize repetition penalty calculation
  crates/bitnet-inference/src/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(ux): replace div tabs with accessible button elements
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

🛡️ Sentinel: [HIGH] Restrict CORS origins based on configuration
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): document CI billing failure and manual verification
  .Jules/palette.md
Due: none

⚡ Bolt: Optimize repetition penalty calculation
  crates/bitnet-inference/src/sampling.rs
  crates/bitnet-inference/tests/sampling_robustness.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(ci): document CI billing failure and manual verification
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

feat(frontend): improve tab accessibility with semantic buttons and ARIA roles
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

feat(inference): optimize repetition penalty to O(1) amortized
  .jules/bolt.md
  crates/bitnet-inference/src/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Enforce CORS origin validation in bitnet-server
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(build): enable wasm compilation by making onig optional and improve tab a11y
  .Jules/bolt.md
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-wasm/Cargo.toml
Due: none

feat(inference): optimize repetition penalty to O(1) amortized
  crates/bitnet-inference/src/config.rs
  crates/bitnet-inference/src/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Accessible Tab Navigation
  .Jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

perf(inference): optimize sampling by removing tensor allocations
  crates/bitnet-inference/src/config.rs
  crates/bitnet-inference/src/generation/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🛡️ Sentinel: [CRITICAL] Fix hardcoded secrets in Docker Compose
  .jules/sentinel.md
  docker-compose.yml
  infra/monitoring/alertmanager.yml
  infra/monitoring/docker-compose.yml
Due: none
