Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

chore: cargo fmt
  crates/bitnet-models/src/config_detection.rs
  crates/bitnet-models/src/hf_loader.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/weight_mapper.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl_config_reload for A770 runtime configuration
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_config_reload.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl_quant_calibrate for A770 quantization calibration
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_quant_calibrate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl_server_integration for A770 serving
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_server_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl_stop_criteria for token generation control
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_stop_criteria.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(e2e): add E2E SLM smoke tests for Phi-4, LLaMA-3, Qwen, Gemma, Mistral (#2404)
  crates/bitnet-inference/tests/e2e_slm_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add opencl_activation_lib for A770 activation functions
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_activation_lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl_async_pipeline for A770 async inference
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_async_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): add HuggingFace model loading support with format auto-detection
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/slm_hf_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update CHANGELOG with A770 OpenCL waves 114-117
  CHANGELOG.md
Due: none

feat(kernels): add opencl_dispatch_planner for A770 kernel scheduling
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_dispatch_planner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL sparse attention module with 6 patterns
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_sparse_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): add HuggingFace model loading with auto-detection for SLM families (#2408)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/slm_hf_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add SLM quickstart guide for Phi-4, Qwen, Gemma, Mistral, LLaMA
  README.md
  docs/slm-quickstart.md
Due: none

feat(kernels): add OpenCL model parallelism module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_model_parallel.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add dense model forward pass for FP16/BF16 SLMs
  crates/bitnet-inference/src/dense_forward.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add SLM quickstart guide and model family reference (#2411)
  README.md
  docs/slm-quickstart.md
Due: none

feat(inference): add dense model forward pass for non-quantized SLMs (#2413)
  crates/bitnet-inference/src/dense_forward.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: format 10 workspace files (wave 5) (#2397)
  crates/bitnet-models/src/config_detection.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/weight_mapper.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: format 8 workspace files (wave 6)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/slm_hf_integration_tests.rs
  crates/bitnet-inference/src/dense_forward.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/tests/e2e_slm_smoke.rs
  crates/bitnet-models/src/hf_loader.rs
  crates/bitnet-models/src/lib.rs
  xtask/src/model_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL grouped-query attention module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_gqa.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL RoPE table generator module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_rope_tables.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL advanced sampling strategies module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_advanced_sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL layer fusion optimizer module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_layer_fusion.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL INT8 DP4A compute module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_dp4a.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL BPE tokenizer engine module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_bpe_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL sliding window attention module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_sliding_window.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL attention bias patterns module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_attn_bias.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(models): add comprehensive model validation suite
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bench: add Criterion benchmarks for dense SLM inference operations
  Cargo.lock
  Cargo.toml
  benches/slm_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
