Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

SWARM-LNL258V-BITNET-INTAKE-005: close A770 watchpoints (#42)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-source-changes.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T122500Z-SWARM-LNL258V-BITNET-INTAKE-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T123500Z-SWARM-LNL258V-BITNET-INTAKE-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: close SWARM-LNL258V-BITNET-INTAKE-005 (#44)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T123713Z-SWARM-LNL258V-BITNET-INTAKE-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): mark mixed switch soak PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T124452Z-M4-STABILITY-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(apple-m4): close context guardrail tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T094812Z-M4-CONTEXT-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(qk256): keep AVX2 timing probe non-claiming
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close mixed model switch soak tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T130142Z-M4-STABILITY-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SWARM-LNL258V-BITNET-INTAKE-006: track A770 operand watchpoint (#45)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-source-changes.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T125500Z-SWARM-LNL258V-BITNET-INTAKE-006-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T130117Z-SWARM-LNL258V-BITNET-INTAKE-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-STABILITY-001 (#6135)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T130142Z-M4-STABILITY-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(qk256): neutralize AVX2 timing probe output
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(a770): align matmul_i2s operand contract
  ci/hardware/amd-5700x-intel-a770/2026-05-20/a770-opencl-matmul-i2s-parity.json
  crates/bitnet-kernels/src/a770_opencl_fixture.rs
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
  crates/bitnet-kernels/src/kernels.rs
  crates/bitnet-kernels/src/lib.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T094545Z-A770-006R-in-progress.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cuda: filter benchmark receipts by profile (#48)
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(qk256): salvage AVX2 position identity proof
  crates/bitnet-models/tests/qk256_avx2_correctness.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(a770): close matmul operand contract item
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T132250Z-A770-006R-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test: avoid panic in benchmark profile test (#49)
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: close SWARM-LNL258V-BITNET-INTAKE-006 (#46)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T131857Z-SWARM-LNL258V-BITNET-INTAKE-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

chore(tracking): stabilize generated dashboard line endings (#50)
  .gitattributes
Due: none

docs(slm): review first swarm artifact intake
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/after_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/before_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/candidate_summary.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/equivalence_report.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/source_commit.txt
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/timing_not_claimed.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-064-swarm-intake-review.json
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T143726Z-SLM-CPU-064-in-progress.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): record SLM-CPU-064 PR open
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144000Z-SLM-CPU-064-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

SLM-CPU-064: review first swarm artifact intake (#6138)
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/after_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/before_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/candidate_summary.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/equivalence_report.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/source_commit.txt
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/timing_not_claimed.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-064-swarm-intake-review.json
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T143726Z-SLM-CPU-064-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144000Z-SLM-CPU-064-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): close first swarm intake review
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144120Z-SLM-CPU-064-merged.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144500Z-SLM-CPU-065-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): close first swarm intake review (#6139)
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144120Z-SLM-CPU-064-merged.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T144500Z-SLM-CPU-065-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close PERF-005 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-20T121916Z-CUDA-BITNET-PERF-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SWARM-LNL258V-BITNET-INTAKE-007: mark A770 merge stale (#51)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-source-changes.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T142000Z-SWARM-LNL258V-BITNET-INTAKE-007-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T142556Z-SWARM-LNL258V-BITNET-INTAKE-007-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): track long-context harness PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T135247Z-M4-CONTEXT-HARNESS-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(apple-m4): add long-context command contract
  ci/quality/apple-m4-long-context-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T134837Z-M4-CONTEXT-HARNESS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(mac): harden long-context harness contract
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(mac): avoid panic debt in context alias test
  crates/bitnet-cli/src/mac.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): refresh long-context harness tracking
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T135247Z-M4-CONTEXT-HARNESS-001-pr-open.toml
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): align long-context harness SHA
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T135247Z-M4-CONTEXT-HARNESS-001-pr-open.toml
Due: none

M4-CONTEXT-HARNESS-001: Add long-context command contract (#6137)
  ci/quality/apple-m4-long-context-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T134837Z-M4-CONTEXT-HARNESS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T135247Z-M4-CONTEXT-HARNESS-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m4): close long-context harness contract
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T151427Z-M4-CONTEXT-HARNESS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m4): close long-context harness contract (#6140)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T151427Z-M4-CONTEXT-HARNESS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: close SWARM-LNL258V-BITNET-INTAKE-007 (#54)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T151505Z-SWARM-LNL258V-BITNET-INTAKE-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

a770: add matmul i2s benchmark baseline (#53)
  ci/hardware/amd-5700x-intel-a770/2026-05-20/a770-opencl-matmul-i2s-benchmark-baseline.json
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T142452Z-A770-008-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T150718Z-A770-008-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cuda: dispatch BitNet PERF-005 bench profiles (#55)
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(a770): close benchmark baseline item (#56)
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T154723Z-A770-008-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

M3MBA-023: add bounded M3 performance profile (#57)
  .github/workflows/apple-m3-air-dense-slm.yml
  crates/bitnet-cli/src/mac.rs
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T160044Z-M3MBA-023-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T160754Z-M3MBA-023-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
