Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

cpu(avx2): audit qk256 hot path counters
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cpu(avx2): audit qk256 hot-path counters
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/Cargo.toml
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cpu): add AVX2 BitNet hot-path implementation plan
  docs/bitnet/BITNET_CPU_AVX2_STATUS.md
  docs/specs/BITNET-SPEC-CPU-AVX2-HOTPATH.md
  docs/tracking/campaigns/cpu-proof/active.toml
  plans/cpu-avx2-bitnet/README.md
  plans/cpu-avx2-bitnet/implementation-plan.md
Due: none

docs(cpu): add AVX2 BitNet hot-path plan
  docs/bitnet/BITNET_CPU_AVX2_STATUS.md
  docs/specs/BITNET-SPEC-CPU-AVX2-HOTPATH.md
  docs/tracking/campaigns/cpu-proof/active.toml
  plans/cpu-avx2-bitnet/README.md
  plans/cpu-avx2-bitnet/implementation-plan.md
Due: none

refactor(inference): split context window module
  crates/bitnet-inference/src/context_window.rs
  crates/bitnet-inference/src/context_window/budgets.rs
  crates/bitnet-inference/src/context_window/mod.rs
  crates/bitnet-inference/src/context_window/report.rs
  crates/bitnet-inference/src/context_window/tests.rs
  crates/bitnet-inference/src/context_window/window.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): add Codex web PR ledger
  docs/tracking/codex-web-pr-ledger.md
Due: none

docs(tracking): refresh AVX2 duplicate cluster
  docs/tracking/codex-web-pr-ledger.md
Due: none

feat(apple-m4): add prompt generation identity receipts
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/src/simple_generation/prompt.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T065437Z-M4-REPRO-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): mark repro template registry PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T071011Z-M4-REPRO-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): bridge V projection to cache layout (#5068)
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report probability history deltas (#5132)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cpu): add AVX-512 kernel contract
  docs/bitnet/BITNET_KERNEL_MATRIX.md
  docs/specs/BITNET-SPEC-CPU-AVX512-KERNEL-CONTRACT.md
  docs/specs/BITNET-SPEC-CPU-ISA-SELECTION.md
  docs/specs/amd-9950x3d-cpu-roadmap.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cpu-avx512/implementation-plan.md
Due: none

refactor(inference): split context window into SRP submodules (#5467)
  crates/bitnet-inference/src/context_window.rs
  crates/bitnet-inference/src/context_window/budgets.rs
  crates/bitnet-inference/src/context_window/mod.rs
  crates/bitnet-inference/src/context_window/report.rs
  crates/bitnet-inference/src/context_window/tests.rs
  crates/bitnet-inference/src/context_window/window.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(bdd-grid): split curated grid modules
  crates/bitnet-bdd-grid/src/features.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/src/rows.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(bdd-grid): split curated grid into features and rows modules (#5468)
  crates/bitnet-bdd-grid/src/features.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/src/rows.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split xtask hardware diagnostics
  xtask/src/hardware.rs
  xtask/src/hardware/capability.rs
  xtask/src/hardware/emit.rs
  xtask/src/hardware/routing.rs
  xtask/src/hardware/status.rs
  xtask/src/hardware/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split xtask hardware diagnostics into SRP modules (#5464)
  xtask/src/hardware.rs
  xtask/src/hardware/capability.rs
  xtask/src/hardware/emit.rs
  xtask/src/hardware/routing.rs
  xtask/src/hardware/status.rs
  xtask/src/hardware/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize selected query downstream score residual
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cpu): add AVX-512 kernel contract
  docs/bitnet/BITNET_KERNEL_MATRIX.md
  docs/specs/BITNET-SPEC-CPU-AVX512-KERNEL-CONTRACT.md
  docs/specs/BITNET-SPEC-CPU-ISA-SELECTION.md
  docs/specs/INDEX.md
  docs/specs/amd-9950x3d-cpu-roadmap.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cpu-avx512/implementation-plan.md
Due: none

fix(apple-m4): avoid prompt identity panic debt
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/simple_generation/prompt.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cpu(avx2): audit qk256 hot-path execution
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
  crates/bitnet-server/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cpu): add scalar kernel contract and hot-path plan
  docs/bitnet/BITNET_CPU_PATH_PLAN.md
  docs/bitnet/BITNET_KERNEL_MATRIX.md
  docs/specs/BITNET-SPEC-CPU-SCALAR-HOTPATH.md
  docs/specs/BITNET-SPEC-CPU-SCALAR-KERNEL-CONTRACT.md
  docs/specs/BITNET-SPEC-CPU-SCALAR-PARITY.md
  docs/specs/BITNET-SPEC-CPU-SCALAR-PERFORMANCE.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cpu-scalar/implementation-plan.md
Due: none

docs(cuda): add CUDA route contract
  docs/specs/BITNET-SPEC-0013-model-onboarding-proof-ladder.md
  docs/specs/BITNET-SPEC-CUDA-ROUTE-CONTRACT.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  plans/cuda-5070ti-productization/README.md
Due: none

cpu(avx2): audit qk256 hot-path execution
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cpu(avx2): audit QK256 hot path receipts
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): add Codex web PR ledger (#5548)
  docs/tracking/codex-web-pr-ledger.md
Due: none

fix(policy): remove new no-panic debt
  crates/bitnet-models/src/model_kernel_compat/claims.rs
  crates/bitnet-tool-use-core/src/parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

CUDA-UX-013: lock status and receipt JSON contracts
  crates/bitnet-cli/src/commands/receipts.rs
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize selected query downstream score residual (#5552)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split token ring into srp modules
  crates/bitnet-bdd-grid/src/features.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-common/src/token_ring.rs
  crates/bitnet-common/src/token_ring/access.rs
  crates/bitnet-common/src/token_ring/display.rs
  crates/bitnet-common/src/token_ring/mod.rs
  crates/bitnet-common/src/token_ring/mutation.rs
  crates/bitnet-common/src/token_ring/state.rs
  crates/bitnet-common/src/token_ring/stats.rs
  crates/bitnet-models/src/model_kernel_compat/claims.rs
  crates/bitnet-tool-use-core/src/parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split token ring into SRP modules (#5469)
  crates/bitnet-bdd-grid/src/features.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-common/src/token_ring.rs
  crates/bitnet-common/src/token_ring/access.rs
  crates/bitnet-common/src/token_ring/display.rs
  crates/bitnet-common/src/token_ring/mod.rs
  crates/bitnet-common/src/token_ring/mutation.rs
  crates/bitnet-common/src/token_ring/state.rs
  crates/bitnet-common/src/token_ring/stats.rs
  crates/bitnet-models/src/model_kernel_compat/claims.rs
  crates/bitnet-tool-use-core/src/parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split bdd grid core into srp modules
  crates/bitnet-bdd-grid-core/src/environment.rs
  crates/bitnet-bdd-grid-core/src/features.rs
  crates/bitnet-bdd-grid-core/src/grid.rs
  crates/bitnet-bdd-grid-core/src/labels.rs
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid-core/src/scenario.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
