Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(ffi): add quantize bridge (#137)
  crates/bitnet-kernels/src/ffi.rs
  crates/bitnet-kernels/src/ffi/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add FFI quantization bridge details and testing instructions
  .claude/pr-state.json
  CLAUDE.md
  COMPATIBILITY.md
Due: none

fix: resolve compilation errors and formatting issues
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/tests/integration_tests.rs
  crates/bitnet-inference/tests/performance_tests.rs
  crates/bitnet-inference/tests/simple_tests.rs
  crates/bitnet-inference/tests/unit_tests.rs
  crates/bitnet-kernels/src/gpu/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve clippy warnings and compilation errors
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/tests/integration_tests.rs
  crates/bitnet-inference/tests/unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update StreamingConfig example with new required fields
  docs/performance-tuning.md
Due: none

docs: finalize BitNet PR integration workflow completion
  .claude/finalization-report.md
  .claude/pr-state.json
Due: none

Add GPU detection utilities and tests (#166)
  Cargo.lock
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/gpu_utils.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/gpu_info_mock.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: comprehensive GPU detection utilities documentation update
  CLAUDE.md
  docs/gpu-development.md
  docs/xtask.md
Due: none

Fix and improve bitnet-ggml-ffi
  crates/bitnet-ggml-ffi/README.md
  crates/bitnet-ggml-ffi/build.rs
  crates/bitnet-ggml-ffi/csrc/ggml_consts.c
  crates/bitnet-ggml-ffi/csrc/ggml_quants_shim.c
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-ggml-ffi/tests/default.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(wasm): avoid native deps in wasm build
  Cargo.lock
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-wasm/Cargo.toml
Due: none

Expand basic tokenizer and robust GGUF byte mapping
  crates/bitnet-tokenizers/src/gguf_tokenizer.rs
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/src/spm_tokenizer.rs
  crates/bitnet-tokenizers/tests/unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refine bitnet-sys API and docs
  crates/bitnet-sys/README.md
  crates/bitnet-sys/build.rs
  crates/bitnet-sys/src/lib.rs
  crates/bitnet-sys/src/wrapper_stub.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Remove redundant Prometheus cfg and clean cast
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-server/src/monitoring/prometheus.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refine SIMD dequantization kernels
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/i2s.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: improve bitnet-py configuration and docs
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/python/bitnet_py/migration.py
Due: none

Refine model loading and security
  Cargo.lock
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/loader.rs
  crates/bitnet-models/src/security.rs
  crates/bitnet-models/tests/huggingface_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

silence build warnings in bitnet-sys
  crates/bitnet-sys/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: report host memory bytes in device stats
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-kernels/src/gpu/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Annotate SIMD lane type in quantization
  crates/bitnet-quantization/src/i2s.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refine FFI utilities
  crates/bitnet-ffi/src/c_api.rs
  crates/bitnet-ffi/src/error.rs
  crates/bitnet-ffi/src/inference.rs
  crates/bitnet-ffi/src/model.rs
  crates/bitnet-ffi/src/threading.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix GGUF idempotence logic and stamp
  Cargo.lock
  crates/bitnet-compat/Cargo.toml
  crates/bitnet-compat/src/gguf_fixer.rs
  crates/bitnet-compat/tests/compat_stamp.rs
  crates/bitnet-quantization/src/i2s.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

mark env var manipulations unsafe
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-common/tests/config_tests.rs
  crates/bitnet-common/tests/types_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Implement streaming inference using futures
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/sampling.rs
  crates/bitnet-cli/tests/cli_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: refine bitnet-py build and migration helper
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/python/bitnet_py/migration.py
Due: none

fix(wasm): align wasm-bindgen and resolve clippy lint
  Cargo.lock
  crates/bitnet-quantization/src/i2s.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Clarify ffi feature and simplify safe API
  crates/bitnet-sys/Cargo.toml
  crates/bitnet-sys/build.rs
  crates/bitnet-sys/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: gate bitnet-py integration test
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/tests/integration/streaming_comprehensive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix thread pool drop order and clean up warnings
  crates/bitnet-ffi/src/error.rs
  crates/bitnet-ffi/src/threading.rs
  crates/bitnet-quantization/src/i2s.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Handle NaN logits in greedy sampling
  crates/bitnet-sys/src/wrapper.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Provide stub API when FFI is disabled
  crates/bitnet-sys/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Return generated tokens without prompt
  crates/bitnet-sys/README.md
  crates/bitnet-sys/src/lib.rs
  crates/bitnet-sys/src/wrapper.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Clean up build script and docs
  crates/bitnet-sys/README.md
  crates/bitnet-sys/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: verify stubs when ffi disabled
  crates/bitnet-sys/tests/disabled.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: clarify feature flag usage
  crates/bitnet-sys/README.md
Due: none

feat(conv2d): complete convolution kernel implementation with comprehensive documentation
  .claude/pr-165/finalization-report.md
  .claude/pr-state.json
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  README.md
  crates/bitnet-kernels/src/convolution.rs
  crates/bitnet-kernels/tests/conv2d_tests.rs
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/universal_roundtrip.rs
  docs/api-reference.md
  docs/cpu-kernel-architecture.md
  docs/test-suite.md
  examples/README.md
  examples/convolution_demo.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: format code after documentation updates
  examples/convolution_demo.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add complete 2D convolution kernel implementation with quantization support
  .claude/pr-165/finalization-report.md
  .claude/pr-state.json
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  README.md
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/convolution.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/conv2d_tests.rs
  crates/bitnet-tokenizers/tests/universal_roundtrip.rs
  docs/api-reference.md
  docs/cpu-kernel-architecture.md
  docs/test-suite.md
  examples/README.md
  examples/convolution_demo.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Test None dump_logit_steps path
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/dump_logit_steps.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Track device memory usage
  crates/bitnet-kernels/src/device_aware.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add mock embed and logits for FFI testing
  crates/bitnet-ffi/src/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
