Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

chore: update docs for PRs #777-#779
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(integration): add cross-crate SRP integration tests
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/tests/srp_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: update docs for PRs #777-#779 (#780)
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(integration): add cross-crate SRP integration tests (#781)
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/tests/srp_integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: mark CUDA smoke and nightly fuzz as done in roadmap; add #781
  docs/reference/dual-backend-roadmap.md
Due: none

chore: mark CUDA smoke and nightly fuzz as done in roadmap; add #781 (#782)
  docs/reference/dual-backend-roadmap.md
Due: none

feat(fuzz): add rope_table_gen fuzz target for RoPE table generation
  fuzz/Cargo.toml
  fuzz/fuzz_targets/rope_table_gen.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(transformer): expand property tests for KVCache, layer independence, config validation
  crates/bitnet-transformer/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(tokenizers): add property tests for BOS/EOS prepend, decode safety, config round-trip
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: update Cargo.lock for bitnet-rope fuzz target dependency
  Cargo.lock
Due: none

style: cargo fmt fuzz/fuzz_targets/rope_table_gen.rs
  fuzz/fuzz_targets/rope_table_gen.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: update docs, changelog, roadmap for PRs #783-#788
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(transformer): expand property tests for KVCache, layer independence, config validation (#784)
  crates/bitnet-transformer/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(tokenizers): add property tests for BOS/EOS prepend, decode safety, config round-trip (#785)
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add rope_table_gen fuzz target for RoPE table generation (#783)
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/rope_table_gen.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bench: add criterion benchmarks for SRP microcrate operations (logits, KVCache, RoPE)
  Cargo.toml
  benches/srp_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt benches/srp_ops.rs
  benches/srp_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: update Cargo.lock for bench srp_ops dev-dependencies
  Cargo.lock
Due: none

fix: backtick x86_64 in doc comment too
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: improve public API documentation for SRP microcrates (examples, errors, panics sections)
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-generation/src/lib.rs
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: backtick AArch64 in doc comment (clippy::doc_markdown)
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: update docs, changelog, roadmap for PRs #783-#788 (#789)
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(e2e): add reproducibility and pinned-output golden-path tests
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: improve public API documentation for SRP microcrates (examples, errors, panics sections) (#786)
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-generation/src/lib.rs
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bench: add criterion benchmarks for SRP microcrate operations (logits, KVCache, RoPE) (#787)
  Cargo.lock
  Cargo.toml
  benches/srp_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: modernize README to well-designed FOSS format
  README.md
Due: none

feat(fuzz): add tokenizer_encode fuzz target for BPE encode path
  fuzz/Cargo.toml
  fuzz/fuzz_targets/tokenizer_encode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt fuzz/fuzz_targets/tokenizer_encode.rs
  fuzz/fuzz_targets/tokenizer_encode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: update Cargo.lock for tokenizer_encode fuzz target
  Cargo.lock
Due: none

test(e2e): add reproducibility and pinned-output golden-path tests (#790)
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: modernize README to well-designed FOSS format (#791)
  README.md
Due: none

chore: update docs, changelog, roadmap for PRs #790-#791
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

feat(fuzz): add tokenizer_encode fuzz target for BPE encode path (#792)
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/tokenizer_encode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: update docs, changelog, roadmap for PRs #790-#791 (#793)
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

chore: update .github/settings.yml with accurate project description and topics
  .github/settings.yml
Due: none

ci: add .github/settings.yml to ci-core.yml path triggers
  .github/workflows/ci-core.yml
Due: none

chore: update GitHub repo settings (description, topics) (#794)
  .github/settings.yml
  .github/workflows/ci-core.yml
Due: none

test: unblock 8 model-gated tests that already skip gracefully at runtime
  crates/bitnet-cli/tests/intelligibility_smoke.rs
  crates/bitnet-cli/tests/qa_greedy_math_confidence.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: unblock 30 model-gated tests; add BITNET_SKIP_SLOW_TESTS=1 to CI
  .github/workflows/ci-core.yml
  crates/bitnet-cli/tests/intelligibility_smoke.rs
  crates/bitnet-cli/tests/qa_greedy_math_confidence.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/template_comparison.rs
  crates/bitnet-models/tests/real_model_loading.rs
  crates/bitnet-tokenizers/tests/tokenizer_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: unblock 30 model-gated tests + add BITNET_SKIP_SLOW_TESTS to CI (#796)
  .github/workflows/ci-core.yml
  crates/bitnet-cli/tests/intelligibility_smoke.rs
  crates/bitnet-cli/tests/qa_greedy_math_confidence.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/template_comparison.rs
  crates/bitnet-models/tests/real_model_loading.rs
  crates/bitnet-tokenizers/tests/tokenizer_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
