Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

⚡ Bolt: Fuse operations in locally typical filter
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix: Add disk cleanup and reduce debug symbols for CI
  .github/workflows/gpu-ci-matrix.yml
Due: none

ci(coverage): remove redundant disk cleanup and jq install
  .github/workflows/coverage.yml
  Makefile
Due: none

Make scrollable output containers keyboard accessible
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

fix: reject null bytes in model paths to prevent truncation attacks
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Optimize apply_typical filter
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Optimize apply_typical filter and fix gpu-ci-matrix space error
  .github/workflows/gpu-ci-matrix.yml
Due: none

⚡ Bolt: Optimize count repetition penalty to avoid .powi() and division
  .jules/bolt.md
  crates/bitnet-sampling/src/strategies.rs
  crates/bitnet-sampling/tests/snapshots/snapshot_wave12__repetition_penalty_apply_with_counts.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Fix accessibility for scrollable output regions
  crates/bitnet-wasm/examples/browser/index.html
  screenshot.png
Due: none

🛡️ Sentinel: [CRITICAL] Fix hardcoded API keys in Actix examples
  examples/integrations/actix_server.rs
  examples/web/actix_server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Fix accessibility for scrollable output regions
  screenshot.png
Due: none

Fix Path Truncation vulnerability in validate_model_request
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(cli): optimize memory allocations in sampling hot path
  crates/bitnet-cli-sampling-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Make WASM browser example tabs accessible
  examples/wasm/browser/index.html
  examples/wasm/browser/main.js
Due: none

🛡️ Sentinel: [HIGH] Fix path truncation vulnerability via null bytes
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Enhance tab accessibility and keyboard navigation
  examples/wasm/browser/index.html
  examples/wasm/browser/main.js
  test_a11y.py
Due: none

perf(inference): Replace HashMap with sliding window Vec in sampling
  .jules/bolt.md
  crates/bitnet-inference/src/generation/sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🛡️ Sentinel: [HIGH] Fix path truncation vulnerability via null bytes
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
  .jules/sentinel.md
Due: none

ci: Fix out-of-space errors and reduce artifact sizes
  .github/workflows/property-tests.yml
Due: none

Remove unused `token_counts` HashMap from SamplingStrategy
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Improve accessibility of scrollable output regions
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
Due: none

Fix path truncation vulnerability in model path validation
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Make scrollable output containers accessible
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

Fix path truncation vulnerability via null byte injection
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
  crates/bitnet-server/tests/server_security_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

🎨 Palette: Make scrollable output containers accessible and fix CI
  .github/workflows/gpu-ci-matrix.yml
Due: none

Palette: Sync accessibility improvements to WASM browser example
  examples/wasm/browser/index.html
  examples/wasm/browser/main.js
Due: none

Fix No space left on device error in CPU tests
  .github/workflows/ci-core.yml
  .github/workflows/gpu-ci-matrix.yml
  .github/workflows/release.yml
Due: none

feat(a11y): Make output containers accessible by replacing invalid labels with linked divs and adding keyboard focus support
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  output_focus.png
  streaming_output_focus.png
Due: none

🛡️ Sentinel: [CRITICAL] Fix Path Truncation via Null Byte Injection
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix Path Truncation Vulnerability in Model Path Validation
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Convert generic output labels to accessible div containers
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
Due: none

🛡️ Sentinel: [CRITICAL] Fix path truncation vulnerability
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Add focus indicators to forms and live regions to outputs in BitNet WASM UI
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
Due: none

🛡️ Sentinel: Fix null byte injection in model path validation
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Make scrollable output regions keyboard accessible
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

🛡️ Sentinel: Fix Path Truncation Vulnerability via Null Bytes
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Improve accessibility of scrollable output regions
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

🔧 Fix No Space Left On Device in gpu-ci-matrix
  .github/workflows/ci-core.yml
  .github/workflows/gpu-ci-matrix.yml
  space_cleanup.yml
Due: none

Fix path truncation vulnerability in model loading
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
