Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

Publish M4 seven-day trend history
  ci/hardware/apple-m4-mac-mini/2026-05-22T0530Z/trend/seven-day-history.json
  ci/hardware/apple-m4-mac-mini/2026-05-22T0530Z/trend/seven-day-history.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
Due: none

Track M4 trend PR opening
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T053000Z-M4-TREND-001-pr-open.toml
Due: none

perf(slm): add aligned packed q8 matvec path (SLM-CPU-078) (#277)
  crates/bitnet-transformer/src/lib.rs
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T044420Z-SLM-CPU-078-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-TREND-001: Publish seven-day trend history (#6184)
  ci/hardware/apple-m4-mac-mini/2026-05-22T0530Z/trend/seven-day-history.json
  ci/hardware/apple-m4-mac-mini/2026-05-22T0530Z/trend/seven-day-history.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T053000Z-M4-TREND-001-pr-open.toml
Due: none

Refresh M4 trend tracker dashboards
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T053000Z-M4-TREND-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): sync SLM-CPU-078 merge state (#283)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T055200Z-SLM-CPU-078-merged.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T055210Z-SLM-CPU-079-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 trend history
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T055730Z-M4-TREND-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T055731Z-M4-MODEL-LIFECYCLE-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(cuda): trace Qwen3 RoPE initialization (#285)
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017D_QWEN3_ROPE_INIT_TRACE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: reconcile M4 generated PR anchors after source import
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
Due: none

diag(a770): capture multistep answer parity frontier (#287)
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/a770-opencl-yes-no-water-runs/yes_no_water.json
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/a770-opencl-yes-no-water.json
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/cpu-avx2-vs-a770-yes-no-water-parity.json
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/cpu-avx2-yes-no-water-runs/yes_no_water.json
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/cpu-avx2-yes-no-water.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T055352Z-A770-022-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T061436Z-A770-022-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Define Apple M4 model lifecycle policy
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-operator-envelope-v3.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Track M4 model lifecycle PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T064235Z-M4-MODEL-LIFECYCLE-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(handoff): record post-288 swarm checkpoint (#289)
  docs/handoffs/2026-05-22-swarm-post288-checkpoint.md
Due: none

Fix M4 lifecycle policy gates
  crates/bitnet-cli/src/model_cache.rs
  docs/tracking/generated/active-prs.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(a770): close A770-022 tracker (#290)
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T064806Z-A770-022-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

M4-MODEL-LIFECYCLE-001: Define M4 supported-model lifecycle (#6186)
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T064235Z-M4-MODEL-LIFECYCLE-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close out M4 model lifecycle tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T071212Z-M4-MODEL-LIFECYCLE-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): add SLM-CPU-079 aligned matvec artifact (#291)
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-artifact.json
  ci/slm-cpu/intel-i5-8250u/2026-05-22/qwen3-slm-cpu-079-post-aligned-matvec-classification.json
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T065603Z-SLM-CPU-079-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Fix M4 lifecycle closeout dashboard state
  docs/tracking/generated/global-dashboard.md
Due: none

docs(a770): sync A770-022 campaign status (#295)
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
Due: none

docs(slm): close SLM-CPU-079 tracker (#296)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T071954Z-SLM-CPU-079-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 model lifecycle tracker (#6187)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T071212Z-M4-MODEL-LIFECYCLE-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(a770): keep missing frontier chosen-id unknown (#293)
  crates/bitnet-cli/src/commands/answer_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): refresh LNL258V-GOAL-AUDIT-024 after SLM-CPU-079 (#298)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T073454Z-LNL258V-GOAL-AUDIT-024-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T074320Z-LNL258V-GOAL-AUDIT-024-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(cuda): probe Qwen3 RoPE table upload (#292)
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017E_QWEN3_ROPE_UPLOAD_PROBE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close LNL258V-GOAL-AUDIT-024 (#299)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T075800Z-LNL258V-GOAL-AUDIT-024-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-COMPAT-001: add compatibility refresh contract
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T074935Z-M4-COMPAT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T082026Z-M4-COMPAT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(a770): report first mismatch logit margin frontier (#300)
  ci/hardware/amd-5700x-intel-a770/2026-05-22/a770-answer-parity-multistep/cpu-avx2-vs-a770-yes-no-water-parity.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T072509Z-A770-023-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T080500Z-A770-023-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: refresh Lunar Lake audit to current swarm main (#301)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T081443Z-LNL258V-GOAL-AUDIT-025-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T082117Z-LNL258V-GOAL-AUDIT-025-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-COMPAT-001: add compatibility refresh contract (#6188)
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T074935Z-M4-COMPAT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T082026Z-M4-COMPAT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close LNL258V-GOAL-AUDIT-025 (#304)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T084807Z-LNL258V-GOAL-AUDIT-025-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-COMPAT-001: close tracker after merge
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T085908Z-M4-COMPAT-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-COMPAT-001: close tracker after merge (#6189)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T085908Z-M4-COMPAT-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(a770): remove logit margin unwraps (#302)
  crates/bitnet-cli/src/commands/answer_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cuda): stage Qwen3 RoPE tables on CPU (#303)
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017F_QWEN3_ROPE_CPU_STAGE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(handoff): record post-303 swarm checkpoint (#306)
  docs/handoffs/2026-05-22-swarm-post303-checkpoint.md
Due: none

docs(a770): close A770-023 tracker (#307)
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T083212Z-A770-023-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Add Apple M4 claim boundary lint
  crates/bitnet-cli/src/mac.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T094002Z-M4-CLAIM-LINT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T094633Z-M4-CLAIM-LINT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/claim_lint.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): refresh SLM-CPU-080 Kaby performance dashboard (#308)
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none
