Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

test(stop,repl,tokenizer): cover stop-priority, REPL helpers, GPU threshold (#5090)
  Cargo.lock
  crates/bitnet-generation-stop-core/Cargo.toml
  crates/bitnet-generation-stop-core/src/lib.rs
  crates/bitnet-repl-core/src/lib.rs
  crates/bitnet-tokenizer-model-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cpu-detect): cover priority ordering and detection invariants (#5087)
  crates/bitnet-cpu-detect/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(layer-index): cover prefix/segment edge cases and partial inputs (#5084)
  crates/bitnet-layer-index-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kv-cache-policy): cover FIFO, Hybrid, and select_evictions edges (#5085)
  crates/bitnet-kv-cache-policy-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(tokenizer-text): cover pre-tokenize strategies and normalizer flags (#5088)
  crates/bitnet-tokenizer-text-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize layer 1 operation drift
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-m4): freeze eval corpus scorer contract
  ci/quality/apple-m4-bitnet-eval-seeded-corpus.yaml
  ci/quality/apple-m4-slm-eval-seeded-corpus-v2.yaml
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-eval-and-benchmark.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T091239Z-M4-ACCURACY-000-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): record corpus scorer contract PR
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T092013Z-M4-ACCURACY-000-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): replay layer-specific attention output projection
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style(tokenizer): apply rustfmt to normalizer test
  crates/bitnet-tokenizer-text-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(fmt): restore tokenizer text core formatting
  crates/bitnet-tokenizer-text-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(policy): refresh no-panic baseline
  policy/no-panic-baseline.toml
Due: none

diag(bitnet): replay layer attention subnorm
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-ACCURACY-000: freeze M4 eval corpus scorer contract (#5099)
  ci/quality/apple-m4-bitnet-eval-seeded-corpus.yaml
  ci/quality/apple-m4-slm-eval-seeded-corpus-v2.yaml
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-tokenizer-text-core/src/lib.rs
  docs/slm/apple-m4-bitnet-eval-and-benchmark.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T091239Z-M4-ACCURACY-000-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T092013Z-M4-ACCURACY-000-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close corpus scorer contract item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T095758Z-M4-ACCURACY-000-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-ACCURACY-000: close corpus scorer contract item (#5104)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T095758Z-M4-ACCURACY-000-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): trace target-layer value-mix heads
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

model(slm): retry SmolLM2 strict CPU sanity
  ci/model-artifacts/model-coverage-matrix.toml
  ci/slm-cpu/windows-9950x3d-rtx5070ti/2026-05-16/smollm2-360m-strict-cpu-sanity-retry.json
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/slm/SLM_CPU_SMOLLM2_360M_SANITY.md
  docs/slm/SLM_CPU_SMOLLM2_NORMALIZATION_POLICY.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T100052Z-SLM-CPU-020-in-progress.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split receipt validation helpers
  crates/bitnet-receipts-core/src/cuda_receipt_validation.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts-core/src/receipt_field_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: mark SLM-CPU-020 PR open
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T101600Z-SLM-CPU-020-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

refactor transformer support code into modules
  crates/bitnet-transformer/src/diagnostics.rs
  crates/bitnet-transformer/src/kv_cache.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): restore formatter and no-panic baseline (#5102)
  policy/no-panic-baseline.toml
Due: none

test(coverage): expand unit tests for 10 SRP microcrates (#5031)
  Cargo.lock
  crates/bitnet-api-key-auth-core/src/lib.rs
  crates/bitnet-atomic-file-core/src/lib.rs
  crates/bitnet-build-info-core/Cargo.toml
  crates/bitnet-build-info-core/src/lib.rs
  crates/bitnet-cli-config-core/Cargo.toml
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-generation-events-core/src/lib.rs
  crates/bitnet-generation-stop-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli): split inspect ln-stats into SRP submodules (#5014)
  crates/bitnet-cli/src/commands/inspect.rs
  crates/bitnet-cli/src/commands/inspect/mod.rs
  crates/bitnet-cli/src/commands/inspect/model_io.rs
  crates/bitnet-cli/src/commands/inspect/output.rs
  crates/bitnet-cli/src/commands/inspect/ruleset_selector.rs
  crates/bitnet-cli/src/commands/inspect/tensor_decode.rs
  crates/bitnet-cli/src/commands/inspect/tensor_scanner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): summarize value-mix source deltas
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): start dense 100-case accuracy closeout
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T100953Z-M4-ACCURACY-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): record accuracy closeout pr
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T103519Z-M4-ACCURACY-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): trace target-layer value history
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: refresh SLM-CPU-020 PR head
  docs/tracking/campaigns/slm-cpu/active.toml
Due: none

diag(bitnet): gate value projection current-token replay
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(policy): refresh current main no-panic baseline
  policy/no-panic-baseline.toml
Due: none

fix(policy): refresh current main no-panic baseline (#5115)
  policy/no-panic-baseline.toml
Due: none

LNL258V-QUAL-004 classify Qwen corpus v2 blockers
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T103000Z-LNL258V-QUAL-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark LNL258V-QUAL-004 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T104500Z-LNL258V-QUAL-004-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(policy): remove panic-family calls from core tests
  crates/bitnet-atomic-file-core/src/lib.rs
  crates/bitnet-build-info-core/src/lib.rs
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-generation-events-core/src/lib.rs
  crates/bitnet-generation-stop-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): trace attention norm input history
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-ACCURACY-001: record dense 100-case corpus evidence (#5112)
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T100953Z-M4-ACCURACY-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T103519Z-M4-ACCURACY-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): close dense accuracy corpus item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T111651Z-M4-ACCURACY-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-ACCURACY-001: close dense 100-case corpus tracker (#5118)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T111651Z-M4-ACCURACY-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): expand dense eval corpus to 500 cases
  ci/quality/apple-m4-slm-eval-seeded-corpus-v2.yaml
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T113146Z-M4-ACCURACY-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
