Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(apple-silicon): NEON-accelerated softmax kernel (#3358)
  crates/bitnet-kernels/src/cpu/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(kernels): AVX2+FMA log-softmax with vectorized exp and SIMD reduce
  crates/bitnet-kernels/src/cpu/softmax.rs
  crates/bitnet-kernels/tests/avx2_scalar_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(kernels): AVX2+FMA I2_S quantized matmul with 4-wide accumulator
  crates/bitnet-kernels/src/cpu/quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-silicon): NEON-accelerated layer norm transform
  crates/bitnet-kernels/src/cpu/layer_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): resolve unsafe block and is_multiple_of lints
  crates/bitnet-kernels/src/cpu/quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): lower NEON matmul benchmark threshold for small matrices
  crates/bitnet-kernels/tests/apple_silicon_benchmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(kernels): AVX2+FMA log-softmax with vectorized exp and SIMD reduce (#3360)
  crates/bitnet-kernels/src/cpu/softmax.rs
  crates/bitnet-kernels/tests/avx2_scalar_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(apple-silicon): NEON-accelerated layer norm transform (#3361)
  crates/bitnet-kernels/src/cpu/layer_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): deflake NEON matmul benchmark for small matrices (#3362)
  crates/bitnet-kernels/tests/apple_silicon_benchmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

⚡ Bolt: Optimize top_p, min_p, and typical logit filters
  .jules/bolt.md
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(wasm/browser): add tooltips and ARIA live status to WASM browser UI
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

⚡ Bolt: Optimize top_p, min_p, and typical logit filters
  .jules/bolt.md
Due: none

fix(ci): convert kernel fusion constants to macros for concat! compatibility
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: Optimize top_p, min_p, and typical logit filters
  crates/bitnet-kernels/src/cuda/error_correction.rs
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/memory_bandwidth.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-kernels/src/cuda/stream_management.rs
  crates/bitnet-kernels/src/cuda/texture_memory.rs
  crates/bitnet-kernels/src/cuda_graph_capture.rs
  crates/bitnet-kernels/src/cuda_memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: Optimize top_p, min_p, and typical logit filters
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda_graph_capture.rs
  crates/bitnet-kernels/src/cuda_memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

build(packaging): align package metadata and repo references
  infra/docker/README.md
  infra/helm/bitnet/Chart.yaml
  infra/helm/bitnet/README.md
  infra/helm/bitnet/values.yaml
  infra/k8s/namespace.yaml
  infra/packaging/chocolatey/bitnet-rs.nuspec
  infra/packaging/homebrew/bitnet-rs.rb
  infra/packaging/snap/snapcraft.yaml
Due: none

docs(CLAUDE.md): fix GPU predicate and runtime check code snippets
  CLAUDE.md
Due: none

fix(gpu): replace invalid concat!() with const slice in kernel_fusion
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(lint): backtick-wrap doc_markdown identifiers in root lib.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(docker): set CUDA_COMPUTE_CAP to skip nvidia-smi probe in GPU builds
  Dockerfile
  docker/Dockerfile.nvidia-gpu
  infra/docker/Dockerfile.gpu
  infra/docker/Dockerfile.rust-gpu
Due: none

fix(docker): bump CUDA_COMPUTE_CAP 75 → 80 for BF16 Tensor Core support
  Dockerfile
  docker/Dockerfile.nvidia-gpu
  infra/docker/Dockerfile.gpu
  infra/docker/Dockerfile.rust-gpu
  infra/docker/rust-gpu.dockerfile
Due: none

fix(features): keep gpu umbrella CUDA-only, opt-in ROCm separately
  crates/bitnet-common/Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-runtime-feature-flags/Cargo.toml
Due: none

fix(lint): resolve clippy warnings in QK256 parity and proptest_wave31 tests
  crates/bitnet-quantization/tests/proptest_wave31.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(test): make Metal memory floor CI-aware on hosted macOS arm64
  crates/bitnet-kernels/tests/metal_backend_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(ci): make docker-compile(cpu) compile-only to avoid disk exhaustion
  docker/Dockerfile.test-matrix
Due: none

fix(lint): clear clippy warnings in test files and scope OneAPI clippy
  .github/workflows/intel-gpu-compile.yml
  crates/bitnet-kernels/tests/avx2_activation_reduction_parity_tests.rs
  crates/bitnet-kernels/tests/metal_performance_profiling_tests.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
  crates/bitnet-tokenizers/src/tokenizer_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

🎨 Palette: Add ARIA roles to progress bars and fix copy button state
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

fix: resolve CUDA gpu compilation errors in bitnet-kernels
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: format kernel_fusion.rs and add backticks to lib.rs docs
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Add ARIA roles to progress bars and fix copy button state
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: guard clamp panic, narrow CI memory gate, fix Docker exit code
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-kernels/tests/metal_performance_profiling_tests.rs
  docker/Dockerfile.test-matrix
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve CI build failures in bitnet-kernels and workflows
  .github/workflows/gpu-ci-matrix.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(ui): add aria accessibility attributes to progress bars
  .github/workflows/gpu-ci-matrix.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
  crates/bitnet-kernels/src/cuda/kernel_fusion.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
