Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(gpu-hal): add tokenizer_wrapper module with chat templates
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/tokenizer_wrapper.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add weight loader with lazy loading and sharded support
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/weight_loader.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add rate limiter with token bucket and sliding window
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/rate_limiter.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add observability with metrics, tracing, and structured logging
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/observability.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add semantic search engine with HNSW and IVF indexing
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/semantic_search.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove stale opencl_context module reference
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): workspace integration v9 — waves 56-58 modules
  Cargo.toml
  crates/bitnet-gpu-hal/src/function_calling.rs
  crates/bitnet-gpu-hal/src/graceful_shutdown.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/logging_observability.rs
  crates/bitnet-gpu-hal/src/model_ensemble.rs
  crates/bitnet-gpu-hal/src/multi_model.rs
  crates/bitnet-gpu-hal/src/prompt_cache.rs
  crates/bitnet-gpu-hal/src/quantization_benchmarks.rs
  crates/bitnet-gpu-hal/src/request_queue.rs
  crates/bitnet-gpu-hal/src/sampling_strategies.rs
  crates/bitnet-gpu-hal/src/structured_output.rs
  crates/bitnet-gpu-hal/src/vision_model.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): prompt prefix caching with trie lookup
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/prompt_cache.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): structured logging and observability
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/logging_observability.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add structured output with JSON schema and grammar constraints
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/proptest-regressions/structured_output.txt
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/structured_output.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/multi_model.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): function calling framework
  Cargo.toml
  crates/bitnet-gpu-hal/src/function_calling.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/src/weight_compression.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): workspace integration v7 — register waves 48-51 modules
  Cargo.toml
  crates/bitnet-gpu-hal/src/activation_kernels.rs
  crates/bitnet-gpu-hal/src/api_versioning.rs
  crates/bitnet-gpu-hal/src/benchmark_suite.rs
  crates/bitnet-gpu-hal/src/continuous_profiling.rs
  crates/bitnet-gpu-hal/src/cross_compile.rs
  crates/bitnet-gpu-hal/src/data_parallel.rs
  crates/bitnet-gpu-hal/src/distributed.rs
  crates/bitnet-gpu-hal/src/dynamic_batching.rs
  crates/bitnet-gpu-hal/src/ffi_safety.rs
  crates/bitnet-gpu-hal/src/gpu_topology.rs
  crates/bitnet-gpu-hal/src/inference_session.rs
  crates/bitnet-gpu-hal/src/kernel_jit.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/memory_defrag.rs
  crates/bitnet-gpu-hal/src/mixed_precision.rs
  crates/bitnet-gpu-hal/src/model_cache.rs
  crates/bitnet-gpu-hal/src/model_pruning.rs
  crates/bitnet-gpu-hal/src/npu_support.rs
  crates/bitnet-gpu-hal/src/onnx_support.rs
  crates/bitnet-gpu-hal/src/token_streaming.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): ONNX model support with graph optimization
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/onnx_support.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): distributed inference engine
  Cargo.toml
  crates/bitnet-gpu-hal/src/distributed.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add mixed_precision module with dynamic type casting
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/mixed_precision.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: update all tests/doctests for new TokenEvent and GenerationStats fields
  Cargo.toml
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-engine-core/tests/engine_core_proptests.rs
  crates/bitnet-engine-core/tests/snapshot_tests.rs
  crates/bitnet-engine-core/tests/snapshots/snapshot_tests__generation_stats_default_json.snap
  crates/bitnet-engine-core/tests/snapshots/snapshot_tests__generation_stats_with_values_json.snap
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
  tests/integration/multi_crate_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): FFI safety layer for GPU library bindings
  Cargo.toml
  crates/bitnet-gpu-hal/src/ffi_safety.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): data parallel engine for multi-GPU batch processing
  Cargo.toml
  crates/bitnet-gpu-hal/src/data_parallel.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add weight_loading module with lazy, sharded, validated loading pipeline
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/weight_loading.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): normalization layer library with 5 norm types
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/normalization.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): comprehensive quantization toolkit
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/quantization_toolkit.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): inference configuration builder with validation
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/inference_config.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): GPU debug layer with NaN/Inf detection and breakpoints
  Cargo.toml
  crates/bitnet-gpu-hal/src/debug.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): GPU context manager for multi-backend lifecycle
  Cargo.toml
  crates/bitnet-gpu-hal/src/context.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): GPU resource limiter with reservation system
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/resource_limiter.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cuda/rope.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): continuous benchmarking CI and regression detection
  .github/workflows/benchmark-continuous.yml
  Cargo.toml
  crates/bitnet-gpu-hal/src/benchmark.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): optimized KV cache manager with 4 eviction strategies
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/src/kv_cache.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): backend capability matrix with feature negotiation
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/capabilities.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add GPU backend targets to Makefile and Makefile.ci
  Cargo.toml
  Makefile
  Makefile.ci
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: none

feat(opencl): GPU-aware server inference handler with load balancing
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/health_check.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/server_handler.rs
  crates/bitnet-opencl/tests/server_handler_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU receipt validation with 8 validation gates
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/receipts.rs
  crates/bitnet-opencl/tests/receipts_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(webgpu): WGSL compute shader implementations for browser inference
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-webgpu/Cargo.toml
  crates/bitnet-webgpu/src/kernels/attention.wgsl
  crates/bitnet-webgpu/src/kernels/elementwise.wgsl
  crates/bitnet-webgpu/src/kernels/matmul.wgsl
  crates/bitnet-webgpu/src/kernels/mod.rs
  crates/bitnet-webgpu/src/kernels/rmsnorm.wgsl
  crates/bitnet-webgpu/src/kernels/rope.wgsl
  crates/bitnet-webgpu/src/kernels/softmax.wgsl
  crates/bitnet-webgpu/src/lib.rs
  crates/bitnet-webgpu/tests/wgsl_kernel_tests.rs
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(opencl): comprehensive GPU stress test suite
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/stress_utils.rs
  crates/bitnet-opencl/tests/stress_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(opencl): end-to-end GPU inference integration tests
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/e2e_fixtures.rs
  crates/bitnet-opencl/tests/e2e_inference_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(server): add 56 monitoring config edge-case tests (#1843)
  crates/bitnet-server/tests/monitoring_config_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): complete GPU text generation loop
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/generation.rs
  crates/bitnet-opencl/src/generation_stats.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/generation_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): GPU telemetry and metrics collection
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/telemetry.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): unified model format support (GGUF, SafeTensors, ONNX)
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/error.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/model_format.rs
  crates/bitnet-opencl/src/model_loader_unified.rs
  crates/bitnet-opencl/tests/model_format_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
