Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(kernels): add OpenCL advanced sampling strategies module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_advanced_sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL RoPE table generator module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_rope_tables.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL model parallelism module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_model_parallel.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL gradient accumulation buffer for fine-tuning
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_grad_accum.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL GPU memory allocator module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_mem_allocator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve multiple ci failures including missing enum variant, casting, and links
  crates/bitnet-device-probe/src/opencl.rs
  crates/bitnet-kernels/src/cuda/attention_mask.rs
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-kernels/src/opencl_async_executor.rs
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-safetensors-ln/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve bitnet-vulkan import error and suppress unused variable warnings
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
  patch_clippy.py
  patch_clippy_quant.py
  patch_concurrency.py
  patch_conv.py
  patch_ensure17.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(neon): add NEON sliding window attention for Apple Silicon
  Cargo.lock
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_sliding_window_attention.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(fuzz): add wave 28 — 6 fuzz targets for CUDA/CPU kernel operations
  crates/bitnet-kernels/src/cuda/mod.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_cpu_attention_mask.rs
  fuzz/fuzz_targets/fuzz_cpu_layer_norm.rs
  fuzz/fuzz_targets/fuzz_cuda_memory_pool.rs
  fuzz/fuzz_targets/fuzz_cuda_stream_schedule.rs
  fuzz/fuzz_targets/fuzz_kv_cache_ops.rs
  fuzz/fuzz_targets/fuzz_quantize_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): pin GitHub Action refs to SHA in apple-silicon.yml
  .github/workflows/apple-silicon.yml
Due: none

fix(ci): add --locked to all cargo commands in apple-silicon.yml
  .github/workflows/apple-silicon.yml
Due: none

feat(rocm): add HIP kernel scaffolding with device info, memory, streams, and compute stubs
  crates/bitnet-kernels/src/hip/attention.rs
  crates/bitnet-kernels/src/hip/device_info.rs
  crates/bitnet-kernels/src/hip/matmul.rs
  crates/bitnet-kernels/src/hip/memory_pool.rs
  crates/bitnet-kernels/src/hip/mod.rs
  crates/bitnet-kernels/src/hip/quantize.rs
  crates/bitnet-kernels/src/hip/stream_mgmt.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): pin GitHub Action refs and fix dead code in xtask (#2608)
  .github/workflows/apple-silicon.yml
  .github/workflows/intel-gpu-smoke.yml
  Cargo.lock
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_data_layout.rs
  crates/bitnet-kernels/src/cpu/neon_sliding_window_attention.rs
  crates/bitnet-kernels/tests/metal_matmul_shader_tests.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal attention shader tests with causal masking
  crates/bitnet-kernels/tests/metal_attention_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): add SLM model catalog with 10 built-in entries
  crates/bitnet-models/src/catalog.rs
  crates/bitnet-models/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): Metal compute pipeline integration tests for Apple Silicon
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add Metal device capability detection tests for Apple Silicon
  crates/bitnet-kernels/tests/metal_device_capability_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal buffer format validation tests for Apple Silicon
  crates/bitnet-kernels/tests/metal_buffer_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal LayerNorm/RMSNorm shader tests
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_layernorm_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal performance validation tests for Apple Silicon
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_performance_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal quantization shader validation tests
  crates/bitnet-kernels/tests/metal_quantization_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add SIMD tensor parallelism with sharded matmul and all-reduce
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/simd_tensor_parallel.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add register pressure optimizer with occupancy trade-off analysis
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/register_optimizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add streaming template renderer for real-time output
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/streaming_render.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(models): add SLM model catalog with 10 built-in entries (#2639)
  crates/bitnet-models/src/catalog.rs
  crates/bitnet-models/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(fuzz): add wave 29 — 6 fuzz targets for pipeline, register, and embedding modules
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_kv_cache_eviction.rs
  fuzz/fuzz_targets/fuzz_mixed_precision_pipeline.rs
  fuzz/fuzz_targets/fuzz_pipeline_parallel.rs
  fuzz/fuzz_targets/fuzz_register_optimizer.rs
  fuzz/fuzz_targets/fuzz_simd_embedding.rs
  fuzz/fuzz_targets/fuzz_tensor_parallel_sharding.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add shared memory optimization with bank conflict avoidance
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/shared_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add dense model config validation and integration tests
  crates/bitnet-inference/src/dense_integration_tests.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add streaming template renderer for real-time output (#2650)
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/streaming_render.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add dense model config validation and integration tests (#2657)
  crates/bitnet-inference/src/dense_integration_tests.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(models): add SLM model catalog with 10 built-in entries
  crates/bitnet-models/src/catalog.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add SIMD-optimized softmax with temperature scaling and masking
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/simd_softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): Metal format tests (#2283)
  crates/bitnet-kernels/tests/metal_buffer_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal device capability tests (#2328)
  crates/bitnet-kernels/tests/metal_device_capability_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal compute tests (#2357)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal performance tests (#2367)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_performance_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
