Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix: add missing `pub use` openers in CUDA mod re-exports
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): multi-model serving with slot management
  Cargo.lock
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/multi_model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add 46 edge-case tests for CPU pooling module (#1897)
  crates/bitnet-kernels/tests/kernels_cpu_pooling_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

extract test env isolation into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-test-env/Cargo.toml
  crates/bitnet-test-env/src/lib.rs
  crates/bitnet-test-support/src/env_guard.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): resolve clippy warnings in OpenCL mixed-precision
  crates/bitnet-kernels/src/opencl_precision.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  Cargo.lock
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/multi_model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON elementwise tensor operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_elementwise.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: fuzz wave 18 — mirostat, sampler chain, config validation, token buffer, paged KV cache, latency histogram, template detection
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_inference_config_validate.rs
  fuzz/fuzz_targets/fuzz_latency_histogram.rs
  fuzz/fuzz_targets/fuzz_mirostat_sampler.rs
  fuzz/fuzz_targets/fuzz_paged_kv_cache.rs
  fuzz/fuzz_targets/fuzz_sampler_chain.rs
  fuzz/fuzz_targets/fuzz_template_detect.rs
  fuzz/fuzz_targets/fuzz_token_buffer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(wgpu): add kernel runner with GPU matmul and CPU reference (#1858)
  Cargo.lock
  Cargo.toml
  crates/bitnet-wgpu-runner/Cargo.toml
  crates/bitnet-wgpu-runner/src/error.rs
  crates/bitnet-wgpu-runner/src/lib.rs
  crates/bitnet-wgpu-runner/src/matmul.rs
  crates/bitnet-wgpu-runner/src/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(device-probe): enhanced Intel Arc A770 capability detection (#1913)
  crates/bitnet-device-probe/src/intel_arc.rs
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): A770 OpenCL numerical stability regression harness (#1914)
  crates/bitnet-kernels/tests/opencl_numerical_stability.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): A770 OpenCL dispatch sizing with workgroup constraints (#1918)
  crates/bitnet-kernels/src/gpu/opencl_dispatch.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci(intel-gpu): add compile-check and nightly A770 workflows (#1926)
  .github/workflows/a770-nightly.yml
  .github/workflows/intel-gpu-compile.yml
  tests/common/config_validator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: apply cargo fmt
  crates/bitnet-kernels/tests/opencl_e2e_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CUDA embedding lookup kernel with CPU fallback (#1948)
  crates/bitnet-kernels/src/cuda/embedding.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: apply cargo fmt
  crates/bitnet-quantization/src/i2s_qk256.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(wgpu): replace redundant closures with function references
  crates/bitnet-wgpu/src/buffer.rs
  crates/bitnet-wgpu/src/device.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add comprehensive batch normalization tests
  crates/bitnet-kernels/src/cpu/batch_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA LayerNorm and RMSNorm kernels with CPU fallback
  crates/bitnet-kernels/src/cuda/layernorm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): improve CUDA softmax with online algorithm and masked variants
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Unbreak CI pipelines by correctly copying workspace and exposing OpenCL diagnostic modules
  crates/bitnet-opencl/src/lib.rs.orig
  docker/Dockerfile.intel-gpu
  docker/Dockerfile.nvidia-gpu
  docker/Dockerfile.test-matrix
  patch.diff
Due: none

feat(kernels): add OpenCL reduction kernels (argmax, sum, mean, L2, log-sum-exp)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_reduction.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL batch inference support (padding, scheduling, batched ops)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_batch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): prompt prefix caching with trie lookup
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/prompt_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL tensor operations (transpose, permute, concat, broadcast, gather)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_tensor_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add tiled SIMD matmul with AVX2/AVX-512 fast paths
  crates/bitnet-kernels/src/cpu/simd_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: align local clippy gate with core workflow (#1966)
  ci/local.sh
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CUDA linear projection kernel with CPU fallback
  crates/bitnet-kernels/src/cpu/linear.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cuda/linear.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli): extract eval/scoring math into bitnet-eval-core
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/score.rs
  crates/bitnet-eval-core/Cargo.toml
  crates/bitnet-eval-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): Metal shader compilation and validation tests
  crates/bitnet-kernels/tests/metal_shader_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
