Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

split prompt template implementation into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-prompt-templates-core/Cargo.toml
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_multi_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_single_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_with_system.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_multi_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_single_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_with_system.snap
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: refresh README GPU status entries (#1963)
  README.md
Due: none

feat(kernels): OpenCL inference pipeline orchestrator for A770 (#1943)
  crates/bitnet-kernels/src/opencl_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add optimized tiled matmul kernels for A770 (16x16 tiles, float4, batched)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_tiled_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL KV cache management for A770 inference (#1930)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(common): Metal memory management pattern tests for Apple Silicon (#1905)
  crates/bitnet-common/tests/metal_memory_patterns.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

wasm: extract shared runtime utilities into microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-wasm-utils/Cargo.toml
  crates/bitnet-wasm-utils/src/lib.rs
  crates/bitnet-wasm/Cargo.toml
  crates/bitnet-wasm/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(receipts): extract core receipt schema microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-receipts-core/Cargo.toml
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/Cargo.toml
  crates/bitnet-receipts/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract generation stop logic into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-generation-stop-core/Cargo.toml
  crates/bitnet-generation-stop-core/src/lib.rs
  crates/bitnet-generation/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract logits filtering into dedicated SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-logits-filters/Cargo.toml
  crates/bitnet-logits-filters/src/lib.rs
  crates/bitnet-logits/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract SIMD math into bitnet-simd microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cpu/simd_math.rs
  crates/bitnet-simd/Cargo.toml
  crates/bitnet-simd/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Split Vulkan shader catalog into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-vulkan-shaders/Cargo.toml
  crates/bitnet-vulkan-shaders/src/kernels/attention.comp
  crates/bitnet-vulkan-shaders/src/kernels/elementwise.comp
  crates/bitnet-vulkan-shaders/src/kernels/matmul.comp
  crates/bitnet-vulkan-shaders/src/kernels/rmsnorm.comp
  crates/bitnet-vulkan-shaders/src/kernels/rope.comp
  crates/bitnet-vulkan-shaders/src/kernels/softmax.comp
  crates/bitnet-vulkan-shaders/src/lib.rs
  crates/bitnet-vulkan-shaders/tests/vulkan_shader_tests.rs
  crates/bitnet-vulkan/src/lib.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

extract repl core primitives into microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-repl-core/Cargo.toml
  crates/bitnet-repl-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update CHANGELOG with A770 OpenCL waves 104-107
  CHANGELOG.md
Due: none

refactor(xtask): extract download mechanics into bitnet-download crate
  Cargo.lock
  Cargo.toml
  crates/bitnet-download/Cargo.toml
  crates/bitnet-download/src/lib.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract CPU activation kernels into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-cpu-activations/Cargo.toml
  crates/bitnet-cpu-activations/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cpu/activations.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(wgpu): compute shader dispatch validation tests for Apple Silicon
  crates/bitnet-kernels/tests/wgpu_dispatch_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve workspace-wide lint errors blocking CI
  crates/bitnet-ffi/tests/property_tests.rs
  crates/bitnet-gpu-hal/tests/property_tests.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-kernels/tests/cpu_matmul_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_transpose_edge_cases.rs
  crates/bitnet-kernels/tests/gpu_info_mock.rs
  crates/bitnet-kernels/tests/integration_wave10.rs
  crates/bitnet-kernels/tests/integration_wave7.rs
  crates/bitnet-kernels/tests/integration_wave9.rs
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-kernels/tests/metal_kernel_validation.rs
  crates/bitnet-kernels/tests/property_tests_wave8.rs
  crates/bitnet-kernels/tests/proptest_wave10.rs
  crates/bitnet-kernels/tests/proptest_wave11.rs
  crates/bitnet-kernels/tests/snapshot_kernel_outputs.rs
  crates/bitnet-kernels/tests/snapshot_wave5.rs
  crates/bitnet-models/tests/validator_edge_cases.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/opencl_backend_dispatcher_edge_cases.rs
  crates/bitnet-opencl/tests/opencl_paged_kv_edge_cases.rs
  crates/bitnet-opencl/tests/opencl_spirv_context_edge_cases.rs
  crates/bitnet-server/tests/concurrency_edge_cases.rs
  crates/bitnet-testing-scenarios/tests/bitnet_testing_scenarios_tests.rs
  crossval/tests/iq2s_validation.rs
  crossval/tests/kv_position_tracking_tests.rs
  tests-new/gpu_integration/backend_selection_tests.rs
  tests-new/gpu_integration/error_recovery_tests.rs
  xtask/src/build_helpers.rs
  xtask/src/tokenizers.rs
  xtask/tests/rpath_merge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): ARM NEON reduction operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/arm.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_reductions.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): prefix unused `batch` variables with underscore in proptests
  crates/bitnet-kernels/src/cpu/batch_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(quantization): validate row_stride_bytes in gemv_qk256
  crates/bitnet-quantization/src/i2s_qk256.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON elementwise tensor operations for Apple Silicon (#1978)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_elementwise.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract env isolation into dedicated bitnet-test-env microcrate (#1977)
  Cargo.lock
  Cargo.toml
  crates/bitnet-test-env/Cargo.toml
  crates/bitnet-test-env/src/lib.rs
  crates/bitnet-test-support/src/env_guard.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): Apple Silicon benchmark and NEON correctness suite (#1935)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/apple_silicon_benchmarks.rs
  crates/bitnet-kernels/tests/neon_correctness_exhaustive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CUDA quantization kernel with CPU fallback (#1892)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/quantize.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA attention kernel with flash-attention CPU fallback (#1883)
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/fusion.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add MQA/GQA attention support
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/mqa_gqa.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Unbreak CI pipelines by correctly copying workspace and fixing kernel tests
  crates/bitnet-kernels/tests/cpu_transpose_edge_cases.rs
  crates/bitnet-kernels/tests/integration_wave10.rs
  crates/bitnet-kernels/tests/integration_wave7.rs
  crates/bitnet-kernels/tests/integration_wave9.rs
  crates/bitnet-kernels/tests/metal_kernel_validation.rs
  crates/bitnet-kernels/tests/property_tests_wave8.rs
  crates/bitnet-kernels/tests/proptest_wave10.rs
  crates/bitnet-kernels/tests/proptest_wave11.rs
  crates/bitnet-kernels/tests/snapshot_wave5.rs
  crates/bitnet-models/tests/gguf_simple_edge_cases.rs
  crates/bitnet-opencl/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): GPU performance counter and timing tests for Apple Silicon
  crates/bitnet-kernels/tests/metal_performance_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): add beam search decoder with diverse search
  crates/bitnet-gpu-hal/src/beam_search.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: fix rustfmt formatting in opencl test
  crates/bitnet-opencl/tests/opencl_backend_dispatcher_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: use temp_env and #[serial] for env-mutating tokenizer test
  crates/bitnet-tokenizers/src/strategy.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add quantization calibration engine
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/quant_calibration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add comprehensive tests for CPU reduction operations
  crates/bitnet-kernels/src/cpu/reduction.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA linear projection kernel with CPU fallback (#1994)
  crates/bitnet-kernels/src/cpu/linear.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cuda/linear.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(wgpu): replace redundant closures with function references (#1982)
  crates/bitnet-wgpu/src/buffer.rs
  crates/bitnet-wgpu/src/device.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: fuzz wave 18 (mirostat, sampler chain, config validate, token buffer, paged KV cache, histogra (#1979)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_inference_config_validate.rs
  fuzz/fuzz_targets/fuzz_latency_histogram.rs
  fuzz/fuzz_targets/fuzz_mirostat_sampler.rs
  fuzz/fuzz_targets/fuzz_paged_kv_cache.rs
  fuzz/fuzz_targets/fuzz_sampler_chain.rs
  fuzz/fuzz_targets/fuzz_template_detect.rs
  fuzz/fuzz_targets/fuzz_token_buffer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add comprehensive OpenCL E2E integration tests (#1967)
  crates/bitnet-kernels/tests/opencl_e2e_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(transformer): broaden QK256 raw tensor key matching (#1965)
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): improve CUDA softmax with online algorithm and masked variants (#1951)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
