Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

ci(macos): let started apple silicon jobs finish (#4945)
  .github/workflows/macos-arm64.yml
  docs/ci/cost-and-verification-policy.md
Due: none

diag(bitnet): report reference rust trace scope mismatch
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): record bitnet variable warm receipt
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/01-answer-with-a-single-digit-22.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/03-return-exactly-ready.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/04-answer-with-a-single-digit-31.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/05-answer-with-a-single-digit-22.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session.json
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T161237Z-M4-BITNET-PROD-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Record M4 BitNet variable warm-session receipt (#4950)
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/01-answer-with-a-single-digit-22.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/03-return-exactly-ready.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/04-answer-with-a-single-digit-31.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session-prompts/05-answer-with-a-single-digit-22.json
  ci/hardware/apple-m4-mac-mini/2026-05-15/bitnet-productization/variable-warm-session.json
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T161237Z-M4-BITNET-PROD-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-MODEL-004: cuda(qwen3): add one-token strict CUDA proof (#4940)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-kv-cache-policy.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-model-boundary-fixtures.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-one-token-cuda.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-sampling-policy.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T153031Z-CUDA-MODEL-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close bitnet variable warm receipt
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T163152Z-M4-BITNET-PROD-002-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 BitNet variable warm receipt (#4951)
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T163152Z-M4-BITNET-PROD-002-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): target Rust layer traces to prompt token
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): flag embedding row layout split
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-m4): add bitnet warm failure receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T163440Z-M4-BITNET-PROD-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add M4 BitNet warm failure receipts (#4954)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T163440Z-M4-BITNET-PROD-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close bitnet warm failure ux
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T170401Z-M4-BITNET-PROD-003-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-MODEL-004 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T163237Z-CUDA-MODEL-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 BitNet warm failure UX (#4955)
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T170401Z-M4-BITNET-PROD-003-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(apple-m4): gate bitnet mac chat
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T170753Z-M4-BITNET-PROD-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-MODEL-004 tracker (#4956)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T163237Z-CUDA-MODEL-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Gate BitNet mac chat enablement (#4957)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T170753Z-M4-BITNET-PROD-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close bitnet productization
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T171445Z-M4-BITNET-PROD-004-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close M4 BitNet productization (#4958)
  docs/tracking/campaigns/apple-m4-bitnet-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-productization/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/events/2026-05-15T171445Z-M4-BITNET-PROD-004-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(bitnet): preserve GGML embedding token rows
  crates/bitnet-models/src/formats/gguf/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-m4): add inference status receipt
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T172206Z-M4-INF-OPS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(bitnet): align simple GGUF embedding rows
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add M4 inference status receipt (#4960)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T172206Z-M4-INF-OPS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close inference status ops
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T173645Z-M4-INF-OPS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 inference status ops (#4962)
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T173645Z-M4-INF-OPS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(apple-m4): add report refresh manifest
  .github/workflows/apple-m4-inference-ops-tier0.yml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T174438Z-M4-INF-OPS-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add M4 report refresh manifest (#4963)
  .github/workflows/apple-m4-inference-ops-tier0.yml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T174438Z-M4-INF-OPS-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close report refresh ops
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T175047Z-M4-INF-OPS-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 report refresh ops (#4964)
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T175047Z-M4-INF-OPS-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cli): avoid panic-family stage taxonomy assertion
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): include trace prefix values
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-trace/tests/integration_test.rs
  crates/bitnet-trace/tests/property_tests.rs
  crates/bitnet-trace/tests/snapshot_tests.rs
  crates/bitnet-trace/tests/trace_edge_cases.rs
  crates/bitnet-trace/tests/trace_tests.rs
  crates/bitnet-trace/tests/trace_types_edge_cases.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(apple-m4): add inference regression dashboard
  .github/workflows/apple-m4-inference-ops-tier0.yml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T181109Z-M4-INF-OPS-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add M4 inference regression dashboard (#4967)
  .github/workflows/apple-m4-inference-ops-tier0.yml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T181109Z-M4-INF-OPS-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close inference dashboard ops
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T181544Z-M4-INF-OPS-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 inference dashboard ops (#4968)
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T181544Z-M4-INF-OPS-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cli): avoid panic-family stage taxonomy assertion (#4965)
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(m3): add MacBook Air device labels
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-device-probe/src/apple_metal.rs
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T142000Z-M3MBA-015-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(m3): avoid panic-family helpers in label tests
  crates/bitnet-cli/src/main.rs
  crates/bitnet-device-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): mark device labels PR open
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T142900Z-M3MBA-015-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): publish operator envelope v2
  docs/slm/apple-m4-inference-ops.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-operator-envelope-v2.md
  docs/tracking/campaigns/apple-m4-inference-ops/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-ops/active.toml
  docs/tracking/campaigns/apple-m4-inference-ops/events/2026-05-15T181837Z-M4-INF-OPS-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-ops/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
