Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(opencl): discover runtime devices
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): queue post-baseline platform work
  ci/hardware/intel-258v/2026-05-08/cpu-reference-bundle-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/specs/intel-lunar-lake-gpu-roadmap.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-016 PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T142800Z-CPU258V-016-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): queue post-baseline platform work (#4087)
  ci/hardware/intel-258v/2026-05-08/cpu-reference-bundle-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/specs/intel-lunar-lake-gpu-roadmap.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T142800Z-CPU258V-016-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: add wasm inference lane plan
  docs/explanation/ROADMAP.md
  docs/wasm/INFERENCE_LANE.md
  examples/wasm/README.md
Due: none

docs: add wasm inference lane plan
  docs/specs/INDEX.md
  docs/specs/wasm-inference-lane.md
Due: none

docs: add wasm inference lane plan
  docs/SUMMARY.md
  docs/specs/INDEX.md
  docs/specs/wasm-inference-lane.md
Due: none

docs(lunar-lake): reconcile generated dashboards
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(lunar-lake): close CPU258V-016 after merge
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T145500Z-CPU258V-016-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close CPU258V-016 after merge (#4092)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T145500Z-CPU258V-016-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(opencl): discover runtime devices (#4084)
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(vulkan): discover runtime devices
  Cargo.lock
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/runtime.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm): split SLM-CPU-006 support and artifact work
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T123500Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T124100Z-SLM-CPU-006-tooling-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

bench(cuda): add RTX 5070 Ti answer-path baseline
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-prod-004-answer-path-benchmark.json
  crates/bitnet-bench-receipts/src/bin/strict_cuda_answer_path_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_004_BENCHMARK_BASELINE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T150900Z-CUDA-PROD-004-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-PROD-004 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T151549Z-CUDA-PROD-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

bench(cuda): add strict RTX 5070 Ti answer-path baseline (#4093)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-prod-004-answer-path-benchmark.json
  crates/bitnet-bench-receipts/src/bin/strict_cuda_answer_path_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_004_BENCHMARK_BASELINE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T150900Z-CUDA-PROD-004-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T151549Z-CUDA-PROD-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-PROD-004
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T151810Z-CUDA-PROD-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-004 (#4094)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T151810Z-CUDA-PROD-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(vulkan): discover runtime devices (#4085)
  Cargo.lock
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/runtime.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm): split SLM-CPU-006 support and artifact work (#4086)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T123500Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T124100Z-SLM-CPU-006-tooling-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Extend PR gate polling budget
  .github/workflows/pr-gate.yml
  docs/ci/pr-gate-success.md
Due: none

test(slm): capture Qwen3 first-token divergence
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-bitnet-rs-first-token-topk.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-divergence-validation.json
Due: none

[codex] Extend PR gate polling budget (#4095)
  .github/workflows/pr-gate.yml
  docs/ci/pr-gate-success.md
Due: none

Convert Python migration example to native Rust (#4061)
  examples/migration/python-to-rust/README.md
  examples/migration/python-to-rust/after/.gitignore
  examples/migration/python-to-rust/after/Cargo.toml
  examples/migration/python-to-rust/after/src/benchmark.rs
  examples/migration/python-to-rust/after/src/main.rs
  examples/migration/python-to-rust/before/benchmark.py
  examples/migration/python-to-rust/before/inference.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Convert quality gates helper to Rust
  scripts/evaluate_quality_gates.py
  xtask/src/main.rs
  xtask/src/quality_gates.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(npu): add FFN subgraph parity
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-ffn-subgraph-parity.json
  crates/bitnet-cli/src/intel_npu.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T153800Z-NPU-011-in-progress.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(slm): capture Qwen3 first-token divergence (#4096)
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-bitnet-rs-first-token-topk.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-divergence-validation.json
Due: none

docs(npu): mark NPU-011 PR open
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T154400Z-NPU-011-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): mark SLM-CPU-006B merged
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T155200Z-SLM-CPU-006B-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(npu): add FFN subgraph parity (#4097)
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-ffn-subgraph-parity.json
  crates/bitnet-cli/src/intel_npu.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T153800Z-NPU-011-in-progress.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T154400Z-NPU-011-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(npu): mark NPU-011 merged
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T155600Z-NPU-011-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): refresh generated campaign dashboards
  docs/tracking/generated/active-prs.md
Due: none

Convert quality gates helper to Rust (#4067)
  scripts/evaluate_quality_gates.py
  xtask/src/main.rs
  xtask/src/quality_gates.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(cuda): add QK256 timing and transfer receipts
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(cuda): add QK256 timing and transfer receipts (#4099)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(npu): mark NPU-011 merged (#4100)
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T155600Z-NPU-011-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

ci: stop phase1 artifacts from pushing to main
  .github/workflows/phase1-maintenance.yml
Due: none

ci: stop phase1 artifacts from pushing to main (#4102)
  .github/workflows/phase1-maintenance.yml
Due: none
