Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

ci: fix main clippy and BDD grid failures
  .github/workflows/ci-core.yml
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cli(m3): record dense Qwen smoke (#4775)
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/reports/apple-silicon-macbook-m3-air-qwen-smoke.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T192342Z-M3MBA-004A-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T194612Z-M3MBA-004A-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T192648Z-CUDA-UX-010-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): close dense Qwen smoke tracker
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T202353Z-M3MBA-004A-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m3): close dense Qwen smoke tracker (#4780)
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T202353Z-M3MBA-004A-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-UX-010 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
Due: none

feat(lunar-lake): add route promotion ledger
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T171500Z-LNL258V-ROUTE-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): refresh route promotion head
  docs/tracking/campaigns/intel-258v-platform/active.toml
Due: none

test(lunar-lake): avoid promotion ledger expect calls
  crates/bitnet-cli/src/commands/lunar_lake.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): refresh active PR ordering
  docs/tracking/generated/active-prs.md
Due: none

docs(lunar-lake): mark route promotion PR open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T190000Z-LNL258V-ROUTE-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): drop merged CUDA active row
  docs/tracking/generated/active-prs.md
Due: none

feat(lunar-lake): LNL258V-ROUTE-001 add route promotion ledger (#4771)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T171500Z-LNL258V-ROUTE-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T190000Z-LNL258V-ROUTE-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): plan reference parity smoke
  xtask/src/bitnet_reference_plan.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(slm): add Qwen3 reference checkpoint artifact
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-checkpoint-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-checkpoint-validation.json
Due: none

docs(slm): mark SLM-CPU-008Y PR open
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T200506Z-SLM-CPU-008Y-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(ffi): widen inference seed for config bridge
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(slm): add SLM-CPU-008Y checkpoint artifact (#4778)
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-checkpoint-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-checkpoint-validation.json
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T200506Z-SLM-CPU-008Y-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): close SLM-CPU-008Y tracker
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T205102Z-SLM-CPU-008Y-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli(m3): record dense Qwen operator profile
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/apple-silicon-macbook-m3-air-qwen-operator.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T203522Z-M3MBA-004B-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m3): record operator profile PR
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T210100Z-M3MBA-004B-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): close SLM-CPU-008Y tracker (#4783)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T205102Z-SLM-CPU-008Y-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): add qwen3 qproj drift follow-up
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): add Qwen3 q_proj drift follow-up (#4786)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark LNL258V-ROUTE-001 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T204147Z-LNL258V-ROUTE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli(cuda): link receipts explain to model status
  crates/bitnet-cli/src/commands/receipts.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark LNL258V-ROUTE-001 merged (#4784)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T204147Z-LNL258V-ROUTE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ci): harden BitNet cpp fetch on Windows
  ci/fetch_bitnet_cpp.ps1
Due: none

docs(tracking): add M4 eval v2 campaign
  ci/quality/apple-m4-slm-eval-seeded-corpus-v2.yaml
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(slm): localize Qwen3 q_proj drift
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-diagnosis.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-refresh-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-refresh-validation.json
Due: none

Add Apple M4 dense SLM eval v2 campaign (#4777)
  ci/quality/apple-m4-slm-eval-seeded-corpus-v2.yaml
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): close dense slm eval v2 corpus item
  docs/tracking/campaigns/apple-m4-slm-eval-v2/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/events/2026-05-14T212731Z-M4-SLM-EVAL2-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 dense SLM eval v2 corpus item (#4790)
  docs/tracking/campaigns/apple-m4-slm-eval-v2/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/events/2026-05-14T212731Z-M4-SLM-EVAL2-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli(m3): record dense Qwen operator profile (#4785)
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_16.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_32.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator-profiles/warm_64.json
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-operator.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/apple-silicon-macbook-m3-air-qwen-operator.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T203522Z-M3MBA-004B-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T210100Z-M3MBA-004B-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m3): close out operator profile item
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T213232Z-M3MBA-004B-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ci): allow upstream BitNet cpp reference setup
  ci/fetch_bitnet_cpp.ps1
Due: none

fix(ci): require clang for Windows BitNet cpp setup
  ci/fetch_bitnet_cpp.ps1
Due: none

feat(apple-m4): classify dense slm eval failures
  crates/bitnet-cli/src/commands/answer_corpus.rs
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-v2/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/events/2026-05-14T213755Z-M4-SLM-EVAL2-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-eval-v2/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(slm): localize Qwen3 q_proj drift (#4789)
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-diagnosis.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-refresh-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-qproj-drift-refresh-validation.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
