Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

build(bitnet-sys): generate bindings from bitnet_c.h + llama.h; allowlist bitnet_*
  Cargo.lock
  PR_468_SUMMARY.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/prompt_template.rs
  crates/bitnet-sys/build.rs
  crates/bitnet-sys/csrc/bitnet_c_shim.cc
  crates/bitnet-sys/include/bitnet_c.h
  crates/bitnet-sys/src/lib.rs
  crates/bitnet-sys/src/wrapper.rs
  crates/bitnet-sys/tests/lifecycle.rs
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/tests/rust_gguf_tokenizer_api.rs
  crates/bitnet-tokenizers/tests/tokenization_smoke.rs
  crossval/Cargo.toml
  crossval/tests/parity_bitnetcpp.rs
  docs/baselines/2025-10-17/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tokenizers): GGUF tokenizer improvements, golden tests; harden parity harness; fix greedy tie-break
  crates/bitnet-inference/src/sampling.rs
  crates/bitnet-tokenizers/src/auto.rs
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/tests/golden_tokens.json
  crates/bitnet-tokenizers/tests/golden_tokens_test.rs
  crossval/tests/parity_bitnetcpp.rs
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tokenizers): enable add_prefix_space for HF BPE tokenizers to match llama.cpp
  crates/bitnet-tokenizers/src/hf_tokenizer.rs
  crossval/build.rs
  docs/baselines/2025-10-17/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(tokenizers): pure-Rust GGUF tokenizer, BPE parity & crossval receipts
  .github/workflows/nightly-parity-matrix.yml
  .github/workflows/parity-proof.yml
  CHANGELOG.md
  GO_NO_GO_CHECKLIST.md
  NEXT_STEPS.md
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/tests/golden_tokens_gpt2.json
  crates/bitnet-tokenizers/tests/golden_tokens_llama.json
  crates/bitnet-tokenizers/tests/golden_tokens_llama3.json
  crates/bitnet-tokenizers/tests/golden_tokens_test.rs
  crossval/tests/parity_bitnetcpp.rs
  docs/baselines/2025-10-17/parity-bitnetcpp.json
  docs/releases/v0.10.0-rc.0-summary.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix markdownlint (MD022/31/32/40/13), add project config and CI gate
  .github/workflows/markdownlint.yml
  .markdownlint.jsonc
  GO_NO_GO_CHECKLIST.md
  NEXT_STEPS.md
  docs/releases/v0.10.0-rc.0-summary.md
Due: none

docs: fix markdownlint issues in i2s-dual-flavor.md
  docs/explanation/i2s-dual-flavor.md
Due: none

docs: add AMD Zen 4 to AVX-512 requirements
  docs/explanation/FEATURES.md
Due: none

test: add comprehensive QK256 test scaffolding with CPU/GPU feature gates
  CLAUDE.md
  README.md
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/layers/mod.rs
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/tests/qk256_error_handling.rs
  crates/bitnet-models/tests/qk256_loader_tests.rs
  crates/bitnet-models/tests/qk256_property_tests.rs
  crossval/tests/parity_bitnetcpp.rs
  crossval/tests/qk256_crossval.rs
  docs/reference/validation-gates.md
  scripts/parity_smoke.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix markdownlint issues in README.md and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat(models/qk256): add full GGUF loader, QK256 side-storage, tests and docs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/layers/quantized_linear_tests.rs
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-inference/tests/logits_greedy_smoke.rs
  crates/bitnet-inference/tests/qk256_dispatch.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_feature_matrix_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
  crates/bitnet-models/tests/qk256_dual_flavor_tests.rs
  crates/bitnet-models/tests/qk256_error_handling.rs
  crates/bitnet-models/tests/qk256_loader_tests.rs
  crates/bitnet-models/tests/qk256_property_tests.rs
  crates/bitnet-tokenizers/tests/rust_gguf_tokenizer_api.rs
  crates/bitnet-tokenizers/tests/tokenization_smoke.rs
  docs/mvp/qk256-mvp-validation-report.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(qk256): robust enhanced GGUF loader, GQA K/V slicer, diagnostics, and fail-fast flag
  .github/workflows/parity-proof.yml
  QK256_INTEGRATION_ANALYSIS.md
  QK256_QUICK_REFERENCE.md
  QK256_TECHNICAL_DETAILS.md
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/quant/i2s_qk256.rs
  crates/bitnet-models/src/transformer.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/gguf_weight_loading_cross_validation_tests.rs
  crates/bitnet-models/tests/transformer_tests.rs
  crossval/tests/parity_bitnetcpp.rs
  crossval/tests/qk256_crossval.rs
  docs/baselines/2025-10-17/parity-bitnetcpp.json
  docs/howto/use-qk256-models.md
  scripts/parity_smoke.sh
  tests/common/cross_validation/cpp_implementation.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore(tests/examples): disable outdated examples/tests, silence warnings, and tidy imports
  Cargo.toml
  benches/kernels.rs
  examples/basic_inference.rs
  tests/Cargo.toml
  tests/ci_reporting_standalone_test.rs
  tests/common/cross_validation/mod.rs
  tests/common/debugging.rs
  tests/common/mod.rs
  tests/common/reporting/mod.rs
  tests/prelude.rs
  tests/run_configuration_tests.rs
  tests/test_resource_management_comprehensive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(qk256): improve normalization logging and add embedding transpose test
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/embedding_transpose_normalization.rs
  docs/baselines/2025-10-18/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gguf/build/tests): QK256 tolerance & logging, fail-fast loader, build includes, and parity test tweaks
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-sys/build.rs
  crossval/tests/parity_bitnetcpp.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(spec): define Issue #469 MVP Sprint Polish specifications for QK256 enhancement
  .github/SPEC_GATE_RECEIPT.md
  docs/explanation/architecture/issue-469-mvp-sprint-polish-architecture.md
  docs/explanation/issue-469-neural-network-integration.md
  docs/reference/api-contracts-issue-469.md
  docs/reference/schemas-issue-469.md
  validation-report-issue-469.md
Due: none

feat(spec): finalize Issue #469 MVP Sprint Polish specifications
  .github/ISSUE_469_SPEC_GATE_RECEIPT.md
  docs/explanation/issue-469-spec.md
  docs/explanation/specs/issue-469-implementation-summary.md
  docs/explanation/specs/issue-469-mvp-sprint-polish-spec.md
  xtask/tests/ffi_build_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(mvp-469): implement AC1 (strict loader) and AC2 (QK256 tolerance)
  Cargo.lock
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/lib.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(mvp-469): add TDD scaffolding for AC1 and AC2
  crates/bitnet-models/tests/loader_strict_mode.rs
  crates/bitnet-quantization/tests/qk256_tolerance.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(mvp-469): implement AC3 (K/V cache guardrails) and AC5 (tokenizer parity)
  crates/bitnet-inference/src/layers/kv_cache_validation.rs
  crates/bitnet-inference/src/layers/mod.rs
  crates/bitnet-inference/tests/kv_cache_validation.rs
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/tests/tokenizer_vocab_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gguf): update tests to use new GGUFLoaderConfig; add scaffolding & receipts
  .github/ISSUE_469_CODE_QUALITY_RECEIPT.md
  .github/ISSUE_469_IMPL_FINALIZATION_RECEIPT.md
  .github/ISSUE_469_IMPL_FINALIZATION_RECEIPT_AC3_AC5.md
  .github/ISSUE_469_QUALITY_REVIEW_RECEIPT.md
  .github/ISSUE_469_SPEC_FINALIZATION_RECEIPT.md
  .github/ISSUE_469_TEST_GATE_RECEIPT.md
  crates/bitnet-models/tests/gguf_weight_loading_cross_validation_tests.rs
  crates/bitnet-models/tests/qk256_dual_flavor_tests.rs
  crossval/tests/parity_receipts.rs
  tests/tests/cache/incremental/last_run.json
  xtask/tests/ci_parity_smoke_test.rs
  xtask/tests/documentation_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: properly gate CLI smoke test for full-cli feature
  Cargo.lock
  crates/bitnet-cli/tests/cli_smoke.rs
  crates/bitnet-ggml-ffi/build.rs
  crates/bitnet-sys/Cargo.toml
  crates/bitnet-sys/build.rs
  crossval/build.rs
  tests/tests/cache/incremental/last_run.json
  xtask-build-helper/Cargo.toml
  xtask-build-helper/src/lib.rs
  xtask/Cargo.toml
  xtask/src/ffi.rs
  xtask/src/lib.rs
  xtask/src/main.rs
  xtask/tests/ffi_build_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(parity): implement parity receipts, QK256 parity-smoke CI, strict loader & docs
  .github/AC4_QUALITY_REVIEW_RECEIPT.md
  .github/AC8_IMPL_FINALIZER_RECEIPT.md
  .github/workflows/parity-proof.yml
  README.md
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/receipts.rs
  crossval/tests/parity_bitnetcpp.rs
  crossval/tests/parity_receipts.rs
  docs/baselines/2025-10-18/parity-bitnetcpp.json
  docs/quickstart.md
  scripts/parity_smoke.sh
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tests): disable automatic test/bench discovery in tests/Cargo.toml
  tests/Cargo.toml
Due: none

feat(tokenizer): add LLaMA-3 tokenizer provisioning, auto-discovery, CI/docs/tests
  .github/workflows/parity-proof.yml
  README.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/tokenizer_discovery.rs
  crates/bitnet-cli/tests/tokenizer_discovery_tests.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  docs/explanation/architecture/adr-015-llama3-tokenizer-fetching.md
  docs/explanation/llama3-tokenizer-api-contracts.md
  docs/explanation/llama3-tokenizer-fetching-spec.md
  tests/readme_examples.rs
  xtask/src/main.rs
  xtask/src/tokenizers.rs
  xtask/tests/ci_integration_tests.rs
  xtask/tests/tokenizer_subcommand_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(cli): send tracing logs to stderr; improve tokenizer discovery & download robustness
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crossval/tests/parity_bitnetcpp.rs
  docs/baselines/2025-10-17/parity-bitnetcpp.json
  docs/baselines/2025-10-18/parity-bitnetcpp.json
  xtask/src/tokenizers.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(qk256): preserve raw QK256 tensors, plumb through loaders → model → transformer; add runtime diagnostics
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/quant/i2s_qk256.rs
  crates/bitnet-models/src/transformer.rs
  crossval/tests/parity_bitnetcpp.rs
  docs/baselines/2025-10-18/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(qk256): wire up raw QK256 handling, orientation heuristics, and remapping
  crates/bitnet-inference/src/parity.rs
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/weight_mapper.rs
  docs/baselines/2025-10-18/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add comprehensive QK256 test scaffolding with CPU/GPU feature gates
  .github/workflows/parity-proof.yml
  QK256_TEST_SCAFFOLDING_SUMMARY.md
  README.md
  crates/bitnet-models/src/quant/i2s_qk256.rs
  crates/bitnet-models/tests/qk256_detection_storage_tests.rs
  crates/bitnet-models/tests/transformer_tests.rs
  docs/baselines/2025-10-19/parity-bitnetcpp.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor(qk256,gguf,tests): cleanup QK256 loaders/kernels and tighten tests
  README.md
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/quant/i2s_qk256.rs
  crates/bitnet-models/tests/qk256_detection_storage_tests.rs
  crates/bitnet-models/tests/transformer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor(gguf,qk256): split long conditional clauses in expected_qk256_shape for readability
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli,docs,test): add template examples and template-auto-detection tests; tweak sampling defaults; fix logits indexing
  README.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add fast Q&A template formatting and greedy math confidence tests
  CLAUDE.md
  README.md
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/qa_greedy_math_confidence.rs
  crates/bitnet-inference/src/prompt_template.rs
  crates/bitnet-inference/tests/README_QA_TESTS.md
  crates/bitnet-inference/tests/qa_template_formatting_fast.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/gguf_simple.rs
  docs/quickstart.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: tighten I2_S flavor detection tolerance and fix test issues
  CLAUDE.md
  README.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/src/prompt_template.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-inference/tests/test_real_vs_mock_comparison.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/tests/comprehensive_tests.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/hf_tokenizer.rs
  crates/bitnet-tokenizers/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli,tokenizers,engine): add strict loader flag; unify Tokenizer as Arc + Send+Sync; optimize stop checks; tidy gguf loader
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(qk256,gguf,transformer,tests): centralize QK256 helpers; tighten safety and test env handling
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/qk256_utils.rs
  crates/bitnet-models/src/transformer.rs
  crossval/tests/parity_bitnetcpp.rs
  xtask/tests/ci_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor(tokenizers,gguf,spm,xtask,ci,docs,parity): unify Tokenizer as Arc + tidy loaders; add strict QK256 parity checks and docs
  .github/workflows/parity-proof.yml
  README.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-models/src/qk256_utils.rs
  crates/bitnet-tokenizers/src/auto.rs
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/sp_tokenizer.rs
  crates/bitnet-tokenizers/tests/sp_roundtrip.rs
  crossval/docs/baselines/2025-10-19/parity-bitnetcpp.json
  crossval/tests/parity_bitnetcpp.rs
  xtask/src/main.rs
  xtask/tests/ci_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli,gguf,xtask): add strict-loader flag and strict-mode env; adaptive I2_S tolerance; tidy test env handling
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  xtask/tests/ci_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli,inference,prompt_template,tokenizers,tests,chat): add numeric stop-id support, template-aware stops, and centralize logging init
  CLAUDE.md
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-inference/src/prompt_template.rs
  crates/bitnet-inference/tests/stop_tokens.rs
  crates/bitnet-tokenizers/src/mock.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
