Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix(api): resolve quantization API compatibility issues
  crates/bitnet-models/src/gguf_min.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

c
  .claude/agents/pr-initial-reviewer.md
  .claude/pr-99-finalization-report.md
  crates/bitnet-kernels/examples/gpu_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Update gpu_validation example to use consistent 'gpu' feature flag
  crates/bitnet-kernels/examples/gpu_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): enhance GGUF metadata inspection with categorization and statistics
  .claude/pr-99-analysis-report.md
  CLAUDE.md
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/gguf.rs
  crates/bitnet-inference/tests/engine_inspect.rs
  examples/inspect_gguf_metadata.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: post-merge documentation updates for enhanced GGUF metadata inspection
  CHANGELOG.md
  CLI.md
  README.md
  VALIDATION.md
Due: none

docs: update final validation report for GGUF metadata inspection enhancements
  .claude/finalization-report.md
Due: none

fix(streaming): complete channel type transition to StreamResponse
  crates/bitnet-inference/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(streaming): include token IDs in streaming responses
  crates/bitnet-inference/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Include token IDs in streaming output
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(tests): correct token ID streaming test logic
  crates/bitnet-inference/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: format streaming channel initialization
  crates/bitnet-inference/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(streaming): adapt Python and server code for StreamResponse changes
  .claude/pr-107-finalization-report.md
  Cargo.lock
  crates/bitnet-py/src/inference.rs
  crates/bitnet-server/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

security: upgrade PyO3 from 0.21.2 to 0.25.1
  Cargo.lock
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-py/src/model.rs
  crates/bitnet-py/src/utils.rs
  crates/bitnet-py/tests/test_streaming_comprehensive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve critical clippy warnings in server components
  crates/bitnet-server/src/monitoring/config.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/streaming.rs
  tests/common/concurrency_caps.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Include real token IDs in streaming SSE responses (#107)
  .claude/pr-107-finalization-report.md
  Cargo.lock
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-py/src/model.rs
  crates/bitnet-py/src/utils.rs
  crates/bitnet-py/tests/test_streaming_comprehensive.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/monitoring/config.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/streaming.rs
  tests/common/concurrency_caps.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: fix clippy warnings in merged streaming functionality
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-inference/tests/engine_inspect.rs
  crates/bitnet-server/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: post-merge documentation updates for streaming token ID functionality
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/troubleshooting.md
  examples/streaming_generation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: improve GPU memory access pattern analysis and fix clippy warnings
  crates/bitnet-kernels/src/gpu/memory_optimization.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: comprehensive GPU/CUDA development documentation updates
  CLAUDE.md
Due: none

docs: add final validation assessment for PR #102 with critical blocking issues
  .claude/finalization-blocking-assessment.md
  Cargo.lock
Due: none

feat: add comprehensive PR size guardrails and automated checks
  .github/PULL_REQUEST_GUIDELINES.md
  .github/workflows/pr-size-guard.yml
  .gitignore
Due: none

quantization(iq2s): GGML-exact 82B layout + [-2,-1,1,2] mapping; parity tests
  Cargo.lock
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tokenizers: GGUF→UniversalTokenizer; minimal mock backend; tiny round‑trip tests
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
  crates/bitnet-tokenizers/tests/universal_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cli(score): teacher‑forcing + perplexity; device/batch flags; docs
  CLI.md
  crates/bitnet-cli/src/score.rs
  crates/bitnet-cli/tests/cli_smoke.rs
  rustc-ice-2025-08-29T22_44_29-3101821.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

kernels(x86): AVX‑512 kernel + tests/benchmarks; runtime detect + AVX2 fallback
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: add proper unsafe blocks to IQ2_S dequantization function
  crates/bitnet-models/src/quant/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add CHANGELOG entry for IQ2_S layout improvements (PR #132)
  CHANGELOG.md
Due: none

quantization(iq2s): GGML-exact 82B layout + mapping improvements (#132)
  CHANGELOG.md
  Cargo.lock
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update IQ2_S documentation with 82-byte block layout details
  CLAUDE.md
  docs/api-reference.md
  docs/troubleshooting.md
  examples/simple_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Implement comprehensive documentation updates across multiple guides
  CLAUDE.md
  docs/concurrency-caps.md
  docs/gguf-inspection.md
  docs/gpu-development.md
  docs/streaming-api.md
  docs/test-suite.md
Due: none

kernels(x86): AVX‑512 kernel + tests/benchmarks; runtime detect + AVX2 fallback (#135)
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: post-merge AVX-512 documentation updates
  .claude/finalization-report.md
  COMPATIBILITY.md
  FEATURES.md
  README.md
  docs/cpu-kernel-architecture.md
  docs/performance-tuning.md
Due: none

fix: resolve unused variable warnings and document Python environment deps
  PYTHON_BINDING_ENVIRONMENT.md
  crates/bitnet-cli/tests/cli_smoke.rs
  crates/bitnet-py/tests/test_streaming_comprehensive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cli(score): teacher‑forcing + perplexity; device/batch flags; docs (#134)
  CLI.md
  PYTHON_BINDING_ENVIRONMENT.md
  crates/bitnet-cli/src/score.rs
  crates/bitnet-cli/tests/cli_smoke.rs
  crates/bitnet-py/tests/test_streaming_comprehensive.rs
  rustc-ice-2025-08-29T22_44_29-3101821.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: comprehensive post-merge documentation updates for teacher-forcing score feature
  CHANGELOG.md
  CLAUDE.md
  CLI.md
  README.md
Due: none

docs: update finalization report for PR #134 with validation results and merge details
  .claude/finalization-report.md
Due: none

refactor(tests): modernize test framework with let-else patterns
  tests/common/config.rs
  tests/common/debugging.rs
  tests/common/incremental.rs
  tests/common/selection.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tokenizers: GGUF→UniversalTokenizer; minimal mock backend; tiny round‑trip tests (#133)
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
  crates/bitnet-tokenizers/tests/universal_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add legacy prompt evaluation script
  scripts/legacy_prompt_eval.py
Due: none

feat(ffi): add quantize bridge
  crates/bitnet-kernels/src/ffi.rs
  crates/bitnet-kernels/src/ffi/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
