Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Convert Python migration example to Rust
  examples/migration/python-to-rust/README.md
  examples/migration/python-to-rust/after/.gitignore
  examples/migration/python-to-rust/after/Cargo.toml
  examples/migration/python-to-rust/after/src/benchmark.rs
  examples/migration/python-to-rust/after/src/main.rs
  examples/migration/python-to-rust/before/benchmark.py
  examples/migration/python-to-rust/before/inference.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add strict warm-session receipts (#4059)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/reports/CUDA_PROD_002_WARM_SESSION_RECEIPTS.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T130324Z-CUDA-PROD-002-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T131048Z-CUDA-PROD-002-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-PROD-002
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T131205Z-CUDA-PROD-002-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-002 (#4070)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T131205Z-CUDA-PROD-002-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(m4): record Metal phase timing receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/build_script_validation.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/slm/apple-m4-slm-metal-phase-decision.md
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T130102Z-M4-SLM-PERF-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore(tracking): record M4-SLM-PERF-005 PR
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T131408Z-M4-SLM-PERF-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): ready OpenVINO GGUF reference lane
  ci/hardware/intel-258v/2026-05-08/npu-openvino-llamacpp-gguf-reference.json
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T130200Z-NPU-009-ready.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T131400Z-NPU-009-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): ready OpenVINO GGUF reference lane (#4068)
  ci/hardware/intel-258v/2026-05-08/npu-openvino-llamacpp-gguf-reference.json
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T130200Z-NPU-009-ready.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T131400Z-NPU-009-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): close out NPU-009
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T132200Z-NPU-009-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): close out NPU-009 (#4072)
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T132200Z-NPU-009-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cli): gate warm session allocation helpers
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

[codex][apple-m4-slm-performance] Add Metal phase timing receipts (M4-SLM-PERF-005) (#4069)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/build_script_validation.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/slm/apple-m4-slm-metal-phase-decision.md
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T130102Z-M4-SLM-PERF-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T131408Z-M4-SLM-PERF-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add execution residency receipts
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_003_RESIDENCY_COVERAGE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T132208Z-CUDA-PROD-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-PROD-003 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T132823Z-CUDA-PROD-003-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add execution residency receipts (#4073)
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_003_RESIDENCY_COVERAGE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T132208Z-CUDA-PROD-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T132823Z-CUDA-PROD-003-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close out M4 SLM perf metal phase
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T132859Z-M4-SLM-PERF-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T130200Z-NPU-009-in-progress.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out Metal phase timing receipts (M4-SLM-PERF-005) (#4074)
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T132859Z-M4-SLM-PERF-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T130200Z-NPU-009-in-progress.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cli): add Apple M4 SLM streaming UX receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T134317Z-M4-SLM-PERF-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-SLM-PERF-006 PR open
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T134603Z-M4-SLM-PERF-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Add streaming UX receipts (M4-SLM-PERF-006) (#4075)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T134317Z-M4-SLM-PERF-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T134603Z-M4-SLM-PERF-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): add 258V comparison index
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T133816Z-LNL258V-COMPARE-001-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T134608Z-LNL258V-COMPARE-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(cli): repair CPU backend reporting and text (#4032)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/tests/common_arch_kernel_backend_edge_cases.rs
  crates/bitnet-common/tests/cpu_path_edge_cases.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): add 258V comparison index (#4076)
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T133816Z-LNL258V-COMPARE-001-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T134608Z-LNL258V-COMPARE-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close out LNL258V-COMPARE-001
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T134901Z-LNL258V-COMPARE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): close out LNL258V-COMPARE-001 (#4078)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T134901Z-LNL258V-COMPARE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-003
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T133816Z-LNL258V-COMPARE-001-ready.toml
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T134827Z-CUDA-PROD-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-003 (#4077)
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T133816Z-LNL258V-COMPARE-001-ready.toml
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T134827Z-CUDA-PROD-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): close out M4-SLM-PERF-006
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T140226Z-M4-SLM-PERF-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out streaming UX (M4-SLM-PERF-006) (#4079)
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T140226Z-M4-SLM-PERF-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): record live OpenVINO NPU receipts
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-linear-projection-subgraph-parity.json
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-rmsnorm-subgraph-parity.json
  ci/hardware/intel-258v/2026-05-08/npu-openvino-runtime-probe.json
  ci/hardware/intel-258v/2026-05-08/npu-openvino-tiny-graph-smoke.json
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140001Z-NPU-010-ready.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140517Z-NPU-010-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): record live OpenVINO NPU receipts (#4080)
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-linear-projection-subgraph-parity.json
  ci/hardware/intel-258v/2026-05-08/npu-bitnet-rmsnorm-subgraph-parity.json
  ci/hardware/intel-258v/2026-05-08/npu-openvino-runtime-probe.json
  ci/hardware/intel-258v/2026-05-08/npu-openvino-tiny-graph-smoke.json
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140001Z-NPU-010-ready.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140517Z-NPU-010-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): record M4-SLM-PERF-007 PR open
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T141706Z-M4-SLM-PERF-007-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): close out M4-SLM-PERF-007
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T141927Z-M4-SLM-PERF-007-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140001Z-NPU-010-in-progress.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out performance envelope (M4-SLM-PERF-007) (#4082)
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T141927Z-M4-SLM-PERF-007-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/campaigns/intel-npu/events/2026-05-08T140001Z-NPU-010-in-progress.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(slm): record Qwen3 first-token divergence
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-bitnet-rs-first-token-topk.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-compare.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-divergence-validation.json
Due: none

docs(slm): track SLM-CPU-006 artifact PR
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T130500Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): mark NPU-010 merged
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T141000Z-NPU-010-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): mark NPU-010 merged (#4083)
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T141000Z-NPU-010-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
