Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs: changelog and roadmap for PRs #813-#815
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: proptest coverage for bitnet-kernels
  crates/bitnet-kernels/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-inference config types
  crates/bitnet-inference/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bdd): expand BDD grid coverage (#814)
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: expand property test coverage for bitnet-tokenizers
  crates/bitnet-tokenizers/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #813-#815 (#816)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: proptest coverage for bitnet-kernels (#817)
  crates/bitnet-kernels/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-inference config types (#818)
  crates/bitnet-inference/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add quantization_input fuzz target
  fuzz/Cargo.toml
  fuzz/fuzz_targets/quantization_input.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: proptest coverage for bitnet-models
  crates/bitnet-models/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-validation
  crates/bitnet-validation/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-receipts
  crates/bitnet-receipts/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: apply cargo fmt to quantization_input fuzz target
  fuzz/fuzz_targets/quantization_input.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: expand property test coverage for bitnet-tokenizers (#819)
  crates/bitnet-tokenizers/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-models (#821)
  crates/bitnet-models/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-validation (#822)
  crates/bitnet-validation/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: apply cargo fmt to receipts property_tests.rs
  crates/bitnet-receipts/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #819-#823
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: expand proptest coverage for bitnet-sampling
  crates/bitnet-sampling/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: proptest coverage for bitnet-common
  crates/bitnet-common/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add quantization_input fuzz target (#820)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/quantization_input.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: proptest coverage for bitnet-receipts (#823)
  crates/bitnet-receipts/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(fmt): apply cargo fmt to sampling property_tests.rs
  crates/bitnet-sampling/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #819-#823 (#824)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: proptest coverage for bitnet-common (#826)
  crates/bitnet-common/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: expand proptest coverage for bitnet-sampling (#825)
  crates/bitnet-sampling/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #820-#826
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bdd): expand BDD grid with new scenario cells
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add transformer_config and gguf_kv_read fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_kv_read.rs
  fuzz/fuzz_targets/transformer_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: expand server and CLI integration tests
  crates/bitnet-cli/tests/property_tests.rs
  crates/bitnet-server/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: audit and reduce ignored tests
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/issue_254_ac3_deterministic_generation.rs
  crates/bitnet-inference/tests/issue_254_ac6_determinism_integration.rs
  crates/bitnet-tokenizers/tests/sp_roundtrip.rs
  crates/bitnet-tokenizers/tests/test_ac5_production_readiness.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #820-#826 (#827)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bdd): expand BDD grid with new scenario cells (#828)
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: expand server and CLI integration tests (#830)
  crates/bitnet-cli/tests/property_tests.rs
  crates/bitnet-server/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: changelog and roadmap for PRs #828-#831
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: add snapshot tests for sampling, gguf, and receipts
  crates/bitnet-gguf/tests/snapshot_tests.rs
  crates/bitnet-gguf/tests/snapshots/snapshot_tests__parse_header_v2_success.snap
  crates/bitnet-gguf/tests/snapshots/snapshot_tests__parse_header_v3_success.snap
  crates/bitnet-gguf/tests/snapshots/snapshot_tests__read_version_v2.snap
  crates/bitnet-gguf/tests/snapshots/snapshot_tests__read_version_v3.snap
  crates/bitnet-receipts/tests/snapshot_tests.rs
  crates/bitnet-receipts/tests/snapshots/snapshot_tests__schema_version_constant.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: expand proptest coverage for thin-coverage crates
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-honest-compute/tests/property_tests.rs
  crates/bitnet-rope/tests/property_tests.rs
  crates/bitnet-trace/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: audit and reduce ignored tests (#831)
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/issue_254_ac3_deterministic_generation.rs
  crates/bitnet-inference/tests/issue_254_ac6_determinism_integration.rs
  crates/bitnet-tokenizers/tests/sp_roundtrip.rs
  crates/bitnet-tokenizers/tests/test_ac5_production_readiness.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add transformer_config and gguf_kv_read fuzz targets (#829)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_kv_read.rs
  fuzz/fuzz_targets/transformer_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: changelog and roadmap for PRs #828-#831 (#832)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none
