Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(agent): normalize autonomous PR operations
  AGENTS.md
  docs/development/AGENTIC_PR_OPERATIONS.md
  docs/tracking/TRACKER_MODEL.md
Due: none

feat(slm): attribute SLM-CPU-030 Kaby prompt setup allocations (#5457)
  crates/bitnet-cli/src/allocation_audit.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-17T214500Z-SLM-CPU-030-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(m4): explain evidence dashboards
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T012825Z-M4-OPS-UX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: define source-of-truth stack
  .bitnet/goals/README.md
  .github/ISSUE_TEMPLATE/work_item.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  docs/adr/README.md
  docs/proposals/README.md
  docs/reference/SPEC_SYSTEM.md
  docs/specs/README.md
  plans/README.md
Due: none

docs(m4): track dashboard explain PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T015938Z-M4-OPS-UX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): close SLM-CPU-030
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T020000Z-SLM-CPU-030-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Explain M4 evidence dashboard states (#5478)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T012825Z-M4-OPS-UX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T015938Z-M4-OPS-UX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add qk256 layout core unit coverage
  crates/bitnet-qk256-layout-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: define source-of-truth stack
  .bitnet-rs/goals/README.md
  .bitnet-rs/goals/archive/.gitkeep
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CLAUDE.md
  docs/proposals/README.md
  docs/reference/SPEC_SYSTEM.md
  plans/README.md
Due: none

docs: define source-of-truth stack
  .bitnet-rs/goals/README.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  docs/adr/README.md
  docs/proposals/README.md
  docs/reference/SPEC_SYSTEM.md
  docs/specs/README.md
  plans/README.md
Due: none

docs: define source-of-truth stack
  .bitnet-rs/goals/README.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  docs/proposals/README.md
  docs/reference/SPEC_SYSTEM.md
  plans/README.md
Due: none

docs(m4): close dashboard explain item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T020214Z-M4-OPS-UX-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 dashboard explain item (#5484)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T020214Z-M4-OPS-UX-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): localize f64 qk score-input bucket residual
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: define handoff source-of-truth surface
  docs/adr/README.md
  docs/handoffs/README.md
  docs/proposals/README.md
  docs/specs/README.md
  docs/status/README.md
  plans/README.md
  policy/docs-source-of-truth.toml
Due: none

docs: define BitNet source-of-truth model
  docs/adr/README.md
  docs/handoffs/README.md
  docs/proposals/README.md
  docs/specs/README.md
  docs/status/README.md
  plans/README.md
  policy/docs-source-of-truth.toml
Due: none

docs(proposal): native Rust inference product
  docs/proposals/BITNET-PROP-0003-native-rust-inference-product.md
Due: none

test: add startup diagnostics unit coverage
  crates/bitnet-startup-contract-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close SLM-CPU-030 (#5485)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T020000Z-SLM-CPU-030-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(spec): model onboarding proof ladder
  docs/specs/BITNET-SPEC-0013-model-onboarding-proof-ladder.md
Due: none

feat(m4): separate status readiness
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T020850Z-M4-OPS-UX-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(qk256): avoid panic-family policy debt
  crates/bitnet-qk256-layout-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m4): track status readiness PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T021357Z-M4-OPS-UX-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Separate M4 status and doctor readiness (#5491)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T020850Z-M4-OPS-UX-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T021357Z-M4-OPS-UX-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(spec): runtime performance contract
  docs/specs/BITNET-SPEC-0014-runtime-performance-contract.md
Due: none

docs(apple-m4): close ops ux readiness item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T021624Z-M4-OPS-UX-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(adr): proof families are not interchangeable
  docs/adr/BITNET-ADR-0005-proof-families-are-not-interchangeable.md
  docs/adr/README.md
Due: none

Close M4 ops UX readiness item (#5494)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T021624Z-M4-OPS-UX-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): localize selected f64 query score-input bucket
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

plans(native-inference): add implementation plan
  plans/native-rust-inference/README.md
  plans/native-rust-inference/bitnet-official-i2s.md
  plans/native-rust-inference/bitnet-tl2.md
  plans/native-rust-inference/ci-economics.md
  plans/native-rust-inference/dense-qwen25.md
  plans/native-rust-inference/dense-qwen3.md
  plans/native-rust-inference/implementation-plan.md
  plans/native-rust-inference/runtime-performance.md
  plans/native-rust-inference/server-readiness.md
  plans/native-rust-inference/small-llm-candidates.md
  plans/native-rust-inference/smollm2.md
Due: none

docs(apple-m4): track inference excellence gaps
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

test: add qk256 layout core unit coverage (#5480)
  crates/bitnet-qk256-layout-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Track remaining M4 inference excellence gaps (#5498)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

diag(bitnet): compare layer0 current history consistency (#5150)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
