Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

test(cpu): audit qk256 i8s semantics
  ci/hardware/intel-258v/2026-05-08/cpu-qk256-i8s-semantic-audit.json
  crates/bitnet-quantization/src/i2s_qk256.rs
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cpu): refresh qk256 audit source commit
  ci/hardware/intel-258v/2026-05-08/cpu-qk256-i8s-semantic-audit.json
Due: none

docs(lunar-lake): refresh CPU258V-022 after rebase
  ci/hardware/intel-258v/2026-05-08/cpu-qk256-i8s-semantic-audit.json
Due: none

docs(lunar-lake): open CPU258V-022 tracker
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T191714Z-CPU258V-022-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): refresh CPU258V-022 source commit
  ci/hardware/intel-258v/2026-05-08/cpu-qk256-i8s-semantic-audit.json
Due: none

CPU258V-022: audit CPU QK256 I8S semantics (#4321)
  ci/hardware/intel-258v/2026-05-08/cpu-qk256-i8s-semantic-audit.json
  crates/bitnet-quantization/src/i2s_qk256.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T191714Z-CPU258V-022-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(qk256): align test oracles with grouped layout
  crates/bitnet-kernels/tests/proptest_wave10.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): close CPU258V-022 tracker
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T201001Z-CPU258V-022-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add dense one-layer CUDA parity harness
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_035_ONE_LAYER_CUDA_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T201857Z-CUDA-DENSE-035-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-035 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T202504Z-CUDA-DENSE-035-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): close CPU258V-022 tracker (#4326)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T201001Z-CPU258V-022-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(qk256): align test oracles with grouped layout (#4327)
  crates/bitnet-kernels/tests/proptest_wave10.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(cuda): harden one-layer receipt validation
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): implement CUDA-DENSE-035 one-layer CUDA parity (#4328)
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_035_ONE_LAYER_CUDA_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T201857Z-CUDA-DENSE-035-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T202504Z-CUDA-DENSE-035-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-035 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T205342Z-CUDA-DENSE-035-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-035 tracker (#4330)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T205342Z-CUDA-DENSE-035-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): define CUDA-DENSE-036 all-layer plan contract
  docs/reports/CUDA_DENSE_036_ALL_LAYER_EXECUTION_PLAN.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T205742Z-CUDA-DENSE-036-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): mark CUDA-DENSE-036 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T210149Z-CUDA-DENSE-036-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): define CUDA-DENSE-036 all-layer plan contract (#4331)
  docs/reports/CUDA_DENSE_036_ALL_LAYER_EXECUTION_PLAN.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T205742Z-CUDA-DENSE-036-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T210149Z-CUDA-DENSE-036-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-036 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T210542Z-CUDA-DENSE-036-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-036 tracker (#4332)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T210542Z-CUDA-DENSE-036-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-023 open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T204645Z-CPU258V-023-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(lunar-lake): audit output head logits index
  ci/hardware/intel-258v/2026-05-08/output-head-logits-index-audit.json
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/commands/output_head_logits_audit.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(lunar-lake): classify missing logits length evidence
  ci/hardware/intel-258v/2026-05-08/output-head-logits-index-audit.json
  crates/bitnet-cli/src/commands/output_head_logits_audit.rs
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): implement dense all-layer plan receipt
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_037_ALL_LAYER_PLAN_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CPU258V-023: audit output-head logits index (#4329)
  ci/hardware/intel-258v/2026-05-08/output-head-logits-index-audit.json
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/commands/output_head_logits_audit.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T204645Z-CPU258V-023-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): record CUDA-DENSE-037 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T213500Z-CUDA-DENSE-037-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): close CPU258V-023 tracker
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T214227Z-CPU258V-023-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cuda): harden all-layer plan receipt validation
  Cargo.lock
  crates/bitnet-receipts-core/Cargo.toml
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/Cargo.toml
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): close CPU258V-023 tracker (#4334)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T214227Z-CPU258V-023-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(intel-258v): close CPU258V-023 tracker
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T214227Z-CPU258V-023-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): implement CUDA-DENSE-037 all-layer plan receipt
  Cargo.lock
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/Cargo.toml
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/Cargo.toml
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_037_ALL_LAYER_PLAN_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T213500Z-CUDA-DENSE-037-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-037 tracker
  docs/reports/CUDA_DENSE_038_MODEL_BOUNDARY_FIXTURES_CONTRACT.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T220421Z-CUDA-DENSE-037-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-037 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T220421Z-CUDA-DENSE-037-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Seed M4 SLM expansion roadmap
  .codex/campaigns/apple-m4-local-server/goal.md
  .codex/campaigns/apple-m4-slm-metal-phases/goal.md
  .codex/campaigns/apple-m4-slm-model-breadth/goal.md
  docs/slm/apple-m4-slm-next-roadmap.md
  docs/tracking/campaigns/apple-m4-local-server/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-server/active.toml
  docs/tracking/campaigns/apple-m4-local-server/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-metal-phases/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-metal-phases/active.toml
  docs/tracking/campaigns/apple-m4-slm-metal-phases/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Seed M4 SLM expansion roadmap (#4338)
  .codex/campaigns/apple-m4-local-server/goal.md
  .codex/campaigns/apple-m4-slm-metal-phases/goal.md
  .codex/campaigns/apple-m4-slm-model-breadth/goal.md
  docs/slm/apple-m4-slm-next-roadmap.md
  docs/tracking/campaigns/apple-m4-local-server/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-server/active.toml
  docs/tracking/campaigns/apple-m4-local-server/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-metal-phases/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-metal-phases/active.toml
  docs/tracking/campaigns/apple-m4-slm-metal-phases/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Select M4 dense SLM breadth candidates
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-model-breadth-candidates.md
  docs/slm/apple-m4-slm-next-roadmap.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-09T221816Z-M4-MODEL-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Record M4 model breadth candidate PR
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-09T222058Z-M4-MODEL-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Select M4 dense SLM breadth candidates (#4339)
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-model-breadth-candidates.md
  docs/slm/apple-m4-slm-next-roadmap.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-09T221816Z-M4-MODEL-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-09T222058Z-M4-MODEL-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
