Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs: comprehensive README rewrite and test-suite docs update
  CLAUDE.md
  README.md
  docs/development/test-suite.md
Due: none

test(bitnet-bdd-grid,bitnet-testing-policy): add comprehensive grid and policy tests (#917)
  crates/bitnet-bdd-grid/tests/grid_tests.rs
  crates/bitnet-testing-policy-core/tests/policy_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-transformer,bitnet-honest-compute): add comprehensive tests
  crates/bitnet-honest-compute/tests/honest_compute_tests.rs
  crates/bitnet-transformer/tests/transformer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add wave 3 fuzz targets (gguf-writer, tokenizer, validation) (#919)
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_writer_roundtrip.rs
  fuzz/fuzz_targets/tokenizer_encode_no_panic.rs
  fuzz/fuzz_targets/validation_no_panic.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: comprehensive README rewrite and test-suite docs update (#920)
  CLAUDE.md
  README.md
  docs/development/test-suite.md
Due: none

test(bitnet-st2gguf,bitnet-server): add extended tests
  crates/bitnet-server/tests/server_extended_tests.rs
  crates/bitnet-st2gguf/tests/st2gguf_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-transformer,bitnet-honest-compute): add comprehensive tests (#921)
  crates/bitnet-honest-compute/tests/honest_compute_tests.rs
  crates/bitnet-transformer/tests/transformer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog and roadmap for PRs #913-#922
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bitnet-st2gguf,bitnet-server): add extended tests (#922)
  crates/bitnet-server/tests/server_extended_tests.rs
  crates/bitnet-st2gguf/tests/st2gguf_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-inference,bitnet-models): add extended engine and model tests
  crates/bitnet-inference/tests/inference_engine_tests.rs
  crates/bitnet-models/tests/model_loading_extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog and roadmap for PRs #913-#922 (#923)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test: reduce ignored test count (wave 3) - add reasons and env-var guards
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-inference/tests/qk256_fast_path.rs
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-models/tests/real_model_loading.rs
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-cli,bitnet-gguf): add extended tests
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-gguf/tests/gguf_extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog for PRs #924-#925
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bitnet-generation,bitnet-engine-core): add comprehensive unit tests
  crates/bitnet-engine-core/tests/engine_core_tests.rs
  crates/bitnet-generation/tests/generation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-device-probe,bitnet-logits): add comprehensive unit tests
  crates/bitnet-device-probe/tests/device_probe_tests.rs
  crates/bitnet-logits/tests/logits_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog for PRs #926-#929
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(integration): add multi-crate integration tests
  Cargo.lock
  tests/Cargo.toml
  tests/integration/multi_crate_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-runtime-feature-flags,bitnet-kernels): add comprehensive unit tests
  crates/bitnet-kernels/tests/kernels_extended_tests.rs
  crates/bitnet-runtime-feature-flags/tests/runtime_feature_flags_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-tokenizers,bitnet-validation): add extended tests
  crates/bitnet-tokenizers/tests/tokenizer_extended_tests.rs
  crates/bitnet-validation/tests/validation_extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog for PRs #931-#932
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(inference): correct KVCache handling in CPU/GPU backends
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(fuzz): add wave 4 fuzz targets for engine-core, honest-compute, runtime context, and feature activation
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/engine_core_no_panic.rs
  fuzz/fuzz_targets/feature_activation_no_panic.rs
  fuzz/fuzz_targets/honest_compute_no_panic.rs
  fuzz/fuzz_targets/runtime_context_parse_no_panic.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add insta snapshot tests for key serializable types
  .github/workflows/ci-core.yml
  crates/bitnet-runtime-feature-flags/tests/snapshot_tests.rs
  crates/bitnet-runtime-feature-flags/tests/snapshots/snapshot_tests__active_features_cpu_activation.snap
  crates/bitnet-runtime-feature-flags/tests/snapshots/snapshot_tests__feature_line_cpu_activation.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: remove unused Context import in backends.rs
  crates/bitnet-inference/src/backends.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: run cargo fmt on fuzz targets
  fuzz/fuzz_targets/runtime_context_parse_no_panic.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update changelog for PRs #934-#935
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
