Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(gpu-hal): add data pipeline with transforms and batching
  crates/bitnet-gpu-hal/src/data_pipeline.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add graph execution engine with parallel scheduling
  crates/bitnet-gpu-hal/src/graph_executor.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add API gateway with OpenAI-compatible endpoints
  crates/bitnet-gpu-hal/src/api_gateway.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: cargo fmt
  crates/bitnet-gpu-hal/src/health.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: cargo fmt and CI compatibility fixes
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-kernels/src/gpu/kernels/mod.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(vulkan): GLSL compute shaders for Vulkan GPU inference
  Cargo.lock
  Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/kernels/attention.comp
  crates/bitnet-vulkan/src/kernels/elementwise.comp
  crates/bitnet-vulkan/src/kernels/matmul.comp
  crates/bitnet-vulkan/src/kernels/mod.rs
  crates/bitnet-vulkan/src/kernels/rmsnorm.comp
  crates/bitnet-vulkan/src/kernels/rope.comp
  crates/bitnet-vulkan/src/kernels/softmax.comp
  crates/bitnet-vulkan/src/lib.rs
  crates/bitnet-vulkan/tests/vulkan_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU runtime diagnostics for troubleshooting
  Cargo.lock
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/diagnostics.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/system_info.rs
  crates/bitnet-opencl/tests/diagnostics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(kernels): add Metal/Apple Silicon backend tests and fix aarch64 type issue
  crates/bitnet-kernels/tests/metal_backend_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL transformer layer composition
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_transformer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(models,server): add 78 format detection and AC05 health type tests
  crates/bitnet-models/tests/formats_edge_cases.rs
  crates/bitnet-server/tests/ac05_types_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add execution router and concurrency edge case tests (93 tests)
  crates/bitnet-server/tests/concurrency_edge_cases.rs
  crates/bitnet-server/tests/execution_router_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add model registry and config builder edge case tests (97 tests)
  crates/bitnet-server/tests/config_builder_edge_cases.rs
  crates/bitnet-server/tests/model_registry_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL transformer layer composition (#1754)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_transformer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add Metal/Apple Silicon backend tests and fix aarch64 type issue (#1844)
  crates/bitnet-kernels/tests/metal_backend_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU runtime diagnostics for troubleshooting (#1250)
  Cargo.lock
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/diagnostics.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/system_info.rs
  crates/bitnet-opencl/tests/diagnostics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(vulkan): GLSL compute shaders for Vulkan GPU inference (#1255)
  Cargo.lock
  Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/kernels/attention.comp
  crates/bitnet-vulkan/src/kernels/elementwise.comp
  crates/bitnet-vulkan/src/kernels/matmul.comp
  crates/bitnet-vulkan/src/kernels/mod.rs
  crates/bitnet-vulkan/src/kernels/rmsnorm.comp
  crates/bitnet-vulkan/src/kernels/rope.comp
  crates/bitnet-vulkan/src/kernels/softmax.comp
  crates/bitnet-vulkan/src/lib.rs
  crates/bitnet-vulkan/tests/vulkan_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update README and roadmap for GPU multi-backend support (#1197)
  COMPATIBILITY.md
  README.md
  docs/reference/dual-backend-roadmap.md
Due: none

docs: CHANGELOG for waves 63-65 (PRs #1435-#1454) (#1457)
  CHANGELOG.md
Due: none

test(models,server): add 78 format detection and AC05 health type edge tests (#1845)
  crates/bitnet-models/tests/formats_edge_cases.rs
  crates/bitnet-server/tests/ac05_types_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL I2_S quantized matrix-vector multiply
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_quantized.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL FFN block with gated architecture
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_ffn.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(gpu-hal): add 83 model pruning and attention compute edge tests (#1840)
  crates/bitnet-gpu-hal/tests/attention_compute_edge_cases.rs
  crates/bitnet-gpu-hal/tests/model_pruning_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gpu-hal): add 83 checkpoint manager and context window edge tests (#1838)
  crates/bitnet-gpu-hal/tests/checkpoint_manager_edge_cases.rs
  crates/bitnet-gpu-hal/tests/context_window_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(gpu-hal): add 137 sparse operations and dynamic shapes edge tests (#1837)
  crates/bitnet-gpu-hal/tests/dynamic_shapes_edge_cases.rs
  crates/bitnet-gpu-hal/tests/sparse_operations_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(st2gguf): add 54 writer edge-case tests (#1832)
  crates/bitnet-st2gguf/tests/st2gguf_writer_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(warn-once,st-tools): add 70 edge-case tests for warn-once boundaries and SafeTensors utilities (#1831)
  crates/bitnet-st-tools/tests/st_tools_edge_cases.rs
  crates/bitnet-warn-once/tests/warn_once_boundary_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(opencl): add 123 edge-case tests for backend dispatcher, KV cache, paged attention, SPIR-V, and context pool (#1830)
  crates/bitnet-opencl/tests/opencl_backend_dispatcher_edge_cases.rs
  crates/bitnet-opencl/tests/opencl_paged_kv_edge_cases.rs
  crates/bitnet-opencl/tests/opencl_spirv_context_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(kernels): add 38 CPU attention, quantize, and matmul edge-case tests (#1827)
  crates/bitnet-kernels/tests/cpu_attention_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_matmul_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_quantize_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(kernels): add 66 CPU advanced ops edge-case tests (SIMD, fusion, KV cache, conv2d, batch norm) (#1826)
  crates/bitnet-kernels/tests/cpu_batch_norm_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_conv2d_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_fusion_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_kv_cache_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_simd_math_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(kernels): add 86 CPU ops edge-case tests (reduction, scatter, transpose, pooling, loss) (#1825)
  crates/bitnet-kernels/tests/cpu_loss_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_pooling_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_reduction_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_scatter_gather_edge_cases.rs
  crates/bitnet-kernels/tests/cpu_transpose_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(quantization): add 50 edge-case tests for bit-packing, scales, SIMD, factory (#1821)
  crates/bitnet-quantization/tests/quantization_types_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(models): add 50 edge-case tests for config, checkpoint, production loader (#1820)
  crates/bitnet-models/tests/models_config_format_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(tokenizers): add 44 edge-case tests for MockTokenizer, ModelTypeDetector, FallbackStrategy (#1819)
  crates/bitnet-tokenizers/tests/tokenizer_types_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add OpenCL scaled dot-product attention kernel (#1744)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL memory transfer tracking and optimization (#1704)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL kernel provider with buffer operations (#1689)
  crates/bitnet-kernels/src/opencl_provider.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add performance monitor module (#1657)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/performance_monitor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add optimization_passes module (#1592)
  crates/bitnet-gpu-hal/src/optimization_passes.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add serving_runtime module (#1589)
  crates/bitnet-gpu-hal/src/serving_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add gguf_loader module (#1546)
  crates/bitnet-gpu-hal/src/gguf_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
