Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Acknowledge CORS fix obsolescence based on PR feedback
  .jules/sentinel.md
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: task cancelled due to PR closure
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/tests/batch_engine_correctness.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update sentinel journal with supersede notice
  .jules/sentinel.md
Due: none

Sentinel: Close PR as obsolete per maintainer feedback
  .jules/sentinel.md
  SENTINEL_NOTE.md
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: byte-level BasicTokenizer encode/decode (#395 #397 #398) (#636)
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/tests/mutation_killer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Sentinel: Document redundant security fix
  .jules/sentinel.md
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
  crates/bitnet-server/tests/cors_security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(quantization): correct I2S dequantize encoding and add round-trip tests (#629)
  crates/bitnet-quantization/src/device_aware_quantizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve all test failures and timeouts
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-quantization/tests/mutation_coverage.rs
  xtask/ci/inference.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve all test failures and timeouts (#639)
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-quantization/tests/mutation_coverage.rs
  xtask/ci/inference.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tests): gracefully skip intelligibility smoke tests when prerequisites absent
  crates/bitnet-cli/tests/intelligibility_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update dual-backend roadmap to reflect implemented state
  .github/settings.yml
  docs/reference/dual-backend-roadmap.md
Due: none

style: run cargo fmt on intelligibility_smoke.rs
  crates/bitnet-cli/tests/intelligibility_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(roadmap): fix empty placeholders and inaccurate type references
  docs/reference/dual-backend-roadmap.md
Due: none

docs: update roadmap to reflect implemented state + settings topics (#640)
  .github/settings.yml
  crates/bitnet-cli/tests/intelligibility_smoke.rs
  docs/reference/dual-backend-roadmap.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: TL1/TL2 quantizer round-trip accuracy bug
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-quantization/src/utils.rs
  crates/bitnet-quantization/tests/mutation_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: TL1/TL2 quantizer round-trip accuracy bug (#641)
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-quantization/src/utils.rs
  crates/bitnet-quantization/tests/mutation_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: wire backend selection into CLI/server startup (Phase 3.2)
  Cargo.lock
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-server/src/bin/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add Phase 5 CPU golden path E2E test (always-on, no model download)
  .github/workflows/ci-core.yml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/tests/cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: wire backend selection into CLI/server startup (Phase 3.2) (#642)
  Cargo.lock
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-server/src/bin/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add Phase 5 CPU golden path E2E test (always-on, no model download) (#643)
  .github/workflows/ci-core.yml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/tests/cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: wire Phase 6 SRP microcrates into CI test suite
  .github/workflows/ci-core.yml
Due: none

ci: wire Phase 6 SRP microcrates into CI test suite (#644)
  .github/workflows/ci-core.yml
Due: none

fix: resolve security audit false positives and update vulnerable deps
  .cargo/audit.toml
  .github/workflows/security.yml
  Cargo.lock
Due: none

docs: update dual-backend roadmap to reflect Phases 3-6 completion
  docs/reference/dual-backend-roadmap.md
Due: none

fix: resolve security audit false positives and update vulnerable deps (#645)
  .cargo/audit.toml
  .github/workflows/security.yml
  Cargo.lock
  docs/reference/dual-backend-roadmap.md
Due: none

docs: update README, CLAUDE.md, CHANGELOG, and roadmap to reflect PRs #641-#645
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/reference/dual-backend-roadmap.md
Due: none

docs: fix repository URLs from microsoft/ to EffortlessMetrics/
  docs/development.md
  docs/getting-started.md
  docs/howto/production-server-docker-deployment.md
  docs/howto/production-server-kubernetes-deployment.md
  docs/howto/use-qk256-models.md
  docs/quickstart.md
Due: none

docs: fix MSRV reference from 1.90.0 to 1.92.0 in getting-started
  docs/getting-started.md
Due: none

fix: remove unrecognized 'version' key from .coderabbit.yaml
  .coderabbit.yaml
Due: none

docs: fix CHANGELOG structure and remove duplicate planned section in roadmap
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

docs: update status table, architecture diagram, CHANGELOG, and roadmap (#646)
  .coderabbit.yaml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/development.md
  docs/getting-started.md
  docs/howto/production-server-docker-deployment.md
  docs/howto/production-server-kubernetes-deployment.md
  docs/howto/use-qk256-models.md
  docs/quickstart.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(crossval): implement 3 unimplemented scaffold tests in token_parity
  crossval/src/token_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add crossval/**, tests/**, xtask/** to ci-core.yml path triggers
  .github/workflows/ci-core.yml
Due: none

style: run rustfmt on crossval token_parity tests
  crossval/src/token_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(crossval): implement 3 unimplemented scaffold tests in token_parity (#647)
  .github/workflows/ci-core.yml
  crossval/src/token_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(tokenizers): repair GGUF test fixtures and INT32 metadata handling
  .gitignore
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-tokenizers/tests/fixtures/gguf/bert-base-uncased.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/bitnet-b1.58-2B.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/corrupted-embedded-tokenizer.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt-neo-1.3b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt2-50k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt2-medium.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-32k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-7b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-with-sentencepiece.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-128k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-8b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-with-hf-tokenizer.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/t5-base.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-1000.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-128256.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-32000.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-50257.gguf
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(tokenizers): repair GGUF test fixtures and INT32 metadata handling (#648)
  .gitignore
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-tokenizers/tests/fixtures/gguf/bert-base-uncased.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/bitnet-b1.58-2B.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/corrupted-embedded-tokenizer.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt-neo-1.3b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt2-50k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/gpt2-medium.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-32k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-7b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama2-with-sentencepiece.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-128k.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-8b.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/llama3-with-hf-tokenizer.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/t5-base.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-1000.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-128256.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-32000.gguf
  crates/bitnet-tokenizers/tests/fixtures/gguf/vocab-50257.gguf
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add property tests and fuzz targets for SRP microcrates
  .github/workflows/fuzz-ci.yml
  CHANGELOG.md
  Cargo.lock
  crates/bitnet-generation/Cargo.toml
  crates/bitnet-generation/src/lib.rs
  crates/bitnet-gguf/Cargo.toml
  crates/bitnet-gguf/src/lib.rs
  fuzz/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
