Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(cpu): mark CPU-ANSWER-006 merged (#4016)
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T082100Z-CPU-ANSWER-006-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T074931Z-CPU258V-010-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T075914Z-CPU258V-011-ready.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): close out CPU-ANSWER-007
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T085007Z-CPU-ANSWER-007-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): close out CPU-ANSWER-007 (#4028)
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T085007Z-CPU-ANSWER-007-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): make NPU-008 current
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): make NPU-008 current (#4030)
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(cuda): align QK256 I2_S GEMV layout
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): keep warm-session helpers feature-gated
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): keep cpu workspace check warning-clean
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ffi): remove redundant seed conversion
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): satisfy workspace clippy
  crates/bitnet-ffi/src/config.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cuda): align QK256 I2_S GEMV layout (#4024)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-ffi/src/config.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add Apple M4 operator warm profiles
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/hardware/apple-m4-mac-mini-operator-runbook.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/slm/apple-m4-slm-warm-speed.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T092443Z-M4-PROD-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Record M4-PROD-004 PR open
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T094620Z-M4-PROD-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T085200Z-CPU258V-012-ready.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cli): repair CPU backend reporting and text
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/tests/common_arch_kernel_backend_edge_cases.rs
  crates/bitnet-common/tests/cpu_path_edge_cases.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-productization] Add operator warm profiles (M4-PROD-004) (#4029)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/hardware/apple-m4-mac-mini-operator-runbook.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/slm/apple-m4-slm-warm-speed.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T092443Z-M4-PROD-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T094620Z-M4-PROD-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T085200Z-CPU258V-012-ready.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-PROD-004
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T102321Z-M4-PROD-004-merged.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-productization] Close out M4-PROD-004 (#4033)
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T102321Z-M4-PROD-004-merged.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): record CUDA-ANSWER-010 strict corpus proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-answer-corpus.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/strict-cuda-ask-math.json
  docs/reports/CUDA_ANSWER_010_STRICT_5070TI_CORPUS.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T102026Z-CUDA-ANSWER-010-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(cuda): record CUDA-ANSWER-010 strict corpus proof (#4035)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-answer-corpus.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/strict-cuda-ask-math.json
  docs/reports/CUDA_ANSWER_010_STRICT_5070TI_CORPUS.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T102026Z-CUDA-ANSWER-010-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(cpu): record 258V warm phase receipts
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-profiles/decode_128.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-profiles/prefill_512.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session.json
  ci/hardware/intel-258v/2026-05-08/prefill-512-prompt.txt
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T103700Z-CPU258V-013-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T104000Z-CPU258V-013-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ffi): remove redundant seed cast
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ffi): remove redundant seed cast (#4037)
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cpu): record CPU258V-013 warm phase receipts (#4036)
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-profiles/decode_128.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-profiles/prefill_512.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session.json
  ci/hardware/intel-258v/2026-05-08/prefill-512-prompt.txt
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T103700Z-CPU258V-013-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T104000Z-CPU258V-013-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): record M4-PROD-005 PR open
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T104013Z-M4-PROD-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(metal): add Apple M4 dense prefill phase proof
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/slm/apple-m4-slm-metal-phase-decision.md
  docs/tracking/campaigns/apple-m4-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T103724Z-M4-PROD-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): refresh active PR dashboard
  docs/tracking/generated/active-prs.md
Due: none

[codex][apple-m4-productization] Add Metal prefill phase proof (M4-PROD-005) (#4034)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/slm/apple-m4-slm-metal-phase-decision.md
  docs/tracking/campaigns/apple-m4-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T103724Z-M4-PROD-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T104013Z-M4-PROD-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-PROD-005
  docs/tracking/campaigns/apple-m4-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T105523Z-M4-PROD-005-merged.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T105524Z-M4-PROD-005-closeout.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-productization] Close out M4-PROD-005 (#4040)
  docs/tracking/campaigns/apple-m4-productization/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-productization/active.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T105523Z-M4-PROD-005-merged.toml
  docs/tracking/campaigns/apple-m4-productization/events/2026-05-08T105524Z-M4-PROD-005-closeout.toml
  docs/tracking/campaigns/apple-m4-productization/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): close out CPU258V-013
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T105328Z-CPU258V-013-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): close out CPU258V-013 (#4038)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T105328Z-CPU258V-013-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): record CPU CUDA answer parity gap
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-answer-corpus.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-vs-cuda-answer-parity.json
  docs/reports/CUDA_ANSWER_011_CPU_CUDA_PARITY.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
Due: none

docs(tracking): open CUDA-ANSWER-011 parity evidence
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T105500Z-CUDA-ANSWER-011-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): record CPU/CUDA answer parity gap (#4039)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-answer-corpus.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-vs-cuda-answer-parity.json
  docs/reports/CUDA_ANSWER_011_CPU_CUDA_PARITY.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T105500Z-CUDA-ANSWER-011-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): record CPU258V-014 answer recovery
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-math_2_plus_2-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-parity-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T111500Z-CPU258V-014-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T112000Z-CPU258V-014-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): reconcile CPU258V-014 PR
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T112000Z-CPU258V-014-pr-open.toml
Due: none

docs(cpu): record CPU258V-014 answer recovery (#4041)
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-math_2_plus_2-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-parity-bitnetcpp-template-math_2_plus_2-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T111500Z-CPU258V-014-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T112000Z-CPU258V-014-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): close out CPU258V-014
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T112300Z-CPU258V-014-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): close out CPU258V-014 (#4042)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T112300Z-CPU258V-014-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): add SLM-CPU-006 divergence item
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
