Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

LNL258V-GOAL-AUDIT-015 post POWER-010 audit (#119)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T024500Z-LNL258V-GOAL-AUDIT-015-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T024745Z-LNL258V-GOAL-AUDIT-015-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-SERVE-EX-002: close dense serve failure semantics (#125)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T032903Z-M4-SERVE-EX-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SLM-CPU-069: localize packed q8 sidecar regression (#124)
  ci/slm-cpu/intel-i5-8250u/2026-05-21/qwen3-slm-cpu-069-packed-q8-locality-root-cause.json
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T040500Z-SLM-CPU-069-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T041200Z-SLM-CPU-069-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

a770: route inline-scaled qk256 through OpenCL candidate (#115)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/a770_opencl_runtime.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-qk256-dispatch/Cargo.toml
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-server/src/lib.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T132151Z-A770-006R-merged.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T153340Z-A770-008-merged.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T181348Z-A770-009-merged.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-20T215527Z-A770-010-merged.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-21T004111Z-A770-011-in-progress.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): close LNL258V-GOAL-AUDIT-015 (#126)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T040720Z-LNL258V-GOAL-AUDIT-015-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SLM-CPU-069: sync merge state (#127)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T042200Z-SLM-CPU-069-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): audit A770-011 adjacent evidence (#128)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T044633Z-LNL258V-GOAL-AUDIT-016-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T045100Z-LNL258V-GOAL-AUDIT-016-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close LNL258V-GOAL-AUDIT-016 (#130)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T050100Z-LNL258V-GOAL-AUDIT-016-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SLM-CPU-070: add packed q8 block-local matvec prototype (#129)
  ci/slm-cpu/intel-i5-8250u/2026-05-21/qwen3-slm-cpu-070-packed-q8-block-local-matvec-prototype.json
  crates/bitnet-transformer/src/lib.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T045151Z-SLM-CPU-070-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T045602Z-SLM-CPU-070-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm-cpu): close SLM-CPU-070 (#154)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-21T054100Z-SLM-CPU-070-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(a770): close A770-011 (#143)
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-21T043151Z-A770-011-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): audit A770-011 closeout (#156)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T061253Z-LNL258V-GOAL-AUDIT-017-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T062055Z-LNL258V-GOAL-AUDIT-017-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-OBS-001: add trace correlation (#151)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-local-server-command-config.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T043153Z-M4-OBS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T053800Z-M4-OBS-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): close GOAL-AUDIT-017 (#157)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T063320Z-LNL258V-GOAL-AUDIT-017-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Refactor ArchitectureRegistry lookup into SRP helper submodule (#132)
  crates/bitnet-common/src/arch_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split RPATH path-merging into SRP `rpath_merge` submodule (#150)
  xtask/src/build_helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refactor crossval prompt comparison into SRP helper submodule (#133)
  crossval/src/comparison.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split typical logits filter into SRP helpers (#134)
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refactor tokenizer discovery into SRP modules (#136)
  crates/bitnet-tokenizer-discovery-core/src/discovery.rs
  crates/bitnet-tokenizer-discovery-core/src/explicit_path.rs
  crates/bitnet-tokenizer-discovery-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

a770: record strict qk256 dispatch receipt (#158)
  ci/hardware/amd-5700x-intel-a770/2026-05-21/a770-opencl-qk256-strict-dispatch.json
  ci/hardware/amd-5700x-intel-a770/a770-kernel-capability-matrix.json
  ci/hardware/device-kernel-routing.toml
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-21T061807Z-A770-012-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-21T064400Z-A770-012-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

M4-SERVE-EX-003: add local serve safety defaults (#160)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_serve_help.snap
  docs/slm/apple-m4-local-server-command-config.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T063436Z-M4-OBS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T064923Z-M4-SERVE-EX-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T070555Z-M4-SERVE-EX-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor(models): harden shard filename parsing (#162)
  crates/bitnet-models/src/format_detector.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(a770): close A770-012 (#164)
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-21T073700Z-A770-012-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

kernels: harden matmul size checks to prevent usize overflow (#163)
  crates/bitnet-kernels/src/cpu/matrix_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-SERVE-EX-003: close local safety defaults tracker (#165)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-21T074408Z-M4-SERVE-EX-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(repo): record swarm history repair closeout (#169)
  docs/development/SWARM_HISTORY_REPAIR.md
  docs/release/PROMOTE_TO_BITNET_RS.md
  docs/tracking/LANE_OWNERSHIP.md
Due: none

Refactor simple_inference into SRP-style helper submodule (#144)
  examples/simple_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

wasm: harden memory arithmetic and zero-size progress handling (#168)
  crates/bitnet-wasm/src/memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refactor startup diagnostics line assembly into SRP submodule helpers (#148)
  crates/bitnet-startup-contract-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(bitnet-logits): split transforms into SRP submodules (#135)
  crates/bitnet-logits/src/argmax.rs
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-logits/src/repetition_penalty.rs
  crates/bitnet-logits/src/softmax.rs
  crates/bitnet-logits/src/temperature.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(test-env): decompose EnvScope into SRP submodules (env_lock, env_restore) (#137)
  crates/bitnet-test-env/src/env_lock.rs
  crates/bitnet-test-env/src/env_restore.rs
  crates/bitnet-test-env/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

policy: add repo boundary ledger (#174)
  docs/development/SWARM_DEVELOPMENT_AUTHORITY.md
  docs/release/PROMOTE_TO_BITNET_RS.md
  docs/tracking/LANE_OWNERSHIP.md
  policy/repo-boundary.toml
Due: none

refactor(gpu-hal): precompute lowercase classifier rules (#170)
  crates/bitnet-gpu-hal/src/error_recovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bench(qwen3): add comparator source manifest preflight (#175)
  crates/bitnet-bench-receipts/src/bin/qwen3_cuda_repeated_comparator_receipt.rs
  docs/reports/CUDA_MODEL_016_QWEN3_REPEATED_COMPARATOR_RECEIPT_CONTRACT.md
  plans/native-rust-inference/dense-qwen3.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close stale BitNet watchpoints (#159)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-source-changes.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T064914Z-LNL258V-BITNET-INTAKE-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T065414Z-LNL258V-BITNET-INTAKE-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close BITNET-INTAKE-005 (#179)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-21T094739Z-LNL258V-BITNET-INTAKE-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(qwen3): remove manifest no-panic debt (#180)
  crates/bitnet-bench-receipts/src/bin/qwen3_cuda_repeated_comparator_receipt.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

wasm: return explicit not-implemented error for model byte loading (#171)
  crates/bitnet-wasm/src/model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bitnet-models: make head/group ratios exact and tested (#167)
  crates/bitnet-models/src/metadata_extractor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Refactor SamplingStrategy::sample_in_place into SRP helper methods (#152)
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
