Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs: fix 3 inaccurate counts in CLAUDE.md (#3316)
  CLAUDE.md
Due: none

refactor: extract vendor weight-name normalization into bitnet-weight-name-core (#3310)
  Cargo.lock
  Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-weight-name-core/Cargo.toml
  crates/bitnet-weight-name-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): resolve all workspace clippy warnings under -D warnings
  crates/bitnet-inference/src/dense_forward.rs
  crates/bitnet-kernels/src/cpu/neon_weight_dequant_v2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update SRP microcrate count 42+/47+ 48+
  CLAUDE.md
Due: none

fix(clippy): replace needless_range_loop in dense_forward attention weights
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update SRP microcrate count to 48+ (#3320)
  CLAUDE.md
Due: none

fix(kernels): tighten batch_norm prop_filter to prevent CI flake
  crates/bitnet-kernels/src/cpu/batch_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): replace needless_range_loop in dense_forward
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): fix macOS ARM64 build failure in neon_mixed_precision
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): eliminate second Vec allocation in softmax hot path
  crates/bitnet-inference/src/decode_strategy.rs
  crates/bitnet-inference/src/dense_generation.rs
  crates/bitnet-inference/src/sampling_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update AVX2 parity test count to ~121 across 9 files
  CLAUDE.md
Due: none

fix(kernels): add macOS cfg gate to metal_compute_pipeline_tests
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(kernels): prevent f32 overflow in NEON RMSNorm proptests
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(clippy): use map_or instead of map().unwrap_or() in opencl system_info
  crates/bitnet-opencl/src/system_info.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): eliminate second Vec allocation in softmax hot path (#3324)
  crates/bitnet-inference/src/decode_strategy.rs
  crates/bitnet-inference/src/dense_generation.rs
  crates/bitnet-inference/src/sampling_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(bench): remove use_alibi from GqaConfig in slm_inference bench
  benches/slm_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update AVX2 parity test count to ~121 across 9 files (#3325)
  CLAUDE.md
Due: none

docs: fix bench target count 13 12 (no example bench exists)
  CLAUDE.md
Due: none

fix(kernels): prevent f32 overflow in NEON RMSNorm proptests (#3327)
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(clippy): use map_or instead of map().unwrap_or() in opencl system_info (#3328)
  crates/bitnet-opencl/src/system_info.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): fix macOS ARM64 build failure — half crate not linked (#3323)
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): add macOS cfg gate to metal_compute_pipeline_tests (#3326)
  benches/slm_inference.rs
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix bench target count 13 12 (#3330)
  CLAUDE.md
Due: none

perf(kernels): add causal_mask_fill and reuse mask in AttentionWorkspace
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): gate Metal wgpu tests on macOS ARM64
  crates/bitnet-kernels/tests/metal_activation_shader_tests.rs
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-kernels/tests/metal_compute_validation_tests.rs
  crates/bitnet-kernels/tests/metal_embedding_shader_tests.rs
  crates/bitnet-kernels/tests/metal_kernel_validation.rs
  crates/bitnet-kernels/tests/metal_layernorm_shader_tests.rs
  crates/bitnet-kernels/tests/metal_matmul_shader_tests.rs
  crates/bitnet-kernels/tests/metal_normalization_shader_tests.rs
  crates/bitnet-kernels/tests/metal_performance_tests.rs
  crates/bitnet-kernels/tests/metal_pipeline_optimization_tests.rs
  crates/bitnet-kernels/tests/metal_rope_shader_tests.rs
  crates/bitnet-kernels/tests/metal_shader_library_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(kernels): eliminate causal mask allocation in AttentionWorkspace (#3331)
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): gate Metal wgpu tests on macOS ARM64 (#3329)
  crates/bitnet-kernels/tests/metal_activation_shader_tests.rs
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-kernels/tests/metal_compute_validation_tests.rs
  crates/bitnet-kernels/tests/metal_embedding_shader_tests.rs
  crates/bitnet-kernels/tests/metal_kernel_validation.rs
  crates/bitnet-kernels/tests/metal_layernorm_shader_tests.rs
  crates/bitnet-kernels/tests/metal_matmul_shader_tests.rs
  crates/bitnet-kernels/tests/metal_normalization_shader_tests.rs
  crates/bitnet-kernels/tests/metal_performance_tests.rs
  crates/bitnet-kernels/tests/metal_pipeline_optimization_tests.rs
  crates/bitnet-kernels/tests/metal_rope_shader_tests.rs
  crates/bitnet-kernels/tests/metal_shader_library_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(inference): eliminate .collect() allocation in DenseTransformerBlock residual
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): eliminate .collect() allocation in DenseTransformerBlock residual (#3332)
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add AVX2 quantized matmul parity tests (20 tests)
  crates/bitnet-kernels/tests/avx2_quantized_matmul_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update AVX2 parity test count to ~129 across 9 files
  CLAUDE.md
Due: none

perf(inference): eliminate per-block allocation in DenseModel::forward
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add AVX2 quantized matmul parity tests (20 tests) (#3334)
  CLAUDE.md
  crates/bitnet-kernels/tests/avx2_quantized_matmul_parity_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(inference): eliminate per-block allocation in DenseModel::forward (#3335)
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): deflake NEON RMSNorm proptests with bounded input range
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

perf(inference): add DenseLinear/FFN forward_into + BlockWorkspace
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): deflake NEON RMSNorm proptests with bounded input range (#3337)
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
