Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

diag(bitnet): report selected post-rope raw key epsilon
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: make ripr review fallback contract valid
  .github/workflows/ripr-pr-evidence.yml
Due: none

diag(bitnet): classify selected historical post-rope bucket drift (#5334)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(safetensors-ln): cover and repair f16 casting paths (#5217)
  Cargo.lock
  crates/bitnet-safetensors-ln/Cargo.toml
  crates/bitnet-safetensors-ln/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report selected K projection subbucket epsilon
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): capture reference historical key projection rows (#5329)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Make RIPR review fallback contract-valid (#5361)
  .github/workflows/ripr-pr-evidence.yml
Due: none

feat(apple-m4): gate BitNet serve route
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_serve_help.snap
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T100051Z-M4-BITNET-EX-007-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): trace historical key projection rows (#5322)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report selected K projection replay source
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report selected key projection rope source (#5317)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(slm): SLM-CPU-025 isolate warm-session logits extraction (#5357)
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse-validation.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-logits-extraction-reuse.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-17T114550Z-SLM-CPU-025-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close SLM-CPU-025 and queue 026
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-17T124600Z-SLM-CPU-025-merged-026-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): localize selected key score input source (#5313)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close SLM-CPU-025 and queue 026 (#5364)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-17T124600Z-SLM-CPU-025-merged-026-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Gate BitNet serve on Apple M4 (#5339)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_serve_help.snap
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T100051Z-M4-BITNET-EX-007-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close M4-BITNET-EX-007
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T125800Z-M4-BITNET-EX-007-merged-008-ready.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): close BitNet serve gate item
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T125911Z-M4-BITNET-EX-007-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(request-router-core): cover routing, prefix grouping, and path matching
  crates/bitnet-request-router-core/tests/request_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): classify selected score qk contribution (#5311)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close M4-BITNET-EX-007 (#5365)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T125800Z-M4-BITNET-EX-007-merged-008-ready.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): localize selected K attention norm source
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): probe query score input f16 policy (#5307)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report selected K attention norm f64 effect
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize query score input boundary (#5305)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(slm): reuse logits scratch for repetition penalty
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse-validation.json
  ci/slm-cpu/intel-i5-8250u/2026-05-17/qwen3-repetition-penalty-logits-reuse.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-sampling/src/lib.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record SLM-CPU-026 PR
  docs/tracking/campaigns/slm-cpu/events/2026-05-17T133042Z-SLM-CPU-026-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(scoring-core): cover NllStats, logit sanitization, and target NLL observation
  crates/bitnet-scoring-core/tests/scoring_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): report query score input history drift (#5301)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report f64 downstream residual frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): publish BitNet eval task-family rollup
  ci/hardware/apple-m4-mac-mini/2026-05-17T0810Z/bitnet-eval/task-family-pass-rates.json
  docs/slm/apple-m4-bitnet-eval-and-benchmark.md
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T135049Z-M4-BITNET-EX-008-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): mark M4-BITNET-EX-008 pr open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T135343Z-M4-BITNET-EX-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): localize score input contributors (#5298)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report f64 score-history frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(request-router-core): cover routing and prefix behavior (#5195)
  crates/bitnet-request-router-core/tests/request_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

M4-BITNET-EX-008: Publish BitNet eval task-family rollup (#5371)
  ci/hardware/apple-m4-mac-mini/2026-05-17T0810Z/bitnet-eval/task-family-pass-rates.json
  docs/slm/apple-m4-bitnet-eval-and-benchmark.md
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T135049Z-M4-BITNET-EX-008-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T135343Z-M4-BITNET-EX-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): close M4-BITNET-EX-008
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T140559Z-M4-BITNET-EX-008-merged-009-ready.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): probe score query vec-dot conversion (#5295)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize f64 score QK bucket frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close M4-BITNET-EX-008 tracker (#5374)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T140559Z-M4-BITNET-EX-008-merged-009-ready.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none
