Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

fix(cli): rustfmt indentation for NPU device match arm in config.rs
  crates/bitnet-cli/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add Apple Silicon GPU/NPU backend roadmap (#1005)
  docs/specs/INDEX.md
  docs/specs/apple-silicon-backend-roadmap.md
Due: none

docs: add macOS 26 Apple Silicon integration roadmap (#1007)
  COMPATIBILITY.md
  README.md
  docs/reference/macos-26-apple-silicon-roadmap.md
Due: none

feat: Add Device::Vulkan configuration and runtime variant
  check_candle.rs
  commit_wrapper.py
  get_candle_device.rs
  test_vulkan.rs
  test_vulkan2.rs
  test_vulkan3.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add general LLM production readiness plan for BitNet-rs (#1012)
  docs/reports/GENERAL_LLM_PRODUCTION_READINESS_PLAN.md
  docs/reports/README.md
Due: none

style(gpu_utils): fix formatting to satisfy cargo fmt
  crates/bitnet-kernels/src/gpu_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: reduce ignored test count (wave 5) - enable unblocked tests
  crates/bitnet-kernels/tests/issue_462_tl_lut_tests.rs
  crates/bitnet-tokenizers/tests/tokenizer_parity.rs
  tests/support/runtime_detection_warning_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: clarify bitnet.cpp and llama.cpp backend relationship
  docs/explanation/dual-backend-crossval.md
Due: none

fix: improve model download system
  crates/bitnet-tokenizers/tests/tokenizer_comprehensive_tests.rs
  scripts/test_download.sh
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-device-probe): add property tests for new backend capabilities (#1003)
  crates/bitnet-device-probe/tests/new_backends_proptest.rs
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_capabilities_gpu_fields_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_probe_availability_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__gpu_capabilities_debug_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__vulkan_compiled_no_feature.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(bdd-grid): add Metal, Vulkan, oneAPI backend cells (#1010)
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  xtask/src/grid_check.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

transformer: add strict LayerNorm bias enforcement toggle (#1013)
  Cargo.lock
  crates/bitnet-transformer/Cargo.toml
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add initial NPU backend scaffolding for kernels, inference, and CLI (#1008)
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/score.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/npu.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/npu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Wire QK256 dispatch to canonical AVX2/scalar path and add AVX2 CI coverage (#1018)
  .github/workflows/ci-core.yml
  .github/workflows/feature-matrix.yml
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(docs): add required blank lines to fix markdownlint violations
  xtask/tests/SMOKE_TEST_DUMP_IDS.md
Due: none

fix(fmt): format assert! call to satisfy cargo fmt
  crates/bitnet-kernels/tests/issue_462_tl_lut_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add initial ROCm feature wiring across GPU crates
  Cargo.toml
  crates/bitnet-common/Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/build.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-runtime-feature-flags/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add opt-in NPU feature wiring and device probe support
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/device_probe_tests.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: add missing Ok(LayerNorm::new_no_bias) in layer_norm_with_optional_bias
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add Intel Arc GPU setup guide and update README
  COMPATIBILITY.md
  README.md
  docs/INTEL_GPU_SETUP.md
  docs/SUMMARY.md
Due: none

docs: clarify BitNet.cpp vs llama.cpp cross-validation relationship (#1026)
  docs/explanation/dual-backend-crossval.md
Due: none

feat(gpu): add initial support for Metal backend and detection (#1021)
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/gpu.rs
  crates/bitnet-kernels/src/gpu_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix: Improve Model Download System (#1027)
  crates/bitnet-tokenizers/tests/tokenizer_comprehensive_tests.rs
  scripts/test_download.sh
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Prepare the workspace for crates.io release
  Cargo.toml
  crates/bitnet-common/tests/snapshots/snapshot_tests__kernel_capabilities_cpu_avx2.snap
  crates/bitnet-compat/Cargo.toml
  crates/bitnet-ffi/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__active_profile_unit_local_supported_without_gpu.snap.new
  crates/bitnet-server/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-sys/Cargo.toml
  crates/bitnet-test-support/Cargo.toml
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-wasm/Cargo.toml
  crossval/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
  xtask/Cargo.toml
Due: none

fix(docs): resolve all markdownlint violations in crossval/xtask/third-party docs
  .markdownlint.jsonc
  THIRD_PARTY.md
  tools/crossval/README.md
  xtask/README.md
  xtask/tests/SMOKE_TEST_DUMP_IDS.md
Due: none

feat(kernels): add OpenCL C kernel sources for Intel GPU
  crates/bitnet-kernels/src/gpu/kernels/elementwise.cl
  crates/bitnet-kernels/src/gpu/kernels/matmul_i2s.cl
  crates/bitnet-kernels/src/gpu/kernels/mod.rs
  crates/bitnet-kernels/src/gpu/kernels/quantize_i2s.cl
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add opencl3 dependency and OpenCL kernel stub
  Cargo.lock
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/gpu/mod.rs
  crates/bitnet-kernels/src/gpu/opencl.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/opencl_stub_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(common): add Device::OpenCL variant for Intel GPU support
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/tests/gguf_weight_loading_mutation_killers_simple.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/execution_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: add Intel GPU CI workflows for oneapi builds
  .github/workflows/feature-matrix.yml
  .github/workflows/intel-gpu-ci.yml
  .github/workflows/intel-gpu-nightly.yml
Due: none

feat: Add Device::Vulkan configuration and runtime variant
  check_candle.rs
  commit_wrapper.py
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/tests/gguf_weight_loading_mutation_killers_simple.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/concurrency.rs
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/execution_router.rs
  crates/bitnet-server/src/lib.rs
  fix_quantizer_errors.py
  fix_tl2_test.py
  fix_unused_import.py
  fuzz/fuzz_targets/gguf_header_roundtrip.rs
  fuzz/fuzz_targets/quantization_input.rs
  fuzz/fuzz_targets/safetensors_metadata.rs
  fuzz/fuzz_targets/tokenizer_encode.rs
  fuzz/fuzz_targets/tokenizer_encode_decode.rs
  fuzz/fuzz_targets/transformer_config.rs
  get_candle_device.rs
  test_vulkan.rs
  test_vulkan2.rs
  test_vulkan3.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): implement real OpenCL KernelProvider for Intel Arc GPUs
  crates/bitnet-kernels/src/gpu/opencl.rs
  crates/bitnet-kernels/tests/opencl_stub_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(device-probe): add Intel GPU detection via OpenCL
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/device_probe_tests.rs
  crates/bitnet-device-probe/tests/new_backends_proptest.rs
  crates/bitnet-device-probe/tests/property_tests.rs
  crates/bitnet-device-probe/tests/snapshot_tests.rs
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_capabilities_gpu_fields_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_probe_availability_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__gpu_capabilities_debug_no_gpu.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
