Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs(tracking): record phase receipt merge state (#3835)
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-07T052000Z-CPU-BITNET-008-phase-receipts-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(npu): add Intel NPU runtime probe command
  crates/bitnet-cli/src/main.rs
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-07T034459Z-NPU-004-in-progress.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: consolidate security and correctness backlog (Sprint 1)
  Cargo.lock
  crates/bitnet-download-core/Cargo.toml
  crates/bitnet-download-core/src/lib.rs
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/api_gateway.rs
  crates/bitnet-kernels/src/env_bool.rs
  crates/bitnet-kernels/src/gpu/debug_layer.rs
  crates/bitnet-kernels/src/gpu_utils.rs
  crates/bitnet-kernels/src/lib.rs
  examples/integrations/actix_server.rs
  examples/web/actix_server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(wasm): consolidate output region accessibility
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

docs(tracking): record duplicate-PR consolidation campaign plan
  docs/tracking/generated/duplicate-pr-consolidation.md
Due: none

feat(npu): add Intel NPU runtime probe command (#3830)
  crates/bitnet-cli/src/main.rs
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-07T034459Z-NPU-004-in-progress.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): seed Apple M4 operational campaign
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4-operational/goal.md
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/amd-cpu-baselines/active.toml
  docs/tracking/campaigns/amd-cpu-baselines/generated/status.md
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/campaigns/ci-coverage/active.toml
  docs/tracking/campaigns/ci-coverage/generated/status.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/campaigns/crate-collapse/active.toml
  docs/tracking/campaigns/crate-collapse/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): seed Apple M4 operational campaign (#3836)
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4-operational/goal.md
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/amd-cpu-baselines/active.toml
  docs/tracking/campaigns/amd-cpu-baselines/generated/status.md
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/campaigns/ci-coverage/active.toml
  docs/tracking/campaigns/ci-coverage/generated/status.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/campaigns/crate-collapse/active.toml
  docs/tracking/campaigns/crate-collapse/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(npu): mark NPU-004 merged
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-07T054422Z-NPU-004-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(npu): mark NPU-004 merged (#3844)
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-07T054422Z-NPU-004-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix: consolidate tokenizer + BDD grid backlog (Sprints 1c, 3a, 3b)
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(logits-filters): fuse apply_typical and skip dead writes in apply_min_p
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add Apple M4 validation bundle xtask
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T061316Z-M4-OP-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/apple_m4.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Record M4-OP-001 pull request
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T063032Z-M4-OP-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(gpu-discovery): consolidate OpenCL + Vulkan device-listing (Sprint 5)
  Cargo.lock
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/runtime.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
  docs/tracking/generated/duplicate-pr-consolidation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-operational] Add validation bundle command (M4-OP-001) (#3845)
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T061316Z-M4-OP-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T063032Z-M4-OP-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/apple_m4.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Record M4-OP-001 merge
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T064746Z-M4-OP-001-merged.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-operational] Close out validation bundle (M4-OP-001) (#3847)
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T064746Z-M4-OP-001-merged.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(cuda): reuse qk256 weight handles in routed proofs
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-benchmark.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-proof.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-short-decode.json
  crates/bitnet-bench-receipts/src/bin/strict_bitnet_cuda_benchmark_receipt.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T053327Z-CUDA-BITNET-009-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark cuda bitnet 009 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T053551Z-CUDA-BITNET-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

scripts: implement tokenizer fixture generator
  scripts/generate_tokenizer_fixtures.sh
  tests/fixtures/tokenizers/README.md
Due: none

feat(cli)+test(sampling): interactive REPL real generation + repetition penalty contract tests
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-sampling/src/strategies.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ffi): cast inference seed to u64
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark sprints 1c/1d/1e/4c/3543 landed and #3431 closed
  docs/tracking/generated/duplicate-pr-consolidation.md
Due: none

docs(tracking): add KBL8250U strict proof artifacts
  ci/intel-i5-8250u/2026-05-07/cpu-phase-benchmark-receipt.json
  ci/intel-i5-8250u/2026-05-07/strict-bitnet-cpu-proof.json
  ci/intel-i5-8250u/2026-05-07/strict-cpu-proof-hardware-context.json
  docs/hardware/intel-i5-8250u-validation.md
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T053417Z-KBL8250U-004-in-progress.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T065100Z-KBL8250U-004-pr-open.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cuda): reuse QK256 handles in routed proofs (CUDA-BITNET-009) (#3837)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-benchmark.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-proof.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-06/strict-bitnet-cuda-short-decode.json
  crates/bitnet-bench-receipts/src/bin/strict_bitnet_cuda_benchmark_receipt.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T053327Z-CUDA-BITNET-009-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T053551Z-CUDA-BITNET-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark CUDA-BITNET-009 merged
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T073357Z-CUDA-BITNET-009-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): mark CUDA-BITNET-009 merged (#3850)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-07T073357Z-CUDA-BITNET-009-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-operational] Record M4-OP-002 PR open
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T071155Z-M4-OP-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-operational] Harden receipt bundle validation (M4-OP-002)
  docs/tracking/campaigns/apple-m4-operational/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-operational/active.toml
  docs/tracking/campaigns/apple-m4-operational/events/2026-05-07T070430Z-M4-OP-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-operational/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/apple_m4.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

KBL8250U-004: add strict CPU proof artifacts (#3839)
  ci/intel-i5-8250u/2026-05-07/cpu-phase-benchmark-receipt.json
  ci/intel-i5-8250u/2026-05-07/strict-bitnet-cpu-proof.json
  ci/intel-i5-8250u/2026-05-07/strict-cpu-proof-hardware-context.json
  docs/hardware/intel-i5-8250u-validation.md
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T053417Z-KBL8250U-004-in-progress.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T065100Z-KBL8250U-004-pr-open.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): mark KBL8250U-004 merged
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T074100Z-KBL8250U-004-merged.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(ffi): cast FFI seed to u64 (#3849)
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(npu): add tiny OpenVINO graph smoke command
  crates/bitnet-cli/src/main.rs
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-07T063300Z-NPU-005-in-progress.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark KBL8250U-004 merged (#3851)
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-07T074100Z-KBL8250U-004-merged.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none
