Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

LNL258V-COMPARE-007: carry blocked ask summary (#5846)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T141000Z-LNL258V-COMPARE-007-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-COMPARE-007 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T142000Z-LNL258V-COMPARE-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-COMPARE-007 closeout (#5847)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T142000Z-LNL258V-COMPARE-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(bitnet-models): remove alignment padding no-panic debt
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-VALIDATE-001 profile route policy
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T143000Z-LNL258V-VALIDATE-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-VALIDATE-001: index profile route policy (#5848)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T143000Z-LNL258V-VALIDATE-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-VALIDATE-001 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T144000Z-LNL258V-VALIDATE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-VALIDATE-001 closeout (#5849)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T144000Z-LNL258V-VALIDATE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-COMPARE-008 carry route policy
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T144500Z-LNL258V-COMPARE-008-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-COMPARE-008: carry route policy (#5850)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T144500Z-LNL258V-COMPARE-008-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-COMPARE-008 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T145000Z-LNL258V-COMPARE-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-COMPARE-008 closeout (#5851)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T145000Z-LNL258V-COMPARE-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-QUAL-012 add warm resident corpus lens
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T150500Z-LNL258V-QUAL-012-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-012: add warm resident corpus lens (#5852)
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T150500Z-LNL258V-QUAL-012-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): record first-run setup evidence
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-doctor-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-doctor.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models-after-fetch.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models-after-fetch.txt
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models.txt
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-answer-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-answer.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/microsoft-bitnet-b1.58-2B-4T-i2s-verify.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/qwen2.5-0.5b-instruct-q8_0-verify.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/summary-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/summary.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T040154Z-M4-SETUP-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-012 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T151500Z-LNL258V-QUAL-012-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-QUAL-012 closeout (#5853)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T151500Z-LNL258V-QUAL-012-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): mark setup evidence PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T041752Z-M4-SETUP-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

policy: remove stale no-panic baseline and source debt (#5842)
  crates/bitnet-models/src/formats/gguf/types.rs
  policy/no-panic-baseline.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

server: accept qwen3 dense smoke receipts
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  crates/bitnet-server/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(slm): carry inert Q8 sidecar metadata
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/dense_gguf_descriptors.rs
  crates/bitnet-models/src/dense_gguf_q8_sidecar.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/lib.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T033000Z-SLM-CPU-045-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T034500Z-SLM-CPU-045-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): record SLM-CPU-045 PR
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T034500Z-SLM-CPU-045-pr-open.toml
Due: none

test(models): satisfy sidecar no-panic policy
  crates/bitnet-models/src/dense_gguf_q8_sidecar.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(models): pin q8 sidecar payload hash
  crates/bitnet-models/src/dense_gguf_q8_sidecar.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-013 refresh warm resident quality
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-cpu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-gpu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-npu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/arithmetic_add_7_8.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/copy_exact_color_triplet.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/decode_heavy_short_list.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/instruction_single_sentence_rust.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/low_power_route_evidence_copy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/math_2_plus_2_brief.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_factual_capital_france.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_reasoning_apples_left.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/stop_token_one_word_done.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/structured_json_city_country.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/transcript_context_code_word.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/warm_resident_route_copy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/yes_no_clear_sky.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-openvino-cpu-gpu-npu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T154800Z-LNL258V-QUAL-013-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-013: refresh warm resident quality (#5855)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-cpu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-gpu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-npu-corpus-v2-diagnosis.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/arithmetic_add_7_8.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/copy_exact_color_triplet.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/decode_heavy_short_list.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/instruction_single_sentence_rust.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/low_power_route_evidence_copy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/math_2_plus_2_brief.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_factual_capital_france.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_reasoning_apples_left.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/stop_token_one_word_done.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/structured_json_city_country.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/transcript_context_code_word.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/warm_resident_route_copy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/yes_no_clear_sky.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-openvino-cpu-gpu-npu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T154800Z-LNL258V-QUAL-013-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-013 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T161000Z-LNL258V-QUAL-013-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): carry inert Q8 sidecar metadata (SLM-CPU-045) (#5845)
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/dense_gguf_descriptors.rs
  crates/bitnet-models/src/dense_gguf_q8_sidecar.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/lib.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T033000Z-SLM-CPU-045-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T034500Z-SLM-CPU-045-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-QUAL-013 closeout (#5856)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T161000Z-LNL258V-QUAL-013-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-045 merge
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T050840Z-SLM-CPU-045-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-045 merge (#5857)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T050840Z-SLM-CPU-045-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

server: accept Qwen3 dense smoke receipts (#5838)
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  crates/bitnet-server/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

LNL258V-EXCELLENCE-AUDIT-001: add Lunar Lake excellence audit
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T162500Z-LNL258V-EXCELLENCE-AUDIT-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-EXCELLENCE-AUDIT-001: record PR metadata
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T163000Z-LNL258V-EXCELLENCE-AUDIT-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

LNL258V-EXCELLENCE-AUDIT-001: add Lunar Lake excellence audit (#5858)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T162500Z-LNL258V-EXCELLENCE-AUDIT-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T163000Z-LNL258V-EXCELLENCE-AUDIT-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-EXCELLENCE-AUDIT-001 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T163500Z-LNL258V-EXCELLENCE-AUDIT-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-EXCELLENCE-AUDIT-001 closeout (#5859)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T163500Z-LNL258V-EXCELLENCE-AUDIT-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): add Q8 sidecar dispatch selector
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/dense_gguf_q8_dispatch.rs
  crates/bitnet-models/src/dense_gguf_q8_sidecar.rs
  crates/bitnet-models/src/lib.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T052300Z-SLM-CPU-046-ready.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T053200Z-SLM-CPU-046-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-SETUP-001: Record M4 first-run setup evidence (#5854)
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-doctor-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-doctor.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models-after-fetch.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models-after-fetch.txt
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-models.txt
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-answer-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-answer.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/mac-smoke-qwen2.5-0.5b-instruct-q8_0.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/microsoft-bitnet-b1.58-2B-4T-i2s-verify.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/qwen2.5-0.5b-instruct-q8_0-verify.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/summary-receipts-check.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T040154Z/setup/summary.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T040154Z-M4-SETUP-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T041752Z-M4-SETUP-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close M4 setup item
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T052817Z-M4-SETUP-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none
