Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(lunar-lake): track CPU-BITNET-REF-001 PR
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T101100Z-CPU-BITNET-REF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): refresh active PR state
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T091122Z-M3MBA-002-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T095000Z-M3MBA-003-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T100500Z-CPU-BITNET-REF-001-in-progress.toml
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda(bitnet): harden strict preflight
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor prompt chat rendering into module
  crates/bitnet-prompt-templates-core/src/chat_render/common.rs
  crates/bitnet-prompt-templates-core/src/chat_render/mod.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): add CPU-BITNET-REF-001 external boundary
  ci/hardware/intel-258v/2026-05-08/cpu-bitnet-ref-001-external-boundary.json
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T091122Z-M3MBA-002-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T095000Z-M3MBA-003-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T100500Z-CPU-BITNET-REF-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T101100Z-CPU-BITNET-REF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): mark CUDA-PROD-009 pr open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-13T101831Z-CUDA-PROD-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU-BITNET-REF-001 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T102408Z-CPU-BITNET-REF-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(m3): add M3 Air CPU NEON receipt label
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T092545Z-M3MBA-002-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T092546Z-M3MBA-003-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): record M3MBA-003 PR event
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T093121Z-M3MBA-003-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(m3): rely on main SLM-OV258V-006 closeout
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T095642Z-SLM-OV258V-006-merged.toml
Due: none

docs(lunar-lake): mark SLM-OV258V-006 merged
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T095642Z-SLM-OV258V-006-merged.toml
Due: none

fix(ci): satisfy cpu clippy badge validation
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(m3): satisfy no-panic policy for label tests
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(m3): bind strict CPU receipt backend labels
  crates/bitnet-receipts-core/src/lib.rs
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): refresh CUDA-PROD-009 blocked index
  docs/tracking/generated/blocked-items.md
Due: none

feat(m3): add M3MBA-003 Air CPU NEON receipt label
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T092545Z-M3MBA-002-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T092546Z-M3MBA-003-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T093121Z-M3MBA-003-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split generation setup helpers
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/simple_generation/backend.rs
  crates/bitnet-cli/src/simple_generation/mod.rs
  crates/bitnet-cli/src/simple_generation/tokenizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): avoid new no-panic findings
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(slm): localize qwen3 output head drift
  crates/bitnet-inference/tests/config_builder_arch_integration.rs
  crates/bitnet-inference/tests/e2e_slm_smoke.rs
  crates/bitnet-inference/tests/model_config_tests.rs
  crates/bitnet-inference/tests/qa_template_formatting_fast.rs
  crates/bitnet-models/src/formats/gguf/loader/tensor_loading.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/weight_mapper_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-weight-name-core/src/lib.rs
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T104930Z-M3MBA-003-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-13T143000Z-SLM-CPU-008S-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): mark M3MBA-003 merged
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T104930Z-M3MBA-003-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

refactor: split prompt chat rendering
  crates/bitnet-prompt-templates-core/src/chat_render/chatml.rs
  crates/bitnet-prompt-templates-core/src/chat_render/gemma.rs
  crates/bitnet-prompt-templates-core/src/chat_render/llama.rs
  crates/bitnet-prompt-templates-core/src/chat_render/mod.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

SLM-CPU-008S: localize Qwen3 output head drift (#4606)
  crates/bitnet-inference/tests/config_builder_arch_integration.rs
  crates/bitnet-inference/tests/e2e_slm_smoke.rs
  crates/bitnet-inference/tests/model_config_tests.rs
  crates/bitnet-inference/tests/qa_template_formatting_fast.rs
  crates/bitnet-models/src/formats/gguf/loader/tensor_loading.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/weight_mapper_edge_cases.rs
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-weight-name-core/src/lib.rs
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T104930Z-M3MBA-003-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-13T143000Z-SLM-CPU-008S-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(lunar-lake): add CPU-BITNET-PERF-001 I2_S microbench
  ci/hardware/intel-258v/2026-05-08/cpu-bitnet-perf-001-i2s-microbench.json
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T105237Z-CPU-BITNET-PERF-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark CPU-BITNET-PERF-001 pr open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T105800Z-CPU-BITNET-PERF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(lunar-lake): avoid panic in I2_S receipt test
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark SLM-CPU-008S merged
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-13T113303Z-SLM-CPU-008S-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

refactor: split prompt chat rendering (#4602)
  crates/bitnet-prompt-templates-core/src/chat_render/chatml.rs
  crates/bitnet-prompt-templates-core/src/chat_render/gemma.rs
  crates/bitnet-prompt-templates-core/src/chat_render/llama.rs
  crates/bitnet-prompt-templates-core/src/chat_render/mod.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(lunar-lake): add CPU-BITNET-PERF-001 I2_S microbench (#4607)
  ci/hardware/intel-258v/2026-05-08/cpu-bitnet-perf-001-i2s-microbench.json
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T105237Z-CPU-BITNET-PERF-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T105800Z-CPU-BITNET-PERF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-13T113303Z-SLM-CPU-008S-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark CPU-BITNET-PERF-001 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-13T121108Z-CPU-BITNET-PERF-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

refactor: split attention forward pipeline
  crates/bitnet-transformer/src/attention_forward.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cuda(bitnet): harden strict ask/chat preflight (#4604)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-13T101831Z-CUDA-PROD-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: align M3 roadmap with CI cap policy
  .github/workflows/policy.yml
  .github/workflows/pr-gate.yml
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/ci/cost-and-verification-policy.md
  docs/ci/learned-budgets.md
  docs/ci/pr-gate-success.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  policy/ci-budget.toml
Due: none

docs: mark CUDA-PROD-009 merged
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-13T130845Z-CUDA-PROD-009-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: mark CUDA-PROD-009 merged (#4612)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-13T130845Z-CUDA-PROD-009-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
