Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Expose BitNet warm route in Mac catalog
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-local-server-command-config.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T054621Z-M4-BITNET-WARM-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Track BitNet warm catalog PR
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T061251Z-M4-BITNET-WARM-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Expose BitNet warm route in Mac catalog (#4705)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  docs/slm/apple-m4-bitnet-proof-prep.md
  docs/slm/apple-m4-local-server-command-config.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T054621Z-M4-BITNET-WARM-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T061251Z-M4-BITNET-WARM-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm): mark SLM-CPU-008YB merged (#4704)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T055941Z-SLM-CPU-008YB-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): mark SLM-CPU-008Y ready
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out BitNet warm catalog readiness
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T062741Z-M4-BITNET-WARM-002-merged.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): mark SLM-CPU-008Y ready (#4706)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out BitNet warm catalog readiness (#4707)
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T062741Z-M4-BITNET-WARM-002-merged.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): remove stale SLM-CPU-008Y blockers
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/generated/blocked-items.md
Due: none

docs(slm): remove stale SLM-CPU-008Y blockers (#4708)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/generated/blocked-items.md
Due: none

docs(slm): align SLM-CPU-008Y campaign status
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
Due: none

fix(cpu): consume direct BitNet reference tokens
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T063650Z-CPU-BITNET-REF-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T064750Z-CPU-BITNET-REF-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): align SLM-CPU-008Y campaign status (#4709)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
Due: none

docs(cpu): mark CPU-BITNET-REF-002 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T072200Z-CPU-BITNET-REF-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): mark CPU-BITNET-REF-002 merged (#4711)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T072200Z-CPU-BITNET-REF-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda(dense): refresh CUDA-DENSE-052 Qwen short-decode proof (#4695)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-short-decode-current-source.json
  docs/reports/CUDA_DENSE_052_SHORT_DECODE_BLOCKER.md
  docs/reports/CUDA_DENSE_052_SHORT_DECODE_CURRENT_SOURCE_PROOF.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T040416Z-CUDA-DENSE-052-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T042314Z-CUDA-DENSE-052-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

feat(lunar-lake): add OpenVINO operator ask receipts
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-operator-ask-gpu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-operator-ask-npu-math-brief.json
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T080200Z-LNL258V-ASK-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T081700Z-LNL258V-ASK-004-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T073715Z-CUDA-DENSE-052-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/openvino_genai_operator_ask.py
Due: none

docs(cuda): record dense Qwen warm-session proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-warm-session-current-source.json
  docs/reports/CUDA_DENSE_053_WARM_SESSION_CURRENT_SOURCE_PROOF.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T073715Z-CUDA-DENSE-052-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T082255Z-CUDA-DENSE-053-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

docs(cuda): mark dense Qwen warm-session PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T083146Z-CUDA-DENSE-053-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

feat(lunar-lake): LNL258V-ASK-004 add OpenVINO operator ask (#4712)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-operator-ask-gpu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-openvino-operator-ask-npu-math-brief.json
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T080200Z-LNL258V-ASK-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T081700Z-LNL258V-ASK-004-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T073715Z-CUDA-DENSE-052-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/openvino_genai_operator_ask.py
Due: none

docs(lunar-lake): mark LNL258V-ASK-004 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T083601Z-LNL258V-ASK-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark LNL258V-ASK-004 merged (#4714)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T083601Z-LNL258V-ASK-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): parameterize dense Qwen proof command
  docs/reports/CUDA_DENSE_053_WARM_SESSION_CURRENT_SOURCE_PROOF.md
Due: none

cuda(dense): record CUDA-DENSE-053 Qwen warm-session proof (#4713)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-warm-session-current-source.json
  docs/reports/CUDA_DENSE_053_WARM_SESSION_CURRENT_SOURCE_PROOF.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T082255Z-CUDA-DENSE-053-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T083146Z-CUDA-DENSE-053-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

docs(cuda): close CUDA-DENSE-053 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T093854Z-CUDA-DENSE-053-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

feat(lunar-lake): record direct BitNet reference tokens
  ci/bitnet_cpp_server_token_logits.patch
  ci/hardware/intel-258v/2026-05-08/external-first-token-reference-direct.json
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification-direct.json
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T091900Z-CPU-BITNET-REF-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/bitnet_cpp_reference_boundary.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark CPU-BITNET-REF-003 open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T094000Z-CPU-BITNET-REF-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(sampling): align greedy tie property
  crates/bitnet-sampling/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(lunar-lake): CPU-BITNET-REF-003 record direct BitNet tokens (#4715)
  ci/bitnet_cpp_server_token_logits.patch
  ci/hardware/intel-258v/2026-05-08/external-first-token-reference-direct.json
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification-direct.json
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T091900Z-CPU-BITNET-REF-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T094000Z-CPU-BITNET-REF-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/bitnet_cpp_reference_boundary.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark CPU-BITNET-REF-003 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T100420Z-CPU-BITNET-REF-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU-BITNET-REF-003 merged (#4717)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T100420Z-CPU-BITNET-REF-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-053 tracker
  crates/bitnet-sampling/tests/property_tests.rs
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T093854Z-CUDA-DENSE-053-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(lunar-lake): refresh operator readiness with direct BitNet evidence
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T102500Z-LNL258V-OP-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T103400Z-LNL258V-OP-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(lunar-lake): LNL258V-OP-002 refresh operator readiness (#4718)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T102500Z-LNL258V-OP-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T103400Z-LNL258V-OP-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark LNL258V-OP-002 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T110500Z-LNL258V-OP-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda(dense): qualify Qwen benchmark receipts
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-benchmark-qualification-current-source.json
  docs/reports/CUDA_DENSE_054_BENCHMARK_QUALIFICATION_CURRENT_SOURCE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T110821Z-CUDA-DENSE-054-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

docs(lunar-lake): mark LNL258V-OP-002 merged (#4719)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T110500Z-LNL258V-OP-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): mark CUDA-DENSE-054 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T111329Z-CUDA-DENSE-054-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

cuda(dense): qualify Qwen benchmark receipts (#4720)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-benchmark-qualification-current-source.json
  docs/reports/CUDA_DENSE_054_BENCHMARK_QUALIFICATION_CURRENT_SOURCE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T110821Z-CUDA-DENSE-054-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T111329Z-CUDA-DENSE-054-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
