Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Track M4 SLM eval Tier 0 PR
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T015751Z-M4-SLM-EVAL-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Add M4 SLM eval Tier 0 CI (#4675)
  .github/workflows/apple-m4-slm-eval-tier0.yml
  docs/slm/apple-m4-slm-eval-and-proof.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T014941Z-M4-SLM-EVAL-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T015751Z-M4-SLM-EVAL-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out M4 SLM eval Tier 0 CI
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T015923Z-M4-SLM-EVAL-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cli): remove new no-panic debt
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close out M4 SLM eval Tier 0 CI (#4676)
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T015923Z-M4-SLM-EVAL-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(policy): remove unallowlisted expects from cli arg tests
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(policy): remove unallowlisted expects from cli arg tests (#4673)
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Wire M4 SLM eval report regression
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-eval-and-proof.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T020610Z-M4-SLM-EVAL-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Track M4 SLM eval regression PR
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T021434Z-M4-SLM-EVAL-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Wire M4 SLM eval report regression (#4677)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-eval-and-proof.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T020610Z-M4-SLM-EVAL-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T021434Z-M4-SLM-EVAL-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4 SLM eval proof campaign
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T021549Z-M4-SLM-EVAL-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close M4 SLM eval proof campaign (#4678)
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/active.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/events/2026-05-14T021549Z-M4-SLM-EVAL-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-eval-and-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(lunar-lake): harden operator ask receipt identity
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T002010Z-LNL258V-ASK-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T003100Z-LNL258V-ASK-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ASK-003: harden operator ask receipt identity (#4668)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-math.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T002010Z-LNL258V-ASK-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T003100Z-LNL258V-ASK-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(slm): add Qwen no-thinking prompt policy (#4669)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  docs/slm/SLM_CPU_8250U_RUNBOOK.md
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  policy/no-panic-baseline.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): define dense harness contract
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/ci/learned-budgets.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T233000Z-M3MBA-012-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T234500Z-M3MBA-012-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/ci/actuals.rs
  xtask/src/ci/estimate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(ci): avoid panic debt in learned estimate test
  xtask/src/ci/estimate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark LNL258V-ASK-003 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T022006Z-LNL258V-ASK-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close LNL258V ASK receipt identity tracker
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T024145Z-LNL258V-ASK-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close LNL258V ASK receipt identity tracker (#4681)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T024145Z-LNL258V-ASK-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): mark LNL258V-ASK-003 merged (#4682)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T022006Z-LNL258V-ASK-003-merged.toml
Due: none

test(cli): avoid panic debt in slm scoring contract
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Write BitNet mac ask failure receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T022733Z-M4-BITNET-ASK-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Mark M4 BitNet ask failure receipts PR open
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T024356Z-M4-BITNET-ASK-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Write BitNet mac ask failure receipts (#4680)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T022733Z-M4-BITNET-ASK-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T024356Z-M4-BITNET-ASK-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4 BitNet ask failure receipts tracker
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T024556Z-M4-BITNET-ASK-003-merged.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close M4 BitNet ask failure receipts tracker (#4683)
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T024556Z-M4-BITNET-ASK-003-merged.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): record dense Qwen short-decode blocker
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-14/dense-qwen25-q8-short-decode-diagnostic.json
  docs/reports/CUDA_DENSE_052_SHORT_DECODE_BLOCKER.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T021600Z-CUDA-DENSE-052-blocked.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/dense-qwen.md
Due: none

perf(cpu): record 258V BitNet embedding quant evidence
  ci/hardware/intel-258v/2026-05-08/cpu-bitnet-embd-001-q6k-embedding-evidence.json
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T030836Z-CPU-BITNET-EMBD-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark CPU-BITNET-EMBD-001 pr open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T031321Z-CPU-BITNET-EMBD-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CPU-BITNET-EMBD-001: record 258V BitNet embedding quant evidence (#4684)
  ci/hardware/intel-258v/2026-05-08/cpu-bitnet-embd-001-q6k-embedding-evidence.json
  crates/bitnet-bench-receipts/src/bin/cpu_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T030836Z-CPU-BITNET-EMBD-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T031321Z-CPU-BITNET-EMBD-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): define dense harness contract (#4658)
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/ci/learned-budgets.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T233000Z-M3MBA-012-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-13T234500Z-M3MBA-012-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/ci/actuals.rs
  xtask/src/ci/estimate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci(m3): stage dense SLM evidence lane
  .github/workflows/apple-m3-air-dense-slm.yml
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/ci/cost-and-verification-policy.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T000000Z-M3MBA-013-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(m3): record staged CI workflow PR
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T001500Z-M3MBA-013-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
Due: none

docs(lunar-lake): mark CPU-BITNET-EMBD-001 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T031527Z-CPU-BITNET-EMBD-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU-BITNET-EMBD-001 merged (#4685)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-14T031527Z-CPU-BITNET-EMBD-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Print BitNet mac ask repair guidance
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T031156Z-M4-BITNET-ASK-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Mark M4 BitNet ask repair guidance PR open
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T031839Z-M4-BITNET-ASK-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Print BitNet mac ask repair guidance (#4686)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T031156Z-M4-BITNET-ASK-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T031839Z-M4-BITNET-ASK-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4 BitNet ask repair guidance tracker
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/events/2026-05-14T032017Z-M4-BITNET-ASK-004-merged.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
