Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(cuda): add occupancy optimizer for thread block and grid dimension tuning
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/occupancy_optimizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON vectorized search and similarity operations
  crates/bitnet-kernels/src/cpu/neon_vectorized_search.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL logit processor pipeline with CPU reference
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_logit_processor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL kernel compiler with caching and specialization
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kernel_compiler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CI test failures
  ci/fixtures/qk256/bitnet32_2x64.gguf
  ci/fixtures/qk256/qk256_3x300.gguf
  ci/fixtures/qk256/qk256_4x256.gguf
  crates/bitnet-common/tests/cpu_path_edge_cases.rs
  crates/bitnet-common/tests/kernel_capabilities_edge_tests.rs
  crates/bitnet-common/tests/proptest_wave13.rs
  crates/bitnet-common/tests/proptest_wave16.rs
  crates/bitnet-models/tests/helpers/qk256_tolerance.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix bitnet-prompt-templates-core benchmark compilation
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add CHANGELOG entries for OpenCL waves 137-138
  CHANGELOG.md
Due: none

feat(kernels): add OpenCL weight compression module with CPU reference impls
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_weight_compress.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL buffer transfer management module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_buffer_transfer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add CHANGELOG entries for OpenCL waves 135-136
  CHANGELOG.md
Due: none

feat(kernels): add OpenCL GPU memory pool with arena allocation
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_mem_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON fused multiply-add operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_fma_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL tokenizer bridge module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_tokenizer_bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add quantized attention CPU kernel with SIMD
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/quantized_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA error correction (ECC) module
  crates/bitnet-kernels/src/cuda/error_correction.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA texture memory module
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/texture_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add BDD wave 8 multi-kernel pipeline tests
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/bdd_wave_8.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add SIMD-optimized layer normalization module
  crates/bitnet-kernels/src/cpu/layer_norm_simd.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add stream and event management for async GPU execution
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/stream_management.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add memory bandwidth optimization module
  crates/bitnet-kernels/src/cuda/memory_bandwidth.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL stop-sequence detector module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_stop_detector.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add SIMD-optimized paged KV cache with eviction policies
  crates/bitnet-kernels/src/cpu/kv_cache_simd.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA dynamic parallelism module
  crates/bitnet-kernels/src/cuda/dynamic_parallelism.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL model validation and sanity checking
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_model_validator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL memory bandwidth optimization for A770
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_bandwidth_opt.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL tensor concatenation and splitting operations
  crates/bitnet-kernels/src/gpu/kernels/tensor_concat.cl
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_tensor_concat.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL error taxonomy module (75 tests)
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_error_taxonomy.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add warp-level shuffle, vote, and ballot primitives
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/warp_primitives.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL sparse matrix operations module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_sparse_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add OpenCL embedding table quantization module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_embed_quant.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CI checks and snapshot files
  crates/bitnet-device-probe/tests/snapshots/snapshot_tests__device_capabilities_gpu_consistent.snap
  crates/bitnet-device-probe/tests/snapshots/snapshot_tests__device_capabilities_npu.snap
  crates/bitnet-device-probe/tests/snapshots/snapshot_tests__device_probe_summary.snap
  crates/bitnet-inference/tests/inference_integration_tests.rs
  crates/bitnet-kernels/src/opencl_async_executor.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add comprehensive inference profiling module
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_inference_profiler.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add proptest wave 25 — 58 properties for recent kernel modules
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/proptest_wave25.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add CHANGELOG entries for OpenCL waves 133-134
  CHANGELOG.md
Due: none

feat(kernels): add OpenCL sampling strategies with CPU reference implementations
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_sampling_strategies.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
