Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

ci(coverage): place workspace flag before report
  .github/workflows/coverage.yml
Due: none

ci(coverage): scope nextest to workspace
  .github/workflows/coverage.yml
Due: none

ci(coverage): widen report scope (#3411)
  .github/workflows/coverage.yml
Due: none

perf(logits-filters): eliminate intermediate Vec allocations in `apply_typical`
  .jules/bolt.md
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Make dynamic output areas accessible with role="region" and aria-labelledby
  crates/bitnet-wasm/examples/browser/index.html
Due: none

🎨 Palette: [UX improvement] Make scrollable output regions accessible and fix CI runner disk space error
  .github/workflows/gpu-ci-matrix.yml
Due: none

🎨 Palette: [UX improvement] Make scrollable output regions accessible + CI fix
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
Due: none

ci(release): pass --locked to cargo in pre-release validation
  .github/workflows/release.yml
Due: none

ci(release): restore workflow indentation
  .github/workflows/release.yml
Due: none

ci(release): fix pre-release validation clippy args (#3414)
  .github/workflows/release.yml
Due: none

fix(kernels): satisfy release clippy lints
  crates/bitnet-kernels/src/cuda/error_correction.rs
  crates/bitnet-kernels/src/cuda/memory_bandwidth.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-kernels/src/cuda/stream_management.rs
  crates/bitnet-kernels/src/cuda/texture_memory.rs
  crates/bitnet-kernels/src/cuda_graph_capture.rs
  crates/bitnet-kernels/src/cuda_memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): satisfy release pre-validation clippy lints (#3415)
  crates/bitnet-kernels/src/cuda/error_correction.rs
  crates/bitnet-kernels/src/cuda/memory_bandwidth.rs
  crates/bitnet-kernels/src/cuda/multi_head_attention.rs
  crates/bitnet-kernels/src/cuda/stream_management.rs
  crates/bitnet-kernels/src/cuda/texture_memory.rs
  crates/bitnet-kernels/src/cuda_graph_capture.rs
  crates/bitnet-kernels/src/cuda_memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Optimize apply_typical by removing intermediate vector allocations
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: improve accessibility for browser output containers
  crates/bitnet-wasm/examples/browser/index.html
Due: none

feat(security): prevent path truncation vulnerabilities via null bytes
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CI workflow by preventing out-of-disk-space errors
  .github/workflows/property-tests.yml
Due: none

feat(security): prevent path truncation vulnerabilities via null bytes
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
Due: none

test(metal): satisfy release clippy lints
  crates/bitnet-metal/tests/metal_kernel_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): satisfy release pre-validation clippy lints (#3419)
  crates/bitnet-metal/tests/metal_kernel_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): satisfy shader validation clippy lints
  crates/bitnet-metal/tests/metal_shader_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): satisfy release shader validation clippy lints (#3420)
  crates/bitnet-metal/tests/metal_shader_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(vulkan): satisfy release clippy lints
  crates/bitnet-vulkan-shaders/tests/vulkan_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(vulkan): satisfy release shader clippy lints (#3421)
  crates/bitnet-vulkan-shaders/tests/vulkan_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

🎨 Palette: [UX improvement] Make scrollable outputs keyboard accessible
  crates/bitnet-wasm/examples/browser/index.html
Due: none

test(trace): clear release approx-constant lint
  crates/bitnet-trace/tests/trace_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

🛡️ Sentinel: [CRITICAL] Fix Path Truncation vulnerability
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fuse apply_typical passes to avoid redundant ln() computations
  .jules/bolt.md
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(trace): clear release approx-constant lint (#3423)
  crates/bitnet-trace/tests/trace_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

🛡️ Sentinel: [CRITICAL] Fix Path Truncation vulnerability and fix CI Out-of-Space
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
Due: none

Fix "No space left on device" in Cargo Tests (smoke)
  .github/workflows/property-tests.yml
Due: none

test(st-tools): clear release useless-conversion lint
  crates/bitnet-st-tools/tests/st_tools_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(st-tools): clear release useless-conversion lint (#3426)
  crates/bitnet-st-tools/tests/st_tools_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

extract shared layer-index parsing into SRP core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/weight_loader.rs
  crates/bitnet-layer-index-core/Cargo.toml
  crates/bitnet-layer-index-core/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/layer_inspector.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(layer-index): satisfy clippy sliced-bytes lint
  crates/bitnet-layer-index-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract shared layer index parsing into bitnet-layer-index-core
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/weight_loader.rs
  crates/bitnet-layer-index-core/Cargo.toml
  crates/bitnet-layer-index-core/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(layer-index): satisfy clippy structured parser lint
  crates/bitnet-layer-index-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract shared layer-index parser into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/weight_loader.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-layer-index-core/Cargo.toml
  crates/bitnet-layer-index-core/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/layer_inspector.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): drop stale layer-index lock entry
  Cargo.lock
Due: none

refactor(gpu-hal): use shared http auth bearer parser
  crates/bitnet-gpu-hal/src/api_server.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: extract request routing into SRP core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-request-router-core/Cargo.toml
  crates/bitnet-request-router-core/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/request_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
