Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(opencl): GPU-accelerated batch tokenization support
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/batch_processor.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/tokenizer_gpu.rs
  crates/bitnet-opencl/tests/tokenizer_gpu_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): comprehensive GPU device capability query system
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/device_capabilities.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/device_capabilities_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): kernel compilation cache with disk persistence
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/kernel_cache.rs
  crates/bitnet-opencl/src/kernel_compiler.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/kernel_cache_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(fuzz): GPU kernel input validation fuzz targets
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gpu_buffer_sizes.rs
  fuzz/fuzz_targets/gpu_kernel_params.rs
  fuzz/fuzz_targets/gpu_tensor_shapes.rs
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): GPU inference configuration system with TOML support
  Cargo.lock
  Cargo.toml
  config/gpu_inference.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/inference_config.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/inference_config_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve non-exhaustive match arms and type mismatch from GPU merge
  Cargo.toml
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-ffi/src/config.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/multi_device.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(opencl): comprehensive kernel unit tests with proptest and snapshots
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/buffers.rs
  crates/bitnet-opencl/src/kernels.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/selector.rs
  crates/bitnet-opencl/src/workgroup.rs
  crates/bitnet-opencl/tests/kernel_unit_tests.rs
  crates/bitnet-opencl/tests/property_tests.rs
  crates/bitnet-opencl/tests/snapshot_tests.rs
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__attention_selector_decisions.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__attention_source.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__error_matmul_unavailable.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__error_qk256_bad_k.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__error_qk256_zero_k.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__error_quantize_unavailable.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__error_zero_workgroup.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__gemv_selector_decisions.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__gemv_selector_small_device.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__kernel_names.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__qk256_buffer_sizes.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__qk256_gemv_source.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__rmsnorm_selector_decisions.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__rmsnorm_source.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__workgroup_configs_default_device.snap
  crates/bitnet-opencl/tests/snapshots/snapshot_tests__workgroup_configs_small_device.snap
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): model sharding for multi-GPU inference
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/layer_partition.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/model_sharding.rs
  crates/bitnet-opencl/tests/model_sharding_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU memory profiler and allocation tracker
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/allocation_optimizer.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/memory_profiler.rs
  crates/bitnet-opencl/tests/memory_profiler_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU tensor operations library with CPU reference
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/tensor_ops.rs
  crates/bitnet-opencl/src/tensor_ops_cpu.rs
  crates/bitnet-opencl/tests/tensor_ops_proptests.rs
  crates/bitnet-opencl/tests/tensor_ops_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): comprehensive GPU error catalog with 30+ error codes
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/errors.rs
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): async GPU execution engine with pipeline parallelism
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/async_executor.rs
  crates/bitnet-opencl/src/error.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/pipeline_scheduler.rs
  crates/bitnet-opencl/tests/async_execution_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: CHANGELOG entries for waves 14-17 (#1195-#1208)
  CHANGELOG.md
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: none

perf(opencl): optimized kernel variants with vectorization and tiling
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cuda/rope.rs
  crates/bitnet-opencl/src/kernel_selector.rs
  crates/bitnet-opencl/src/kernels/attention_optimized.cl
  crates/bitnet-opencl/src/kernels/matmul_vectorized.cl
  crates/bitnet-opencl/src/kernels/mod.rs
  crates/bitnet-opencl/src/kernels/softmax_optimized.cl
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/optimization_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU inference pipeline orchestrator
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/src/execution_graph.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/memory_planner.rs
  crates/bitnet-opencl/src/pipeline.rs
  crates/bitnet-opencl/src/pipeline_builder.rs
  crates/bitnet-opencl/tests/pipeline_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): GPU quantization pipeline for I2_S, QK256, TL1, TL2
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/src/kernels/quantize_i2s.cl
  crates/bitnet-opencl/src/kernels/quantize_qk256.cl
  crates/bitnet-opencl/src/kernels/quantize_tl1.cl
  crates/bitnet-opencl/src/kernels/quantize_tl2.cl
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/quantization.rs
  crates/bitnet-opencl/tests/quantization_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(opencl): comprehensive GPU test harness with mock backend
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cuda/rope.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/reference_kernels.rs
  crates/bitnet-opencl/src/test_fixtures.rs
  crates/bitnet-opencl/src/testing.rs
  crates/bitnet-opencl/tests/cross_validation_tests.rs
  crates/bitnet-opencl/tests/gpu_smoke_test.rs
  crates/bitnet-opencl/tests/harness_tests.rs
  crates/bitnet-opencl/tests/reference_kernel_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): add GPU-accelerated speculative decoding module
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/speculative.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(server): add priority request queue with deadline scheduling
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/request_queue.rs
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(server): add A/B testing framework for GPU backends
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/ab_test.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(server): add GPU-aware rate limiting module
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/gpu_rate_limit.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): fused LayerNorm + Linear projection kernel
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/kernels/fused_layernorm_linear.cl
  crates/bitnet-opencl/src/fused_layernorm_linear.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(device-probe): add GPU hardware performance counters
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/src/perf_counters.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add optimised ternary matmul for BitNet weights
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/kernels/ternary_matmul.cl
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/ternary_matmul.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: Update roadmap with receipt infrastructure issues
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/metal_backend_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-tokenizers/tests/test_ac4_smart_download_integration.rs
  crossval/Cargo.toml
  docs/explanation/ROADMAP.md
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): add rich GPU error diagnostics module
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/src/diagnostics.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add Flash Attention kernel with O(N) memory
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/kernels/flash_attention.cl
  crates/bitnet-opencl/src/flash_attention.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(server): add GPU request router with load-aware device selection
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/gpu_router.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(models): add SafeTensors direct-to-GPU loading
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/safetensors_gpu.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(trace): add GPU kernel tracing integration with bitnet-trace
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-trace/src/gpu.rs
  crates/bitnet-trace/src/lib.rs
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: merge main, update Cargo.lock, fix Device exhaustiveness for Hip/Npu
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/multi_device.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/execution_router.rs
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-warn-once/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add PagedAttention KV cache with page sharing
  Cargo.toml
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/paged_kv.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(metal): add RoPE + attention kernels, pipeline cache, and command buffer lifecycle
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-metal/Cargo.toml
  crates/bitnet-metal/src/command.rs
  crates/bitnet-metal/src/error.rs
  crates/bitnet-metal/src/lib.rs
  crates/bitnet-metal/src/pipeline.rs
  crates/bitnet-metal/src/shader.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(server): add GPU fleet monitoring dashboard data
  Cargo.toml
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-server/src/fleet.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(tokenizers): add GPU-accelerated batch tokenization
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-tokenizers/src/gpu.rs
  crates/bitnet-tokenizers/src/lib.rs
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(gpu): add comprehensive rustdoc to OpenCL and Vulkan crates
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/p2p.rs
  crates/bitnet-opencl/src/usm.rs
  crates/bitnet-opencl/src/wasm_shim.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/lib.rs
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(rocm): add HIP C++ kernel sources with device-aware launch wrapper
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-rocm/src/error.rs
  crates/bitnet-rocm/src/kernel.rs
  crates/bitnet-rocm/src/kernels/mod.rs
  crates/bitnet-rocm/src/lib.rs
  crates/bitnet-rocm/src/memory.rs
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU memory leak detector
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/leak_detector.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu): add streaming DMA loader for GPU-accelerated GGUF loading
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-models/src/gpu_loader.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU kernel hot-reload for development
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/hot_reload.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-st-tools/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crossval/Cargo.toml
  examples/migration/cpp-to-rust-basic/after/Cargo.toml
  fuzz/Cargo.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
