Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Register Qwen 1.5B M4 model cache entry
  ci/quality/apple-m4-slm-model-breadth-qwen15-cache-registration.toml
  crates/bitnet-cli/src/model_cache.rs
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-model-breadth-candidates.md
  docs/slm/apple-m4-slm-model-breadth-rust-m4-quality.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T032915Z-M4-MODEL-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Register Qwen 1.5B M4 model cache entry (#4414)
  ci/quality/apple-m4-slm-model-breadth-qwen15-cache-registration.toml
  crates/bitnet-cli/src/model_cache.rs
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-model-breadth-candidates.md
  docs/slm/apple-m4-slm-model-breadth-rust-m4-quality.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T032915Z-M4-MODEL-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close out Qwen 1.5B cache registration
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033405Z-M4-MODEL-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out Qwen 1.5B cache registration (#4415)
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033405Z-M4-MODEL-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Update M4 dense SLM envelope for Qwen 1.5B
  docs/slm/apple-m4-local-server-command-config.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033405Z-M4-MODEL-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Update M4 dense SLM envelope for Qwen 1.5B (#4416)
  docs/slm/apple-m4-local-server-command-config.md
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033405Z-M4-MODEL-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out M4 dense SLM model breadth
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033758Z-M4-MODEL-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 dense SLM model breadth (#4417)
  docs/tracking/campaigns/apple-m4-slm-model-breadth/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-model-breadth/active.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/events/2026-05-10T033758Z-M4-MODEL-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-model-breadth/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-043: close tracker after gate merge
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T032728Z-CUDA-DENSE-043-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add dense qwen one-token proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-all-layer-plan-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-one-token-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_DENSE_044_ONE_TOKEN_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T043702Z-CUDA-DENSE-044-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-DENSE-044 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T043852Z-CUDA-DENSE-044-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): update CUDA-DENSE-044 head sha
  docs/tracking/campaigns/nvidia-5070ti/active.toml
Due: none

CUDA-DENSE-044: add dense Qwen one-token runtime proof (#4418)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-all-layer-plan-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-one-token-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_DENSE_044_ONE_TOKEN_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T043702Z-CUDA-DENSE-044-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T043852Z-CUDA-DENSE-044-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-DENSE-044 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T045751Z-CUDA-DENSE-044-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-044: close tracker after runtime proof merge (#4419)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T045751Z-CUDA-DENSE-044-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-045: add dense Qwen short-decode proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-short-decode-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_045_SHORT_DECODE_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T053149Z-CUDA-DENSE-045-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-DENSE-045: mark PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T054211Z-CUDA-DENSE-045-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-DENSE-045: add dense Qwen short-decode proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-short-decode-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_045_SHORT_DECODE_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T053149Z-CUDA-DENSE-045-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T054211Z-CUDA-DENSE-045-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-DENSE-045: close tracker after merge
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T055506Z-CUDA-DENSE-045-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-045: close tracker after short-decode proof
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T055506Z-CUDA-DENSE-045-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add dense Qwen warm-session proof
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-warm-session-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_046_WARM_SESSION_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T062800Z-CUDA-DENSE-046-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-046 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T063944Z-CUDA-DENSE-046-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add CUDA-DENSE-046 dense Qwen warm-session proof (#4422)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-qwen-warm-session-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_046_WARM_SESSION_RUNTIME_PROOF_IMPLEMENTATION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T062800Z-CUDA-DENSE-046-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T063944Z-CUDA-DENSE-046-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-046
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T065545Z-CUDA-DENSE-046-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-046 (#4423)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T065545Z-CUDA-DENSE-046-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): expose dense Qwen CUDA ask gate
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T072147Z-CUDA-UX-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): expose dense Qwen CUDA ask gate (#4424)
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T072147Z-CUDA-UX-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-UX-003
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T092556Z-CUDA-UX-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-UX-003 (#4425)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T092556Z-CUDA-UX-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(agent): clarify autonomous merge authority
  .claude/agents2/pr-finalize.md
  .claude/agents2/pr-merge-executor.md
  .claude/agents2/pr-merger.md
  .claude/agents3/integration/pr-merge-prep.md
  .claude/agents3/integration/pr-merger.md
  .claude/agents4/integration/pr-merge-prep.md
  .claude/agents4/integration/pr-merger.md
  CLAUDE.md
  docs/tracking/TRACKER_MODEL.md
Due: none

docs(agent): clarify autonomous merge authority (#4426)
  .claude/agents2/pr-finalize.md
  .claude/agents2/pr-merge-executor.md
  .claude/agents2/pr-merger.md
  .claude/agents3/integration/pr-merge-prep.md
  .claude/agents3/integration/pr-merger.md
  .claude/agents4/integration/pr-merge-prep.md
  .claude/agents4/integration/pr-merger.md
  CLAUDE.md
  docs/tracking/TRACKER_MODEL.md
Due: none

feat(cuda): expose dense Qwen CUDA chat gate
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T103447Z-CUDA-UX-004-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-UX-004 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T104636Z-CUDA-UX-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-UX-004: expose dense Qwen CUDA chat gate
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T103447Z-CUDA-UX-004-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T104636Z-CUDA-UX-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-UX-004 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T110203Z-CUDA-UX-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SERVER-001: fail closed without real server inference
  crates/bitnet-server/src/caching/request_batching.rs
  crates/bitnet-server/src/gpu_streaming.rs
  crates/bitnet-server/src/streaming.rs
  crates/bitnet-server/tests/config_builder_edge_cases.rs
  crates/bitnet-server/tests/server_config_batch_edge_cases.rs
  crates/bitnet-server/tests/server_config_edge_cases.rs
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/events/2026-05-10T111721Z-SERVER-001-in-progress.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record SERVER-001 PR
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/events/2026-05-10T113547Z-SERVER-001-pr-open.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

SERVER-001: fail closed server inference without real engine (#4429)
  crates/bitnet-server/src/caching/request_batching.rs
  crates/bitnet-server/src/gpu_streaming.rs
  crates/bitnet-server/src/streaming.rs
  crates/bitnet-server/tests/config_builder_edge_cases.rs
  crates/bitnet-server/tests/server_config_batch_edge_cases.rs
  crates/bitnet-server/tests/server_config_edge_cases.rs
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/events/2026-05-10T111721Z-SERVER-001-in-progress.toml
  docs/tracking/campaigns/server-real-inference/events/2026-05-10T113547Z-SERVER-001-pr-open.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close SERVER-001
  docs/tracking/campaigns/server-real-inference/active.toml
  docs/tracking/campaigns/server-real-inference/events/2026-05-10T114923Z-SERVER-001-merged.toml
  docs/tracking/campaigns/server-real-inference/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
