Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Expand M4 SLM quality corpus (#4297)
  ci/quality/apple-m4-slm-quality-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-dense-slm-regression.md
  docs/slm/apple-m4-slm-excellence.md
  docs/slm/apple-m4-slm-quality-determinism.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142507Z-M4-SLM-EX-007-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142719Z-M4-SLM-EX-007-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-028 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T142708Z-CUDA-DENSE-028-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): route dense attention V-mix (#4296)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_027_ATTENTION_V_MIX_PARITY.md
  docs/reports/CUDA_DENSE_028_ATTENTION_V_MIX_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T141514Z-CUDA-DENSE-028-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T142708Z-CUDA-DENSE-028-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4-SLM-EX-007
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142842Z-M4-SLM-EX-007-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-SLM-EX-007 (#4299)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142842Z-M4-SLM-EX-007-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-028
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T142849Z-CUDA-DENSE-028-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-028 (#4300)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T142849Z-CUDA-DENSE-028-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex] Fast-path tracker-only CI Core checks (#4292)
  .github/workflows/ci-core.yml
  docs/ci/cost-and-verification-policy.md
Due: none

Record M4 SLM long-session soak
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/resident-25-64.json
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/resident-50-128.json
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/summary.json
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T144344Z-M4-SLM-EX-008-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Record M4-SLM-EX-008 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T144805Z-M4-SLM-EX-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Record M4 SLM long-session soak (#4301)
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/resident-25-64.json
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/resident-50-128.json
  ci/hardware/apple-m4-mac-mini/2026-05-09/M4-SLM-EX-008/summary.json
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T144344Z-M4-SLM-EX-008-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T144805Z-M4-SLM-EX-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add dense MLP activation fixture
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-mlp-activation-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_028_ATTENTION_V_MIX_ROUTE.md
  docs/reports/CUDA_DENSE_029_MLP_ACTIVATION_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T144232Z-CUDA-DENSE-029-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4-SLM-EX-008
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145004Z-M4-SLM-EX-008-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-SLM-EX-008 (#4302)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145004Z-M4-SLM-EX-008-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add dense MLP activation fixture (#4303)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-mlp-activation-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_028_ATTENTION_V_MIX_ROUTE.md
  docs/reports/CUDA_DENSE_029_MLP_ACTIVATION_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T144232Z-CUDA-DENSE-029-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-029
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T145049Z-CUDA-DENSE-029-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-029 (#4304)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T145049Z-CUDA-DENSE-029-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Add M4 SLM local regression command
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145325Z-M4-SLM-EX-009-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Record M4-SLM-EX-009 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145510Z-M4-SLM-EX-009-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Add M4 SLM local regression command (#4305)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145325Z-M4-SLM-EX-009-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145510Z-M4-SLM-EX-009-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Close M4-SLM-EX-009
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145620Z-M4-SLM-EX-009-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-SLM-EX-009 (#4306)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145620Z-M4-SLM-EX-009-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Publish M4 mini SLM expectation envelope
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145946Z-M4-SLM-EX-010-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Record M4-SLM-EX-010 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T150009Z-M4-SLM-EX-010-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Publish M4 mini SLM expectation envelope (#4307)
  docs/slm/apple-m4-mini-user-expectation-envelope.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T145946Z-M4-SLM-EX-010-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T150009Z-M4-SLM-EX-010-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(models): remove gguf loader identity shift
  crates/bitnet-models/src/formats/gguf/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close apple-m4-slm-excellence
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T150200Z-M4-SLM-EX-010-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close apple-m4-slm-excellence (#4308)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T150200Z-M4-SLM-EX-010-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close apple-m4-dense-slm-regression
  docs/tracking/campaigns/apple-m4-dense-slm-regression/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/active.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/events/2026-05-09T150430Z-M4-SLM-REG-closeout.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/generated/status.md
Due: none

Close apple-m4-dense-slm-regression (#4309)
  docs/tracking/campaigns/apple-m4-dense-slm-regression/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/active.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/events/2026-05-09T150430Z-M4-SLM-REG-closeout.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/generated/status.md
Due: none

feat(cuda): add dense MLP activation parity
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-mlp-activation-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/activations.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_029_MLP_ACTIVATION_FIXTURE.md
  docs/reports/CUDA_DENSE_030_MLP_ACTIVATION_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T151119Z-CUDA-DENSE-030-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(models): remove GGUF loader identity shift (#4298)
  crates/bitnet-models/src/formats/gguf/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(models): remove identity shift in gguf loader
  crates/bitnet-models/src/formats/gguf/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add dense MLP activation parity (#4310)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-mlp-activation-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/activations.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_029_MLP_ACTIVATION_FIXTURE.md
  docs/reports/CUDA_DENSE_030_MLP_ACTIVATION_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T151119Z-CUDA-DENSE-030-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-030 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T160713Z-CUDA-DENSE-030-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-020 pr open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T141905Z-CPU258V-020-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

chore(cpu258v): refresh first-token divergence artifacts
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification.json
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
Due: none

feat(cpu258v): classify first-token divergence boundary
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification.json
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(cli): tighten first-token divergence summaries
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification.json
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-DENSE-030 tracker (#4312)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T160713Z-CUDA-DENSE-030-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
