Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(m3): synthesize dense SLM evidence
  docs/reports/apple-silicon-macbook-m3-air-slm-synthesis.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T105700Z-M3MBA-009-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T110400Z-M3MBA-009-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

models(qwen3): add CUDA all-layer route plan
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-cuda-all-layer-plan.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-receipts-core/src/lib.rs
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T105308Z-CUDA-MODEL-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add M4 BitNet eval report schema (#4899)
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-bitnet-eval-and-benchmark.md
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/events/2026-05-15T104840Z-M4-BITNET-EVAL-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tracking(cuda): mark CUDA-MODEL-003 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T110219Z-CUDA-MODEL-003-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

test(apple-m4): avoid panic in bitnet eval schema test
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix M4 BitNet eval schema no-panic policy (#4904)
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): mark BitNet eval schema merged
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/events/2026-05-15T111235Z-M4-BITNET-EVAL-002-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Mark M4 BitNet eval schema merged (#4905)
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/active.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/events/2026-05-15T111235Z-M4-BITNET-EVAL-002-merged.toml
  docs/tracking/campaigns/apple-m4-bitnet-eval-and-benchmark/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): record stock reference all-logits availability
  xtask/src/bitnet_reference_all_logits.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(slm): avoid output-head zero bias allocation (#4900)
  crates/bitnet-transformer/src/lib.rs
  docs/slm/SLM_CPU_QWEN3_WARM_SESSION.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(qwen3): avoid all-layer panic debt
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): sync SLM-CPU-014 merge
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T112737Z-SLM-CPU-014-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): plan reference first-token logit instrumentation
  ci/reference-instrumentation/README.md
  ci/reference-instrumentation/bitnet-rs-first-token-logits-main.patch
  xtask/src/bitnet_reference_instrumentation.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): sync SLM-CPU-014 merge (#4907)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T112737Z-SLM-CPU-014-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m3): close dense SLM synthesis tracker
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T113227Z-M3MBA-009-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): run reference logit instrumentation
  xtask/src/bitnet_reference_instrumentation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

models(qwen3): add CUDA all-layer route plan (#4903)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-15/qwen3-0_6b-cuda-all-layer-plan.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-receipts-core/src/lib.rs
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T105308Z-CUDA-MODEL-003-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T110219Z-CUDA-MODEL-003-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): compare reference raw logits
  xtask/src/bitnet_reference_compare.rs
  xtask/src/bitnet_reference_instrumentation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): add Qwen3 thread timing envelope
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-thread-timing-envelope-validation.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-thread-timing-envelope.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8.json
  docs/slm/SLM_CPU_QWEN3_WARM_SESSION.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T120500Z-SLM-CPU-015-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): plan reference hidden-state capture
  xtask/src/bitnet_reference_hidden_state.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): block 0.7B 1bitLLM preflight
  ci/hardware/apple-silicon-macbook/2026-05-15/m3-air/1bitllm-07b-preflight.json
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/reports/apple-silicon-macbook-m3-air-1bitllm-07b.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-15T121954Z-M3MBA-006-blocked.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): run reference hidden-state instrumentation
  .gitattributes
  ci/reference-instrumentation/bitnet-rs-first-token-hidden-state-main.patch
  xtask/src/bitnet_reference_compare.rs
  xtask/src/bitnet_reference_hidden_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): add SLM-CPU-015 Qwen3 thread timing envelope (#4911)
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-thread-timing-envelope-validation.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-thread-timing-envelope.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-1.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-2.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-4.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/01-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/02-answer-yes-or-no-is-water-wet.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/03-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/04-repeat-exactly-red-blue-green.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/05-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8-prompts/06-capital-of-france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-15/qwen3-warm-session-threads-8.json
  docs/slm/SLM_CPU_QWEN3_WARM_SESSION.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T120500Z-SLM-CPU-015-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): mark SLM-CPU-015 merged
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T130100Z-SLM-CPU-015-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-MODEL-003 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T124336Z-CUDA-MODEL-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): mark SLM-CPU-015 merged (#4916)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T130100Z-SLM-CPU-015-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): compare full hidden-state vectors
  crates/bitnet-cli/src/main.rs
  xtask/src/bitnet_reference_compare.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): add SLM-CPU-016 operator profile item
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T131500Z-SLM-CPU-016-ready.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T132000Z-SLM-CPU-016-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): add SLM-CPU-016 operator profile item (#4918)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T131500Z-SLM-CPU-016-ready.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-15T132000Z-SLM-CPU-016-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): keep SLM-CPU-016 ready after setup
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

ci: avoid cancelling selected proof lanes
  .github/workflows/campaign-tracker.yml
  .github/workflows/ci-core.yml
  .github/workflows/docs-automation.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/pr-gate.yml
  .github/workflows/ripr-pr-evidence.yml
Due: none

docs(slm): normalize operator profile tracker state (#4920)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-MODEL-003 tracker (#4917)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-15T124336Z-CUDA-MODEL-003-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): plan reference layer trace capture
  xtask/src/bitnet_reference_layer_trace.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: avoid cancelling selected proof lanes (#4921)
  .github/workflows/campaign-tracker.yml
  .github/workflows/ci-core.yml
  .github/workflows/docs-automation.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/pr-gate.yml
  .github/workflows/ripr-pr-evidence.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
