Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

M4-CLAIM-LINT-001: add M4 claim-boundary lint (#6190)
  crates/bitnet-cli/src/mac.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T094002Z-M4-CLAIM-LINT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T094633Z-M4-CLAIM-LINT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  xtask/src/claim_lint.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close out M4 claim lint tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T101349Z-M4-CLAIM-LINT-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): refresh current-main audit 026 (#309)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T095340Z-LNL258V-GOAL-AUDIT-026-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T095949Z-LNL258V-GOAL-AUDIT-026-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 claim lint tracker (#6191)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T101349Z-M4-CLAIM-LINT-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Add M4 release go-no-go matrix
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/slm/apple-m4-release-go-no-go.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T103514Z-M4-RELEASE-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T104017Z-M4-RELEASE-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): close audit 026 tracker (#315)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T102730Z-LNL258V-GOAL-AUDIT-026-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-RELEASE-001: Add M4 release go/no-go matrix (#6192)
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/slm/apple-m4-release-go-no-go.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T103514Z-M4-RELEASE-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T104017Z-M4-RELEASE-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out M4 release gate tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T105547Z-M4-RELEASE-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(cuda): trace Qwen3 prefill frontier (#313)
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity/mod.rs
  crates/bitnet-transformer/src/attention_forward.rs
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017G_QWEN3_PREFILL_FRONTIER_TRACE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-RELEASE-001: Close out release gate tracker (#6193)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T105547Z-M4-RELEASE-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Select next M4 Metal phase target
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-metal-ex-phase-choice.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T110859Z-M4-METAL-EX-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T111252Z-M4-METAL-EX-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(a770): add A770-024 seeded answer readiness contract (#314)
  ci/quality/a770-bitnet-answer-readiness-corpus.yaml
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T095504Z-A770-024-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T100018Z-A770-024-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-METAL-EX-001: Select next M4 Metal phase target (#6194)
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-metal-ex-phase-choice.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T110859Z-M4-METAL-EX-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T111252Z-M4-METAL-EX-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out M4 Metal phase choice tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T112718Z-M4-METAL-EX-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): refresh current-main audit 027 (#316)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T105605Z-LNL258V-GOAL-AUDIT-027-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T110325Z-LNL258V-GOAL-AUDIT-027-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close audit 027 tracker (#321)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T113350Z-LNL258V-GOAL-AUDIT-027-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-METAL-EX-001: Close out phase choice tracker (#6195)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T112718Z-M4-METAL-EX-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(a770): close A770-024 tracker (#319)
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T111759Z-A770-024-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(a770): score A770-024 yes-no corpus cases (#320)
  ci/quality/a770-bitnet-answer-readiness-corpus.yaml
Due: none

diag(cuda): trace Qwen3 embedding gather frontier (#322)
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017H_QWEN3_EMBED_FRONTIER_TRACE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(a770): record A770-024 corpus scoring closeout
  docs/tracking/campaigns/intel-a770/events/2026-05-22T121532Z-A770-024-corpus-scoring-closeout.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(cuda): bypass Qwen3 single-token embed gather (#326)
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_tests.rs
  docs/reports/CUDA_MODEL_017I_QWEN3_SINGLE_TOKEN_EMBED_NARROW.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(repo): finalize swarm development authority (#327)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  README.md
  docs/development/SWARM_DEVELOPMENT_AUTHORITY.md
  docs/development/SWARM_HISTORY_REPAIR.md
  docs/release/PROMOTE_TO_BITNET_RS.md
  docs/tracking/LANE_OWNERSHIP.md
  docs/tracking/TRACKER_MODEL.md
Due: none

diag(cuda): trace Qwen3 attention norm frontier (#328)
  crates/bitnet-transformer/src/lib.rs
  docs/reports/CUDA_MODEL_017J_QWEN3_ATTENTION_NORM_FRONTIER_TRACE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): refresh current-main audit 028 (#323)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T114713Z-LNL258V-GOAL-AUDIT-028-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T115142Z-LNL258V-GOAL-AUDIT-028-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close audit 028 tracker (#330)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-22T133856Z-LNL258V-GOAL-AUDIT-028-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-METAL-EX-002: add attention score phase parity
  ci/hardware/apple-m4-mac-mini/2026-05-22/slm-metal-phases/metal-dense-prefill-attention-scores.json
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/metal/dense_prefill_attention_scores.rs
  crates/bitnet-kernels/src/metal/mod.rs
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_attention_scores_phase.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T122527Z-M4-METAL-EX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

M4-METAL-EX-002: record PR open tracker state
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T134909Z-M4-METAL-EX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(cuda): isolate Qwen3 RMSNorm square frontier (#331)
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_tests.rs
  docs/reports/CUDA_MODEL_017K_QWEN3_RMSNORM_SQUARE_FRONTIER.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(a770): close A770-025 tracker
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T140319Z-A770-025-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm-cpu): refresh Kaby performance dashboard (#332)
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T135313Z-SLM-CPU-080-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T135733Z-SLM-CPU-080-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

M4-METAL-EX-002: remove panic-family debt
  crates/bitnet-kernels/src/metal/dense_prefill_attention_scores.rs
  crates/bitnet-kernels/tests/metal_attention_scores_phase.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm-cpu): close dashboard refresh tracker (#334)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-22T142419Z-SLM-CPU-080-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-METAL-EX-002: Add attention-score phase parity (#6196)
  ci/hardware/apple-m4-mac-mini/2026-05-22/slm-metal-phases/metal-dense-prefill-attention-scores.json
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/metal/dense_prefill_attention_scores.rs
  crates/bitnet-kernels/src/metal/mod.rs
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_attention_scores_phase.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T122527Z-M4-METAL-EX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T134909Z-M4-METAL-EX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

M4-METAL-EX-002: record merged tracker state
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T144632Z-M4-METAL-EX-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(a770): classify answer readiness failures (#336)
  docs/reports/A770_026_ANSWER_READINESS_FAILURE_FRONTIER.md
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T141634Z-A770-026-in-progress.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T143254Z-A770-026-pr-open.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-METAL-EX-002: Record merged tracker state (#6197)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-22T144632Z-M4-METAL-EX-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(a770): close answer readiness frontier tracker (#339)
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/2026-05-22T145059Z-A770-026-merged.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(cuda): bypass Qwen3 RMSNorm with fused op (#335)
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_tests.rs
  docs/reports/CUDA_MODEL_017L_QWEN3_RMSNORM_FUSED_OP.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
