Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

feat(cuda): add embedding lookup kernel scaffold (#1319)
  crates/bitnet-kernels/src/cuda/embedding.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update README, CLAUDE.md, CHANGELOG for Wave 12 (35 templates, 30+ families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

nix(gpu): extend flake for GPU backend development (#1203)
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/nix_integration_tests.rs
  docs/NIX_GPU_SETUP.md
  flake.nix
  nix/gpu-overlay.nix
  nix/gpu-shell.nix
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

bench(gpu): cross-backend benchmark comparison suite (#1214)
  Cargo.lock
  Cargo.toml
  benches/gpu_kernels.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/benchmark_utils.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/benchmark_utils_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(crossval): expand cross-validation framework for improved parity testing (#1368)
  crossval/src/expanded.rs
  crossval/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(quantization): add error metrics, format detection, and mixed-precision support (#1375)
  crates/bitnet-quantization/src/format_detection.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/mixed_precision.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-quantization/src/quant_metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: add wave 4 fuzz targets (7 new targets) (#1322)
  .github/workflows/fuzz-ci.yml
  .github/workflows/nightly-fuzz.yml
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/attention_mask_gen.rs
  fuzz/fuzz_targets/cli_config_parse.rs
  fuzz/fuzz_targets/gguf_metadata_validate.rs
  fuzz/fuzz_targets/gpu_hal_types.rs
  fuzz/fuzz_targets/kv_cache_eviction.rs
  fuzz/fuzz_targets/quantization_config_validate.rs
  fuzz/fuzz_targets/server_request_parse.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add TinyLlama, Dolphin, and ChatGPT prompt templates (38 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__chatgpt_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__chatgpt_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__chatgpt_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dolphin_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dolphin_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dolphin_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__tinyllama_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__tinyllama_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__tinyllama_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add embedding lookup kernel scaffold (#1354)
  crates/bitnet-kernels/src/cuda/embedding.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix workspace crates to be publishable to crates.io (#1384)
  crates/bitnet-common/Cargo.toml
  crates/bitnet-inference/tests/ac10_error_handling_robustness.rs
  crates/bitnet-inference/tests/ac1_quantized_linear_layers.rs
  crates/bitnet-inference/tests/ac2_multi_head_attention.rs
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/ac4_cross_validation_accuracy.rs
  crates/bitnet-inference/tests/ac5_performance_targets.rs
  crates/bitnet-inference/tests/ac7_deterministic_inference.rs
  crates/bitnet-inference/tests/ac8_mock_implementation_replacement.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-inference/tests/async_runtime_tests.rs
  crates/bitnet-inference/tests/batch_prefill.rs
  crates/bitnet-inference/tests/batch_tests.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/integration_tests.rs
  crates/bitnet-inference/tests/issue_254_ac1_quantized_linear_no_fp32_staging.rs
  crates/bitnet-inference/tests/issue_254_ac2_attention_real_qkvo_rope_gqa.rs
  crates/bitnet-inference/tests/issue_254_ac3_deterministic_generation.rs
  crates/bitnet-inference/tests/issue_254_ac4_receipt_generation.rs
  crates/bitnet-inference/tests/issue_254_ac6_determinism_integration.rs
  crates/bitnet-inference/tests/issue_254_ac7_kv_cache_parity.rs
  crates/bitnet-inference/tests/issue_462_cpu_forward_tests.rs
  crates/bitnet-inference/tests/logits_greedy_smoke.rs
  crates/bitnet-inference/tests/neural_network_integration.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-inference/tests/performance_tests.rs
  crates/bitnet-inference/tests/performance_tracking_tests.rs
  crates/bitnet-inference/tests/qk256_dispatch.rs
  crates/bitnet-inference/tests/simple_real_inference.rs
  crates/bitnet-inference/tests/simple_tests.rs
  crates/bitnet-inference/tests/strict_mode_runtime_guards.rs
  crates/bitnet-inference/tests/template_comparison.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-inference/tests/test_real_vs_mock_comparison.rs
  crates/bitnet-inference/tests/unit_tests.rs
  crates/bitnet-sys/Cargo.toml
  xtask-build-helper/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor: extract shared ChatML helpers to reduce code duplication
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): multi-model serving with slot management
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/multi_model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add Mixtral, StableLM, and Bloom prompt templates (41 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__bloom_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__bloom_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__bloom_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mixtral_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mixtral_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mixtral_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__stablelm_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__stablelm_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__stablelm_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: add Jamba, Persimmon, and XVERSE prompt templates (44 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__jamba_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__jamba_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__jamba_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__persimmon_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__persimmon_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__persimmon_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__xverse_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__xverse_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__xverse_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add comprehensive inference pipeline integration tests (#1385)
  tests/Cargo.toml
  tests/integration/inference_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: add Qwen2.5, Mistral Nemo, and Arctic prompt templates (47 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__arctic_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__arctic_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__arctic_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mistral_nemo_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mistral_nemo_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__mistral_nemo_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__qwen25_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__qwen25_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__qwen25_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update documentation
  .githooks/pre-commit
  docs/README.md
  docs/adr/0002-gpu-backend-strategy.md
  docs/adr/README.md
Due: none

docs: update README, CLAUDE.md, CHANGELOG for Wave 13 (47 templates, 40+ families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

feat: add all_variants() API and DBRX, EXAONE, MiniCPM templates (50 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dbrx_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dbrx_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__dbrx_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__exaone_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__exaone_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__exaone_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__minicpm_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__minicpm_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__minicpm_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update README, CLAUDE.md, CHANGELOG for Wave 14 (50 templates, 45+ families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

feat: add CodeGemma, Llama 3.1, and DeepSeek V3 prompt templates (53 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codegemma_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codegemma_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codegemma_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseekv3_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseekv3_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseekv3_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama31_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama31_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama31_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update README, CLAUDE.md, CHANGELOG with 53 templates (48+ families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

fix: redact machine-dependent SIMD level in device_probe snapshot
  crates/bitnet-device-probe/tests/snapshot_tests.rs
  crates/bitnet-device-probe/tests/snapshots/snapshot_tests__device_probe_summary.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update CHANGELOG for waves 61-62 (PRs #1421-#1434)
  CHANGELOG.md
Due: none

feat(cpu): add AVX2-optimized SIMD math operations
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/simd_math.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add model warm-up engine
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/model_warmup.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(common): add tensor shape validation and broadcasting utilities
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(models): add model configuration parser with validation and memory estimation
  crates/bitnet-models/src/config.rs
  crates/bitnet-models/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add RoPE kernel with CPU fallback and comprehensive tests
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rope.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(inference): add batch inference engine
  crates/bitnet-inference/src/batch.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
