Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

[codex][apple-m4-slm-answer] Close out SLM Metal phase decision (SLM-M4-007)
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T044205Z-SLM-M4-007-merged.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cli): validate BitNet CPU reference divergence artifacts
  crates/bitnet-cli/src/commands/reference_compare.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark CPU-ANSWER-003 PR open
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T044200Z-CPU-ANSWER-003-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cli): validate BitNet CPU reference divergence artifacts (#3993)
  crates/bitnet-cli/src/commands/reference_compare.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T044200Z-CPU-ANSWER-003-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): sync CPU-ANSWER-003 merge
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T045200Z-CPU-ANSWER-003-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): sync CPU-ANSWER-003 merge (#3994)
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T045200Z-CPU-ANSWER-003-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cpu): align BitNet answer corpus template
  ci/quality/bitnet-answer-corpus.yaml
  crates/bitnet-prompt-templates-core/src/lib.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T051000Z-CPU-ANSWER-004-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): align BitNet answer corpus template (#3995)
  ci/quality/bitnet-answer-corpus.yaml
  crates/bitnet-prompt-templates-core/src/lib.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T051000Z-CPU-ANSWER-004-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cpu): align BitNet prompt parity with reference
  ci/quality/bitnet-reference-answer-corpus.yaml
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/commands/reference_compare.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_validation_tests.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-cli/tests/property_tests.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T050728Z-CPU-ANSWER-004-in-progress.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): sync CPU-ANSWER-004 merge
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T051400Z-CPU-ANSWER-004-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): sync CPU-ANSWER-004 merge (#3996)
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T051400Z-CPU-ANSWER-004-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cli): align ask prompt receipts with BitNet.cpp authority
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_validation_tests.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-cli/tests/property_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/snapshot_tests__help_prompt_template_section.snap
  crates/bitnet-prompt-templates-core/src/lib.rs
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli): align ask prompt receipts with BitNet.cpp authority (#3998)
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_validation_tests.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-cli/tests/property_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/snapshot_tests__help_prompt_template_section.snap
  crates/bitnet-prompt-templates-core/src/lib.rs
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): record CPU phase evidence blocker
  ci/hardware/intel-258v/2026-05-08/cpu-phase-evidence-attempts.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062900Z-CPU258V-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): record CPU phase evidence blocker (#3999)
  ci/hardware/intel-258v/2026-05-08/cpu-phase-evidence-attempts.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062900Z-CPU258V-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-005 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T055500Z-CPU258V-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T055629Z-CPU258V-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-005 merged (#4000)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T055500Z-CPU258V-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T055629Z-CPU258V-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cpu): add 258v warm phase runner
  ci/hardware/intel-258v/README.md
  crates/bitnet-bench-receipts/src/bin/cpu_phase_benchmark_receipt.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062225Z-CPU258V-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add 258V warm phase runner (#4001)
  ci/hardware/intel-258v/README.md
  crates/bitnet-bench-receipts/src/bin/cpu_phase_benchmark_receipt.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062225Z-CPU258V-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): mark CPU258V-006 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062428Z-CPU258V-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-006 merged (#4002)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T062428Z-CPU258V-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cpu): record external llama bpe tokenizer authority
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T064000Z-CPU-ANSWER-005-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cpu): record external llama bpe tokenizer authority (#4003)
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T064000Z-CPU-ANSWER-005-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): sync CPU-ANSWER-005 merge
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T064500Z-CPU-ANSWER-005-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): sync CPU-ANSWER-005 merge (#4004)
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T064500Z-CPU-ANSWER-005-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): record 258v answer template timeout
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T070707Z-CPU258V-007-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T070824Z-CPU258V-007-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): record 258V answer template timeout (#4006)
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T070707Z-CPU258V-007-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T070824Z-CPU258V-007-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-007 merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T071023Z-CPU258V-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): mark CPU258V-007 merged (#4007)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T071023Z-CPU258V-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cpu258v): add answer corpus case filter
  ci/hardware/intel-258v/README.md
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T071910Z-CPU258V-008-ready.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cpu258v): mark answer case filter pr open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T072300Z-CPU258V-008-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cpu258v): add answer-corpus case filter (#4008)
  ci/hardware/intel-258v/README.md
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T071910Z-CPU258V-008-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T072300Z-CPU258V-008-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cpu258v): mark answer case filter merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T072640Z-CPU258V-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu258v): mark CPU258V-008 merged (#4009)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T072640Z-CPU258V-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu258v): record single-case answer timeout
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T073609Z-CPU258V-009-ready.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu258v): mark single-case answer pr open
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T073902Z-CPU258V-009-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu258v): record single-case answer timeout (#4010)
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-math_2_plus_2.json
  ci/hardware/intel-258v/README.md
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T073609Z-CPU258V-009-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T073902Z-CPU258V-009-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu258v): mark single-case answer merged
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T074110Z-CPU258V-009-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu258v): mark CPU258V-009 merged (#4011)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T074110Z-CPU258V-009-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): prepare CPU-ANSWER-006 reference artifact
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-08T071500Z-CPU-ANSWER-006-pr-open.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T070707Z-CPU258V-007-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T071910Z-CPU258V-008-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T073609Z-CPU258V-009-ready.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
