Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

LNL258V-QUAL-005: normalize Qwen corpus gates (#5124)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/arithmetic_add_7_8.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/copy_exact_color_triplet.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/decode_heavy_short_list.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/instruction_single_sentence_rust.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/long_prompt_summary_route_policy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/math_2_plus_2_brief.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_factual_capital_france.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_reasoning_heavier_object.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/stop_token_one_word_done.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/structured_json_city_country.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/transcript_context_code_word.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/yes_no_clear_sky.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T123500Z-LNL258V-QUAL-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T124000Z-LNL258V-QUAL-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize layer1 input source drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close LNL258V-QUAL-005
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T144607Z-LNL258V-QUAL-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test: avoid panic debt in SmolLM2 comparator fixtures
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tracking: refresh SLM-CPU-022 head
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T144900Z-SLM-CPU-022-pr-refresh.toml
Due: none

docs(lunar-lake): close LNL258V-QUAL-005 (#5143)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T144607Z-LNL258V-QUAL-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-ACCURACY-004: Publish M4 dense task-family pass rates (#5141)
  ci/hardware/apple-m4-mac-mini/2026-05-16T0240Z/slm-eval-v2/task-family-pass-rates.json
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T142821Z-M4-ACCURACY-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T143145Z-M4-ACCURACY-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): close dense task-family pass rates
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T150513Z-M4-ACCURACY-004-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): report layer0 FFN history drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report layer0 prefix token drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-ACCURACY-004: Close dense task-family pass rates (#5145)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T150513Z-M4-ACCURACY-004-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): mark qual 006 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T161000Z-LNL258V-QUAL-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): tighten qwen corpus v2 contracts
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/arithmetic_add_7_8.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/copy_exact_color_triplet.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/decode_heavy_short_list.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/instruction_single_sentence_rust.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/long_prompt_summary_route_policy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/math_2_plus_2_brief.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_factual_capital_france.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_reasoning_apples_left.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/stop_token_one_word_done.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/structured_json_city_country.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/transcript_context_code_word.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/yes_no_clear_sky.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T160800Z-LNL258V-QUAL-006-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): refresh qual 006 head sha
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T161000Z-LNL258V-QUAL-006-pr-open.toml
Due: none

diag(bitnet): compare layer0 current history consistency
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): add inference excellence tracker gaps
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

LNL258V-QUAL-006: tighten Qwen corpus-v2 contracts (#5149)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/arithmetic_add_7_8.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/copy_exact_color_triplet.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/decode_heavy_short_list.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/instruction_single_sentence_rust.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/long_prompt_summary_route_policy.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/math_2_plus_2_brief.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_factual_capital_france.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/short_reasoning_apples_left.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/stop_token_one_word_done.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/structured_json_city_country.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/transcript_context_code_word.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2-runs/yes_no_clear_sky.json
  ci/hardware/intel-258v/2026-05-08/slm-answer-corpus-qwen25-cpu-corpus-v2.json
  ci/hardware/intel-258v/2026-05-08/slm-qwen25-cpu-corpus-v2-diagnosis.json
  ci/quality/lunar-lake-answer-corpus-v2.yaml
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T160800Z-LNL258V-QUAL-006-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T161000Z-LNL258V-QUAL-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4 tracker: add inference excellence gap items (#5151)
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(lunar-lake): close LNL258V-QUAL-006
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T154504Z-LNL258V-QUAL-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli: align M3 Air device help
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_models_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_receipts_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_coverage_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_fetch_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_list_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_prune_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_verify_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/snapshot_wave10__cli_config_validate_invalid_device_error.snap
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T100305Z-M3MBA-017-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T152545Z-M3MBA-017-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M3MBA-017: align M3 Air device help (#5148)
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_models_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_receipts_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_coverage_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_fetch_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_list_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_prune_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__model_verify_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/snapshot_wave10__cli_config_validate_invalid_device_error.snap
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T100305Z-M3MBA-017-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T152545Z-M3MBA-017-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close M3MBA-017 tracker
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T155139Z-M3MBA-017-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M3MBA-017 tracker (#5153)
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-16T155139Z-M3MBA-017-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close LNL258V-QUAL-006 (#5152)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-16T154504Z-LNL258V-QUAL-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SLM-CPU-022: define SmolLM2 reference comparator
  ci/model-artifacts/model-coverage-matrix.toml
  ci/slm-cpu/windows-9950x3d-rtx5070ti/2026-05-16/smollm2-360m-reference-comparator-contract.json
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/slm/SLM_CPU_SMOLLM2_360M_SANITY.md
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T141801Z-SLM-CPU-022-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T142700Z-SLM-CPU-022-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T144900Z-SLM-CPU-022-pr-refresh.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/cuda-5070ti-productization/implementation-plan.md
  plans/cuda-5070ti-productization/small-llm-candidates.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): make full prefix trace limits explicit
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-trace/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close SLM-CPU-022 tracker
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-16T155644Z-SLM-CPU-022-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): report layer0 prefix drift frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-ACCURACY-005: add dense failure categories
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T155135Z-M4-ACCURACY-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): mark M4-ACCURACY-005 PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T155447Z-M4-ACCURACY-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): refresh M4-ACCURACY-005 PR head
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T155447Z-M4-ACCURACY-005-pr-open.toml
Due: none

docs: add CUDA capability matrix
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/status/README.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-16T162000Z-CUDA-STATUS-001-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: mark CUDA status PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-16T163300Z-CUDA-STATUS-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): report layer0 prefix token stage deltas
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: refresh CUDA status PR event
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-16T163300Z-CUDA-STATUS-001-pr-open.toml
Due: none

docs: note CUDA status PR label
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-16T163300Z-CUDA-STATUS-001-pr-open.toml
Due: none

docs: keep CUDA status tracker in progress
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-16T163300Z-CUDA-STATUS-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): report layer0 prefix FFN norm boundary
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-ACCURACY-005: Add dense SLM failure categories (#5154)
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-slm-eval-v2.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T155135Z-M4-ACCURACY-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-16T155447Z-M4-ACCURACY-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
