Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs: update CHANGELOG for merged PRs #1049–#1138
  CHANGELOG.md
Due: none

refactor: centralize architecture defaults in ArchitectureRegistry
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-common/src/config.rs
  crates/bitnet-common/src/lib.rs
  crates/bitnet-models/src/loader.rs
  crates/bitnet-models/src/production_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu): add GpuConfig TOML-based configuration management
  Cargo.lock
  Cargo.toml
  crates/bitnet-common/src/gpu_config.rs
  crates/bitnet-common/src/lib.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(bench): add end-to-end GPU inference benchmark
  Cargo.lock
  Cargo.toml
  benches/gpu_e2e.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(vulkan): add full GLSL compute kernel suite with registry
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/kernels/attention.comp
  crates/bitnet-vulkan/src/kernels/embedding.comp
  crates/bitnet-vulkan/src/kernels/mod.rs
  crates/bitnet-vulkan/src/kernels/rmsnorm.comp
  crates/bitnet-vulkan/src/kernels/rope.comp
  crates/bitnet-vulkan/src/kernels/silu.comp
  crates/bitnet-vulkan/src/kernels/softmax.comp
  crates/bitnet-vulkan/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU kernel hot-reload for development
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/hot_reload.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu): add streaming DMA loader for GPU-accelerated GGUF loading
  Cargo.lock
  Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-models/src/gpu_loader.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add DeepSeek architecture support (loader, config, tokenizer, template)
  crates/bitnet-common/src/config.rs
  crates/bitnet-common/src/config/tests.rs
  crates/bitnet-models/src/loader.rs
  crates/bitnet-models/src/loader/tests.rs
  crates/bitnet-models/src/production_loader.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU memory leak detector
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/leak_detector.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(rocm): add HIP C++ kernel sources with device-aware launch wrapper
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-rocm/src/error.rs
  crates/bitnet-rocm/src/kernel.rs
  crates/bitnet-rocm/src/kernels/mod.rs
  crates/bitnet-rocm/src/lib.rs
  crates/bitnet-rocm/src/memory.rs
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(gpu): add comprehensive rustdoc to OpenCL and Vulkan crates
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/p2p.rs
  crates/bitnet-opencl/src/usm.rs
  crates/bitnet-opencl/src/wasm_shim.rs
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: add DeepSeek to arch registry and accept snapshot tests
  crates/bitnet-prompt-templates/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_multi_turn.snap
  crates/bitnet-prompt-templates/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_single_turn.snap
  crates/bitnet-prompt-templates/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_with_system.snap
Due: none

feat: complete DeepSeek test coverage (property tests, external snapshots)
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseek_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseek_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__deepseek_with_system.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve workspace manifest issues for clean cherry-picks
  Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add async kernel execution with event-based synchronization
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/async_exec.rs
  crates/bitnet-opencl/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(gpu): add graceful GPU failure degradation tests
  Cargo.lock
  Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  tests/Cargo.toml
  tests/gpu_degradation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(server): add GPU fleet monitoring dashboard data
  Cargo.lock
  Cargo.toml
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-server/src/fleet.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add StarCoder and Falcon architecture support
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

infra(docker): cargo-chef caching, fix binary extraction, harden runtime (#1139)
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

test(gpu): add graceful GPU failure degradation tests (#1167)
  Cargo.lock
  Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-vulkan/Cargo.toml
  tests/Cargo.toml
  tests/gpu_degradation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update CHANGELOG for recent merged PRs (#1157)
  CHANGELOG.md
Due: none

feat(kernels): add dynamic GPU kernel dispatch by device capabilities
  crates/bitnet-kernels/src/gpu/dispatch.rs
  crates/bitnet-kernels/src/gpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU computation graph with DAG compilation
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/graph.rs
  crates/bitnet-opencl/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add error recovery with CPU fallback
  crates/bitnet-kernels/src/gpu/mod.rs
  crates/bitnet-kernels/src/gpu/opencl_error.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: enhance HuggingFace config.json parsing with GQA and arch defaults
  crates/bitnet-models/src/formats/huggingface.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add GPU warmup and JIT compilation at startup
  Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/warmup.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: fix rustfmt formatting in fuzz targets
  fuzz/fuzz_targets/model_config_validation.rs
  fuzz/fuzz_targets/prompt_template.rs
  fuzz/fuzz_targets/stop_sequence.rs
  fuzz/fuzz_targets/token_id_bounds.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci(gpu): add backend feature matrix workflow
  .github/workflows/backend-matrix.yml
Due: none

feat(trace): add GPU kernel tracing integration with bitnet-trace
  crates/bitnet-trace/src/gpu.rs
  crates/bitnet-trace/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add Falcon, CodeLlama, Cohere Command, InternLM templates and expand architecture registry
  CHANGELOG.md
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codellama_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codellama_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__codellama_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__cohere_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__cohere_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__cohere_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__falcon_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__falcon_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__falcon_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__internlm_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__internlm_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__internlm_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): add SafeTensors direct-to-GPU loading
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/safetensors_gpu.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update CHANGELOG and CLAUDE.md with Wave 5 entries (Falcon, CodeLlama, Cohere, InternLM, registry expansion)
  CHANGELOG.md
  CLAUDE.md
Due: none

ci(bench): add benchmark regression detection workflow
  .github/workflows/benchmark-regression.yml
  scripts/bench-compare.py
Due: none

chore: remove 37 temporary scripts, patches, and summary files from root
  AC10_ERROR_HANDLERS_COMPLETE.rs
  BITNET_CPP_EXPLORATION_SUMMARY.txt
  CROSSVAL_FFI_MANIFEST.txt
  CROSSVAL_FFI_SUMMARY.txt
  CROSSVAL_SUMMARY.txt
  EXPLORATION_SUMMARY.txt
  IMPLEMENTATION_ROADMAP_SUMMARY.txt
  KEY_FINDINGS.txt
  REPORT_SUMMARY.txt
  TEST_FILTERING_SUMMARY.txt
  VERIFICATION_SUMMARY.txt
  build
  bulk_close_commands.sh
  check_avx512
  execute_phase1_actions.sh
  file-lock-network-retry.patch
  fix_quantizer_errors.py
  fix_tl2_test.py
  fix_unused_import.py
  libplatform_utils.rlib
  manual_fix.py
  new_create_quantized_model.rs
  new_tl2_test_body.rs
  replace_tl2_test.py
  test_avx512_intrinsics.rs
  tl2_test.patch
  tl2_test_impl.patch
  tl2_test_replacement.txt
  update_i2s.py
  update_inference_gpu.py
  update_kernels.py
  update_quantizer.py
  update_tl1.py
  update_tl2.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(gpu): add GPU internals deep-dive documentation
  docs/GPU_INTERNALS.md
Due: none

docs(gpu): add complete GPU API reference
  docs/GPU_API_REFERENCE.md
Due: none

feat(device-probe): add GPU hardware performance counters
  Cargo.lock
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/src/perf_counters.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(opencl): add rich GPU error diagnostics module
  crates/bitnet-opencl/src/diagnostics.rs
  crates/bitnet-opencl/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: collapse nested if-let per clippy collapsible_if lint
  crates/bitnet-common/src/config.rs
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(tokenizers): add GPU-accelerated batch tokenization
  crates/bitnet-tokenizers/src/gpu.rs
  crates/bitnet-tokenizers/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
