Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

diag(bitnet): report selected query score-input f16 frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close LNL258V-ROUTE-008 (#5534)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T093000Z-LNL258V-ROUTE-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci(routed-rust): add CX43 BitNet backfill (#14)
  .github/workflows/em-ci-routed-rust.yml
  docs/development/runner-baseline.md
Due: none

test(cli): satisfy no-panic policy for M4 provenance tests
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(apple-m4): publish model provenance manifests
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T044141Z-M4-REPRO-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): mark provenance manifest PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T052141Z-M4-REPRO-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

M4-REPRO-002: Publish Apple M4 model provenance manifests (#5528)
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T044141Z-M4-REPRO-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T052141Z-M4-REPRO-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): report selected query score-input f16 frontier (#5535)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: expand cli config core unit coverage
  crates/bitnet-cli-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: expand cli config core unit coverage (#5490)
  crates/bitnet-cli-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add unit coverage for SPIR-V and SafeTensors helpers
  crates/bitnet-safetensors-ln/tests/safetensors_ln_unit_tests.rs
  crates/bitnet-spirv/tests/spirv_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add unit coverage for SPIR-V and SafeTensors helpers (#5489)
  crates/bitnet-safetensors-ln/tests/safetensors_ln_unit_tests.rs
  crates/bitnet-spirv/tests/spirv_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close provenance manifest item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T061501Z-M4-REPRO-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ROUTE-009: record profile timing applicability
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-durability-bundle.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T100000Z-LNL258V-ROUTE-009-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T101500Z-LNL258V-ROUTE-009-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): summarize selected query score frontier
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close M4-REPRO-002 provenance item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-18T061501Z-M4-REPRO-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test: add startup diagnostics unit coverage
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-safetensors-ln/tests/safetensors_ln_unit_tests.rs
  crates/bitnet-spirv/tests/spirv_unit_tests.rs
  crates/bitnet-startup-contract-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add startup diagnostics unit coverage (#5488)
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-safetensors-ln/tests/safetensors_ln_unit_tests.rs
  crates/bitnet-spirv/tests/spirv_unit_tests.rs
  crates/bitnet-startup-contract-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

LNL258V-ROUTE-009: record profile timing applicability (#5537)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-durability-bundle.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T100000Z-LNL258V-ROUTE-009-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T101500Z-LNL258V-ROUTE-009-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): summarize selected query score frontier (#5538)
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split tool-use core into srp modules
  crates/bitnet-tool-use-core/src/contracts.rs
  crates/bitnet-tool-use-core/src/detection.rs
  crates/bitnet-tool-use-core/src/lib.rs
  crates/bitnet-tool-use-core/src/parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split tool-use core into srp modules (#5472)
  crates/bitnet-tool-use-core/src/contracts.rs
  crates/bitnet-tool-use-core/src/detection.rs
  crates/bitnet-tool-use-core/src/lib.rs
  crates/bitnet-tool-use-core/src/parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close LNL258V-ROUTE-009
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T103000Z-LNL258V-ROUTE-009-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

refactor: split device config into srp modules
  crates/bitnet-device-config-core/src/backend.rs
  crates/bitnet-device-config-core/src/config.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-device-config-core/src/parse.rs
  crates/bitnet-device-config-core/src/resolve.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split device config into SRP modules (#5474)
  crates/bitnet-device-config-core/src/backend.rs
  crates/bitnet-device-config-core/src/config.rs
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-device-config-core/src/parse.rs
  crates/bitnet-device-config-core/src/resolve.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(request-context): split metadata primitives
  crates/bitnet-request-context-core/src/batch.rs
  crates/bitnet-request-context-core/src/client.rs
  crates/bitnet-request-context-core/src/context.rs
  crates/bitnet-request-context-core/src/id.rs
  crates/bitnet-request-context-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(request-context): split metadata primitives into SRP modules (#5466)
  crates/bitnet-request-context-core/src/batch.rs
  crates/bitnet-request-context-core/src/client.rs
  crates/bitnet-request-context-core/src/context.rs
  crates/bitnet-request-context-core/src/id.rs
  crates/bitnet-request-context-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split chat template detection modules
  crates/bitnet-prompt-templates-core/src/detection/chat_template.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/logging.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/mod.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/signatures.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: avoid panic-family startup diagnostics assertions
  crates/bitnet-startup-contract-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close LNL258V-ROUTE-009 (#5539)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-18T103000Z-LNL258V-ROUTE-009-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

refactor: split chat-template detection into orchestration, logging, and signatures (#5465)
  crates/bitnet-prompt-templates-core/src/detection/chat_template.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/logging.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/mod.rs
  crates/bitnet-prompt-templates-core/src/detection/chat_template/signatures.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split model kernel compatibility policy
  crates/bitnet-models/src/model_kernel_compat.rs
  crates/bitnet-models/src/model_kernel_compat/claims.rs
  crates/bitnet-models/src/model_kernel_compat/labels.rs
  crates/bitnet-models/src/model_kernel_compat/support.rs
  crates/bitnet-models/src/model_kernel_compat/tests.rs
  crates/bitnet-models/src/model_kernel_compat/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(bitnet): use f16 keys for attention scores (#5077)
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): keep current score diagnostics row-local (#5137)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): trace score key f16 probe (#5075)
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): split raw score live and tail deltas (#5136)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): report raw score history deltas (#5134)
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-rope/tests/rope_edge_cases.rs
  crates/bitnet-trace/src/lib.rs
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): capture f64 RMSNorm trace mode (#5070)
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split model kernel compatibility into SRP submodules (#5473)
  crates/bitnet-models/src/model_kernel_compat.rs
  crates/bitnet-models/src/model_kernel_compat/claims.rs
  crates/bitnet-models/src/model_kernel_compat/labels.rs
  crates/bitnet-models/src/model_kernel_compat/support.rs
  crates/bitnet-models/src/model_kernel_compat/tests.rs
  crates/bitnet-models/src/model_kernel_compat/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cpu(avx2): audit strict BitNet hot path
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
