Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(neon): NEON-optimized RoPE v3 with table caching (#2767)
  crates/bitnet-kernels/src/cpu/neon_rope_v3.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add NEON-optimized GEMV module (#2794)
  crates/bitnet-kernels/src/neon_gemv.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): NEON-optimized KV cache v4 kernel (#2802)
  crates/bitnet-kernels/src/cpu/neon_kv_cache_v4.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): NEON-optimized flash attention kernel (#2803)
  crates/bitnet-kernels/src/cpu/neon_flash_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add NEON-optimized attention computation module (#2808)
  crates/bitnet-kernels/src/neon_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): resolve P0 div_ceil, is_multiple_of, unsafe_op_in_unsafe_fn lints
  crates/bitnet-common/src/compute_pool.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quant_calibration.rs
  crates/bitnet-kernels/src/cpu/neon_transpose.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve rustfmt formatting in sampler_config.rs
  crates/bitnet-inference/src/sampler_config.rs
  crates/bitnet-server/src/request_context.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): P0 resolve div_ceil, is_multiple_of, unsafe_op_in_unsafe_fn on main (#3129)
  crates/bitnet-common/src/compute_pool.rs
  crates/bitnet-inference/src/sampler_config.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quant_calibration.rs
  crates/bitnet-kernels/src/cpu/neon_transpose.rs
  crates/bitnet-server/src/request_context.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_activation_funcs.rs
  crates/bitnet-kernels/src/cpu/neon_activation_suite.rs
  crates/bitnet-kernels/src/cpu/neon_activation_v2.rs
  crates/bitnet-kernels/src/cpu/neon_attention_score.rs
  crates/bitnet-kernels/src/cpu/neon_beam_search_v2.rs
  crates/bitnet-kernels/src/cpu/neon_bitwise_ops.rs
  crates/bitnet-kernels/src/cpu/neon_data_layout.rs
  crates/bitnet-kernels/src/cpu/neon_fused_layer_norm.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_dynamic_quantization_v2.rs
  crates/bitnet-kernels/src/cpu/neon_fused_mlp_v2.rs
  crates/bitnet-kernels/src/cpu/neon_fused_residual.rs
  crates/bitnet-kernels/src/cpu/neon_int8_matmul_v2.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/cpu/neon_layernorm_v2.rs
  crates/bitnet-kernels/src/cpu/neon_matmul_v3.rs
  crates/bitnet-kernels/src/cpu/neon_multi_head_linear.rs
  crates/bitnet-kernels/src/cpu/neon_normalization_v2.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/cpu/neon_online_softmax.rs
  crates/bitnet-kernels/src/cpu/neon_online_softmax_v2.rs
  crates/bitnet-kernels/src/cpu/neon_pooling_v2.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_gemm.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_gemv.rs
  crates/bitnet-kernels/src/cpu/neon_reduction_v2.rs
  crates/bitnet-kernels/src/cpu/neon_rope_compute.rs
  crates/bitnet-kernels/src/cpu/neon_sliding_window_attention.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_attention_v3.rs
  crates/bitnet-kernels/src/cpu/neon_block_sparse_gemm.rs
  crates/bitnet-kernels/src/cpu/neon_embedding_v2.rs
  crates/bitnet-kernels/src/cpu/neon_ffn_v2.rs
  crates/bitnet-kernels/src/cpu/neon_fused_attention_v2.rs
  crates/bitnet-kernels/src/cpu/neon_fused_attention_v3.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/cpu/neon_mixed_precision_gemm_v2.rs
  crates/bitnet-kernels/src/cpu/neon_prefix_caching_v2.rs
  crates/bitnet-kernels/src/cpu/neon_quantization_v2.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: apply P0 clippy fixes from main
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/tensor_serde.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_matmul_v3.rs
  crates/bitnet-kernels/src/cpu/neon_softmax_v3.rs
  crates/bitnet-kernels/src/cpu/neon_sparse_attention_v2.rs
  crates/bitnet-kernels/src/cpu/neon_speculative_decode_v2.rs
  crates/bitnet-kernels/src/cpu/neon_tensor_ops.rs
  crates/bitnet-kernels/src/cpu/neon_token_sampling.rs
  crates/bitnet-kernels/src/cpu/neon_transpose_v2.rs
  crates/bitnet-kernels/src/cpu/neon_weight_pack_v2.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/response_builder.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

rebase: apply changes on latest main
  crates/bitnet-kernels/tests/metal_buffer_management_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

rebase: apply changes on latest main
  crates/bitnet-kernels/tests/metal_shader_compilation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(neon): add NEON-optimized LayerNorm and RMSNorm kernels
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/neon_layer_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

rebase: apply changes on latest main
  crates/bitnet-rocm/src/detect.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add AVX2-accelerated quantization with scalar fallbacks
  crates/bitnet-kernels/src/cpu_avx2_quantize.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: proptest wave 32 — property tests across inference, kernels, common
  crates/bitnet-common/tests/proptest_wave32.rs
  crates/bitnet-inference/tests/proptest_wave32.rs
  crates/bitnet-kernels/tests/proptest_wave32.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add AVX2-optimized softmax with temperature and masking
  crates/bitnet-kernels/src/cpu_avx2_softmax.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add SIMD-optimized matrix multiplication with tiled blocking
  crates/bitnet-kernels/src/cpu_simd_matmul.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: widen batch_norm proptest tolerance to prevent flaky failures
  .copilot/notes/orchestration-learnings.md
  crates/bitnet-kernels/src/cpu/batch_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add AVX-512 wide operations with masked FMA and compress/expand
  crates/bitnet-kernels/src/cpu_avx512_wide_ops.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add proptest wave 31 — property tests across 4 crates
  crates/bitnet-common/tests/proptest_shape_validator.rs
  crates/bitnet-models/tests/proptest_format_detection.rs
  crates/bitnet-quantization/tests/proptest_wave31.rs
  crates/bitnet-tokenizers/tests/proptest_wave31.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add cache prefetch and memory hierarchy optimization
  crates/bitnet-kernels/src/cpu_cache_prefetch.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: wave 33 — 6 fuzz targets for configs, reshape, headers
  fuzz/fuzz_targets/fuzz_cuda_config_parse.rs
  fuzz/fuzz_targets/fuzz_model_header_parse.rs
  fuzz/fuzz_targets/fuzz_prompt_template_render.rs
  fuzz/fuzz_targets/fuzz_quantization_config.rs
  fuzz/fuzz_targets/fuzz_sampling_strategy.rs
  fuzz/fuzz_targets/fuzz_tensor_reshape.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update architecture overview and kernel module reference
  docs/architecture-overview.md
  docs/reference/kernel-modules.md
Due: none

test(bdd): add wave 12 — 88 integration scenarios for kernel, validation, generation
  crates/bitnet-common/tests/bdd_wave12_validation.rs
  crates/bitnet-inference/tests/bdd_wave12_generation.rs
  crates/bitnet-kernels/tests/bdd_wave12_kernel_lifecycle.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add proptest wave 30 — 128 property tests across kernels, common, inference
  crates/bitnet-common/tests/proptest_wave30_common.rs
  crates/bitnet-inference/tests/proptest_wave30_inference.rs
  crates/bitnet-kernels/tests/proptest_wave30_kernels.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add cache-tiled matrix multiplication with auto-tuned SIMD
  crates/bitnet-kernels/src/cpu_tiled_matmul.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cpu): add SIMD vector quantization with PQ and RVQ codebook support
  crates/bitnet-kernels/src/cpu_vector_quantization.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
