Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

Add units module with MB to bytes conversion constant and integrate into testing utilities
  .github/workflows/docs-check.yml
  tests/common/mod.rs
  tests/common/units.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add environment variable parsing utilities and integrate into tests
  README.md
  docs/testing.md
  tests/common/env.rs
  tests/common/mod.rs
  tests/simple_performance_viz_test.rs
  tests/simple_resource_management_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor environment variable handling in tests and update documentation
  README.md
  docs/adr/0001-configuration-layering.md
  docs/testing.md
  tests/common/env.rs
  tests/simple_performance_viz_test.rs
  tests/simple_resource_management_test.rs
  tests/test_configuration_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix typo in README.md for clarity on BitNet.rs implementation
  README.md
Due: none

Add BYTES_PER_GB constant and update memory calculations in tests
  tests/common/env.rs
  tests/common/mod.rs
  tests/common/units.rs
  tests/demo_reporting_comprehensive.rs
  tests/standalone_config_test.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Enhance environment variable parsing documentation and update unit constants usage across tests
  scripts/check-envlock.sh
  scripts/check-units.sh
  tests/common/env.rs
  tests/common/mod.rs
  tests/common/units.rs
  tests/demo_reporting_comprehensive.rs
  tests/test_configuration_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor memory calculations to use BYTES_PER_* constants for consistency and clarity
  scripts/check-units.sh
  tests/common/config.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/utils.rs
  tests/test_resource_management_comprehensive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add codemod scripts for converting raw MB/GB constants to BYTES_PER_* equivalents
  scripts/CODEMOD_GUIDE.md
  scripts/codemod-units.sh
Due: none

Update contributing guidelines and scripts for unit conversions and environment lock checks
  .gitattributes
  .github/workflows/guards.yml
  .github/workflows/shellcheck.yml
  CONTRIBUTING.md
  scripts/check-envlock.sh
  scripts/check-units.sh
  scripts/codemod-units.sh
Due: none

codemod(units): 1024*1024 → BYTES_PER_MB (tests)
  tests/common/cache.rs
  tests/common/config_scenarios_backup.rs
  tests/common/config_scenarios_old.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/debug_cli.rs
  tests/common/debug_integration.rs
  tests/common/debugging.rs
  tests/common/enhanced_error_handler.rs
  tests/common/fast_config.rs
  tests/common/fixtures.rs
  tests/common/github_cache.rs
  tests/common/optimization.rs
  tests/common/reporting/performance_viz.rs
  tests/common/test_utilities.rs
  tests/comparison_analysis_demo.rs
  tests/compatibility.rs
  tests/data/generators.rs
  tests/data/mod.rs
  tests/data/models.rs
  tests/data/test_datasets.rs
  tests/data/validators.rs
  tests/examples/debugging_example.rs
  tests/examples/reporting_example.rs
  tests/integration/batch_processing_tests.rs
  tests/performance_benchmarks.rs
  tests/performance_visualization_demo.rs
  tests/run_configuration_tests.rs
  tests/simple_resource_management_test.rs
  tests/test_basic_reporting.rs
  tests/test_bitnet_implementation.rs
  tests/test_comprehensive_reporting.rs
  tests/test_configuration.rs
  tests/test_reporting_comprehensive.rs
  tests/test_reporting_standalone.rs
  tests/test_resource_management_comprehensive.rs
  tests/test_resource_management_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

codemod(units): N*1024 → N*BYTES_PER_KB (tests, conservative)
  tests/common/debug_cli.rs
  tests/common/debug_integration.rs
  tests/common/fixtures.rs
  tests/data/performance.rs
  tests/demo_reporting_comprehensive.rs
  tests/examples/reporting_example.rs
  tests/test_basic_reporting.rs
  tests/test_fixture_reliability.rs
  tests/test_reporting_comprehensive.rs
  tests/test_reporting_standalone.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(imports): Add missing imports for BYTES_PER_* constants after codemod
  fix-imports.sh
  tests/common/cache.rs
  tests/common/config.rs
  tests/common/config_scenarios_backup.rs
  tests/common/config_scenarios_old.rs
  tests/common/debug_cli.rs
  tests/common/debug_integration.rs
  tests/common/debugging.rs
  tests/common/enhanced_error_handler.rs
  tests/common/fast_config.rs
  tests/common/fixtures.rs
  tests/common/github_cache.rs
  tests/common/optimization.rs
  tests/common/test_utilities.rs
  tests/comparison_analysis_demo.rs
  tests/compatibility.rs
  tests/demo_reporting_comprehensive.rs
  tests/examples/debugging_example.rs
  tests/examples/reporting_example.rs
  tests/performance_benchmarks.rs
  tests/performance_visualization_demo.rs
  tests/run_configuration_tests.rs
  tests/simple_performance_viz_test.rs
  tests/simple_resource_management_test.rs
  tests/standalone_config_test.rs
  tests/test_basic_reporting.rs
  tests/test_bitnet_implementation.rs
  tests/test_comprehensive_reporting.rs
  tests/test_configuration.rs
  tests/test_configuration_scenarios.rs
  tests/test_fixture_reliability.rs
  tests/test_reporting_comprehensive.rs
  tests/test_reporting_standalone.rs
  tests/test_resource_management_comprehensive.rs
  tests/test_resource_management_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(imports): Remove duplicate BYTES_PER_* imports
  tests/demo_reporting_comprehensive.rs
  tests/simple_performance_viz_test.rs
  tests/standalone_config_test.rs
  tests/test_configuration_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(imports): Correct import paths for units module
  tests/comparison_analysis_demo.rs
  tests/compatibility.rs
  tests/demo_reporting_comprehensive.rs
  tests/examples/debugging_example.rs
  tests/examples/reporting_example.rs
  tests/run_configuration_tests.rs
  tests/simple_performance_viz_test.rs
  tests/simple_resource_management_test.rs
  tests/standalone_config_test.rs
  tests/test_basic_reporting.rs
  tests/test_bitnet_implementation.rs
  tests/test_comprehensive_reporting.rs
  tests/test_configuration.rs
  tests/test_configuration_scenarios.rs
  tests/test_fixture_reliability.rs
  tests/test_reporting_comprehensive.rs
  tests/test_reporting_standalone.rs
  tests/test_resource_management_comprehensive.rs
  tests/test_resource_management_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor top-p filter function and simplify Prometheus metrics imports
  crates/bitnet-cli/src/sampling.rs
  crates/bitnet-server/src/monitoring/prometheus.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Add feature-aware lint suppression for CUDA module
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: Add import path guard and enhance pre-commit hooks
  .github/workflows/guards.yml
  .pre-commit-config.yaml
  scripts/check-units-imports.sh
Due: none

chore(cli/server): fix unused warnings via gating and cleanup
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/sampling.rs
  crates/bitnet-server/src/monitoring/config.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/monitoring/metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

server: correct health aggregation; declare 'cuda' feature; drop unexpected_cfgs allow
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/monitoring/health.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

server: add health aggregation tests; remove obsolete fix-imports.sh; update CONTRIBUTING.md
  CONTRIBUTING.md
  crates/bitnet-server/src/monitoring/health.rs
  fix-imports.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
