Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(cuda): add RTX 5070 Ti tiny kernel smoke
  ci/hardware/_templates/cuda-smoke-receipt.json
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/build.rs
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record M4-005 merge (#3708)
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T090325Z-M4-005-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(metal): add M4 CPU Metal parity smoke
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T093428Z-M4-006-in-progress.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-006 PR
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T093645Z-M4-006-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add RTX 5070 Ti tiny kernel smoke (#3707)
  ci/hardware/_templates/cuda-smoke-receipt.json
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/build.rs
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): sync M4-006 PR state
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T094504Z-M4-006-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4] Add CPU/Metal parity smoke (M4-006) (#3709)
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T093428Z-M4-006-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T093645Z-M4-006-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add governed Clippy lint policy
  Cargo.toml
  clippy.toml
  docs/CLIPPY_POLICY.md
  policy/clippy-debt.toml
  policy/clippy-lints.toml
  policy/no-panic-allowlist.toml
  policy/non-rust-allowlist.toml
  xtask/src/lint_policy.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record M4-006 merge
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T100558Z-M4-006-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): sync RTX5070TI-004 merge
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-06T083111Z-RTX5070TI-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(governance): add Clippy lint policy scaffolding (PR 1)
  docs/CLIPPY_POLICY.md
  policy/clippy-debt.toml
  policy/clippy-lints.toml
  policy/no-panic-allowlist.toml
  policy/non-rust-allowlist.toml
  xtask/src/lint_policy.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(governance): wire strict lint policy gate, deny dbg_macro (PR 2)
  .github/workflows/guards.yml
  Cargo.toml
  docs/CLIPPY_POLICY.md
  policy/clippy-lints.toml
  xtask/src/lint_policy.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record M4-006 merge (#3717)
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T100558Z-M4-006-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(device-probe): add M4 MPSGraph smoke
  crates/bitnet-device-probe/src/apple_mpsgraph.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/apple_mpsgraph_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T103810Z-M4-007-in-progress.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-007 PR
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T104222Z-M4-007-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): sync RTX5070TI-004 merge (#3702)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-06T083111Z-RTX5070TI-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(device-probe): add Lunar Lake platform visibility probe
  ci/hardware/intel-258v/README.md
  crates/bitnet-device-probe/src/cpu/mod.rs
  crates/bitnet-device-probe/src/cpu/topology.rs
  crates/bitnet-device-probe/src/cpu/x86.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/arc140v.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/cpu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/mod.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/npu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/platform.rs
  crates/bitnet-device-probe/src/intel/mod.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/src/runtimes/level_zero.rs
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/opencl.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  crates/bitnet-device-probe/tests/lunar_lake_platform_probe.rs
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): mark Lunar Lake probe PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T100456Z-LNL258V-RUN-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(device-probe): satisfy clippy for Lunar Lake probes
  crates/bitnet-device-probe/src/cpu/topology.rs
  crates/bitnet-device-probe/src/cpu/x86.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/arc140v.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/cpu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/npu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/platform.rs
  crates/bitnet-device-probe/src/opencl.rs
  crates/bitnet-device-probe/src/runtimes/opencl.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(device-probe): handle linux cfg warnings
  crates/bitnet-device-probe/src/cpu/topology.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/npu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/platform.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(device-probe): allow probe cfg const lint
  crates/bitnet-device-probe/src/cpu/x86.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/npu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/platform.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

[codex][apple-m4] Add MPSGraph smoke (M4-007) (#3719)
  crates/bitnet-device-probe/src/apple_mpsgraph.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/apple_mpsgraph_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T103810Z-M4-007-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T104222Z-M4-007-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-007 merge
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T105706Z-M4-007-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(device-probe): add Lunar Lake platform visibility probe
  ci/hardware/intel-258v/README.md
  crates/bitnet-device-probe/src/cpu/mod.rs
  crates/bitnet-device-probe/src/cpu/topology.rs
  crates/bitnet-device-probe/src/cpu/x86.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/arc140v.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/cpu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/mod.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/npu.rs
  crates/bitnet-device-probe/src/intel/lunar_lake/platform.rs
  crates/bitnet-device-probe/src/intel/mod.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/src/opencl.rs
  crates/bitnet-device-probe/src/runtimes/level_zero.rs
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/opencl.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  crates/bitnet-device-probe/tests/lunar_lake_platform_probe.rs
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-buildout-plan.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T100456Z-LNL258V-RUN-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-007 merge (#3720)
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T105706Z-M4-007-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(receipts): add Apple backend receipt fields
  crates/bitnet-device-probe/src/apple_receipts.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/apple_backend_receipts.rs
  crates/bitnet-device-probe/tests/apple_mpsgraph_smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T111508Z-M4-008-in-progress.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-008 PR
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T112014Z-M4-008-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(npu): preserve Intel NPU backend identity
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-06T111902Z-NPU-002-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(receipts): satisfy Apple probe clippy
  crates/bitnet-device-probe/src/apple_mpsgraph.rs
  crates/bitnet-device-probe/src/apple_receipts.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): reconcile M4-008 open PR
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T112632Z-M4-008-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4] Add Apple backend receipt fields (M4-008) (#3721)
  crates/bitnet-device-probe/src/apple_mpsgraph.rs
  crates/bitnet-device-probe/src/apple_receipts.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/apple_backend_receipts.rs
  crates/bitnet-device-probe/tests/apple_mpsgraph_smoke.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T111508Z-M4-008-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T112014Z-M4-008-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(npu): preserve Intel NPU backend identity
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  docs/tracking/campaigns/apple-m4/events/2026-05-06T112632Z-M4-008-pr-open.toml
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-06T111902Z-NPU-002-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(tracker): scope PR reconciliation to current branch
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/tracker-infra/CAMPAIGN.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-06T112722Z-TRACKER-003-in-progress.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record TRACKER-003 PR
  docs/tracking/campaigns/tracker-infra/CAMPAIGN.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-06T112940Z-TRACKER-003-pr-open.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): record M4-008 merge
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T120021Z-M4-008-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][tracker-infra] Scope PR reconciliation to current PR (TRACKER-003) (#3724)
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/tracker-infra/CAMPAIGN.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-06T112722Z-TRACKER-003-in-progress.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-06T112940Z-TRACKER-003-pr-open.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

[codex][apple-m4] Record M4-008 merge (#3726)
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T120021Z-M4-008-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
