Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

LNL258V-ROUTE-024 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T203500Z-LNL258V-ROUTE-024-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ROUTE-024 closeout (#5915)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T203500Z-LNL258V-ROUTE-024-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(npu): add productization spec contracts (#5903)
  docs/proposals/BITNET-PROP-0007-npu-productization.md
  docs/specs/BITNET-SPEC-NPU-BITNET-SUBGRAPH.md
  docs/specs/BITNET-SPEC-NPU-COLD-WARM-CACHE.md
  docs/specs/BITNET-SPEC-NPU-DENSE-SLM.md
  docs/specs/BITNET-SPEC-NPU-PERFORMANCE.md
  docs/specs/BITNET-SPEC-NPU-PROOF-LADDER.md
  docs/specs/BITNET-SPEC-NPU-QUALITY.md
  docs/specs/BITNET-SPEC-NPU-RESIDENCY.md
  docs/specs/BITNET-SPEC-NPU-ROUTE-CONTRACT.md
  docs/specs/BITNET-SPEC-NPU-STATUS-SURFACE.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tl2): add TL2 source map, campaign scaffolding, and initial TL2 spec set (#5907)
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/bitnet/tl2/README.md
  docs/proposals/BITNET-PROP-0018-tl2-productization.md
  docs/specs/BITNET-SPEC-TL2-ARTIFACT-GATE.md
  docs/specs/BITNET-SPEC-TL2-CPU.md
  docs/specs/BITNET-SPEC-TL2-CUDA.md
  docs/specs/BITNET-SPEC-TL2-LAYOUT.md
  docs/specs/BITNET-SPEC-TL2-MODEL-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-TL2-PERFORMANCE.md
  docs/specs/BITNET-SPEC-TL2-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-TL2-ROUTE-CONTRACT.md
  docs/specs/BITNET-SPEC-TL2-SCALAR-ORACLE.md
  docs/specs/BITNET-SPEC-TL2-STATUS-SURFACE.md
  docs/specs/BITNET-SPEC-TL2-X86-AVX.md
  docs/specs/INDEX.md
  docs/status/BITNET_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/tl2/CAMPAIGN.md
  docs/tracking/campaigns/tl2/active.toml
  docs/tracking/campaigns/tl2/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/bitnet-tl2.md
  plans/tl2/README.md
  plans/tl2/implementation-plan.md
Due: none

docs(tl1): add TL1 source map and implementation plan
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/tl1/README.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/tl1/CAMPAIGN.md
  docs/tracking/campaigns/tl1/active.toml
  plans/tl1/README.md
  plans/tl1/implementation-plan.md
Due: none

docs(tl1): normalize campaign tracker gates
  docs/tracking/campaigns/tl1/active.toml
  docs/tracking/campaigns/tl1/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tl1): add TL1 source map and implementation plan (#5893)
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/tl1/README.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/tl1/CAMPAIGN.md
  docs/tracking/campaigns/tl1/active.toml
  docs/tracking/campaigns/tl1/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/tl1/README.md
  plans/tl1/implementation-plan.md
Due: none

docs(qwen3): accept exact-profile server readiness
  ci/model-artifacts/model-coverage-matrix.toml
  crates/bitnet-cli/src/commands/receipts.rs
  crates/bitnet-cli/src/model_cache.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_MODEL_014B_QWEN3_EXACT_PROFILE_SERVER_READY.md
  docs/reports/CUDA_MODEL_014_QWEN3_EXACT_PROFILE_SERVER_READINESS_REVIEW.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T09-15-32Z-CUDA-MODEL-014B-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/dense-qwen3.md
  xtask/src/model_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): ready Q8 sidecar selector update
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T094106Z-SLM-CPU-052-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(ci): clarify consolidated fuzz coverage
  .github/workflows/fuzz-ci.yml
  docs/GPU_DEVELOPMENT_WORKFLOW.md
  docs/architecture-overview.md
  docs/development/test-suite.md
Due: none

fix(apple-m4): enforce benchmark profile timeouts
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T094200Z-M4-BENCH-009-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(campaign): mark CUDA-MODEL-014B pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T09-46-38Z-CUDA-MODEL-014B-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Enforce M4 benchmark profile timeouts (#5917)
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-01.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke-runs/run-02.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0939Z/benchmark-timeout-enforcement/harness-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T094200Z-M4-BENCH-009-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close benchmark timeout enforcement
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T095252Z-M4-BENCH-009-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 benchmark timeout enforcement (#5919)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T095252Z-M4-BENCH-009-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci: consolidate nightly fuzz workflows and honour cargo-fuzz cache (#5909)
  .github/workflows/fuzz-ci.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/nightly-fuzz.yml
  docs/GPU_DEVELOPMENT_WORKFLOW.md
  docs/architecture-overview.md
  docs/ci/inventory.md
  docs/development/test-suite.md
Due: none

test(lunar-lake): index auto NPU warm resident ask
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-npu-warm-resident-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-npu-warm-resident-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T214000Z-LNL258V-ASK-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T215800Z-LNL258V-ASK-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ASK-005 auto NPU warm resident ask (#5920)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-npu-warm-resident-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-npu-warm-resident-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T214000Z-LNL258V-ASK-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T215800Z-LNL258V-ASK-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close LNL258V-ASK-005
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T220500Z-LNL258V-ASK-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ASK-005 closeout (#5922)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T220500Z-LNL258V-ASK-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ci): harden BitNet cpp fetch on Windows
  ci/fetch_bitnet_cpp.ps1
Due: none

fix(cli): import Command for Windows mac helpers
  crates/bitnet-cli/src/mac.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(qwen3): align CUDA status readiness
  docs/status/CUDA_CAPABILITY_MATRIX.md
Due: none

ci-core: cover mapped Rust inputs
  crates/bitnet-models/tests/qk256_property_tests.rs
  xtask/src/ci/plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-MODEL-014B: accept Qwen3 exact-profile server readiness (#5918)
  ci/model-artifacts/model-coverage-matrix.toml
  crates/bitnet-cli/src/commands/receipts.rs
  crates/bitnet-cli/src/model_cache.rs
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_MODEL_014B_QWEN3_EXACT_PROFILE_SERVER_READY.md
  docs/reports/CUDA_MODEL_014_QWEN3_EXACT_PROFILE_SERVER_READINESS_REVIEW.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T09-15-32Z-CUDA-MODEL-014B-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T09-46-38Z-CUDA-MODEL-014B-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/dense-qwen3.md
  xtask/src/model_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(ci): scope BitNet cpp patches
  .github/workflows/patch-policy-check.yml
  .gitignore
  ci/apply_patches.ps1
  ci/apply_patches.sh
  patches/README.md
  patches/bitnet_cpp/.gitkeep
Due: none

docs(campaign): close CUDA-MODEL-014B
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T10-29-54Z-CUDA-MODEL-014B-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci-core: cover mapped Rust inputs (#5925)
  crates/bitnet-models/tests/qk256_property_tests.rs
  xtask/src/ci/plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(campaign): closeout CUDA-MODEL-014B
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T10-29-54Z-CUDA-MODEL-014B-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(lunar-lake): guard low-power battery telemetry
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-low-power-battery-telemetry-blocked.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T223000Z-LNL258V-POWER-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T224500Z-LNL258V-POWER-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: mark LNL258V-POWER-005 PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

ci: route mapped Rust inputs to core
  xtask/src/ci/plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-POWER-005: guard low-power battery telemetry (#5924)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-low-power-battery-telemetry-blocked.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T223000Z-LNL258V-POWER-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T224500Z-LNL258V-POWER-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close LNL258V-POWER-005
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T110438Z-LNL258V-POWER-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(apple-m4): aggregate benchmark profile timeouts
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T102900Z-M4-BENCH-010-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): record benchmark timeout PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T110902Z-M4-BENCH-010-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Aggregate M4 benchmark profile timeouts (#5929)
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-01.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke-runs/run-02.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T1034Z/benchmark-timeout-aware-variance/harness-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T102900Z-M4-BENCH-010-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T110902Z-M4-BENCH-010-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
