Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

ci: skip fuzz build for docs-only PRs
  .github/workflows/fuzz-ci.yml
  docs/ci/cost-and-verification-policy.md
Due: none

[codex][apple-m4] Polish Mac chat UX
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-models/src/bitnet.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T125852Z-M4-SLM-EX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T131239Z-M4-SLM-EX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4] Polish Mac chat UX (M4-SLM-EX-002) (#4280)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-models/src/bitnet.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T125852Z-M4-SLM-EX-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T131239Z-M4-SLM-EX-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4] Close M4-SLM-EX-002
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T131645Z-M4-SLM-EX-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Close M4-SLM-EX-002 (#4282)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T131645Z-M4-SLM-EX-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): extract dense attention v mix fixture
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-v-mix-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_026_ATTENTION_V_MIX_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T131101Z-CUDA-DENSE-026-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-026 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T131746Z-CUDA-DENSE-026-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): extract dense attention V-mix fixture (#4281)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-v-mix-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_026_ATTENTION_V_MIX_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T131101Z-CUDA-DENSE-026-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T131746Z-CUDA-DENSE-026-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-026
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T132849Z-CUDA-DENSE-026-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-026 (#4283)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T132849Z-CUDA-DENSE-026-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex] Skip fuzz build for docs-only PRs (#4278)
  .github/workflows/fuzz-ci.yml
  docs/ci/cost-and-verification-policy.md
Due: none

docs(lunar-lake): close CPU258V-019
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T130333Z-CPU258V-019-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Reduce M4 SLM warm-session TTFT overhead
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T132127Z-M4-SLM-EX-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133208Z-M4-SLM-EX-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Reduce M4 SLM warm-session TTFT overhead (#4284)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T132127Z-M4-SLM-EX-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133208Z-M4-SLM-EX-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close out M4 SLM excellence TTFT pass
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133336Z-M4-SLM-EX-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 SLM excellence TTFT pass (#4285)
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133336Z-M4-SLM-EX-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Preallocate M4 SLM sampler scratch
  crates/bitnet-cli/src/main.rs
  crates/bitnet-sampling/src/lib.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133813Z-M4-SLM-EX-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Record M4 SLM EX-004 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T134653Z-M4-SLM-EX-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Preallocate M4 SLM sampler scratch (#4286)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-sampling/src/lib.rs
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T133813Z-M4-SLM-EX-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T134653Z-M4-SLM-EX-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close out M4 SLM EX-004
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T134809Z-M4-SLM-EX-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 SLM EX-004 (#4287)
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T134809Z-M4-SLM-EX-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Document M4 dense SLM model matrix
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135035Z-M4-SLM-EX-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Record M4 SLM EX-005 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135259Z-M4-SLM-EX-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Document M4 dense SLM model support matrix (#4288)
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135035Z-M4-SLM-EX-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135259Z-M4-SLM-EX-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close out M4 SLM EX-005
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135357Z-M4-SLM-EX-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close out M4 SLM EX-005 (#4289)
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T135357Z-M4-SLM-EX-005-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add dense attention v-mix parity
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-v-mix-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_027_ATTENTION_V_MIX_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T135210Z-CUDA-DENSE-027-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T140015Z-CUDA-DENSE-027-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add dense attention V-mix parity (#4290)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-v-mix-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_027_ATTENTION_V_MIX_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T135210Z-CUDA-DENSE-027-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T140015Z-CUDA-DENSE-027-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-027
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T140320Z-CUDA-DENSE-027-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-027 (#4291)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T140320Z-CUDA-DENSE-027-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close CPU258V-019 (#4279)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T130333Z-CPU258V-019-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci: fast-path tracker-only core checks
  .github/workflows/ci-core.yml
  docs/ci/cost-and-verification-policy.md
Due: none

Support Qwen2.5 Q4_K_M on M4
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  docs/reports/M4_SLM_EX_006_Q4KM_SECOND_MODEL.md
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T140658Z-M4-SLM-EX-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Record M4-SLM-EX-006 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T141609Z-M4-SLM-EX-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Support Qwen2.5 Q4_K_M on M4 (#4293)
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  docs/reports/M4_SLM_EX_006_Q4KM_SECOND_MODEL.md
  docs/slm/apple-m4-dense-slm-model-support-matrix.md
  docs/slm/apple-m4-slm-excellence.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T140658Z-M4-SLM-EX-006-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T141609Z-M4-SLM-EX-006-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Close M4-SLM-EX-006
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T141744Z-M4-SLM-EX-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-SLM-EX-006 (#4294)
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T141744Z-M4-SLM-EX-006-merged.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): route dense attention v mix
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_027_ATTENTION_V_MIX_PARITY.md
  docs/reports/CUDA_DENSE_028_ATTENTION_V_MIX_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T141514Z-CUDA-DENSE-028-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Expand M4 SLM quality corpus
  ci/quality/apple-m4-slm-quality-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-dense-slm-regression.md
  docs/slm/apple-m4-slm-excellence.md
  docs/slm/apple-m4-slm-quality-determinism.md
  docs/tracking/campaigns/apple-m4-slm-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-excellence/active.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142507Z-M4-SLM-EX-007-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Record M4-SLM-EX-007 PR
  docs/tracking/campaigns/apple-m4-slm-excellence/events/2026-05-09T142719Z-M4-SLM-EX-007-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-excellence/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none
