Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs: update test counts and roadmap for PRs #742-#746
  CHANGELOG.md
  CLAUDE.md
  docs/development/test-suite.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(xtask): serialize find_bitnet_lib_dirs tests to prevent BITNET_CROSSVAL_LIBDIR race
  xtask/src/cpp_setup_auto.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add BDD/policy/testing-infra crates to Build & Test matrix
  .github/workflows/ci-core.yml
Due: none

fix: remove unused TestConfigProfile import in testing-scenarios-core property tests
  crates/bitnet-testing-scenarios-core/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(proptest): add property tests for bitnet-test-support (+10 tests)
  Cargo.lock
  crates/bitnet-test-support/Cargo.toml
  crates/bitnet-test-support/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(proptest): add property tests for bitnet-testing-scenarios-profile-core (+17 tests)
  Cargo.lock
  crates/bitnet-testing-scenarios-profile-core/Cargo.toml
  crates/bitnet-testing-scenarios-profile-core/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: expand unsafe blocks to multi-line for rustfmt
  crates/bitnet-test-support/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update test counts and roadmap for PRs #742-#746 (#747)
  CHANGELOG.md
  CLAUDE.md
  docs/development/test-suite.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(proptest): add property tests for bitnet-test-support (+10 tests) (#749)
  Cargo.lock
  crates/bitnet-test-support/Cargo.toml
  crates/bitnet-test-support/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(proptest): add property tests for bitnet-testing-scenarios-profile-core (+17 tests) (#750)
  Cargo.lock
  crates/bitnet-testing-scenarios-profile-core/Cargo.toml
  crates/bitnet-testing-scenarios-profile-core/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: use temp_env + serial to isolate CI env var in context-core tests
  crates/bitnet-runtime-context-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: isolate CI env vars in tests + normalize CPU-dependent snapshot
  Cargo.lock
  Cargo.toml
  crates/bitnet-runtime-context-core/tests/snapshot_tests.rs
  crates/bitnet-runtime-profile-contract-core/src/lib.rs
  crates/bitnet-testing-scenarios-profile-core/tests/snapshot_tests.rs
  crates/bitnet-testing-scenarios-profile-core/tests/snapshots/snapshot_tests__config_profile_defaults.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(xtask): serialize find_bitnet_lib_dirs tests to prevent BITNET_CROSSVAL_LIBDIR race (#748)
  xtask/src/cpp_setup_auto.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: clear GITHUB_ACTIONS env var in tests alongside CI
  crates/bitnet-runtime-context-core/src/lib.rs
  crates/bitnet-runtime-context-core/tests/snapshot_tests.rs
  crates/bitnet-runtime-profile-contract-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: construct ActiveContext directly in test to avoid CI env var
  crates/bitnet-testing-profile/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add BDD/policy/testing-infra crates to Build & Test matrix (#746)
  .github/workflows/ci-core.yml
  Cargo.lock
  Cargo.toml
  crates/bitnet-runtime-context-core/src/lib.rs
  crates/bitnet-runtime-context-core/tests/snapshot_tests.rs
  crates/bitnet-runtime-profile-contract-core/src/lib.rs
  crates/bitnet-testing-profile/src/lib.rs
  crates/bitnet-testing-scenarios-core/tests/property_tests.rs
  crates/bitnet-testing-scenarios-profile-core/tests/snapshot_tests.rs
  crates/bitnet-testing-scenarios-profile-core/tests/snapshots/snapshot_tests__config_profile_defaults.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update test counts and roadmap for PRs #748-#750; add insta filters feature
  CHANGELOG.md
  CLAUDE.md
  docs/development/test-suite.md
  docs/reference/dual-backend-roadmap.md
Due: none

docs: update test counts and roadmap for PRs #748-#750; add insta filters feature (#751)
  CHANGELOG.md
  CLAUDE.md
  docs/development/test-suite.md
  docs/reference/dual-backend-roadmap.md
Due: none

feat(inference): optimize sampling strategy using native vector ops
  .jules/bolt.md
  crates/bitnet-inference/src/generation/sampling.rs
  crates/bitnet-inference/tests/sampling_benchmark.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(security): Restrict model loading paths to configured directories
  .jules/sentinel.md
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add learning about tensor allocation overhead
  crates/bitnet-inference/src/generation/sampling.rs
  crates/bitnet-inference/tests/sampling_benchmark.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(ui): add keyboard navigation to tabs in browser example
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/main.js
Due: none

feat(security): Restrict model loading paths to configured directories (#753)
  .jules/sentinel.md
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(ui): add keyboard navigation to tabs in browser example (#754)
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/main.js
Due: none

fix(security): harden model path validation against symlinks and edge cases
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): resolve TL1 output diversity bug
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/tests/neural_network_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog, roadmap, and counts for PRs #753-#755
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(security): harden model path validation against symlinks and edge cases (#756)
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update changelog, roadmap, and counts for PRs #753-#756
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

docs: update changelog, roadmap, and counts for PRs #753-#756 (#759)
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(kernels): resolve TL1 output diversity bug (#760)
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/tests/neural_network_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(inference): replace buggy TL2 matmul_i2s path with correct dequantize+matmul
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/tests/neural_network_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add proptest coverage to 6 infrastructure crates
  Cargo.lock
  crates/bitnet-runtime-feature-flags/Cargo.toml
  crates/bitnet-runtime-feature-flags/tests/property_tests.rs
  crates/bitnet-startup-contract-diagnostics/Cargo.toml
  crates/bitnet-startup-contract-diagnostics/tests/property_tests.rs
  crates/bitnet-startup-contract-guard/Cargo.toml
  crates/bitnet-startup-contract-guard/tests/property_tests.rs
  crates/bitnet-testing-policy-contract/Cargo.toml
  crates/bitnet-testing-policy-contract/tests/property_tests.rs
  crates/bitnet-testing-policy-kit/Cargo.toml
  crates/bitnet-testing-policy-kit/tests/property_tests.rs
  crates/bitnet-testing-profile/Cargo.toml
  crates/bitnet-testing-profile/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: remove unused imports in bitnet-testing-policy-kit property_tests
  crates/bitnet-testing-policy-kit/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: mark Issue #254 LayerNorm shape mismatch as resolved
  docs/development/test-suite.md
Due: none

docs: update CHANGELOG, CLAUDE.md, and roadmap for PRs #760-#762
  CHANGELOG.md
  CLAUDE.md
  docs/reference/dual-backend-roadmap.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
