Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs(apple-m4): close dense 500-case eval item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T003844Z-M4-ACCURACY-006-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4 dense 500-case eval item (#5245)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T003844Z-M4-ACCURACY-006-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): include layer1 attention value boundaries
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): gate regression v2 on durability
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T004000Z-LNL258V-REG-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T005800Z-LNL258V-REG-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): emit requested-layer Kcur history
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-REG-005: gate regression v2 on durability (#5247)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T004000Z-LNL258V-REG-005-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T005800Z-LNL258V-REG-005-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close out LNL258V-REG-005
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T012600Z-LNL258V-REG-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close out LNL258V-REG-005 (#5249)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T012600Z-LNL258V-REG-005-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(download-core): cover content-range parsing and atomic writes (#5193)
  crates/bitnet-download-core/tests/download_core.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style(session-config-core): apply rustfmt to test module
  crates/bitnet-session-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(session-config-core): cover validation ordering, display, and trait impls
  crates/bitnet-session-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): trace FFN parallel internals
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): compare against regression v2
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T021000Z-LNL258V-COMPARE-006-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark COMPARE-006 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T021800Z-LNL258V-COMPARE-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): replay FFN projection history
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): summarize FFN norm upstream attribution
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(session-config-core): cover validation and traits (#5209)
  crates/bitnet-session-config-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(weight-name-core): cover model-prefixed llama aliases
  crates/bitnet-weight-name-core/tests/normalize_vendor_key.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): summarize value-mix history attribution
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-COMPARE-006: compare against regression v2 (#5251)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T021000Z-LNL258V-COMPARE-006-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T021800Z-LNL258V-COMPARE-006-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): close out LNL258V-COMPARE-006
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T024800Z-LNL258V-COMPARE-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close out LNL258V-COMPARE-006 (#5255)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T024800Z-LNL258V-COMPARE-006-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(weight-name-core): cover model-prefixed llama aliases (#5210)
  crates/bitnet-weight-name-core/tests/normalize_vendor_key.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): report value-mix history numeric variants
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: migrate patch policy check to rust
  scripts/check-patch-policy.sh
  tools/bitnet-task/README.md
  tools/bitnet-task/src/main.rs
  tools/bitnet-task/src/validation.rs
  tools/bitnet-task/tests/cli_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(bitnet): summarize probability history source drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(spirv): add 28 unit tests covering validation, cache, hash, and compiler
  crates/bitnet-spirv/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-BENCH-002: derive dense CPU total response
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-durability-bundle.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T030000Z-LNL258V-BENCH-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(lunar-lake): mark LNL258V-BENCH-002 PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T032200Z-LNL258V-BENCH-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): summarize score history source drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: port greedy argmax checker to Rust
  Cargo.lock
  Cargo.toml
  crates/bitnet-greedy-argmax-core/Cargo.toml
  crates/bitnet-greedy-argmax-core/src/lib.rs
  docs/archive/VALIDATION.md
  scripts/check-greedy-argmax.sh
  scripts/check_greedy_argmax.py
  scripts/validate_all.sh
  tools/bitnet-task/Cargo.toml
  tools/bitnet-task/src/ci.rs
  tools/bitnet-task/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: migrate validation helpers to xtask
  scripts/acceptance_test.sh
  scripts/check_greedy_argmax.py
  scripts/final_validation.sh
  scripts/prepare_release.sh
  scripts/render_perf_md.py
  scripts/validate_all.sh
  xtask/src/greedy_argmax.rs
  xtask/src/main.rs
  xtask/src/perf_report.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: move greedy argmax check into Rust core
  Cargo.lock
  crates/bitnet-generation-events-core/src/lib.rs
  scripts/check_greedy_argmax.py
  scripts/validate_all.sh
  tools/bitnet-task/Cargo.toml
  tools/bitnet-task/src/main.rs
  tools/bitnet-task/src/validation.rs
  tools/bitnet-task/tests/cli_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor: move greedy argmax checker into xtask
  docs/archive/VALIDATION.md
  scripts/check_greedy_argmax.py
  scripts/validate_all.sh
  xtask/src/greedy_argmax.rs
  xtask/src/main.rs
  xtask/tests/xtask_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: improve softmax edge-case accuracy
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-logits/tests/logits_filter_edge_cases.rs
  crates/bitnet-logits/tests/logits_pipeline_integration.rs
  crates/bitnet-logits/tests/logits_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: improve sampling probability accuracy
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-probability/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): localize score history token drift
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(spirv): add validation/cache/hash/compiler coverage (#5211)
  crates/bitnet-spirv/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): drill into score history positions
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
