Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(queue): refresh merged guardrail dispositions (#5751)
  docs/reports/2026-05-18-a770-diagnostic-lineage-map.md
  docs/tracking/codex-web-pr-ledger.md
Due: none

docs(bitnet-official): add official 2B source map
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/bitnet/official-2b/README.md
  docs/specs/INDEX.md
  docs/status/BITNET_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/official-bitnet-2b/CAMPAIGN.md
  docs/tracking/campaigns/official-bitnet-2b/active.toml
  docs/tracking/campaigns/official-bitnet-2b/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/official-bitnet-2b/README.md
  plans/official-bitnet-2b/implementation-plan.md
Due: none

feat(slm): record dense linear output storage boundary
  crates/bitnet-cli/src/allocation_audit.rs
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_model_tests.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(bitnet-official): add Official Microsoft BitNet 2B source map, plan, and campaign (#5746)
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/bitnet/official-2b/README.md
  docs/specs/INDEX.md
  docs/status/BITNET_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/official-bitnet-2b/CAMPAIGN.md
  docs/tracking/campaigns/official-bitnet-2b/active.toml
  docs/tracking/campaigns/official-bitnet-2b/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/official-bitnet-2b/README.md
  plans/official-bitnet-2b/implementation-plan.md
Due: none

docs(slm): record SLM-CPU-041 PR open
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T193747Z-SLM-CPU-041-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(falcon-e): add family source map and specs
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/falcon-e-family/README.md
  docs/proposals/BITNET-PROP-0013-falcon-e-family-supported-models.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-A770-OPENCL.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-APPLE.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-ARTIFACT-CONTRACT.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-CPU.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-CUDA.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-I2S.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-PERFORMANCE.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-ROUTE-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-TL1-TL2.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-TOKENIZER-PROMPT.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/falcon-e-family/CAMPAIGN.md
  docs/tracking/campaigns/falcon-e-family/active.toml
  docs/tracking/campaigns/falcon-e-family/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/falcon-e-family/README.md
  plans/falcon-e-family/implementation-plan.md
Due: none

docs(falcon-e): add Falcon‑E family proposal, specs, campaign, and candidate matrix entries (#5747)
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/falcon-e-family/README.md
  docs/proposals/BITNET-PROP-0013-falcon-e-family-supported-models.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-A770-OPENCL.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-APPLE.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-ARTIFACT-CONTRACT.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-CPU.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-CUDA.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-I2S.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-PERFORMANCE.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-ROUTE-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-TL1-TL2.md
  docs/specs/BITNET-SPEC-FALCON-E-FAMILY-TOKENIZER-PROMPT.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/falcon-e-family/CAMPAIGN.md
  docs/tracking/campaigns/falcon-e-family/active.toml
  docs/tracking/campaigns/falcon-e-family/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/falcon-e-family/README.md
  plans/falcon-e-family/implementation-plan.md
Due: none

ci(coverage): run in rust-ci job container
  .github/images/rust-ci/Dockerfile
  .github/workflows/coverage.yml
  docs/ci/coverage.md
  docs/tracking/campaigns/ci-coverage/CAMPAIGN.md
  docs/tracking/campaigns/ci-coverage/active.toml
  docs/tracking/campaigns/ci-coverage/events/2026-05-18T181809Z-CI-COVERAGE-002-pr-open.toml
  docs/tracking/campaigns/ci-coverage/generated/status.md
Due: none

test(cuda): lock status receipt JSON contracts
  crates/bitnet-cli/src/commands/receipts.rs
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(slm): SLM-CPU-041 dense linear output storage boundary (#5754)
  crates/bitnet-cli/src/allocation_audit.rs
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_model_tests.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T193747Z-SLM-CPU-041-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(falcon3): register Falcon3 family lane
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/falcon3-family/README.md
  docs/proposals/BITNET-PROP-0012-falcon3-family-supported-models.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-A770-OPENCL.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-APPLE.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-ARTIFACT-CONTRACT.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-CPU.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-CUDA.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-I2S.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-PERFORMANCE.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-ROUTE-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-TL1-TL2.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-TOKENIZER-PROMPT.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/falcon3-family/CAMPAIGN.md
  docs/tracking/campaigns/falcon3-family/active.toml
  docs/tracking/campaigns/falcon3-family/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/falcon3-family/README.md
  plans/falcon3-family/implementation-plan.md
Due: none

docs(falcon3): register Falcon3 family lane (#5748)
  ci/hardware/apple-silicon-macbook/bitnet-candidate-matrix.toml
  ci/model-artifacts/model-coverage-matrix.toml
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/apple-silicon/bitnet-candidate-matrix.md
  docs/bitnet/falcon3-family/README.md
  docs/proposals/BITNET-PROP-0012-falcon3-family-supported-models.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-A770-OPENCL.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-APPLE.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-ARTIFACT-CONTRACT.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-CPU.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-CUDA.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-I2S.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-PERFORMANCE.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-ROUTE-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-TL1-TL2.md
  docs/specs/BITNET-SPEC-FALCON3-FAMILY-TOKENIZER-PROMPT.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/falcon3-family/CAMPAIGN.md
  docs/tracking/campaigns/falcon3-family/active.toml
  docs/tracking/campaigns/falcon3-family/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/falcon3-family/README.md
  plans/falcon3-family/implementation-plan.md
Due: none

test(cli): pin last-token hidden extraction
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-OP-007: dispatch OpenVINO ask routes
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-gpu-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-gpu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-npu-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-npu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T040500Z-LNL258V-OP-007-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: record LNL258V-OP-007 PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T041000Z-LNL258V-OP-007-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cuda): avoid panic in model status JSON helper
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-OP-007: dispatch OpenVINO ask routes (#5767)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-gpu-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-gpu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-npu-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-openvino-npu-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T040500Z-LNL258V-OP-007-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T041000Z-LNL258V-OP-007-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cli): pin last-token hidden extraction (#5761)
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close out LNL258V-OP-007
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T041500Z-LNL258V-OP-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-OP-007 closeout (#5768)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T041500Z-LNL258V-OP-007-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(bitnet): preserve GGML embedding token row layout
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(bitnet): preserve GGML embedding token row layout (#5753)
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): sync SLM-CPU-041 merge and queue 042
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T201404Z-SLM-CPU-041-merged-042-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-041 merge and queue 042 (#5769)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T201404Z-SLM-CPU-041-merged-042-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(lunar-lake): avoid panic in source receipt test
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-016 promote OpenVINO GPU ask profiles
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-gpu-ask-short-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-gpu-ask-short-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T043000Z-LNL258V-ROUTE-016-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T044000Z-LNL258V-ROUTE-016-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-016: promote OpenVINO GPU ask profiles (#5774)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-gpu-ask-short-math-brief-source-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-gpu-ask-short-math-brief.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T043000Z-LNL258V-ROUTE-016-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T044000Z-LNL258V-ROUTE-016-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-016 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T044500Z-LNL258V-ROUTE-016-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(bitnet): avoid panic in GGUF embedding layout test
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-016 closeout (#5776)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T044500Z-LNL258V-ROUTE-016-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(cli): avoid openvino source receipt expect
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-017: use profile-scoped route status
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T050500Z-LNL258V-ROUTE-017-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-017: use profile-scoped route status (#5777)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T050500Z-LNL258V-ROUTE-017-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-017 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T051000Z-LNL258V-ROUTE-017-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ROUTE-017 closeout (#5778)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T051000Z-LNL258V-ROUTE-017-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(lunar-lake): avoid panic in source receipt test (#5772)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(models): avoid panic in embedding normalization test
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): record SLM-CPU-042 PR open
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-18T203836Z-SLM-CPU-042-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
