Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

c
  fix_gguf_tokenizer.py
  gguf_metadata.json
  inspect_gguf.py
  test_tokenizer_cpp
  test_tokenizer_cpp.c
  tokenization_issue_analysis.md
  tokenizer_wrapper.cpp
Due: none

feat: Add GGUF compatibility fixer and universal tokenizer
  crates/bitnet-ffi/src/llama_compat.rs
  crates/bitnet-models/src/formats/gguf/compat.rs
  crates/bitnet-models/src/formats/gguf/mod.rs
  crates/bitnet-py/src/llama_compat.py
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/src/universal.rs
  examples/llama_cpp_migration.py
  include/llama_compat.h
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Implement comprehensive compatibility tests for FFI, tokenizers, GGUF, and Python API
  .github/workflows/compatibility.yml
  COMPATIBILITY.md
  crates/bitnet-ffi/tests/api_contract.rs
  crates/bitnet-models/tests/gguf_compatibility.rs
  crates/bitnet-py/tests/test_llama_compat.py
  crates/bitnet-tokenizers/tests/tokenizer_contracts.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: Add migration guide and compatibility demo for llama.cpp to BitNet.rs
  COMPATIBILITY.md
  MIGRATION.md
  Makefile
  crates/bitnet-ffi/build.rs
  examples/c_compatibility_demo.c
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Add compatibility layer for llama.cpp with GGUF support
  .github/workflows/compatibility.yml
  CLAUDE.md
  COMPATIBILITY.md
  Cargo.toml
  crates/bitnet-cli/src/cmd/compat.rs
  crates/bitnet-compat/Cargo.toml
  crates/bitnet-compat/src/gguf_fixer.rs
  crates/bitnet-compat/src/lib.rs
  crates/bitnet-ffi/Cargo.toml
  crates/bitnet-ffi/build.rs
  crates/bitnet-ffi/cbindgen.toml
  crates/bitnet-ffi/include/bitnet_llama_compat.h
  crates/bitnet-inference/src/config.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-models/src/formats/gguf/compat.rs
  crates/bitnet-models/src/formats/gguf/mod.rs
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/src/mock.rs
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance compatibility tests and documentation for GGUF and FFI integration
  .github/workflows/compatibility.yml
  CLAUDE.md
  ci/expected-symbols-linux.txt
  ci/expected-symbols-macos.txt
  ci/expected-symbols-windows.txt
  crates/bitnet-ffi/src/inference.rs
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance GGUF compatibility with new tests and integration for compatibility stamp
  .github/workflows/compatibility.yml
  ci/expected-symbols-linux.txt
  crates/bitnet-cli/src/main.rs
  crates/bitnet-compat/tests/compat_stamp.rs
  crates/bitnet-ffi/Cargo.toml
  crates/bitnet-ffi/src/lib.rs
  crates/bitnet-ffi/src/llama_compat.rs
  crates/bitnet-inference/tests/batch_tests.rs
  crates/bitnet-inference/tests/integration_tests.rs
  crates/bitnet-inference/tests/performance_tests.rs
  crates/bitnet-inference/tests/unit_tests.rs
  tests/e2e_workflow_integration_tests.rs
  tests/integration/component_interaction_tests.rs
  tests/integration/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: Update tokenizer API for compatibility with new parameters and enhance mock implementations
  crates/bitnet-py/src/tokenizer.rs
  examples/integrations/actix_server.rs
  examples/integrations/axum_server.rs
  examples/integrations/tokenizers_integration.rs
  examples/integrations/warp_server.rs
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Add GGUF v3 byte building and value writing helpers for enhanced testing
  crates/bitnet-models/src/formats/gguf/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Update GGUF byte building helper to reflect v2 header structure and versioning
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance GGUF reader and tests for v3 alignment and data_offset handling
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Add support for GGUF v2 and v3 headers with alignment and data_offset sanitization
  COMPATIBILITY.md
  crates/bitnet-models/src/formats/gguf/tests.rs
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(ci): Implement comprehensive CI workflow for BitNet with cross-platform support
  .github/workflows/ci-always-green.yml
  CPP_COMPATIBILITY.md
  CROSSVAL_FINAL_SUMMARY.md
  CROSSVAL_IMPROVEMENTS.md
  crates/bitnet-cli/src/main.rs
  crates/bitnet-ffi/src/llama_compat.rs
  crates/bitnet-ffi/src/memory.rs
  crates/bitnet-ffi/src/model.rs
  crates/bitnet-ffi/tests/api_contract.rs
  crates/bitnet-ffi/tests/c_api_tests.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/benches/kernel_benchmarks.rs
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/streaming.rs
  crates/bitnet-tokenizers/src/universal.rs
  diagnose_cpp.sh
  docs/CPP_CROSSVAL_GUIDE.md
  fix_cpp_compat.sh
  scripts/build_cpp_static.sh
  tests/integration/batch_processing_tests.rs
  tests/integration/tokenization_pipeline_tests.rs
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/tests/mini_gguf.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: Update tokenizer API and server configuration; add comprehensive test results report
  TEST_RESULTS.md
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-server/src/bin/server.rs
  crates/bitnet-tokenizers/tests/unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: Enhance GGUF header parsing to support early v3 format and improve error handling
  DROPIN_VALIDATION_REPORT.md
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-server/src/bin/server.rs
  scripts/ci-acceptance-gate.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Improve FFI library build process and enhance C++ header preflight checks
  crates/bitnet-models/src/formats/gguf/types.rs
  scripts/ci-acceptance-gate.sh
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance GGUF reader to support early v3 format and improve diagnostics in cross-validation
  DROPIN_VALIDATION_SUMMARY.md
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/reader.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  scripts/ci-acceptance-gate.sh
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance documentation to detail GGUF v3 early variant support and validation results as a superior drop-in replacement
  COMPATIBILITY.md
  DOCUMENTATION_UPDATE_SUMMARY.md
  README.md
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Enhance GGUF compatibility with improved early variant handling and comprehensive test coverage
  COMPATIBILITY.md
  README.md
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/tests/gguf_compatibility.rs.disabled
  crates/bitnet-models/tests/gguf_header.rs.disabled
  crates/bitnet-tokenizers/src/universal.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: Add Model Compatibility Report detailing BitNet.rs and bitnet.cpp interoperability with GGUF v3 early variant
  MODEL_COMPATIBILITY_REPORT.md
  README.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
