Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs(agent): align merge flow with campaign authority
  .claude/agents3/pr-to-merge.md
  .claude/agents4/pr-to-merge.md
Due: none

docs(agent): align merge flow with campaign authority (#4447)
  .claude/agents3/pr-to-merge.md
  .claude/agents4/pr-to-merge.md
Due: none

CUDA-UX-005: fail closed legacy CUDA bench fallback
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/CUDA_UX_005_BENCHMARK_FAIL_CLOSED.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T180042Z-CUDA-UX-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-UX-005: record PR open tracker state
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T180608Z-CUDA-UX-005-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-UX-005: fail closed legacy CUDA bench fallback (#4448)
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/CUDA_UX_005_BENCHMARK_FAIL_CLOSED.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T180042Z-CUDA-UX-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T180608Z-CUDA-UX-005-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-UX-005: close tracker after merge
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T182101Z-CUDA-UX-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-UX-005: close tracker after merge (#4449)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T182101Z-CUDA-UX-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-PERF-005: record H2D transfer envelope
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-one-token-strict-cuda-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-short-decode-strict-cuda-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-warm-session-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_PERF_005_H2D_TRANSFER_ENVELOPE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T184853Z-CUDA-DENSE-PERF-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-DENSE-PERF-005: record PR open tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T185125Z-CUDA-DENSE-PERF-005-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-DENSE-PERF-005: record H2D transfer envelope (#4450)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-one-token-strict-cuda-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-short-decode-strict-cuda-qwen25-q8.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-005-h2d-transfer-envelope/dense-gguf-qwen-warm-session-strict-cuda-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_PERF_005_H2D_TRANSFER_ENVELOPE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T184853Z-CUDA-DENSE-PERF-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T185125Z-CUDA-DENSE-PERF-005-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-DENSE-PERF-005: close tracker after merge
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T190706Z-CUDA-DENSE-PERF-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-PERF-005: close tracker after merge (#4451)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T190706Z-CUDA-DENSE-PERF-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-PERF-006: qualify H2D envelope evidence
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-006-h2d-envelope-qualification/dense-gguf-qwen-benchmark-qualification-h2d-envelope.json
  crates/bitnet-bench-receipts/src/bin/dense_qwen_cuda_benchmark_qualification_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/reports/CUDA_DENSE_PERF_006_H2D_ENVELOPE_QUALIFICATION.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T192134Z-CUDA-DENSE-PERF-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

CUDA-DENSE-PERF-006: record PR open tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T192350Z-CUDA-DENSE-PERF-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-DENSE-PERF-006: qualify H2D envelope evidence (#4452)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-10/dense-qwen-perf-006-h2d-envelope-qualification/dense-gguf-qwen-benchmark-qualification-h2d-envelope.json
  crates/bitnet-bench-receipts/src/bin/dense_qwen_cuda_benchmark_qualification_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  docs/reports/CUDA_DENSE_PERF_006_H2D_ENVELOPE_QUALIFICATION.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T192134Z-CUDA-DENSE-PERF-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T192350Z-CUDA-DENSE-PERF-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

CUDA-DENSE-PERF-006: close tracker after merge
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T193633Z-CUDA-DENSE-PERF-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-DENSE-PERF-006: close tracker after merge (#4453)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T193633Z-CUDA-DENSE-PERF-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-UX-006: report CUDA benchmark receipts
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/CUDA_UX_006_BENCHMARK_RECEIPT_REPORT.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T195501Z-CUDA-UX-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

CUDA-UX-006: mark PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T195839Z-CUDA-UX-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

CUDA-UX-006: report CUDA benchmark receipts (#4454)
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/reports/CUDA_UX_006_BENCHMARK_RECEIPT_REPORT.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T195501Z-CUDA-UX-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T195839Z-CUDA-UX-006-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-UX-006 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T201355Z-CUDA-UX-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-UX-006 tracker (#4455)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T201355Z-CUDA-UX-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): explain benchmark qualification receipts
  crates/bitnet-cli/src/commands/receipts.rs
  docs/reports/CUDA_UX_007_RECEIPTS_EXPLAIN_BENCHMARK_REPORT.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T203610Z-CUDA-UX-007-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): record CUDA-UX-007 PR
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T203941Z-CUDA-UX-007-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(ci): gate Metal integration test behind metal-runtime and harden receipt fallback
  .github/workflows/verify-receipts.yml
  crates/bitnet-kernels/Cargo.toml
Due: none

CUDA-UX-007: explain benchmark qualification receipts (#4456)
  crates/bitnet-cli/src/commands/receipts.rs
  docs/reports/CUDA_UX_007_RECEIPTS_EXPLAIN_BENCHMARK_REPORT.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T203610Z-CUDA-UX-007-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T203941Z-CUDA-UX-007-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-UX-007 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T211021Z-CUDA-UX-007-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ci): repair Metal test gating and receipt fallback
  .github/workflows/verify-receipts.yml
  crates/bitnet-kernels/Cargo.toml
Due: none

docs(cuda): close CUDA-UX-007 tracker (#4458)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-10T211021Z-CUDA-UX-007-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(ci): add required-features to remaining optional-dep test targets
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cpu/neon_kv_cache_paged.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

MODEL-COVERAGE-001: add model coverage matrix
  ci/model-artifacts/model-coverage-matrix.toml
  docs/model-artifacts/ANSWER_ARTIFACT_GATE.md
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T213000Z-MODEL-COVERAGE-001-in-progress.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/main.rs
  xtask/src/model_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(model): mark MODEL-COVERAGE-001 pr open
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T214000Z-MODEL-COVERAGE-001-pr-open.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

MODEL-COVERAGE-001: add model coverage matrix (#4460)
  ci/model-artifacts/model-coverage-matrix.toml
  docs/model-artifacts/ANSWER_ARTIFACT_GATE.md
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T213000Z-MODEL-COVERAGE-001-in-progress.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T214000Z-MODEL-COVERAGE-001-pr-open.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/main.rs
  xtask/src/model_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update roadmap and record CI conventions for contributor guidance
  CLAUDE.md
  ROADMAP.md
Due: none

docs(model): close MODEL-COVERAGE-001 tracker
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T221534Z-MODEL-COVERAGE-001-merged.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(model): close MODEL-COVERAGE-001 tracker (#4462)
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-10T221534Z-MODEL-COVERAGE-001-merged.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

MODEL-COVERAGE-002: add BitNet family coverage rows
  ci/model-artifacts/model-coverage-matrix.toml
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-11T000858Z-MODEL-COVERAGE-002-in-progress.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/model_coverage.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(model): mark MODEL-COVERAGE-002 pr open
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-11T001331Z-MODEL-COVERAGE-002-pr-open.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none
