Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(lunar-lake): mark ARC140V-004 merged (#3959)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T012257Z-ARC140V-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): SLM-CPU-004 Qwen3 answer corpus evidence
  ci/quality/slm-answer-corpus.yaml
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/capital_france.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/math_2_plus_2.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/repeat_colors.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/say_ok.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus-runs/yes_no_water.json
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-answer-corpus.json
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T011730Z-SLM-CPU-004-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): sync SLM-CPU-004 merge
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T014000Z-SLM-CPU-004-merged.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T014010Z-SLM-CPU-005-in-progress.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cli): add Apple M4 SLM warm session
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T005921Z-SLM-M4-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(cli): refresh help snapshot after rebase
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
Due: none

docs(tracking): record SLM-M4-004 PR open
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T010806Z-SLM-M4-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

ci(coverage): harden workflow triggers (#3958)
  .github/workflows/coverage.yml
Due: none

docs(ci): document coverage lane
  docs/ci/coverage.md
Due: none

docs(model): MODEL-ARTIFACT-005 split artifact authority dimensions
  ci/model-artifacts/artifact-manifest.toml
  ci/model-artifacts/candidate-artifacts.toml
  ci/model-artifacts/rejected-artifacts.toml
  docs/reports/MODEL_ARTIFACT_005_AUTHORITY_DIMENSIONS.md
  docs/tracking/campaigns/model-artifacts/CAMPAIGN.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-07T231841Z-MODEL-ARTIFACT-004-merged.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-08T000000Z-MODEL-ARTIFACT-005-ready.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-08T000100Z-MODEL-ARTIFACT-005-in-progress.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
Due: none

test(answer): record child failure diagnostics
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci(core): run required contexts on every PR
  .github/workflows/ci-core.yml
Due: none

[codex][apple-m4-slm-answer] Add SLM warm session receipts (SLM-M4-004)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T005921Z-SLM-M4-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T010806Z-SLM-M4-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci(core): run required contexts on every PR (#3966)
  .github/workflows/ci-core.yml
Due: none

feat(npu): add linear subgraph parity smoke
  crates/bitnet-cli/src/intel_npu.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T014823Z-NPU-008-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(npu): add NPU-008 linear subgraph parity (#3963)
  crates/bitnet-cli/src/intel_npu.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-device-probe/src/runtimes/mod.rs
  crates/bitnet-device-probe/src/runtimes/openvino.rs
  docs/specs/intel-lunar-lake-npu-roadmap.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T014823Z-NPU-008-pr-open.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Revert "ci(core): run required contexts on every PR (#3966)"
  .github/workflows/ci-core.yml
Due: none

feat(slm): add reference divergence validator
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-divergence-example.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/commands/reference_compare.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(readme): clarify answer-readiness status (#3960)
  README.md
Due: none

Revert "ci(core): run required contexts on every PR" (#3968)
  .github/workflows/ci-core.yml
Due: none

test(answer): record child failure diagnostics (#3962)
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out SLM-M4-004
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T020947Z-SLM-M4-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): mark SLM-CPU-005 PR open
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T022000Z-SLM-CPU-005-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(readme): make front door contributor-focused
  README.md
Due: none

docs(ci): document coverage lane (#3964)
  docs/ci/coverage.md
Due: none

[codex][apple-m4-slm-answer] Close out SLM warm session (SLM-M4-004)
  docs/tracking/campaigns/apple-m4-slm-answer/active.toml
  docs/tracking/campaigns/apple-m4-slm-answer/events/2026-05-08T020947Z-SLM-M4-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-answer/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(readme): make front door contributor-focused (#3971)
  README.md
Due: none

feat(slm): SLM-CPU-005 reference divergence validator
  ci/slm-cpu/intel-i5-8250u/2026-05-07/qwen3-reference-divergence-example.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/commands/reference_compare.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T022000Z-SLM-CPU-005-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(model): close MODEL-ARTIFACT-004
  docs/tracking/campaigns/model-artifacts/CAMPAIGN.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-07T231700Z-MODEL-ARTIFACT-004-merged.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(model): close MODEL-ARTIFACT-004 (#3945)
  docs/tracking/campaigns/model-artifacts/CAMPAIGN.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-07T231700Z-MODEL-ARTIFACT-004-merged.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cli): record CUDA answer child phases
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): localize CUDA answer child failures (#3974)
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): sync SLM-CPU-005 merge
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T024000Z-SLM-CPU-005-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cli): expose CUDA toolkit DLLs for strict run
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): expose CUDA toolkit DLLs for strict run (#3975)
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): correct SLM-CPU-005 merge SHA
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T024000Z-SLM-CPU-005-merged.toml
Due: none

docs(npu): mark NPU-008 merged
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-08T021859Z-NPU-008-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(model): split artifact authority dimensions
  ci/model-artifacts/artifact-manifest.toml
  ci/model-artifacts/candidate-artifacts.toml
  ci/model-artifacts/rejected-artifacts.toml
  docs/model-artifacts/ANSWER_ARTIFACT_GATE.md
  docs/reports/MODEL_ARTIFACT_005_AUTHORITY_DIMENSIONS.md
  docs/tracking/campaigns/model-artifacts/CAMPAIGN.md
  docs/tracking/campaigns/model-artifacts/active.toml
  docs/tracking/campaigns/model-artifacts/events/2026-05-08T032000Z-MODEL-ARTIFACT-005-in-progress.toml
  docs/tracking/campaigns/model-artifacts/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
