Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Improve crates.io readiness checks script
  scripts/quality-check.sh
Due: none

ffi: preserve last-error text in C API
  crates/bitnet-ffi/src/c_api.rs
  crates/bitnet-ffi/tests/c_api_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add improved C# P/Invoke bindings for bitnet FFI
  crates/bitnet-ffi/bindings/csharp/BitNetNative.cs
  crates/bitnet-ffi/bindings/csharp/README.md
Due: none

fix(inference): correct KVCache handling in CPU/GPU backends
  crates/bitnet-inference/src/backends.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add insta snapshot tests for key serializable types
  .github/workflows/ci-core.yml
  crates/bitnet-runtime-feature-flags/tests/snapshot_tests.rs
  crates/bitnet-runtime-feature-flags/tests/snapshots/snapshot_tests__active_features_cpu_activation.snap
  crates/bitnet-runtime-feature-flags/tests/snapshots/snapshot_tests__feature_line_cpu_activation.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: remove unused Context import in backends.rs (re-apply)
  crates/bitnet-inference/src/backends.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(fuzz): add wave 4 fuzz targets (#937)
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/engine_core_no_panic.rs
  fuzz/fuzz_targets/feature_activation_no_panic.rs
  fuzz/fuzz_targets/honest_compute_no_panic.rs
  fuzz/fuzz_targets/runtime_context_parse_no_panic.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update changelog for PRs #934-#935 (#939)
  CHANGELOG.md
Due: none

Improve C# FFI bindings with modern P/Invoke and safe wrappers (#942)
  crates/bitnet-ffi/bindings/csharp/BitNetNative.cs
  crates/bitnet-ffi/bindings/csharp/README.md
Due: none

ffi: preserve exact C last-error messages (#941)
  crates/bitnet-ffi/src/c_api.rs
  crates/bitnet-ffi/tests/c_api_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog for PRs #933-#942
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bdd-grid,sampling,receipts): expand BDD scenario coverage
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/microcrate_grid_tests.rs
  crates/bitnet-generation/tests/bdd_scenarios.rs
  crates/bitnet-receipts/tests/bdd_scenarios.rs
  crates/bitnet-sampling/tests/bdd_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-sys,bitnet-compat): add targeted unit tests for genuine coverage gaps
  crates/bitnet-compat/tests/double_fix_tests.rs
  crates/bitnet-sys/tests/caps_invariants.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: use multi_thread tokio runtime in golden path tests (block_in_place compat)
  crates/bitnet-inference/tests/cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: update remaining tokio tests to multi_thread flavor for block_in_place compat
  crates/bitnet-inference/tests/ac8_mock_implementation_replacement.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt on BDD scenario tests
  crates/bitnet-bdd-grid/tests/microcrate_grid_tests.rs
  crates/bitnet-receipts/tests/bdd_scenarios.rs
  crates/bitnet-sampling/tests/bdd_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt on bitnet-sys and bitnet-compat tests
  crates/bitnet-compat/tests/double_fix_tests.rs
  crates/bitnet-sys/tests/caps_invariants.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(inference): correct KVCache handling and fix CI failures
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/tests/ac8_mock_implementation_replacement.rs
  crates/bitnet-inference/tests/cpu_golden_path.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: trigger CI Core for scripts-only PR [skip ci-heavy]
  CHANGELOG.md
Due: none

docs: update changelog for PRs #933-#942 (#944)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bitnet-sys,bitnet-compat): add targeted unit tests for genuine coverage gaps (#946)
  crates/bitnet-compat/tests/double_fix_tests.rs
  crates/bitnet-sys/tests/caps_invariants.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: cargo fmt backends.rs
  crates/bitnet-inference/src/backends.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove unused mut and fix unused variable warnings in bdd_scenarios
  crates/bitnet-sampling/tests/bdd_scenarios.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Optimize AVX-512 TL2 quantization path
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve CUDA device detection path
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve Vulkan/OpenCL device alias handling
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve crates.io readiness validation script (#940)
  CHANGELOG.md
  scripts/quality-check.sh
Due: none

docs: update changelog for PRs #940, #945-#946
  CHANGELOG.md
Due: none

Improve ROCm detection and version parsing
  crates/bitnet-kernels/src/gpu_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: trigger CI Core
  CHANGELOG.md
Due: none

Improve token comparison behavior in crossval
  crossval/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bitnet-server: complete batched inference response handling
  crates/bitnet-server/src/batch_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Verify and fix CUDA wiring for GPU inference and quantization
  crates/bitnet-inference/src/gpu.rs
  crates/bitnet-kernels/src/gpu/kernels/bitnet_kernels.cu
  crates/bitnet-quantization/src/device_aware_quantizer.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  fix_quantizer_errors.py
  fix_unused_import.py
  manual_fix.py
  update_i2s.py
  update_inference_gpu.py
  update_kernels.py
  update_quantizer.py
  update_tl1.py
  update_tl2.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CPU inference path cache handling (#936)
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/tests/cpu_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Improve Python FFI generation validation and exports
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve IQ2_S Rust backend input validation
  crates/bitnet-models/src/quant/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix TL2 input quantization domain and add regression tests
  crates/bitnet-inference/src/layers/quantized_linear.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

improve Node-friendly WASM FFI type bindings
  crates/bitnet-wasm/pkg/bitnet_wasm.d.ts
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
