Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

refactor(cli): optimize stop checking and clarify BOS handling
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli,gguf,xtask): avoid unnecessary tail allocation, prefer QK256 close-match, and tidy test env handling
  crates/bitnet-cli/src/main.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  xtask/tests/ci_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(cli): MSRV-compatible UTF-8 boundary handling for rolling tail
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli,docs,crossval): remove implicit Q&A generation defaults; document default template; normalize parity receipts
  CLAUDE.md
  crates/bitnet-cli/src/commands/inference.rs
  crossval/docs/baselines/2025-10-19/parity-bitnetcpp.json
  crossval/tests/parity_bitnetcpp.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(quantization,models,tests,docs): enforce 8-byte minimum QK256 tolerance for alignment padding
  CLAUDE.md
  crates/bitnet-models/tests/loader_strict_mode.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/tests/qk256_tolerance.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cli): clarify default prompt-template (auto → llama3-chat/instruct) and update examples to use Microsoft QK256 model/tokenizer
  README.md
Due: none

docs(cli): update examples to Microsoft QK256 model/tokenizer; clarify templates and QK256 performance
  CLAUDE.md
  README.md
Due: none

docs(readme): Accurately reflect v0.1.0-qna-mvp status and limitations
  README.md
Due: none

docs: fix MD032 markdown lint violations in README.md
  README.md
Due: none

docs(claude): add Project Status, Test Status, Known Issues, and troubleshooting guidance
  CLAUDE.md
Due: none

docs: fix markdown lint warnings in CLAUDE.md
  CLAUDE.md
Due: none

docs: fix markdown lint warnings in Issue #254 research report
  ISSUE_254_SHAPE_MISMATCH_RESEARCH_REPORT.md
Due: none

fix: resolve clippy warnings in AC9 integration tests
  IMPLEMENTATION_ROADMAP_SUMMARY.txt
  TODO_ANALYSIS_REPORT.md
  TODO_QUICK_START.md
  TODO_REPORTS_INDEX.md
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-tokenizers/src/discovery.rs
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: document P0 correctness and UX improvements
  CLAUDE.md
  README.md
Due: none

tests: implement AC9 integration checks, expand AC3 mock model + relax sampling assertions, re-enable tokenizer test, bump cache timestamp
  Cargo.lock
  README.md
  WARN_ONCE_IMPLEMENTATION_SUMMARY.md
  WARN_ONCE_VERIFICATION_REPORT.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/WARN_ONCE_README.md
  crates/bitnet-common/examples/warn_once_demo.rs
  crates/bitnet-common/src/lib.rs
  crates/bitnet-common/src/warn_once.rs
  crates/bitnet-inference/src/config.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-inference/tests/batch_prefill.rs
  crates/bitnet-inference/tests/issue_462_cpu_forward_tests.rs
  crates/bitnet-inference/tests/logits_greedy_smoke.rs
  crates/bitnet-models/src/quant/i2s_qk256.rs
  crates/bitnet-models/src/quant/i2s_qk256_avx2.rs
  crates/bitnet-models/src/quant/mod.rs
  crates/bitnet-models/tests/i2s_close_match_priority.rs
  crates/bitnet-server/HEALTH_ENDPOINTS.md
  crates/bitnet-server/examples/health_endpoints.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/tests/health_endpoints_integration.rs
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/lib.rs
  docs/howto/use-warn-once.md
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels,inference,cli,receipts,tests,docs): add QK256 AVX2 dequant + benches/tests, strengthen inference stop checks, receipts validation, and BitNet auto-detect
  .github/workflows/parity-proof.yml
  CLAUDE.md
  Cargo.lock
  README.md
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/tests/template_auto_detect.rs
  crates/bitnet-inference/src/cpu.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/gpu.rs
  crates/bitnet-inference/src/receipts.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/benches/kernel_benchmarks.rs
  crates/bitnet-kernels/examples/qk256_dequantize_demo.rs
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-models/tests/qk256_avx2_correctness.rs
  docs/benchmarks/BENCHMARK_SUMMARY.md
  docs/benchmarks/qk256-dequant-benchmark.md
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

meta(mvp): add comprehensive PR slicing plan for final features
  PR_PLAN.md
Due: none

feat(server): implement performance indicators for AC05 health checks
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/execution_router.rs
  crates/bitnet-server/src/health/cpu_monitor.rs
  crates/bitnet-server/src/health/gpu_monitor.rs
  crates/bitnet-server/src/health/mod.rs
  crates/bitnet-server/src/health/performance.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/monitoring/ac05_types.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/monitoring/mod.rs
  crates/bitnet-server/src/shutdown.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(tokenizers): implement create_corrupted_tokenizer_file test helper
  crates/bitnet-tokenizers/tests/universal_tokenizer_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tests): implement all 21 TDD scaffolds for inference and server tests
  Cargo.lock
  IMPLEMENTATION_COMPARE_TABLE_LOOKUP.md
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY_parse_crossval_output.md
  TDD_SCAFFOLDS_IMPLEMENTATION_COMPLETE.md
  crates/bitnet-inference/tests/ac2_multi_head_attention.rs
  crates/bitnet-inference/tests/ac4_cross_validation_accuracy.rs
  crates/bitnet-inference/tests/numerical_accuracy_unit_tests.rs
  crates/bitnet-inference/tests/real_inference_engine.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/tests/ac01_rest_api_inference.rs
  crates/bitnet-server/tests/ac02_concurrent_requests.rs
  crates/bitnet-server/tests/ac03_model_hot_swapping.rs
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/test_gguf_model_preference.rs
  crates/bitnet-tokenizers/tests/universal_tokenizer_integration.rs
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): partial implementation of AC2 TL1 quantization accuracy test
  Cargo.lock
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/layers/attention.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-inference/tests/issue_254_ac1_quantized_linear_no_fp32_staging.rs
  crates/bitnet-inference/tests/issue_260_mock_elimination_inference_tests.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/correction_policy.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
  incomplete_model_method.rs
  new_create_quantized_model.rs
  new_tl2_test_body.rs
  tests/Cargo.toml
  tl2_test.patch
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement AC10 tensor naming convention validation
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tests): implement AC4 missing tensor error handling test
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
  incomplete_model_method.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement extreme dynamic range handling test (Scaffold 10)
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): complete sparse tensor preservation test (Scaffold 11)
  SCAFFOLDS_INDEX.md
  SCAFFOLD_IMPLEMENTATION_GUIDE_GGUF_PROPERTY_TESTS.md
  SPRINT_3_TDD_SCAFFOLD_COMPLETION.md
  SPRINT_COMPLETION_REPORT.md
  TDD_SCAFFOLDS_COMPREHENSIVE_REPORT.md
  TDD_SCAFFOLD_GGUF_PROPERTY_TESTS.md
  TDD_SCAFFOLD_GPU_QUANTIZATION.md
  TDD_SCAFFOLD_NEURAL_NETWORK.md
  TDD_SCAFFOLD_QUANTIZATION_COMPREHENSIVE_TESTS.md
  TDD_SCAFFOLD_REAL_MODEL_LOADING.md
  crates/bitnet-inference/tests/error_handling_helpers.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.proptest-regressions
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement AC5 deterministic reproducibility property test (Issue #159)
  crates/bitnet-models/tests/gguf_weight_loading_property_tests_enhanced.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement I2S distribution preservation enhanced property test (Issue #159)
  crates/bitnet-models/tests/gguf_weight_loading_property_tests_enhanced.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement AC1 complete transformer weight parsing test (Issue #159)
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement AC6 CPU device-aware tensor placement test (Issue #159)
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement Scaffold 2 - I2S quantization deterministic test (Issue #159)
  OPTIMIZED_WEIGHT_LOADING_IMPLEMENTATION.md
  SPRINT_4_TDD_SCAFFOLD_COMPLETION_REPORT.md
  SPRINT_FINAL_TDD_SCAFFOLD_COMPLETION.md
  TDD_SCAFFOLD_GUIDE_GGUF_ENHANCED_INTEGRATION.md
  TDD_SCAFFOLD_GUIDE_GGUF_PROPERTY_TESTS.md
  TDD_SCAFFOLD_GUIDE_GPU_TOKENIZER_OTHER.md
  TDD_SCAFFOLD_GUIDE_NEURAL_NETWORK_TESTS.md
  TDD_SCAFFOLD_GUIDE_QUANTIZATION_COMPREHENSIVE.md
  crates/bitnet-inference/tests/ac1_helper_functions.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs.bak
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs.orig
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement prop_quantization_handles_nan_inf edge case handling test (Scaffold 6, Issue #159)
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): implement AC9 end-to-end integration test (Issue #248)
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(quantization): enable TL2 comprehensive precision test with empirical thresholds
  crates/bitnet-quantization/tests/comprehensive_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): implement AC1.3 TL1 quantized linear layer test (Issue #248)
  crates/bitnet-inference/tests/ac1_quantized_linear_layers.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): implement prop_block_aligned_quantization efficiency test (Issue #159)
  AC10_ERROR_HANDLERS_COMPLETE.rs
  AC4_CROSS_VALIDATION_IMPLEMENTATION_SUMMARY.md
  AC5_IMPLEMENTATION_COMPLETE.md
  FINAL_TDD_SCAFFOLD_SPRINT_REPORT.md
  FINAL_TDD_SCAFFOLD_SPRINT_SUCCESS.md
  SCAFFOLD_1_CROSS_PLATFORM_QUANTIZATION_CONSISTENCY_COMPLETION.md
  SPRINT_TDD_SCAFFOLD_COMPLETION_REPORT.md
  TDD_PERFORMANCE_PIPELINE_IMPLEMENTATION.md
  crates/bitnet-inference/tests/ac1_quantized_linear_layers.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
  fix_tl2_test.py
  replace_tl2_test.py
  tl2_test_impl.patch
  tl2_test_replacement.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tests): implement and enable comprehensive TDD test scaffolds across crates
  AC8_MOCK_REPLACEMENT_VALIDATION_IMPLEMENTATION.md
  CORRECTED_TDD_SCAFFOLD_STATUS.md
  FINAL_TDD_SCAFFOLD_SPRINT_COMPLETION.md
  FINAL_TDD_SCAFFOLD_STATUS_REPORT.md
  crates/bitnet-common/tests/issue_260_strict_mode_tests.rs
  crates/bitnet-inference/tests/issue_254_ac4_receipt_generation.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-kernels/tests/issue_260_feature_gated_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_device_aware_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_feature_matrix_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.proptest-regressions
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests_enhanced.rs
  crossval/tests/qk256_crossval.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix phantom test references per Agent A validation
  CLAUDE.md
  SESSION_COMPLETE_SUMMARY_2025-10-20.md
  TEST_SUITE_ANALYSIS_2025-10-20.md
  docs/tdd/receipts/AGENT_CAPABILITIES.md
Due: none

fix(kernels): adjust SIMD throughput threshold for performance variance (Issue #260)
  AUTOTESTS_ACTION_CHECKLIST.md
  AUTOTESTS_DETAILED_REFERENCE.md
  AUTOTESTS_EXECUTIVE_SUMMARY.md
  AUTOTESTS_INDEX.md
  AUTOTESTS_INVESTIGATION_REPORT.md
  CFG_PATTERN_DETAILS.md
  DOCUMENTATION_UPDATES_2025-10-20.md
  FINAL_SUMMARY_2025-10-20.md
  Justfile
  README.md
  SESSION_SUMMARY_2025-10-20.md
  TEST_BLOCKERS_ANALYSIS.md
  TEST_FILTERING_ANALYSIS.md
  TEST_FILTERING_SUMMARY.txt
  crates/bitnet-common/tests/common/mod.rs
  crates/bitnet-common/tests/issue_260_strict_mode_tests.rs
  crates/bitnet-kernels/tests/issue_260_feature_gated_tests.rs
  docs/tdd/receipts/IMPLEMENTATION_SUMMARY.md
  docs/tdd/receipts/agent_a_scaffold_validation.md
  docs/tdd/receipts/nextest_cpu_tail.txt
  docs/tdd/receipts/status.json
  scripts/tdd_receipts.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(workspace): apply clippy automatic fixes for code quality
  crates/bitnet-inference/tests/error_handling_helpers.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-models/tests/gguf_weight_loading_integration_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_property_tests.rs
  crates/bitnet-models/tests/gguf_weight_loading_tests.rs
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/health/performance.rs
  crates/bitnet-server/tests/ac01_rest_api_inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
