Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix: replace heredoc with echo-to-file in repin-actions.yml (YAML parse error)
  .github/workflows/repin-actions.yml
Due: none

fix: mark GPU feature-matrix checks as continue-on-error (cudarc requires nvcc)
  .github/workflows/feature-matrix.yml
Due: none

fix: mark ffi stub check allow_failure (requires C++ bitnet_sys library)
  .github/workflows/feature-matrix.yml
Due: none

fix: move continue-on-error to step level so check run reports green
  .github/workflows/feature-matrix.yml
Due: none

fix: address bot review comments on sampling, GPU probe, and CI workflows
  .github/workflows/feature-matrix.yml
  .github/workflows/fuzz-ci.yml
  .github/workflows/pr-size-guard.yml
  crates/bitnet-inference/src/generation/sampling.rs
  crates/bitnet-kernels/src/gpu_utils.rs
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: extract bitnet-rope microcrate for RoPE table generation
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/layers/attention.rs
  crates/bitnet-rope/Cargo.toml
  crates/bitnet-rope/README.md
  crates/bitnet-rope/src/lib.rs
  crates/bitnet-transformer/Cargo.toml
  crates/bitnet-transformer/README.md
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: convert all bare #[ignore] to #[ignore = "reason"] (713 annotations)
  crossval/tests/build_detection_tests.rs
  crossval/tests/cpp_wrapper_null_vocab_tests.rs
  crossval/tests/error_handling_tests.rs
  crossval/tests/error_path_comprehensive_tests.rs
  crossval/tests/ffi_error_tests.rs
  crossval/tests/ffi_fallback_tests.rs
  crossval/tests/ffi_integration_tests.rs
  crossval/tests/ffi_socket_tests.rs
  crossval/tests/gpu_layer_config_tests.rs
  crossval/tests/kv_position_tracking_tests.rs
  crossval/tests/tokenizer_authority_tests.rs
  tests-new/integration/ac9_comprehensive_integration_testing.rs
  xtask/src/main.rs
  xtask/tests/auto_repair_e2e_tests.rs
  xtask/tests/bitnet_cpp_auto_setup_tests.rs
  xtask/tests/ci_integration_tests.rs
  xtask/tests/cli_flag_parsing.rs
  xtask/tests/docs_cleanup_verification_tests.rs
  xtask/tests/edge_case_additional_tests.rs
  xtask/tests/edge_case_tests.rs
  xtask/tests/env_export_e2e_tests.rs
  xtask/tests/integration_workflow_tests.rs
  xtask/tests/llama_cpp_auto_setup_tests.rs
  xtask/tests/parity_both_integration_tests.rs
  xtask/tests/preflight_auto_repair_tests.rs
  xtask/tests/preflight_diagnostics.rs
  xtask/tests/preflight_integration.rs
  xtask/tests/preflight_matched_path_tests.rs
  xtask/tests/preflight_repair_mode_tests.rs
  xtask/tests/preflight_ux_tests.rs
  xtask/tests/reexec_robustness_tests.rs
  xtask/tests/rpath_merge_tests.rs
  xtask/tests/tokenizer_subcommand_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add E2E real model tests gated on BITNET_GGUF env var
  crates/bitnet-models/tests/e2e_real_model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: apply cargo fmt to e2e_real_model.rs
  crates/bitnet-models/tests/e2e_real_model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve pre-existing test failures (deadlocks, name mismatch, rpath split)
  tests/integration/platform_tests.rs
  tests/support/backend_helpers.rs
  tests/support/runtime_detection_warning_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: fix YAML parse error in property-tests workflow (inline Python at column 0)
  .github/workflows/property-tests.yml
Due: none

fix: replace Python heredoc in performance-tracking workflow with jq
  .github/workflows/performance-tracking.yml
Due: none

fix: update timestamp in inference.json for accuracy
  xtask/ci/inference.json
Due: none

fix: update MSRV to 1.92.0 for improved compatibility
  rust-toolchain.toml
Due: none

fix: update MSRV to 1.92.0 across workflows and documentation
  .github/workflows/ci-core.yml
  .github/workflows/compatibility.yml
  .github/workflows/contracts.yml
  .github/workflows/coverage.yml
  .github/workflows/crossval.yml
  .github/workflows/gpu.yml
  .github/workflows/guards-nightly.yml
  .github/workflows/guards.yml
  .github/workflows/perf-gate.yml
  .github/workflows/property-tests.yml
  .github/workflows/quant-matrix.yml
  .github/workflows/release.yml
  .github/workflows/test-framework.yml
  .github/workflows/tl-lut-nightly.yml
  .github/workflows/tl-lut-stress.yml
  .github/workflows/verify-receipts.yml
  CLAUDE.md
  Cargo.toml
  Dockerfile
  README.md
  crates/bitnet-trace/Cargo.toml
  deny.toml
  docs/ci/guardrails.md
  docs/development.md
  docs/quickstart.md
Due: none

Optimize SamplingStrategy with in-place operations for ~30% speedup
  baseline_bench.txt
  crates/bitnet-inference/src/generation/sampling.rs
  optimized_bench.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: phase-2 semantics — feature truthfulness, lattice normalization, kernel registry, backend validation
  .coderabbit.yaml
  .github/settings.yml
  .github/workflows/gpu-smoke.yml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/src/lib.rs
  crates/bitnet-ffi/Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/feature_gate_consistency.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-py/Cargo.toml
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-runtime-feature-flags/Cargo.toml
  crates/bitnet-runtime-feature-flags/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-transformer/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: update inference.json receipt from local run
  xtask/ci/inference.json
Due: none

fix: add --locked to gpu-smoke workflow cargo run command
  .github/workflows/gpu-smoke.yml
Due: none

fix: address review feedback on phase-2 semantics PR
  .github/workflows/gpu-smoke.yml
  crates/bitnet-common/src/backend_selection.rs
  deny.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: apply cargo fmt to xtask/src/main.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(wasm): semantic accessible tabs
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  crates/bitnet-wasm/examples/browser/main.js
Due: none

feat: phase-3 backend contracts + phase-4 grid runner
  .github/workflows/ci-core.yml
  Cargo.lock
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-receipts/src/lib.rs
  crates/bitnet-receipts/tests/property_tests.rs
  crates/bitnet-receipts/tests/snapshots/property_tests__receipt_structure.snap
  crates/bitnet-sys/Cargo.toml
  crates/bitnet-sys/build.rs
  crates/bitnet-sys/src/lib.rs
  crates/bitnet-sys/src/symbol_analysis.rs
  crossval/tests/parity_receipts.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: cargo fmt + add backend_contract_e2e tests
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-sys/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: add --no-default-features to xtask grid-check CI step to avoid CUDA linkage
  .github/workflows/ci-core.yml
Due: none

fix: address review comments (9 bot comments)
  crates/bitnet-receipts/src/lib.rs
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-sys/build.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: phase-3 backend contracts + phase-4 grid runner + phase-5 E2E tests (#613)
  .github/workflows/ci-core.yml
  Cargo.lock
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-receipts/src/lib.rs
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-receipts/tests/property_tests.rs
  crates/bitnet-receipts/tests/snapshots/property_tests__receipt_structure.snap
  crates/bitnet-sys/Cargo.toml
  crates/bitnet-sys/build.rs
  crates/bitnet-sys/src/lib.rs
  crates/bitnet-sys/src/symbol_analysis.rs
  crossval/tests/parity_receipts.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: phase-6 SRP microcrate extractions
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-engine-core/Cargo.toml
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-ffi/src/streaming.rs
  crates/bitnet-generation/Cargo.toml
  crates/bitnet-generation/src/lib.rs
  crates/bitnet-gguf/Cargo.toml
  crates/bitnet-gguf/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-logits/Cargo.toml
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/formats/gguf/mod.rs
  crates/bitnet-sampling/Cargo.toml
  crates/bitnet-sampling/src/lib.rs
  crates/bitnet-sys/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: rustfmt single-line unwrap_or in streaming.rs
  crates/bitnet-ffi/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: address bot review comments (performance, correctness, feature forwarding)
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-gguf/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-logits/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: phase-6 SRP microcrate extractions (device-probe, logits, generation, engine-core, gguf) (#614)
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-engine-core/Cargo.toml
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-ffi/src/streaming.rs
  crates/bitnet-generation/Cargo.toml
  crates/bitnet-generation/src/lib.rs
  crates/bitnet-gguf/Cargo.toml
  crates/bitnet-gguf/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-logits/Cargo.toml
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/formats/gguf/mod.rs
  crates/bitnet-sampling/Cargo.toml
  crates/bitnet-sampling/src/lib.rs
  crates/bitnet-sys/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(security): implement strict CORS configuration
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(security): implement strict CORS configuration
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(sampling): migrate SamplingStrategy to bitnet-logits; fix flaky env-mutating tests
  crates/bitnet-sampling/src/lib.rs
  tests/issue_465_baseline_tests.rs
  tests/issue_465_ci_gates_tests.rs
  tests/issue_465_release_qa_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(sampling): apply top-k before softmax; guard empty logits; use inv_sum
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(sampling): restore greedy_sample for llama.cpp-compatible tie-breaking; add serial to documentation tests
  crates/bitnet-sampling/src/lib.rs
  tests/issue_465_documentation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tests): configure_deterministic_env returns EnvScope for proper env cleanup
  tests/issue_465_baseline_tests.rs
  tests/issue_465_ci_gates_tests.rs
  tests/issue_465_documentation_tests.rs
  tests/issue_465_release_qa_tests.rs
  tests/issue_465_test_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor(sampling): migrate SamplingStrategy to bitnet-logits; fix env-mutating test flakiness (#616)
  crates/bitnet-sampling/src/lib.rs
  tests/issue_465_baseline_tests.rs
  tests/issue_465_ci_gates_tests.rs
  tests/issue_465_documentation_tests.rs
  tests/issue_465_release_qa_tests.rs
  tests/issue_465_test_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
