Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

docs(tracking): mark INV-001 PR open
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: complete crate consolidation inventory (INV-001)
  docs/tracking/bitnet-alignment/crate-consolidation-map.yaml
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): mark INV-001 merged
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): add CPU proof ledger items
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/verification-gates.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: add strict CPU proof command (CPU-001)
  docs/howto/validate-models.md
  docs/reference/inference-cli-reference.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): mark CPU-001 PR open
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): mark CPU-001 merged
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): ready CPU-002 receipt proof
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): reconcile validation contracts
  .codex/bitnet-alignment.md
  ci/hardware/README.md
  ci/hardware/_templates/benchmark.json
  ci/hardware/_templates/parity.json
  ci/hardware/_templates/probe.json
  ci/hardware/_templates/smoke.json
  ci/hardware/_templates/strict-bitnet-proof.json
  docs/bitnet/BITNET_REFERENCE_RUNS.md
  docs/bitnet/fixtures.yaml
  docs/tracking/bitnet-alignment/README.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): reconcile validation contracts (#3628)
  .codex/bitnet-alignment.md
  ci/hardware/README.md
  ci/hardware/_templates/benchmark.json
  ci/hardware/_templates/parity.json
  ci/hardware/_templates/probe.json
  ci/hardware/_templates/smoke.json
  ci/hardware/_templates/strict-bitnet-proof.json
  docs/bitnet/BITNET_REFERENCE_RUNS.md
  docs/bitnet/fixtures.yaml
  docs/tracking/bitnet-alignment/README.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: add CPU path implementation plan
  ROADMAP.md
  docs/README.md
  docs/SUMMARY.md
  docs/architecture/cpu-path-plan.md
Due: none

docs: add native CPU path plan
  docs/SUMMARY.md
  docs/specs/INDEX.md
  docs/specs/cpu-path-plan.md
Due: none

docs: add BitNet CPU path plan
  docs/SUMMARY.md
  docs/bitnet/CPU_PATH_PLAN.md
  docs/bitnet/cpu_path_plan.yml
Due: none

docs(tracking): add validation fixtures and receipt templates
  .codex/bitnet-alignment.md
  ci/hardware/README.md
  ci/hardware/_templates/benchmark.json
  ci/hardware/_templates/parity.json
  ci/hardware/_templates/probe.json
  ci/hardware/_templates/smoke.json
  ci/hardware/_templates/strict-bitnet-proof.json
  docs/bitnet/BITNET_REFERENCE_RUNS.md
  docs/bitnet/fixtures.yaml
  docs/tracking/bitnet-alignment/README.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

feat(cli): validate CPU proof receipts
  crates/bitnet-cli/src/main.rs
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): add M4 machine probe bundle
  ci/hardware/README.md
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

[codex] Add M4 machine profile and probe bundle (#3627)
  ci/hardware/README.md
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: add BitNet CPU path plan
  .codex/bitnet-alignment.md
  docs/README.md
  docs/bitnet/BITNET_CPU_PATH_PLAN.md
  docs/bitnet/BITNET_KERNEL_MATRIX.md
  docs/bitnet/BITNET_RECEIPT_FIELDS.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: add real BitNet CPU path plan
  .codex/bitnet-alignment.md
  docs/README.md
  docs/bitnet/BITNET_CPU_PATH_PLAN.md
  docs/bitnet/BITNET_KERNEL_MATRIX.md
  docs/bitnet/BITNET_RECEIPT_FIELDS.md
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): mark M4-002 merged
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

[codex] Mark M4-002 merged in tracker (#3643)
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs: sync CPU-BITNET-000 merge status
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

docs(tracking): add campaign-local goal manifests
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4/goal.md
  .codex/campaigns/cpu-proof/goal.md
  .codex/campaigns/crate-collapse/goal.md
  .codex/campaigns/intel-a770/goal.md
  .codex/campaigns/intel-npu/goal.md
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/.gitkeep
  docs/tracking/campaigns/apple-m4/generated/.gitkeep
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/.gitkeep
  docs/tracking/campaigns/cpu-proof/generated/.gitkeep
  docs/tracking/campaigns/crate-collapse/CAMPAIGN.md
  docs/tracking/campaigns/crate-collapse/active.toml
  docs/tracking/campaigns/crate-collapse/events/.gitkeep
  docs/tracking/campaigns/crate-collapse/generated/.gitkeep
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/.gitkeep
  docs/tracking/campaigns/intel-a770/generated/.gitkeep
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/.gitkeep
  docs/tracking/campaigns/intel-npu/generated/.gitkeep
  docs/tracking/generated/README.md
Due: none

docs: expand BitNet CPU path plan
  docs/SUMMARY.md
  docs/bitnet/BITNET_CPU_PATH_PLAN.md
Due: none

docs: add cpu path plan
  README.md
  docs/explanation/cpu-path-plan.md
Due: none

docs: sync CPU-BITNET-000 merge status (#3644)
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
Due: none

[codex] Add campaign-local goal manifests (#3645)
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4/goal.md
  .codex/campaigns/cpu-proof/goal.md
  .codex/campaigns/crate-collapse/goal.md
  .codex/campaigns/intel-a770/goal.md
  .codex/campaigns/intel-npu/goal.md
  docs/tracking/TRACKER_MODEL.md
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/.gitkeep
  docs/tracking/campaigns/apple-m4/generated/.gitkeep
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/.gitkeep
  docs/tracking/campaigns/cpu-proof/generated/.gitkeep
  docs/tracking/campaigns/crate-collapse/CAMPAIGN.md
  docs/tracking/campaigns/crate-collapse/active.toml
  docs/tracking/campaigns/crate-collapse/events/.gitkeep
  docs/tracking/campaigns/crate-collapse/generated/.gitkeep
  docs/tracking/campaigns/intel-a770/CAMPAIGN.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/events/.gitkeep
  docs/tracking/campaigns/intel-a770/generated/.gitkeep
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/.gitkeep
  docs/tracking/campaigns/intel-npu/generated/.gitkeep
  docs/tracking/generated/README.md
Due: none

[codex] Preserve Apple M4 backend identity
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_config_edge_cases.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-cli/tests/snapshots/snapshot_wave10__cli_config_validate_invalid_device_error.snap
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T010853Z-M4-003-in-progress.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex] Mark M4-003 PR open
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T011032Z-M4-003-pr-open.toml
Due: none

Add strict CPU decode receipt validation
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/receipt_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add strict CPU proof receipt validation
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/receipt_validation_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4] Preserve backend identity (M4-003) (#3652)
  crates/bitnet-cli-config-core/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_config_edge_cases.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-cli/tests/snapshots/snapshot_wave10__cli_config_validate_invalid_device_error.snap
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-config-core/src/lib.rs
  docs/tracking/bitnet-alignment/status.md
  docs/tracking/bitnet-alignment/workstream-ledger.yaml
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T010853Z-M4-003-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T011032Z-M4-003-pr-open.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): record real GGUF loader authority
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/tests/qk256_dual_flavor_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Enforce strict CPU receipt authority
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/tokenizer_discovery.rs
  crates/bitnet-cli/tests/cli_args_aliases.rs
  crates/bitnet-tokenizer-discovery-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
