Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

test(bdd): add comprehensive multi-backend selection scenarios
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/backend_selection_bdd.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): add Intel subgroup-optimized kernels for Arc GPUs
  crates/bitnet-kernels/src/gpu/kernels/subgroup_matmul.cl
  crates/bitnet-kernels/src/gpu/kernels/subgroup_reduce.cl
  crates/bitnet-kernels/src/gpu/kernels/subgroup_softmax.cl
  crates/bitnet-kernels/src/gpu/mod.rs
  crates/bitnet-kernels/src/gpu/subgroup_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(transformer): add configurable activation dispatch
  crates/bitnet-common/src/config.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve model/tokenizer download robustness and offline behavior
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/src/download.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: update Cargo.lock with current registry resolution
  Cargo.lock
Due: none

fix(xtask): remove unused parentheses in retry backoff expression
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve CI failures for clippy and test panics
  crates/bitnet-generation/tests/bdd_scenarios.rs
  crates/bitnet-generation/tests/generation_tests.rs
  crates/bitnet-generation/tests/property_tests.rs
  crates/bitnet-gguf/tests/extended_proptests.rs
  crates/bitnet-gguf/tests/file_open_tests.rs
  crates/bitnet-gguf/tests/gguf_extended_tests.rs
  crates/bitnet-gguf/tests/gguf_proptests.rs
  crates/bitnet-gguf/tests/property_tests.rs
  crates/bitnet-logits/tests/logits_integration.rs
  crates/bitnet-logits/tests/logits_proptests.rs
  crates/bitnet-tokenizers/tests/tokenizer_extended_tests.rs
  patch_clippy.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: extend bitnet-rs for production-ready general LLMs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-feature-matrix/tests/bitnet_feature_matrix_tests.rs
  crates/bitnet-generation/tests/property_tests.rs
  crates/bitnet-inference/tests/inference_integration_tests.rs
  crates/bitnet-logits/tests/logits_integration.rs
  crates/bitnet-logits/tests/logits_proptests.rs
  crates/bitnet-quantization/tests/property_tests.rs
  crates/bitnet-server/src/concurrency.rs
  crates/bitnet-tokenizers/tests/tokenizer_extended_tests.rs
  patch_clippy.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: extend bitnet-rs for production-ready general LLMs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-common/tests/common_proptests.rs
  crates/bitnet-device-probe/tests/device_probe_integration.rs
  crates/bitnet-device-probe/tests/device_probe_tests.rs
  crates/bitnet-engine-core/tests/engine_core_proptests.rs
  crates/bitnet-engine-core/tests/engine_core_tests.rs
  crates/bitnet-engine-core/tests/property_tests.rs
  crates/bitnet-feature-matrix/tests/bitnet_feature_matrix_tests.rs
  crates/bitnet-inference/tests/inference_integration_tests.rs
  crates/bitnet-kernels/src/convolution.rs
  crates/bitnet-kernels/tests/kernels_extended_tests.rs
  crates/bitnet-logits/tests/logits_integration.rs
  crates/bitnet-logits/tests/logits_proptests.rs
  crates/bitnet-logits/tests/logits_tests.rs
  crates/bitnet-logits/tests/property_tests.rs
  crates/bitnet-models/tests/model_loading_extended_tests.rs
  crates/bitnet-quantization/tests/integration_tests.rs
  crates/bitnet-quantization/tests/property_tests.rs
  crates/bitnet-quantization/tests/quantization_extended_tests.rs
  crates/bitnet-sampling/tests/comprehensive_proptests.rs
  crates/bitnet-server/src/concurrency.rs
  crates/bitnet-server/src/security.rs
  crates/bitnet-tokenizers/tests/property_tests.rs
  crates/bitnet-tokenizers/tests/tokenizer_comprehensive_tests.rs
  crates/bitnet-validation/tests/property_tests.rs
  patch_clippy.py
  patch_clippy_quant.py
  patch_concurrency.py
  patch_conv.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci(docs): add unified docs automation workflow and script
  .github/workflows/docs-automation.yml
  Justfile
  Makefile
  scripts/docs_automation.sh
Due: none

fix(docs): resolve all markdownlint violations in crossval/xtask/third-party docs
  .markdownlint.jsonc
  THIRD_PARTY.md
  tools/crossval/README.md
  xtask/README.md
  xtask/tests/SMOKE_TEST_DUMP_IDS.md
Due: none

fix(docs): add required blank lines to fix markdownlint violations
  xtask/tests/SMOKE_TEST_DUMP_IDS.md
Due: none

fuzz: add kernel dispatch, KV cache, config parse, sampling, and tensor shape fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/kernel_dispatch.rs
  fuzz/fuzz_targets/kv_cache_ops.rs
  fuzz/fuzz_targets/model_config_parse.rs
  fuzz/fuzz_targets/sampling_temperature.rs
  fuzz/fuzz_targets/tensor_shape_validate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: add Device::Hip and Device::Npu match arms across all crates
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/tests/gguf_weight_loading_mutation_killers_simple.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/execution_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(quantization): add match arms for Device::Hip and Device::Npu
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add HIP/NPU scaffolding for device selection and build plumbing
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-common/tests/backend_selection_tests.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
  crates/bitnet-common/tests/property_tests.rs
  crates/bitnet-common/tests/snapshot_tests.rs
  crates/bitnet-common/tests/snapshots/snapshot_tests__kernel_capabilities_cpu_avx2.snap
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/build.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-kernels/src/device_features.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(hip-npu): add Device::Hip/Npu arms to autoregressive batch size match
  crates/bitnet-inference/src/generation/autoregressive.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove duplicate Device::Hip/Npu arm and add missing arm in gguf_simple.rs
  crates/bitnet-models/src/gguf_simple.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(receipts): extend receipt schema with OpenCL device info and timing
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-receipts/src/lib.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(snapshot): update kernel provider count 2→3 after Metal backend
  crates/bitnet-kernels/tests/snapshots/snapshot_tests__kernel_manager_has_at_least_one_provider.snap
Due: none

test(proptest): add property tests for feature-matrix, runtime-context, startup-contract, testing-scenarios
  crates/bitnet-feature-matrix/tests/property_tests.rs
  crates/bitnet-runtime-context/tests/property_tests.rs
  crates/bitnet-startup-contract/tests/property_tests.rs
  crates/bitnet-testing-scenarios/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add QK256 GEMV, attention, and RMSNorm kernel scaffolding
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  crates/bitnet-kernels/src/cuda/rmsnorm.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: rebase download system on latest main
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve CI failures for docs automation
  scripts/docs_automation.sh
Due: none

feat(opencl): add QK256, TL1, TL2 quantization kernels for GPU
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-kernels/src/gpu/kernels/mod.rs
  crates/bitnet-kernels/src/gpu/kernels/qk256.cl
  crates/bitnet-kernels/src/gpu/kernels/tl1.cl
  crates/bitnet-kernels/src/gpu/kernels/tl2.cl
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/quantized_gpu.rs
  crates/bitnet-kernels/tests/backend_selection_bdd.rs
  crates/bitnet-kernels/tests/gpu_info_mock.rs
  crates/bitnet-kernels/tests/opencl_bdd_tests.rs
  crates/bitnet-kernels/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve CI failures after rebase for HIP/NPU support
  crates/bitnet-kernels/tests/property_tests.rs
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): fill kernel gaps — add rmsnorm/silu and remove dead orphan files
  crates/bitnet-inference/src/backend.rs
  crates/bitnet-inference/src/batch.rs
  crates/bitnet-inference/src/cpu.rs
  crates/bitnet-inference/src/cpu_opt.rs
  crates/bitnet-inference/src/fallback.rs
  crates/bitnet-inference/src/gpu.rs
  crates/bitnet-inference/src/loader.rs
  crates/bitnet-inference/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(snapshot): add insta snapshots for bitnet-feature-matrix and bitnet-test-support
  Cargo.lock
  crates/bitnet-feature-matrix/Cargo.toml
  crates/bitnet-feature-matrix/tests/snapshot_tests.rs
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__bitnet_feature_display_variants.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__canonical_grid_scenario_row_counts.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__execution_environment_display_variants.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__feature_line_invariant.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__feature_set_cpu_only_labels.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__feature_set_empty_labels.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__feature_set_multiple_labels_sorted.snap
  crates/bitnet-feature-matrix/tests/snapshots/snapshot_tests__testing_scenario_display_variants.snap
  crates/bitnet-test-support/Cargo.toml
  crates/bitnet-test-support/tests/snapshot_tests.rs
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__env_guard_key.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__env_guard_original_absent.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__env_guard_original_present.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__env_scope_default_debug.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__model_path_absent.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__run_e2e_default.snap
  crates/bitnet-test-support/tests/snapshots/snapshot_tests__run_slow_tests_default.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(models): add GGUF-to-GPU tensor loader for Intel Arc
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-models/src/gpu_loader.rs
  crates/bitnet-models/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: enable TDD scaffolds and reduce ignored test count
  tests/test_infrastructure_helpers_tests.rs
  tests/test_support_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(snapshot): update kernel provider count 2→3 after Metal backend (#1089)
  crates/bitnet-kernels/tests/snapshots/snapshot_tests__kernel_manager_has_at_least_one_provider.snap
Due: none

docs: update CHANGELOG for recent PRs #1003-#1048
  CHANGELOG.md
Due: none

style: cargo fmt fuzz targets
  fuzz/fuzz_targets/kernel_dispatch.rs
  fuzz/fuzz_targets/kv_cache_ops.rs
  fuzz/fuzz_targets/sampling_temperature.rs
  fuzz/fuzz_targets/tensor_shape_validate.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: complete fuzz target matrices in fuzz-nightly and fuzz-ci workflows
  .github/workflows/fuzz-ci.yml
  .github/workflows/fuzz-nightly.yml
Due: none

feat(transformer): add configurable RMSNorm/LayerNorm dispatch
  crates/bitnet-common/src/config.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(common): add Device::Vulkan variant for Vulkan compute backend
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-common/tests/backend_selection_tests.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
  crates/bitnet-common/tests/property_tests.rs
  crates/bitnet-common/tests/snapshot_tests.rs
  crates/bitnet-common/tests/snapshots/snapshot_tests__kernel_backend_display_variants.snap
  crates/bitnet-common/tests/snapshots/snapshot_tests__kernel_capabilities_cpu_avx2.snap
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/npu.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-kernels/tests/property_tests.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/execution_router.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tokenizers): add Phi-4 tokenizer compatibility and ChatML template
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi4_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi4_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi4_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

bench: add quantization and kernel operation benchmarks
  Cargo.lock
  Cargo.toml
  benches/kernel_ops.rs
  benches/quantization_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(rocm): add HIP kernel stubs mirroring CUDA structure
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/rocm/attention.rs
  crates/bitnet-kernels/src/rocm/mod.rs
  crates/bitnet-kernels/src/rocm/qk256_gemv.rs
  crates/bitnet-kernels/src/rocm/rmsnorm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
