Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Gate C++ cross-validation behind optional feature
  tests/Cargo.toml
  tests/common/cross_validation/mod.rs
  tests/common/cross_validation/test_runner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(tests): implement model registry scanning for cross-validation tests
  tests/Cargo.toml
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/mod.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/cross_validation/test_runner.rs
  tests/common/mod.rs
  tests/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix cross-validation FFI warnings and compile errors
  tests/common/cross_validation/cpp_ffi.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/cross_validation/mod.rs
  tests/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

wrap avx2 intrinsics in explicit unsafe blocks
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(crossval): add parity helper call in smoke test
  crates/bitnet-kernels/src/cpu/x86.rs
  crossval/src/lib.rs
  crossval/tests/smoke.rs
  tests/common/cross_validation/comparison.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/mod.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/cross_validation/test_runner.rs
  tests/common/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(agents): add context-scout, pr-initial-reviewer, pr-merger, and test-runner-analyzer agents for enhanced code analysis and testing workflows
  .claude/agents/context-scout.md
  .claude/agents/pr-initial-reviewer.md
  .claude/agents/pr-merger.md
  .claude/agents/test-runner-analyzer.md
Due: none

fix: update GPU memory validation example to ensure proper feature checks and usage instructions
  examples/test_gpu_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix compilation errors and improve FFI integration
  crates/bitnet-ffi/src/error.rs
  crossval/src/cpp_bindings.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/tests/cache/incremental/last_commit.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Apply cargo fmt formatting changes
  tests/common/cross_validation/comparison.rs
  tests/common/cross_validation/cpp_ffi.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/mod.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/cross_validation/test_runner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(crossval): Fix FFI bindings, test failures, and API compatibility
  .claude/agents/pr-cleanup-agent.md
  crates/bitnet-ffi/src/error.rs
  examples/format_duration_test.rs
  tests/common/cross_validation/comparison.rs
  tests/common/cross_validation/cpp_ffi.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/cross_validation/test_runner.rs
  tests/common/utils.rs
  tests/tests/cache/incremental/last_commit.txt
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(crossval): Add missing newline at end of cpp_ffi.rs
  tests/common/cross_validation/cpp_ffi.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor: Update agents for BitNet-specific context and functionality
  .claude/agents/context-scout.md
  .claude/agents/pr-cleanup-agent.md
  .claude/agents/pr-initial-reviewer.md
  .claude/agents/pr-merger.md
  .claude/agents/test-runner-analyzer.md
Due: none

fix: Resolve PR #59 compilation errors and clippy warnings
  crates/bitnet-ffi/src/inference.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-models/src/formats/gguf/tests.rs
  crates/bitnet-models/src/gguf_min.rs
  crates/bitnet-models/tests/iq2s_tests.rs
  crates/bitnet-py/examples/async_streaming.py
  crates/bitnet-py/src/inference.rs
  crates/bitnet-server/src/streaming.rs
  tests/common/config_scenarios.rs
  tests/integration/async_streaming_comprehensive_tests.rs
  tests/integration/streaming_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: Align AVX2 TL2 quantization with fallback implementation
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Resolve streaming PR compilation warnings and code quality issues
  crates/bitnet-compat/src/gguf_fixer.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/streaming.rs
  crates/bitnet-inference/tests/gguf_kv_arrays.rs
  crates/bitnet-py/Cargo.toml
  crates/bitnet-py/src/inference.rs
  crates/bitnet-server/src/streaming.rs
  crates/bitnet-tokenizers/src/sp_tokenizer.rs
  crates/bitnet-tokenizers/src/spm_tokenizer.rs
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
  crossval/src/fixtures.rs
  tests/integration/async_streaming_comprehensive_tests.rs
  tests/tests/cache/incremental/last_run.json
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: improve IQ2_S implementation with safety fixes and better testing
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
  crates/bitnet-tokenizers/src/sp_tokenizer.rs
  crossval/Cargo.toml
  crossval/tests/iq2s_validation.rs
  examples/test_gpu_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: Add Claude configuration and debugging tools
  .claude/README.md
  .claude/agents/pr-cleanup.md
  .claude/agents/pr-context-analyzer.md
  .claude/agents/pr-doc-finalizer.md
  .claude/agents/pr-finalize.md
  .claude/agents/pr-initial.md
  .claude/agents/pr-merge-executor.md
  .claude/agents/pr-test-validator.md
  debug_iq2s_size
  debug_iq2s_size.c
  test_ffi_constants
  test_ffi_constants.c
  test_ffi_direct.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Resolve clippy warnings and code quality issues
  crates/bitnet-inference/examples/validation_example.rs
  crates/bitnet-inference/tests/engine_inspect.rs
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(py): add bitnet_py stub for tests (#59)
  crates/bitnet-py/examples/async_streaming.py
  crates/bitnet-py/src/bitnet_py/__init__.py
  crates/bitnet-py/src/llama_compat.py
Due: none

feat(py): enhance async streaming with advanced features and comprehensive testing
  crates/bitnet-py/README.md
  crates/bitnet-py/examples/async_streaming.py
  crates/bitnet-py/pyproject.toml
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/llama_compat.py
  crates/bitnet-py/tests/test_async_streaming.py
  crates/bitnet-py/tests/test_streaming_comprehensive.rs
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: add virtual environment directories to .gitignore
  .gitignore
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
