Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

ci: add phase1 deterministic maintenance artifact workflow
  .github/workflows/phase1-maintenance.yml
  docs/ci/phase1-maintenance-plan.md
  scripts/ci/generate-phase1-artifacts.sh
Due: none

docs(ci): add phase-1 deterministic instrumentation plan
  docs/ci/phase1-instrumentation-plan.md
Due: none

Extract wgpu dispatch helpers into bitnet-dispatch-core
  Cargo.lock
  Cargo.toml
  crates/bitnet-dispatch-core/Cargo.toml
  crates/bitnet-dispatch-core/src/lib.rs
  crates/bitnet-wgpu/Cargo.toml
  crates/bitnet-wgpu/src/dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli): extract local sampler usage to bitnet-sampling crate
  Cargo.lock
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract CPU dense ops into bitnet-cpu-ops microcrate
  Cargo.toml
  crates/bitnet-cpu-ops/Cargo.toml
  crates/bitnet-cpu-ops/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/cpu_opt.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add zettelkasten-lite notes system for Copilot and Claude agents
  .claude/notes/README.md
  .claude/notes/moc/00-index.md
  .claude/notes/moc/10-ci.md
  .claude/notes/moc/20-determinism.md
  .claude/notes/moc/30-interop.md
  .claude/notes/moc/40-security.md
  .claude/notes/z/.gitkeep
  .copilot/notes/README.md
  .copilot/notes/friction-log.md
  .copilot/notes/moc/00-index.md
  .copilot/notes/moc/10-ci.md
  .copilot/notes/moc/20-determinism.md
  .copilot/notes/moc/30-interop.md
  .copilot/notes/moc/40-security.md
  .copilot/notes/z/20260301T1420-apple-silicon-team-process.md
  .githooks/README.md
  .githooks/pre-commit
Due: none

test(inference): add SLM CPU smoke regression fixtures
  crates/bitnet-inference/tests/slm_cpu_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): ARM NEON quantized matmul for Apple Silicon (#2165)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(fuzz): wave 19 — 6 new fuzz targets (#2100)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_activation_elementwise.rs
  fuzz/fuzz_targets/fuzz_conv2d_shapes.rs
  fuzz/fuzz_targets/fuzz_fused_kernels.rs
  fuzz/fuzz_targets/fuzz_quantized_matmul.rs
  fuzz/fuzz_targets/fuzz_shaped_reduction.rs
  fuzz/fuzz_targets/fuzz_transpose_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add fuzz-like proptest targets for OpenCL CPU references (#2096)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/opencl_fuzz_targets.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): GPU topology discovery (~63 tests) (#1358)
  crates/bitnet-gpu-hal/src/gpu_topology.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): memory defragmentation (~69 tests) (#1346)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/memory_defrag.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): inference session manager (~78 tests) (#1345)
  crates/bitnet-gpu-hal/src/inference_session.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): disk model cache (5 eviction policies, 57 tests) (#1342)
  crates/bitnet-gpu-hal/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): distributed inference (3 parallelism strategies, 73 tests) (#1340)
  crates/bitnet-gpu-hal/src/distributed.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): model architecture registry (75 tests) (#1386)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/model_architecture.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): inference tracing (~62 tests) (#1388)
  crates/bitnet-gpu-hal/src/inference_tracing.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): function calling (~60 tests) (#1397)
  crates/bitnet-gpu-hal/src/function_calling.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): structured output (~74 tests) (#1399)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/structured_output.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add contiguous-layout CPU batch operations (#2142)
  crates/bitnet-kernels/src/cpu/batch.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU embedding lookup batched, positional encoding, and add_positional_encoding (#2166)
  crates/bitnet-kernels/src/cpu/embedding.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): structured logging and observability
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/logging_observability.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add backend benchmark suite
  crates/bitnet-gpu-hal/src/benchmark_suite.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON activation + RoPE kernels for Apple Silicon
  crates/bitnet-kernels/src/cpu/arm.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_activations.rs
  crates/bitnet-kernels/src/cpu/neon_rope.rs
  crates/bitnet-kernels/tests/neon_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): ARM NEON pooling operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_pooling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON scatter-gather operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_scatter_gather.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(apple-silicon): end-to-end inference validation tests
  crates/bitnet-kernels/tests/apple_silicon_e2e_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract download validation primitives into new bitnet-download-core microcrate (#2145)
  Cargo.lock
  Cargo.toml
  crates/bitnet-download-core/Cargo.toml
  crates/bitnet-download-core/src/lib.rs
  crates/bitnet-download/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract NVIDIA tuning primitives into bitnet-nvidia microcrate (#2058)
  Cargo.lock
  crates/bitnet-nvidia/Cargo.toml
  crates/bitnet-nvidia/src/lib.rs
  crates/bitnet-wgpu/src/device.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add runtime kernel fusion engine for reduced dispatch overhead
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kernel_fusion.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON padding and clipping for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_padding_clipping.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add tokenizer-GPU bridge for efficient token transfer
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_tokenizer_bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add attention mask generator with causal/sliding/padding support
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_attention_mask.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU feed-forward network (FFN) operations
  crates/bitnet-kernels/src/cpu/ffn.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add KV cache compression with quantization and eviction
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_kv_compression.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: add phase1 deterministic maintenance artifact workflow (#2173)
  .github/workflows/phase1-maintenance.yml
  docs/ci/phase1-maintenance-plan.md
  scripts/ci/generate-phase1-artifacts.sh
Due: none

docs: add CHANGELOG entries for A770 OpenCL waves 112-113
  CHANGELOG.md
Due: none

docs(ci): add Phase 1 deterministic instrumentation workflow plan (#2174)
  docs/ci/phase1-instrumentation-plan.md
Due: none

docs(ci): add concrete Phase 1 instrumentation plan (#2172)
  docs/ci/PHASE1_INSTRUMENTATION_PLAN.md
Due: none
