Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(gpu-hal): add level_zero_backend module (#1566)
  crates/bitnet-gpu-hal/src/level_zero_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add metal_backend module (#1564)
  crates/bitnet-gpu-hal/src/metal_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add mmap_io module (#1556)
  crates/bitnet-gpu-hal/src/mmap_io.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU residual connection operations
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/residual.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(kernels): rename gather/scatter_add/index_select to avoid name conflicts
  crates/bitnet-kernels/src/cpu/gather.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add CHANGELOG entries for A770 OpenCL waves 108-109
  CHANGELOG.md
Due: none

feat(gpu-hal): add cuda_backend module (#1568)
  crates/bitnet-gpu-hal/src/cuda_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add embedding operations module (#1630)
  crates/bitnet-gpu-hal/src/embedding_operations.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

rebase
  crates/bitnet-kernels/tests/opencl_snapshot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: fmt + lockfile after rebase
  crates/bitnet-kernels/src/opencl_quantized_matmul.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore: fmt + lockfile after rebase
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_token_gen.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON KV cache operations for Apple Silicon
  crates/bitnet-kernels/src/cpu/arm.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_kv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): rebase kernel_fusion on latest main
  crates/bitnet-gpu-hal/src/kernel_fusion.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract runtime policy state into dedicated core microcrate (#2078)
  Cargo.lock
  Cargo.toml
  crates/bitnet-testing-policy-runtime-core/Cargo.toml
  crates/bitnet-testing-policy-runtime-core/src/lib.rs
  crates/bitnet-testing-policy-runtime/Cargo.toml
  crates/bitnet-testing-policy-runtime/src/lib.rs
  crates/bitnet-testing-policy-runtime/tests/testing_policy_runtime_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract reusable test-fixture helpers into `bitnet-test-fixtures-core` (#2077)
  Cargo.lock
  Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/tests/fixture_integrity_tests.rs
  crates/bitnet-models/tests/helpers/fixture_loader.rs
  crates/bitnet-test-fixtures-core/Cargo.toml
  crates/bitnet-test-fixtures-core/src/lib.rs
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/tests/fixtures/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract tokenizer discovery into SRP core microcrate (#2076)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/tokenizer_discovery.rs
  crates/bitnet-cli/tests/tokenizer_discovery_tests.rs
  crates/bitnet-tokenizer-discovery-core/Cargo.toml
  crates/bitnet-tokenizer-discovery-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract generation stream events into reusable core microcrate (#2074)
  Cargo.lock
  Cargo.toml
  crates/bitnet-generation-events-core/Cargo.toml
  crates/bitnet-generation-events-core/src/lib.rs
  crates/bitnet-generation-events-core/tests/events_core_tests.rs
  crates/bitnet-generation/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): ARM NEON batch normalization kernels for Apple Silicon (#2073)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_batch_norm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(kernels): extract CPU SIMD detection into dedicated microcrate (#2035)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cpu-detect/Cargo.toml
  crates/bitnet-cpu-detect/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🛡️ Sentinel: [Security Improvement] Add HTTP Strict Transport Security (HSTS) header (#1990)
  crates/bitnet-server/src/security.rs
  crates/bitnet-server/tests/server_security_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): rebase rate_limiter on latest main
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/rate_limiter.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): rebase observability on latest main
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/observability.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bench(neon): Apple Silicon NEON kernel micro-benchmarks
  Cargo.toml
  benches/neon_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): rebase semantic_search on latest main
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/semantic_search.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): rebase guided_generation on latest main
  crates/bitnet-gpu-hal/src/guided_generation.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract tensor diagnostics into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
  crates/bitnet-tensor-diagnostics-core/Cargo.toml
  crates/bitnet-tensor-diagnostics-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve CI failures (fmt, clippy, MSRV import, Docker)
  crates/bitnet-download-core/src/lib.rs
  crates/bitnet-download/src/lib.rs
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  docker/Dockerfile.test-matrix
  tests/common/config_validator.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

extract token streaming into dedicated microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-token-stream/Cargo.toml
  crates/bitnet-token-stream/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract shared inference metrics into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference-metrics-core/Cargo.toml
  crates/bitnet-inference-metrics-core/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/production_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract kv-cache update decision policy into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/layers/attention.rs
  crates/bitnet-kv-cache-policy-core/Cargo.toml
  crates/bitnet-kv-cache-policy-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): ARM NEON matrix transpose for Apple Silicon (#2092)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_transpose.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: extract L2 divergence into bitnet-eval-core (#2089)
  Cargo.lock
  crates/bitnet-eval-core/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/canary.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add comprehensive CUDA RoPE improvement tests (#2088)
  crates/bitnet-kernels/tests/cuda_rope_improvements.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CPU tensor concat, split, and stack operations (#2086)
  crates/bitnet-kernels/src/cpu/concat.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract HTTP retry timing helpers into dedicated bitnet-http-retry microcrate (#2084)
  Cargo.lock
  Cargo.toml
  crates/bitnet-download/Cargo.toml
  crates/bitnet-download/src/lib.rs
  crates/bitnet-http-retry/Cargo.toml
  crates/bitnet-http-retry/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli): extract sampler into reusable microcrate (#2083)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli-sampling-core/Cargo.toml
  crates/bitnet-cli-sampling-core/src/lib.rs
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CUDA 2-D pooling kernels with CPU fallback (#1952)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/pooling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract weight name drift normalization into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/weight_name_normalization_integration.rs
  crates/bitnet-weight-name-normalization/Cargo.toml
  crates/bitnet-weight-name-normalization/src/lib.rs
  crates/bitnet-weight-name-normalization/tests/normalization_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add kernel auto-tuning framework for optimal A770 dispatch
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_auto_tune.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add streaming token decoder with sampling and backpressure
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_stream_decode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
