Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

test(a770): remove no-panic debt from policy fixtures
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-probe/src/intel_arc.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(a770): remove no-panic policy debt
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-device-probe/src/intel_arc.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cli): lock CUDA status schema fields for Qwen3 and SmolLM2
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(policy): clear A770 no-panic and CPU clippy blockers (#5968)
  src/lib.rs
  xtask/src/ci/plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M3MBA-021: add M3 Air device profile contract (#5952)
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-device-config-core/src/profile.rs
  crates/bitnet-device-probe/src/apple_receipts.rs
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-device-probe/tests/apple_backend_receipts.rs
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-19T132500Z-M3MBA-021-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-19T134500Z-M3MBA-021-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(ci): clear feature cpu clippy blockers
  src/lib.rs
  xtask/src/ci/plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(spec): define PR disposition and closure law (#5976)
  docs/adr/BITNET-ADR-0006-pr-closure-creates-backlog.md
  docs/reference/SPEC_SYSTEM.md
  docs/specs/BITNET-SPEC-PR-QUEUE-DISPOSITION.md
  docs/tracking/PR_QUEUE_DISPOSITION.md
  policy/pr-dispositions.toml
Due: none

test(cli): lock Qwen3 next_proof in model-status dashboard contract (#5959)
  crates/bitnet-cli/src/model_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3-air): close out M3MBA-021
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-19T172900Z-M3MBA-021-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m3-air): close out M3MBA-021 (#5981)
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-19T172900Z-M3MBA-021-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli: assert greedy against effective logits
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(spec): define A770 diagnostic lineage handling
  docs/adr/BITNET-ADR-0007-a770-diagnostics-are-lineage.md
  docs/specs/BITNET-SPEC-A770-DIAGNOSTIC-LINEAGE.md
  docs/specs/INDEX.md
  plans/a770-diagnostic-lineage/implementation-plan.md
  policy/a770-diagnostic-lineage.toml
Due: none

docs(slm): add sidecar runtime hook gate
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T174600Z-SLM-CPU-054-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): record SLM-CPU-054 PR open
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T174600Z-SLM-CPU-054-pr-open.toml
Due: none

docs(cuda): rank Qwen2.5 dense bottlenecks
  docs/reports/CUDA_DENSE_QWEN25_RESIDENCY_BOTTLENECKS.md
Due: none

fix(lunar-lake): explain low-power auto-route blockers
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-low-power-blocked.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180100Z-LNL258V-OP-011-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(lunar-lake): explain low-power auto-route blockers (#5986)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-ask-auto-low-power-blocked.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180100Z-LNL258V-OP-011-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): add SLM-CPU-054 sidecar runtime hook gate (#5983)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T174600Z-SLM-CPU-054-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close out LNL258V-OP-011
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180100Z-LNL258V-OP-011-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180300Z-LNL258V-OP-011-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): rank Qwen2.5 dense bottlenecks (#5985)
  docs/reports/CUDA_DENSE_QWEN25_RESIDENCY_BOTTLENECKS.md
Due: none

docs(spec): define PR write-action CI economics
  docs/ci/cost-and-verification-policy.md
  docs/specs/BITNET-SPEC-PR-CI-ECONOMICS.md
  docs/specs/INDEX.md
  policy/pr-ci-actions.toml
Due: none

docs(spec): define PR write-action CI economics (#5987)
  docs/ci/cost-and-verification-policy.md
  docs/specs/BITNET-SPEC-PR-CI-ECONOMICS.md
  docs/specs/INDEX.md
  policy/pr-ci-actions.toml
Due: none

docs(lunar-lake): close out LNL258V-OP-011 (#5988)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180100Z-LNL258V-OP-011-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T180300Z-LNL258V-OP-011-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-054 ready state
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T181300Z-SLM-CPU-054-ready-sync.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): sync SLM-CPU-054 ready state (#5989)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T181300Z-SLM-CPU-054-ready-sync.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

cli: assert greedy against effective logits (#4758)
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(lunar-lake): align readiness route reasons
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T182400Z-LNL258V-OP-012-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cli): clarify prompt prefill decode contract
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): record packed q8 runtime hook gap
  ci/slm-cpu/intel-i5-8250u/2026-05-19/qwen3-packed-q8-sidecar-runtime-hook-gap.json
  crates/bitnet-models/src/dense_gguf_q8_equivalence.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): unblock Qwen2.5 persistent handles plan
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  plans/native-rust-inference/dense-qwen25.md
Due: none

docs(tracking): mark SLM-CPU-054 pr open
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T183344Z-SLM-CPU-054-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): record packed q8 runtime hook gap
  ci/slm-cpu/intel-i5-8250u/2026-05-19/qwen3-packed-q8-sidecar-runtime-hook-gap.json
  crates/bitnet-models/src/dense_gguf_q8_equivalence.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T183344Z-SLM-CPU-054-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark SLM-CPU-054 merged
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T184403Z-SLM-CPU-054-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda: expose dense Qwen persistent handle receipts
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity/mod.rs
  crates/bitnet-cli/src/commands/receipts.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
