Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

🎨 Palette: Add keyboard and screen reader accessibility to scrollable output containers
  crates/bitnet-wasm/examples/browser/index.html
Due: none

Fix CI failures due to no space left on device
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
Due: none

🎨 Palette: Fix accessibility of output containers
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

Fix path truncation vulnerability via null byte injection
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: [performance improvement] Optimize top_p and typical sampling filters
  .jules/bolt.md
  crates/bitnet-logits-filters/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Make scrollable text containers accessible and correctly labeled
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
  examples/wasm/browser/index.html
Due: none

🛡️ Sentinel: [CRITICAL] Fix path truncation vulnerability in model path validation
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: Remove unused per-token HashMap allocations
  .jules/bolt.md
  crates/bitnet-cli-sampling-core/src/lib.rs
  crates/bitnet-sampling/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

⚡ Bolt: Remove unused per-token HashMap allocations and fix CI workflow timeouts
  .github/workflows/ci-core.yml
  .github/workflows/gpu-ci-matrix.yml
Due: none

Sync UX and accessibility enhancements to browser example
  examples/wasm/browser/index.html
  examples/wasm/browser/main.js
Due: none

Security: use uuid v4 for api key generation
  .jules/sentinel.md
  Cargo.lock
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/api_gateway.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

CI: fix test_manager_prune_keeps_newest by making checkpoint sorting deterministic
  .github/workflows/ci-core.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
  crates/bitnet-gpu-hal/src/checkpoint_manager.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🎨 Palette: Improve accessibility of scrollable output containers
  .jules/palette.md
  crates/bitnet-wasm/examples/browser/index.html
Due: none

🛡️ Sentinel: [CRITICAL] Fix Path Truncation vulnerability
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
  crates/bitnet-server/tests/server_security_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix Path Truncation vulnerability in model path validation
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

🛡️ Sentinel: [CRITICAL] Fix path truncation vulnerability via null bytes
  .jules/sentinel.md
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(weight-name-core): map self_attn q/k/v/o_proj aliases
  crates/bitnet-weight-name-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(common): prevent tensor pool byte counter overflow
  crates/bitnet-common/src/memory_pool.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

scripts: implement tokenizer fixture generation workflow
  scripts/generate_tokenizer_fixtures.sh
Due: none

opencl: implement runtime device discovery
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(download-core): avoid temp-file path collisions in atomic_write
  crates/bitnet-download-core/Cargo.toml
  crates/bitnet-download-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

bitnet-vulkan: implement runtime device discovery
  Cargo.lock
  crates/bitnet-vulkan/Cargo.toml
  crates/bitnet-vulkan/src/runtime.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix bearer token parsing for RFC-compliant auth scheme matching
  crates/bitnet-http-auth-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(bitnet-compat): silence proptest persistence warnings
  crates/bitnet-compat/tests/compat_proptests.rs
  crates/bitnet-compat/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(cli): prevent panic when prompt tokenization is empty
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix ceil_div overflow and zero-divisor handling
  crates/bitnet-math/src/lib.rs
  crates/bitnet-math/tests/math_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tokenizers: infer GGUF tokenizer type from architecture metadata
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(workspace): remove duplicate bitnet-download-core member
  Cargo.toml
Due: none

opencl: expose runtime module and implement device discovery
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): wire interactive mode to real inference engine
  crates/bitnet-cli/src/commands/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix CPU backend capability detection and CLI mojibake text
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/src/kernel_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix bearer auth parsing to be RFC-compliant
  crates/bitnet-http-auth-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Harden BDD grid feature parsing for curated policy rows
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/grid_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

bdd-grid: fail fast on unknown curated feature names
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Harden curated BDD feature parsing with strict validation
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Normalize BDD grid symbol parsing for env-style names
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid-core/tests/bdd_grid_core_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Improve BDD grid token parsing normalization
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid-core/tests/bdd_grid_core_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Expand BDD grid parser aliases for snake_case inputs
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid-core/tests/bdd_grid_core_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix startup contract guard context-aligned profile snapshots
  crates/bitnet-startup-contract-guard/src/lib.rs
  crates/bitnet-startup-contract-guard/tests/startup_contract_guard_edge_cases.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
