Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

test(proptest): GPU HAL property-based test suite (#1278)
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(opencl): OpenCL runtime binding layer with dynamic loading (#1280)
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: add 7 fuzz targets for inference, model, and generation paths (#1144)
  .github/workflows/fuzz-ci.yml
  .github/workflows/fuzz-nightly.yml
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_tensor_info.rs
  fuzz/fuzz_targets/model_config_validation.rs
  fuzz/fuzz_targets/prompt_template.rs
  fuzz/fuzz_targets/quantization_tl1.rs
  fuzz/fuzz_targets/quantization_tl2.rs
  fuzz/fuzz_targets/stop_sequence.rs
  fuzz/fuzz_targets/token_id_bounds.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): add --backend flag for GPU backend selection (#1283)
  crates/bitnet-cli/src/backend.rs
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(gpu): add GPU internals deep-dive documentation (#1184)
  docs/GPU_INTERNALS.md
Due: none

docs(gpu): add complete GPU API reference (#1185)
  docs/GPU_API_REFERENCE.md
Due: none

style: apply rustfmt to gpu_safety_tests.rs
  crates/bitnet-kernels/tests/gpu_safety_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix CLAUDE.md template/tokenizer/architecture counts
  CLAUDE.md
Due: none

docs: CHANGELOG entries for waves 33-35 (PRs #1271-#1284) (#1285)
  CHANGELOG.md
Due: none

docs(adr): architecture decision records for GPU backend design (#1227)
  docs/adr/ADR-001-opencl-initial-backend.md
  docs/adr/ADR-002-microcrate-per-backend.md
  docs/adr/ADR-003-gpu-hal-abstraction.md
  docs/adr/ADR-004-kernel-compilation-strategy.md
  docs/adr/ADR-005-cpu-fallback-strategy.md
  docs/adr/ADR-006-feature-flag-design.md
  docs/adr/README.md
Due: none

ci: add --locked to cargo bench in gpu-nightly.yml
  .github/workflows/gpu-nightly.yml
Due: none

fix(ci): move --locked to cargo bench line and guard baseline comparison
  .github/workflows/benchmark-regression.yml
Due: none

fix(docker): use correct binary name 'server' for bitnet-server crate
  docker/Dockerfile.intel-gpu
  docker/Dockerfile.multi-gpu
Due: none

feat: add list-architectures CLI command with --json flag
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/tests/architecture_integration_tests.rs
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: complete snapshot test coverage for all 17 template variants
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__raw_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__raw_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__starcoder_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__starcoder_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__starcoder_with_system.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): implement multi-head attention kernel dispatch
  Cargo.lock
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: add wave 4 fuzz targets (7 new targets)
  .github/workflows/fuzz-ci.yml
  .github/workflows/nightly-fuzz.yml
  Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/attention_mask_gen.rs
  fuzz/fuzz_targets/cli_config_parse.rs
  fuzz/fuzz_targets/gguf_metadata_validate.rs
  fuzz/fuzz_targets/gpu_hal_types.rs
  fuzz/fuzz_targets/kv_cache_eviction.rs
  fuzz/fuzz_targets/quantization_config_validate.rs
  fuzz/fuzz_targets/server_request_parse.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): GPU profiling framework (#1300)
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/profiling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): streaming token generation system (#1301)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): cross-backend kernel test harness (#1302)
  Cargo.toml
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/test_harness.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): speculative decoding engine (#1305)
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/speculative.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: CHANGELOG entries for waves 36-42 (PRs #1285-#1306) (#1308)
  CHANGELOG.md
Due: none

test: add edge case tests for registry, config, and template detection
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-common/src/config/tests.rs
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update CHANGELOG with Wave 7 entries (CLI, tests, edge cases)
  CHANGELOG.md
Due: none

docs: add dense model inference guide
  docs/guides/dense-model-inference.md
Due: none

test(proptest): add property tests for architecture registry
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci(bench): add benchmark regression detection workflow (#1174)
  .github/workflows/benchmark-regression.yml
  scripts/bench-compare.py
Due: none

feat(cuda): multi-head attention kernel dispatch (#1318)
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): implement real CUDA RMSNorm dispatch with CPU fallback
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rmsnorm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add template validation and info utilities
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: rebase onto main and fix formatting
  Cargo.lock
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add RWKV World and OLMo Instruct prompt templates
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__olmo_instruct_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__olmo_instruct_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__olmo_instruct_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__rwkv_world_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__rwkv_world_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__rwkv_world_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve clippy warnings (writeln, collapsible_if, unused imports, field init)
  crates/bitnet-common/src/config/tests.rs
  crates/bitnet-common/tests/architecture_integration_tests.rs
  crates/bitnet-common/tests/common_proptests.rs
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update README, CLAUDE.md, CHANGELOG for Wave 9 (19 templates, 21 families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

Fix: add missing serde deps
  Cargo.lock
  crates/bitnet-gpu-hal/Cargo.toml
Due: none

test: add architecture count regression guard (minimum 40 entries)
  crates/bitnet-common/src/arch_registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add FillInMiddle, Zephyr, and Vicuna prompt templates
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__fim_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__fim_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__fim_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__vicuna_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__vicuna_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__vicuna_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__zephyr_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__zephyr_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__zephyr_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix: alphabetize module declarations
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
