Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

refactor: apply small clippy cleanups
  crates/bitnet-common/src/perf_profiler.rs
  crates/bitnet-testing-scenarios-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-DENSE-019
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T094040Z-CUDA-DENSE-019-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-019 (#4243)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T094040Z-CUDA-DENSE-019-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci: record workflow actuals via xtask
  .github/workflows/ci-actuals.yml
  policy/ci-lane-whitelist.toml
  policy/ci-lanes.toml
  xtask/src/ci/actuals.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(cli): use real generation in inference repl
  crates/bitnet-cli/src/commands/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add CUDA-DENSE-020 attention-score fixture
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-score-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_020_ATTENTION_SCORE_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T101649Z-CUDA-DENSE-020-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add CUDA-DENSE-020 attention-score fixture (#4246)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-score-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_020_ATTENTION_SCORE_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T101649Z-CUDA-DENSE-020-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-020
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T102256Z-CUDA-DENSE-020-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-020 (#4247)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T102256Z-CUDA-DENSE-020-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add CUDA-DENSE-021 attention-score parity
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-score-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_021_ATTENTION_SCORE_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T104100Z-CUDA-DENSE-021-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracker): close TRACKER-003
  docs/tracking/campaigns/tracker-infra/CAMPAIGN.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-09T105000Z-TRACKER-003-merged.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add CUDA-DENSE-021 attention-score parity (#4251)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-score-cuda-parity-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-kernels/src/cuda/attention.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_021_ATTENTION_SCORE_PARITY.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T104100Z-CUDA-DENSE-021-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(devex): prefer no-default-features for xtask examples
  .github/CI_INTEGRATION.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/copilot-instructions.md
  CONTRIBUTING.md
  docs/CLIPPY_POLICY.md
  docs/FILE_POLICY.md
  docs/GPU_DEVELOPMENT_WORKFLOW.md
  docs/NO_PANIC_POLICY.md
  docs/benchmarking-setup.md
  docs/ci/CHECKLIST.md
  docs/ci/SETUP.md
  docs/ci/ci-lane-whitelist.md
  docs/ci/crossval-quick-reference.md
  docs/ci/guardrails.md
  docs/ci/learned-budgets.md
  docs/development.md
  docs/development/ci-integration.md
  docs/development/cross-validation-setup.md
  docs/development/gpu-development.md
  docs/development/test-suite.md
  docs/development/validation-framework.md
  docs/development/xtask.md
Due: none

docs(cuda): close CUDA-DENSE-021
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T105156Z-CUDA-DENSE-021-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-021 (#4252)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T105156Z-CUDA-DENSE-021-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): route dense attention scores in planner
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_022_ONE_LAYER_ATTENTION_SCORE_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T110515Z-CUDA-DENSE-022-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-022 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T111133Z-CUDA-DENSE-022-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): route dense attention scores in planner (#4254)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-one-layer-plan-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-kernels/src/dispatch_planner.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_022_ONE_LAYER_ATTENTION_SCORE_ROUTE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T110515Z-CUDA-DENSE-022-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T111133Z-CUDA-DENSE-022-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-022
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T111321Z-CUDA-DENSE-022-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-022 (#4255)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T111321Z-CUDA-DENSE-022-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][tracker] Close TRACKER-003 (#4250)
  docs/tracking/campaigns/tracker-infra/CAMPAIGN.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-09T105000Z-TRACKER-003-merged.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add dense attention softmax fixture
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-softmax-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_023_ATTENTION_SOFTMAX_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T112741Z-CUDA-DENSE-023-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-DENSE-023 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T113244Z-CUDA-DENSE-023-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add dense attention softmax fixture (#4257)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-softmax-fixture-qwen25-q8.json
  crates/bitnet-cli/src/commands/dense_gguf_linear_parity.rs
  crates/bitnet-cli/src/commands/mod.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_023_ATTENTION_SOFTMAX_FIXTURE.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T112741Z-CUDA-DENSE-023-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T113244Z-CUDA-DENSE-023-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-023
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T113446Z-CUDA-DENSE-023-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-023 (#4258)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-09T113446Z-CUDA-DENSE-023-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Add Apple M4 resident Mac chat continuity
  .codex/campaigns/apple-m4-continuity/goal.md
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T105817Z-M4-CONT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Record M4 continuity PR open
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T110717Z-M4-CONT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4] Add resident Mac chat continuity (M4-CONT-001) (#4253)
  .codex/campaigns/apple-m4-continuity/goal.md
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T105817Z-M4-CONT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T110717Z-M4-CONT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close M4-CONT-001
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T114054Z-M4-CONT-001-merged.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Close M4-CONT-001 (#4259)
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T114054Z-M4-CONT-001-merged.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(cuda): align attention score fixture gap order
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-09/dense-gguf-attention-score-fixture-qwen25-q8.json
Due: none

feat(cli): add Apple M4 golden smoke
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T114722Z-M4-CONT-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): record M4-CONT-002 PR
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T115033Z-M4-CONT-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4] Add dense SLM golden smoke (M4-CONT-002) (#4261)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_smoke_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T114722Z-M4-CONT-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T115033Z-M4-CONT-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close M4-CONT-002
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T115200Z-M4-CONT-002-merged.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Close M4-CONT-002 (#4262)
  docs/tracking/campaigns/apple-m4-continuity/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-continuity/active.toml
  docs/tracking/campaigns/apple-m4-continuity/events/2026-05-09T115200Z-M4-CONT-002-merged.toml
  docs/tracking/campaigns/apple-m4-continuity/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
