Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

refactor: move ripr annotations into xtask
  .github/workflows/ripr-pr-evidence.yml
  docs/development/rust-migration-candidates.md
  scripts/ripr-annotations.py
  xtask/src/main.rs
  xtask/tests/ripr_annotations.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: improve sampling numerical accuracy
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-logits-filters/src/lib.rs
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-logits/tests/logits_filter_edge_cases.rs
  crates/bitnet-probability/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

LNL258V-CPU-SLM-PERF-001: attribute dense CPU timing
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-phase-attribution.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T085402Z-LNL258V-CPU-SLM-PERF-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(tokenizer-discovery-core): cover discovery error paths (#5213)
  crates/bitnet-tokenizer-discovery-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: improve sampling numerical accuracy (#5273)
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-logits-filters/src/lib.rs
  crates/bitnet-logits/src/lib.rs
  crates/bitnet-logits/tests/logits_filter_edge_cases.rs
  crates/bitnet-probability/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tracker: mark LNL258V-CPU-SLM-PERF-001 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T090456Z-LNL258V-CPU-SLM-PERF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

LNL258V-CPU-SLM-PERF-001: attribute dense CPU timing
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-phase-attribution.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T085402Z-LNL258V-CPU-SLM-PERF-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T090456Z-LNL258V-CPU-SLM-PERF-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): report selected key projection rope source
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

tracker: close LNL258V-CPU-SLM-PERF-001
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T090820Z-LNL258V-CPU-SLM-PERF-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-CPU-SLM-PERF-001 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T090820Z-LNL258V-CPU-SLM-PERF-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(apple-m4): mark BitNet warm profile PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T090907Z-M4-BITNET-EX-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(apple-m4): close BitNet warm profile item
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T091625Z-M4-BITNET-EX-004-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-BITNET-EX-004 (#5319)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T091625Z-M4-BITNET-EX-004-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-CPU-SLM-PERF-002: record resident CPU timing
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-resident-session.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T093000Z-LNL258V-CPU-SLM-PERF-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

tracker: mark LNL258V-CPU-SLM-PERF-002 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T093350Z-LNL258V-CPU-SLM-PERF-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

LNL258V-CPU-SLM-PERF-002: record resident CPU timing
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-resident-session.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T093000Z-LNL258V-CPU-SLM-PERF-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T093350Z-LNL258V-CPU-SLM-PERF-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: move RIPR annotations into xtask (#5257)
  .github/workflows/ripr-pr-evidence.yml
  docs/development/rust-migration-candidates.md
  scripts/ripr-annotations.py
  xtask/src/main.rs
  xtask/tests/ripr_annotations.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

tracker: close LNL258V-CPU-SLM-PERF-002
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T092410Z-LNL258V-CPU-SLM-PERF-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat: port performance comparison into rust core
  Cargo.lock
  crates/bitnet-bench-regression-core/Cargo.toml
  crates/bitnet-bench-regression-core/src/lib.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-CPU-SLM-PERF-002 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T092410Z-LNL258V-CPU-SLM-PERF-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat: port performance comparison into Rust core (#5268)
  Cargo.lock
  crates/bitnet-bench-regression-core/Cargo.toml
  crates/bitnet-bench-regression-core/src/lib.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(bitnet-task): satisfy no-panic unsafe analysis policy
  tools/bitnet-task/src/unsafe_analysis.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: move unsafe analysis into rust task
  Cargo.lock
  scripts/analyze_unsafe.py
  tools/bitnet-task/Cargo.toml
  tools/bitnet-task/src/main.rs
  tools/bitnet-task/src/unsafe_analysis.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: move unsafe analysis into Rust task (#5264)
  Cargo.lock
  scripts/analyze_unsafe.py
  tools/bitnet-task/Cargo.toml
  tools/bitnet-task/src/main.rs
  tools/bitnet-task/src/unsafe_analysis.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: port trace diff to rust
  xtask/src/trace_diff.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(xtask): satisfy no-panic trace diff policy
  xtask/src/trace_diff.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): trace historical key projection rows
  crates/bitnet-transformer/src/lib.rs
  xtask/src/bitnet_reference_layer_trace.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(xtask): port trace-diff to native Rust (#5263)
  xtask/src/trace_diff.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: split checkpoint management modules
  crates/bitnet-models/src/checkpoint.rs
  crates/bitnet-models/src/checkpoint/error.rs
  crates/bitnet-models/src/checkpoint/format.rs
  crates/bitnet-models/src/checkpoint/manager.rs
  crates/bitnet-models/src/checkpoint/metadata.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-m4): harden BitNet failure receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T092738Z-M4-BITNET-EX-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): mark BitNet UX PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T093041Z-M4-BITNET-EX-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

refactor: split checkpoint management into SRP submodules (#5106)
  crates/bitnet-models/src/checkpoint.rs
  crates/bitnet-models/src/checkpoint/error.rs
  crates/bitnet-models/src/checkpoint/format.rs
  crates/bitnet-models/src/checkpoint/manager.rs
  crates/bitnet-models/src/checkpoint/metadata.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-BITNET-EX-005 BitNet progress and timeout UX (#5323)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T092738Z-M4-BITNET-EX-005-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T093041Z-M4-BITNET-EX-005-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

LNL258V-CPU-SLM-PERF-003: compare CPU runtimes
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-runtime-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T094500Z-LNL258V-CPU-SLM-PERF-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close BitNet progress UX item
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T093325Z-M4-BITNET-EX-005-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Close M4-BITNET-EX-005 (#5325)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-17T093325Z-M4-BITNET-EX-005-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

tracker: mark LNL258V-CPU-SLM-PERF-003 pr open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T095015Z-LNL258V-CPU-SLM-PERF-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

LNL258V-CPU-SLM-PERF-003: compare CPU runtimes
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-slm-runtime-comparison.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T094500Z-LNL258V-CPU-SLM-PERF-003-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-17T095015Z-LNL258V-CPU-SLM-PERF-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
