Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(kernels): add CUDA LayerNorm and RMSNorm kernels with CPU fallback (#1949)
  crates/bitnet-kernels/src/cuda/layernorm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(security): add HTTP Strict Transport Security (HSTS) header
  crates/bitnet-server/src/security.rs
  crates/bitnet-server/tests/server_security_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): add multi-modal fusion for text/image/audio embedding combination
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/multimodal_fusion.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: use temp_env and #[serial] for env-mutating tokenizer test
  crates/bitnet-tokenizers/src/strategy.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add gating mechanism kernels (SwiGLU, GeGLU, ReGLU)
  crates/bitnet-kernels/src/cpu/gating.rs
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cuda/gating.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: fix formatting
  crates/bitnet-kernels/src/gpu/spirv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): SPIR-V compilation cache for OpenCL kernels on A770
  crates/bitnet-kernels/src/gpu/mod.rs
  crates/bitnet-kernels/src/gpu/spirv_cache.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): OpenCL kernel profiling framework for A770 performance analysis
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_profiling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

style: fix formatting
  crates/bitnet-kernels/src/opencl_profiling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: retrigger CI checks
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: Unbreak CI pipelines by correctly copying workspace and fixing kernel tests
  crates/bitnet-gpu-hal/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add proptest wave 15 for quantization and inference properties
  crates/bitnet-inference/tests/proptest_wave15.rs
  crates/bitnet-quantization/tests/proptest_wave15.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): Metal shader compilation and validation tests (#2001)
  crates/bitnet-kernels/tests/metal_shader_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Codex-generated pull request (#2000)
  Cargo.lock
  Cargo.toml
  crates/bitnet-prompt-templates-core/Cargo.toml
  crates/bitnet-prompt-templates-core/benches/template_ops.rs
  crates/bitnet-prompt-templates-core/src/lib.rs
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_multi_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_single_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates__tests__snapshot_deepseek_with_system.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_multi_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_single_turn.snap
  crates/bitnet-prompt-templates-core/src/snapshots/bitnet_prompt_templates_core__tests__snapshot_deepseek_with_system.snap
  crates/bitnet-prompt-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(cli): split CLI eval/scoring math into bitnet-eval-core microcrate (#1997)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/score.rs
  crates/bitnet-eval-core/Cargo.toml
  crates/bitnet-eval-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add tiled CUDA GEMM with batched and transpose variants
  crates/bitnet-kernels/src/cuda/matmul.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cpu): comprehensive activation function tests
  crates/bitnet-kernels/tests/cpu_activation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(kernels): add proptest property tests for CPU attention kernel
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): Metal texture format and buffer layout tests
  crates/bitnet-kernels/tests/metal_format_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract CPU activation kernels into dedicated SRP microcrate (#2030)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cpu-activations/Cargo.toml
  crates/bitnet-cpu-activations/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cpu/activations.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(xtask): extract download mechanics into a dedicated SRP microcrate (#2028)
  Cargo.lock
  Cargo.toml
  crates/bitnet-download/Cargo.toml
  crates/bitnet-download/src/lib.rs
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update CHANGELOG with A770 OpenCL waves 104-107 (#2023)
  CHANGELOG.md
Due: none

Extract chat REPL state/command logic into `bitnet-repl-core` (#2021)
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/commands/chat.rs
  crates/bitnet-repl-core/Cargo.toml
  crates/bitnet-repl-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Split Vulkan shader catalog into dedicated SRP microcrate (#2019)
  Cargo.lock
  Cargo.toml
  crates/bitnet-vulkan-shaders/Cargo.toml
  crates/bitnet-vulkan-shaders/src/kernels/attention.comp
  crates/bitnet-vulkan-shaders/src/kernels/elementwise.comp
  crates/bitnet-vulkan-shaders/src/kernels/matmul.comp
  crates/bitnet-vulkan-shaders/src/kernels/rmsnorm.comp
  crates/bitnet-vulkan-shaders/src/kernels/rope.comp
  crates/bitnet-vulkan-shaders/src/kernels/softmax.comp
  crates/bitnet-vulkan-shaders/src/lib.rs
  crates/bitnet-vulkan-shaders/tests/vulkan_shader_tests.rs
  crates/bitnet-vulkan/src/lib.rs
  crates/bitnet-vulkan/tests/vulkan_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Extract SIMD math into dedicated bitnet-simd microcrate (#2018)
  Cargo.lock
  Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/cpu/simd_math.rs
  crates/bitnet-simd/Cargo.toml
  crates/bitnet-simd/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract logits filtering into dedicated SRP microcrate (#2013)
  Cargo.lock
  Cargo.toml
  crates/bitnet-logits-filters/Cargo.toml
  crates/bitnet-logits-filters/src/lib.rs
  crates/bitnet-logits/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract generation stop logic into dedicated SRP microcrate (#2012)
  Cargo.lock
  Cargo.toml
  crates/bitnet-generation-stop-core/Cargo.toml
  crates/bitnet-generation-stop-core/src/lib.rs
  crates/bitnet-generation/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve compilation errors in CUDA softmax module
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(receipts): extract bitnet-receipts-core SRP microcrate (#2010)
  Cargo.lock
  Cargo.toml
  crates/bitnet-receipts-core/Cargo.toml
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/Cargo.toml
  crates/bitnet-receipts/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Codex-generated pull request (#2008)
  Cargo.lock
  Cargo.toml
  crates/bitnet-wasm-utils/Cargo.toml
  crates/bitnet-wasm-utils/src/lib.rs
  crates/bitnet-wasm/Cargo.toml
  crates/bitnet-wasm/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add weight loader with lazy loading and sharded support
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-gpu-hal/src/weight_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add tokenizer_wrapper module with chat templates
  crates/bitnet-gpu-hal/src/tokenizer_wrapper.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove duplicate SOFTMAX_KERNEL_SRC definition and re-export
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
