Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

Fix: alphabetize module declarations
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: update README, CLAUDE.md, CHANGELOG for Wave 11 (22 templates, 23 families)
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

feat(kernels): implement real CUDA RMSNorm dispatch with CPU fallback (#1321)
  Cargo.lock
  crates/bitnet-gpu-hal/src/lib.rs
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/rmsnorm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): optimize cpu math operations with rayon and sequential memory access
  Cargo.lock
Due: none

feat: add Orca, Solar, and Alpaca prompt templates (25 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__alpaca_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__alpaca_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__alpaca_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__orca_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__orca_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__orca_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__solar_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__solar_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__solar_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: merge main, update Cargo.lock, fix Device exhaustiveness for Hip/Npu
  Cargo.lock
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-inference/src/multi_device.rs
  crates/bitnet-kernels/src/device_aware.rs
  crates/bitnet-level-zero/Cargo.toml
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-py/src/lib.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-server/src/batch_engine.rs
  crates/bitnet-server/src/execution_router.rs
  crates/bitnet-vulkan/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: replace unwrap/expect with proper error handling in core crates
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/gguf.rs
  crates/bitnet-inference/src/runtime_utils.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/security.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-server/src/caching/kv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(generation): text generation engine with streaming (#1270)
  Cargo.toml
  crates/bitnet-gpu-hal/src/generation.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add property-based tests wave 4 (63 properties across 7 crates)
  crates/bitnet-common/tests/error_conversion_property_tests.rs
  crates/bitnet-common/tests/tensor_shape_property_tests.rs
  crates/bitnet-inference/tests/kv_cache_property_tests.rs
  crates/bitnet-kernels/tests/gpu_hal_property_tests.rs
  crates/bitnet-quantization/tests/sign_preservation_property_tests.rs
  crates/bitnet-server/tests/request_validation_property_tests.rs
  crates/bitnet-tokenizers/tests/encode_decode_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: rebase onto main and fix formatting
  crates/bitnet-common/tests/error_conversion_property_tests.rs
  crates/bitnet-common/tests/tensor_shape_property_tests.rs
  crates/bitnet-server/tests/request_validation_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

bench: GPU HAL CPU reference benchmarks (#1281)
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/benches/gpu_hal_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fuzz: GPU HAL component fuzz targets (#1282)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gpu_attention_shapes.rs
  fuzz/fuzz_targets/gpu_quantization.rs
  fuzz/fuzz_targets/gpu_rope_values.rs
  fuzz/fuzz_targets/gpu_sampling.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(server): harden bitnet-server for production use
  Cargo.lock
  Cargo.toml
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/middleware.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/monitoring/metrics.rs
  crates/bitnet-server/tests/server_http_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

nix(gpu): extend flake for GPU backend development
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/nix_integration_tests.rs
  docs/NIX_GPU_SETUP.md
  flake.nix
  nix/gpu-overlay.nix
  nix/gpu-shell.nix
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: unblock 15 TDD scaffold tests with real implementations
  tests/support/platform.rs
  tests/test_infrastructure_helpers_tests.rs
  tests/test_support_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: prepare v0.2.0 release notes and README updates
  CHANGELOG.md
  README.md
Due: none

feat(cuda): numerically stable softmax kernel with temperature scaling
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(wasm): improve WebAssembly bindings for browser inference
  crates/bitnet-wasm/pkg/bitnet_wasm.d.ts
  crates/bitnet-wasm/src/callback.rs
  crates/bitnet-wasm/src/core_types.rs
  crates/bitnet-wasm/src/error.rs
  crates/bitnet-wasm/src/lib.rs
  crates/bitnet-wasm/src/memory.rs
  crates/bitnet-wasm/tests/native.rs
  crates/bitnet-wasm/tests/smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli): add global output-format, quiet, verbose, no-color flags
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/output.rs
  crates/bitnet-cli/tests/cli_ux_flags.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(python): improve PyO3 bindings with exception hierarchy, metrics, model info, and accurate stubs
  crates/bitnet-py/python/bitnet_py/__init__.py
  crates/bitnet-py/python/bitnet_py/__init__.pyi
  crates/bitnet-py/src/error.rs
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-py/src/model.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(python): add smoke tests for bitnet_py module surface
  crates/bitnet-py/tests/test_bindings.py
Due: none

feat(crossval): expand cross-validation framework for improved parity testing
  crossval/src/expanded.rs
  crossval/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add CommandR+, NousHermes, WizardLM, and OpenChat prompt templates (29 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__commandrplus_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__commandrplus_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__commandrplus_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__noushermes_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__noushermes_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__noushermes_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__openchat_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__openchat_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__openchat_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__wizardlm_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__wizardlm_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__wizardlm_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

bench(gpu): cross-backend benchmark comparison suite
  Cargo.lock
  Cargo.toml
  benches/gpu_kernels.rs
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/benchmark_utils.rs
  crates/bitnet-opencl/src/lib.rs
  crates/bitnet-opencl/tests/benchmark_utils_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(quantization): add error metrics, format detection, and mixed-precision support
  crates/bitnet-quantization/src/format_detection.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/mixed_precision.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-quantization/src/quant_metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add Granite, Nemotron, and Saiga prompt templates (32 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__granite_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__granite_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__granite_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__nemotron_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__nemotron_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__nemotron_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__saiga_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__saiga_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__saiga_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CPU Flash Attention with O(N) memory
  crates/bitnet-kernels/benches/kernel_benchmarks.rs
  crates/bitnet-kernels/src/cpu/flash_attention.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: replace unwrap/expect with proper error handling in core crates (#1324)
  crates/bitnet-common/src/tensor.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/generation/autoregressive.rs
  crates/bitnet-inference/src/gguf.rs
  crates/bitnet-inference/src/runtime_utils.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/security.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-server/src/caching/kv_cache.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add property-based tests wave 4 (63 properties across 7 crates) (#1327)
  crates/bitnet-common/tests/error_conversion_property_tests.rs
  crates/bitnet-common/tests/tensor_shape_property_tests.rs
  crates/bitnet-inference/tests/kv_cache_property_tests.rs
  crates/bitnet-kernels/tests/gpu_hal_property_tests.rs
  crates/bitnet-quantization/tests/sign_preservation_property_tests.rs
  crates/bitnet-server/tests/request_validation_property_tests.rs
  crates/bitnet-tokenizers/tests/encode_decode_property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(server): harden bitnet-server for production use (#1332)
  Cargo.lock
  Cargo.toml
  crates/bitnet-server/src/config.rs
  crates/bitnet-server/src/lib.rs
  crates/bitnet-server/src/middleware.rs
  crates/bitnet-server/src/monitoring/health.rs
  crates/bitnet-server/src/monitoring/metrics.rs
  crates/bitnet-server/tests/server_http_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: unblock 15 TDD scaffold tests with real implementations (#1338)
  tests/support/platform.rs
  tests/test_infrastructure_helpers_tests.rs
  tests/test_support_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: prepare v0.2.0 release notes and README updates (#1343)
  CHANGELOG.md
  README.md
Due: none

Fix workspace crates to be publishable to crates.io
  Cargo.lock
  crates/bitnet-common/Cargo.toml
  crates/bitnet-inference/tests/ac10_error_handling_robustness.rs
  crates/bitnet-inference/tests/ac1_quantized_linear_layers.rs
  crates/bitnet-inference/tests/ac2_multi_head_attention.rs
  crates/bitnet-inference/tests/ac3_autoregressive_generation.rs
  crates/bitnet-inference/tests/ac4_cross_validation_accuracy.rs
  crates/bitnet-inference/tests/ac5_performance_targets.rs
  crates/bitnet-inference/tests/ac7_deterministic_inference.rs
  crates/bitnet-inference/tests/ac8_mock_implementation_replacement.rs
  crates/bitnet-inference/tests/ac9_comprehensive_integration_testing.rs
  crates/bitnet-inference/tests/async_runtime_tests.rs
  crates/bitnet-inference/tests/batch_prefill.rs
  crates/bitnet-inference/tests/batch_tests.rs
  crates/bitnet-inference/tests/e2e_cpu_golden_path.rs
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/integration_tests.rs
  crates/bitnet-inference/tests/issue_254_ac1_quantized_linear_no_fp32_staging.rs
  crates/bitnet-inference/tests/issue_254_ac2_attention_real_qkvo_rope_gqa.rs
  crates/bitnet-inference/tests/issue_254_ac3_deterministic_generation.rs
  crates/bitnet-inference/tests/issue_254_ac4_receipt_generation.rs
  crates/bitnet-inference/tests/issue_254_ac6_determinism_integration.rs
  crates/bitnet-inference/tests/issue_254_ac7_kv_cache_parity.rs
  crates/bitnet-inference/tests/issue_462_cpu_forward_tests.rs
  crates/bitnet-inference/tests/logits_greedy_smoke.rs
  crates/bitnet-inference/tests/neural_network_integration.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-inference/tests/performance_tests.rs
  crates/bitnet-inference/tests/performance_tracking_tests.rs
  crates/bitnet-inference/tests/qk256_dispatch.rs
  crates/bitnet-inference/tests/simple_real_inference.rs
  crates/bitnet-inference/tests/simple_tests.rs
  crates/bitnet-inference/tests/strict_mode_runtime_guards.rs
  crates/bitnet-inference/tests/template_comparison.rs
  crates/bitnet-inference/tests/test_real_inference.rs
  crates/bitnet-inference/tests/test_real_vs_mock_comparison.rs
  crates/bitnet-inference/tests/unit_tests.rs
  crates/bitnet-sys/Cargo.toml
  xtask-build-helper/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): numerically stable softmax kernel with temperature scaling (#1348)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add comprehensive inference pipeline integration tests
  tests/Cargo.toml
  tests/integration/inference_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(wasm): improve WebAssembly bindings for browser inference (#1350)
  crates/bitnet-wasm/pkg/bitnet_wasm.d.ts
  crates/bitnet-wasm/src/callback.rs
  crates/bitnet-wasm/src/core_types.rs
  crates/bitnet-wasm/src/error.rs
  crates/bitnet-wasm/src/lib.rs
  crates/bitnet-wasm/src/memory.rs
  crates/bitnet-wasm/tests/native.rs
  crates/bitnet-wasm/tests/smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: add Llama2, Gemma2, and Phi3 prompt templates (35 total)
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-prompt-templates/src/lib.rs
  crates/bitnet-prompt-templates/tests/property_tests.rs
  crates/bitnet-prompt-templates/tests/snapshot_tests.rs
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__gemma2_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__gemma2_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__gemma2_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama2_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama2_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__llama2_with_system.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi3_multi_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi3_single_turn.snap
  crates/bitnet-prompt-templates/tests/snapshots/snapshot_tests__phi3_with_system.snap
  crates/bitnet-tokenizers/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cli): add global output-format, quiet, verbose, no-color flags (#1352)
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/output.rs
  crates/bitnet-cli/tests/cli_ux_flags.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(python): improve PyO3 bindings with exception hierarchy, metrics, model info, and accurate stubs (#1360)
  crates/bitnet-py/python/bitnet_py/__init__.py
  crates/bitnet-py/python/bitnet_py/__init__.pyi
  crates/bitnet-py/src/error.rs
  crates/bitnet-py/src/inference.rs
  crates/bitnet-py/src/lib.rs
  crates/bitnet-py/src/model.rs
  crates/bitnet-py/tests/test_bindings.py
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
