Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

fix(ci): fix invalid job reference in release.yml
  .github/workflows/release.yml
Due: none

docs: update changelog and roadmap for PRs #879-#882
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(ci): fix invalid expression syntax in workflow files (#881)
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
Due: none

test: replace #[ignore] with env-var guards to reduce ignored test count (#882)
  crates/bitnet-inference/tests/batch_prefill.rs
  crates/bitnet-inference/tests/issue_254_ac4_receipt_generation.rs
  crates/bitnet-server/tests/concurrent_load_tests.rs
  crossval/tests/smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(ci): fix invalid job reference in release.yml (#883)
  .github/workflows/release.yml
Due: none

docs: update changelog and roadmap for PRs #879-#882 (#884)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

fix(ci): pass PR branch refs through env to prevent script injection
  .github/workflows/pr-size-guard.yml
Due: none

test(bitnet-gguf): add property-based tests for GGUF parser
  crates/bitnet-gguf/tests/extended_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(ci): pass PR branch refs through env to prevent script injection (#885)
  .github/workflows/pr-size-guard.yml
Due: none

test(bitnet-common): add property-based tests
  crates/bitnet-common/tests/common_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-gguf): add property-based tests for GGUF parser (#886)
  crates/bitnet-gguf/tests/extended_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt on common_proptests.rs
  crates/bitnet-common/tests/common_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-kernels): add BDD-style kernel tests
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/kernel_bdd_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-common): add property-based tests (#887)
  crates/bitnet-common/tests/common_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add gguf_header_parse fuzz target
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_header_parse.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(bitnet-sampling): add property-based tests for sampling strategies
  crates/bitnet-sampling/tests/comprehensive_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt on kernel_bdd_tests.rs
  crates/bitnet-kernels/tests/kernel_bdd_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(fuzz): add gguf_header_parse fuzz target (#889)
  fuzz/Cargo.toml
  fuzz/fuzz_targets/gguf_header_parse.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(bitnet-receipts): add property-based tests for receipt validation
  crates/bitnet-receipts/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt
  crates/bitnet-sampling/tests/comprehensive_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-kernels): add BDD-style kernel tests (#888)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/kernel_bdd_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-sampling): add property-based tests for sampling strategies (#890)
  crates/bitnet-sampling/tests/comprehensive_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-receipts): add property-based tests for receipt validation (#891)
  crates/bitnet-receipts/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog and roadmap for PRs #885-#891
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bitnet-cli): add snapshot tests for CLI help output
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_missing_path_error.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_missing_required_args_error.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__unknown_subcommand_error.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: update changelog and roadmap for PRs #885-#891 (#892)
  CHANGELOG.md
  docs/reference/dual-backend-roadmap.md
Due: none

test(bitnet-cli): add snapshot tests for CLI help output (#893)
  crates/bitnet-cli/tests/cli_snapshot_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__compat_check_missing_path_error.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__inspect_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_missing_required_args_error.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__unknown_subcommand_error.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-inference): add integration tests that run without a real model
  crates/bitnet-inference/tests/inference_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-models): add property-based tests for model loading
  crates/bitnet-models/tests/model_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: prepare v0.1.3 release notes and changelog
  CHANGELOG.md
  docs/releases/v0.1.3.md
Due: none

test(bitnet-generation): add property-based and unit tests
  crates/bitnet-generation/tests/extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-models): add property-based tests for model loading (#895)
  crates/bitnet-models/tests/model_proptests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: run cargo fmt on inference_integration_tests.rs
  crates/bitnet-inference/tests/inference_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: prepare v0.1.3 release notes and changelog (#896)
  CHANGELOG.md
  docs/releases/v0.1.3.md
Due: none

test(bitnet-prompt-templates): add property-based tests
  crates/bitnet-prompt-templates/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-inference): add integration tests that run without a real model (#894)
  crates/bitnet-inference/tests/inference_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-generation): add property-based and unit tests (#897)
  crates/bitnet-generation/tests/extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-engine-core): add property-based tests
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-engine-core/tests/validation_and_state_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-prompt-templates): add property-based tests (#898)
  crates/bitnet-prompt-templates/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(bitnet-engine-core): add property-based tests (#899)
  crates/bitnet-engine-core/src/lib.rs
  crates/bitnet-engine-core/tests/validation_and_state_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
