Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

refactor: extract layer index parsing core
  Cargo.lock
  Cargo.toml
  crates/bitnet-gpu-hal/Cargo.toml
  crates/bitnet-gpu-hal/src/weight_loader.rs
  crates/bitnet-layer-index-core/Cargo.toml
  crates/bitnet-layer-index-core/src/lib.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/gguf_simple.rs
  crates/bitnet-models/src/layer_inspector.rs
  crates/bitnet-models/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close Arc 140V and NPU probes
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T145936Z-ARC140V-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-06T133329Z-NPU-003-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Record TL1 Apple layout boundary (M4-012) (#3775)
  crates/bitnet-quantization/src/tl1.rs
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T181719Z-M4-012-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T182507Z-M4-012-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): add persistent BitNet context handles (#3776)
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close out M4-012
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T192019Z-M4-012-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): record CPU-BITNET-005c merge
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-06T184645Z-CPU-BITNET-005c-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add reusable I2S linear primitive
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

[codex][apple-m4] Close out M4-012 (#3780)
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T192019Z-M4-012-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): close Arc 140V and NPU probes (#3779)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T145936Z-ARC140V-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/CAMPAIGN.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-06T133329Z-NPU-003-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): close CPU-BITNET-005c
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-06T184645Z-CPU-BITNET-005c-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add reusable I2S linear primitive (#3782)
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close CPU-BITNET-005c (#3778)
  docs/tracking/campaigns/cpu-proof/CAMPAIGN.md
  docs/tracking/campaigns/cpu-proof/active.toml
  docs/tracking/campaigns/cpu-proof/events/2026-05-06T184645Z-CPU-BITNET-005c-merged.toml
  docs/tracking/campaigns/cpu-proof/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Add Metal prefill contribution (M4-013)
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/src/metal_compute.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T200001Z-M4-013-in-progress.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-013 PR open
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T200505Z-M4-013-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(hardware): record KBL8250U AVX2 parity proof
  ci/hardware/intel-i5-8250u-cpu-avx2/avx2-parity-receipt.json
  ci/hardware/intel-i5-8250u-cpu-avx2/cpu-flags.txt
  ci/hardware/intel-i5-8250u-cpu-avx2/profile.json
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-06T201559Z-KBL8250U-003-in-progress.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): record KBL8250U-003 PR
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-06T202200Z-KBL8250U-003-pr-open.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4] Add Metal prefill contribution (M4-013) (#3783)
  crates/bitnet-kernels/src/metal/smoke.rs
  crates/bitnet-kernels/src/metal_compute.rs
  crates/bitnet-kernels/tests/metal_tiny_smoke.rs
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T200001Z-M4-013-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T200505Z-M4-013-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-013
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T202227Z-M4-013-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4] Close out M4-013 (#3787)
  docs/tracking/campaigns/apple-m4/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T202227Z-M4-013-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): implement qk256 gemv kernel
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(hardware): record KBL8250U-003 AVX2 parity proof
  ci/hardware/intel-i5-8250u-cpu-avx2/avx2-parity-receipt.json
  ci/hardware/intel-i5-8250u-cpu-avx2/cpu-flags.txt
  ci/hardware/intel-i5-8250u-cpu-avx2/profile.json
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-06T201559Z-KBL8250U-003-in-progress.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-06T202200Z-KBL8250U-003-pr-open.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(tracking): record KBL8250U-003 merge
  docs/tracking/campaigns/cpu-qk256-performance/CAMPAIGN.md
  docs/tracking/campaigns/cpu-qk256-performance/active.toml
  docs/tracking/campaigns/cpu-qk256-performance/events/2026-05-06T205333Z-KBL8250U-003-merged.toml
  docs/tracking/campaigns/cpu-qk256-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(intel): define 258V platform probe bundle
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-platform-roadmap.md
Due: none

feat(cuda): implement QK256 GEMV kernel (#3786)
  crates/bitnet-kernels/src/cuda/mod.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): open LNL258V-002
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T201908Z-LNL258V-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(intel): define LNL258V-002 platform probe bundle (#3784)
  docs/hardware/intel-258v-validation.md
  docs/specs/intel-lunar-lake-258v-platform-roadmap.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T201908Z-LNL258V-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): add upload-once QK256 weight handles
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): prepack and upload BitNet weights once (#3790)
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(intel): record 258V platform probe artifact
  ci/hardware/intel-258v/2026-05-06/arc-140v-runtime-probe.json
  ci/hardware/intel-258v/2026-05-06/cpu-bitnet-validation.json
  ci/hardware/intel-258v/2026-05-06/npu-openvino-runtime-probe.json
  ci/hardware/intel-258v/2026-05-06/platform-comparison-index.json
  ci/hardware/intel-258v/2026-05-06/platform-probe-notes.md
  ci/hardware/intel-258v/2026-05-06/platform-probe.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T211242Z-LNL258V-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(intel): record 258V platform probe artifact (#3791)
  ci/hardware/intel-258v/2026-05-06/arc-140v-runtime-probe.json
  ci/hardware/intel-258v/2026-05-06/cpu-bitnet-validation.json
  ci/hardware/intel-258v/2026-05-06/npu-openvino-runtime-probe.json
  ci/hardware/intel-258v/2026-05-06/platform-comparison-index.json
  ci/hardware/intel-258v/2026-05-06/platform-probe-notes.md
  ci/hardware/intel-258v/2026-05-06/platform-probe.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T211242Z-LNL258V-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cli): record strict Apple M4 proof receipts
  crates/bitnet-cli/src/main.rs
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T205418Z-M4-014-in-progress.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): record M4-014 PR open
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T210559Z-M4-014-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(inference): add CPU transformer decode step
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/cpu_decode.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/tests/cpu_one_step_decode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(workspace): remove duplicate download core member
  Cargo.toml
Due: none

[codex][apple-m4] Add strict BitNet M4 proof receipts (M4-014) (#3789)
  crates/bitnet-cli/src/main.rs
  docs/hardware/apple-m4-mac-mini-validation.md
  docs/specs/apple-m4-mac-mini-roadmap.md
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T205418Z-M4-014-in-progress.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T210559Z-M4-014-pr-open.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): emit Lunar Lake platform probe receipt
  crates/bitnet-cli/src/main.rs
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T220037Z-LNL258V-003-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): route QK256 linear dispatch through CUDA
  Cargo.lock
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/main.rs
  crates/bitnet-qk256-dispatch/Cargo.toml
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/cuda_coverage.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): add CPU transformer decode step (#3793)
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/cpu_decode.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/tests/cpu_one_step_decode.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
