Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat: Enhance documentation for BitNet.rs neural network generative flow and commands
  .claude/agents3/issue-to-draft.md
Due: none

feat(spec): comprehensive real BitNet model integration architecture for MVP
  docs/explanation/architecture/adr-001-real-model-integration-strategy.md
  docs/explanation/architecture/adr-002-quantization-accuracy-validation.md
  docs/explanation/bitnet-crate-integration-specifications.md
  docs/explanation/gpu-cpu-kernel-specifications.md
  docs/explanation/issue-218-spec.md
  docs/explanation/neural-network-operation-requirements.md
  docs/explanation/real-bitnet-model-integration-architecture.md
  docs/explanation/specs/issue-218-acceptance-criteria-implementation.md
  docs/explanation/specs/issue-218-device-aware-implementation.md
  docs/explanation/specs/issue-218-gguf-compatibility-requirements.md
  docs/explanation/specs/issue-218-implementation-summary.md
  docs/explanation/specs/issue-218-neural-network-spec.md
  docs/explanation/specs/issue-218-quantization-testing-strategy.md
  docs/explanation/specs/issue-218-risk-mitigation-strategy.md
  docs/reference/implementation-schemas.md
  docs/reference/real-model-api-contracts.md
Due: none

feat: implement AC1-AC2 real model infrastructure with feature-gated selection
  Cargo.lock
  crates/bitnet-cli/tests/real_model_cli_integration.rs
  crates/bitnet-common/src/error.rs
  crates/bitnet-common/src/types.rs
  crates/bitnet-ffi/src/error.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-inference/tests/real_inference_engine.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/tests/mixed_precision_gpu_kernels.rs
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/lib.rs
  crates/bitnet-models/src/production_loader.rs
  crates/bitnet-models/tests/real_model_loading.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/device_aware_quantizer.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/tests/device_aware_quantization.rs
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/tests/universal_tokenizer_integration.rs
  tests/Cargo.toml
  tests/fixtures/cross_validation.rs
  tests/fixtures/device_aware.rs
  tests/fixtures/error_handling.rs
  tests/fixtures/lib.rs
  tests/fixtures/mod.rs
  tests/fixtures/model_artifacts.rs
  tests/fixtures/performance.rs
  tests/fixtures/quantization.rs
  tests/integration_real_model_fixtures.rs
  tests/real_model_integration.rs
  xtask/tests/model_download_automation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add comprehensive integration tests for real BitNet model and xtask automation
  ac1_standalone_test.rs
  crates/bitnet-cli/tests/real_model_cli_integration.rs
  crates/bitnet-common/src/error.rs
  crates/bitnet-ffi/src/error.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-inference/tests/real_inference_engine.rs
  crates/bitnet-kernels/tests/mixed_precision_gpu_kernels.rs
  crates/bitnet-models/src/production_loader.rs
  crates/bitnet-models/tests/real_model_loading.rs
  crates/bitnet-quantization/src/device_aware_quantizer.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/tests/device_aware_quantization.rs
  crates/bitnet-tokenizers/tests/universal_tokenizer_integration.rs
  tests/ac1_minimal_test.rs
  tests/fixtures/cross_validation.rs
  tests/fixtures/device_aware.rs
  tests/fixtures/error_handling.rs
  tests/fixtures/mod.rs
  tests/fixtures/model_artifacts.rs
  tests/fixtures/performance.rs
  tests/fixtures/quantization.rs
  tests/integration_real_model_fixtures.rs
  tests/real_model_integration.rs
  tests/tests/cache/incremental/last_run.json
  xtask/tests/model_download_automation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve clippy warnings and build errors for BitNet.rs quality gates
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-models/src/production_loader.rs
  tests/fixtures/cross_validation.rs
  tests/fixtures/mod.rs
  tests/fixtures/model_artifacts.rs
  tests/fixtures/performance.rs
  tests/fixtures/performance_baselines.json
  tests/fixtures/quantization.rs
  tests/integration_real_model_fixtures.rs
  tests/real_model_integration.rs
  tests/tests/cache/incremental/last_run.json
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

refactor: update performance baselines for model loading and quantization metrics
  tests/fixtures/performance_baselines.json
Due: none

Remove obsolete generative agents and update .gitignore to exclude Claude working agents
  .claude/agents/generative/doc-fixer.md
  .claude/agents/generative/generative-benchmark-runner.md
  .claude/agents/generative/generative-code-refiner.md
  .claude/agents/generative/generative-code-reviewer.md
  .claude/agents/generative/generative-diff-reviewer.md
  .claude/agents/generative/generative-doc-updater.md
  .claude/agents/generative/generative-docs-finalizer.md
  .claude/agents/generative/generative-fixture-builder.md
  .claude/agents/generative/generative-fuzz-tester.md
  .claude/agents/generative/generative-link-checker.md
  .claude/agents/generative/generative-merge-readiness.md
  .claude/agents/generative/generative-mutation-tester.md
  .claude/agents/generative/generative-prep-finalizer.md
  .claude/agents/generative/generative-spec-analyzer.md
  .claude/agents/generative/impl-creator.md
  .claude/agents/generative/impl-finalizer.md
  .claude/agents/generative/issue-creator.md
  .claude/agents/generative/issue-finalizer.md
  .claude/agents/generative/policy-fixer.md
  .claude/agents/generative/policy-gatekeeper.md
  .claude/agents/generative/pr-preparer.md
  .claude/agents/generative/pr-publication-finalizer.md
  .claude/agents/generative/pr-publisher.md
  .claude/agents/generative/quality-finalizer.md
  .claude/agents/generative/safety-scanner.md
  .claude/agents/generative/schema-validator.md
  .claude/agents/generative/spec-creator.md
  .claude/agents/generative/spec-finalizer.md
  .claude/agents/generative/test-creator.md
  .claude/agents/generative/test-hardener.md
  .claude/agents/generative/tests-finalizer.md
  .gitignore
Due: none

Refactor integration agents for BitNet.rs neural network workspace
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/integration/benchmark-runner.md
  .claude/agents3/integration/context-scout.md
  .claude/agents3/integration/dep-fixer.md
  .claude/agents3/integration/doc-fixer.md
  .claude/agents3/integration/feature-matrix-checker.md
  .claude/agents3/integration/fuzz-tester.md
  .claude/agents3/integration/initial-reviewer.md
  .claude/agents3/integration/integrative-build-validator.md
  .claude/agents3/integration/integrative-doc-fixer.md
  .claude/agents3/integration/integrative-pr-intake.md
  .claude/agents3/integration/integrative-pr-summary.md
  .claude/agents3/integration/integrative-test-runner.md
  .claude/agents3/integration/mutation-tester.md
  .claude/agents3/integration/perf-fixer.md
  .claude/agents3/integration/policy-fixer.md
  .claude/agents3/integration/policy-gatekeeper.md
  .claude/agents3/integration/pr-cleanup.md
  .claude/agents3/integration/pr-doc-reviewer.md
  .claude/agents3/integration/pr-merge-finalizer.md
  .claude/agents3/integration/pr-merge-prep.md
  .claude/agents3/integration/pr-merger.md
  .claude/agents3/integration/pr-summary-agent.md
  .claude/agents3/integration/rebase-checker.md
  .claude/agents3/integration/rebase-helper.md
  .claude/agents3/integration/safety-scanner.md
  .claude/agents3/integration/test-improver.md
Due: none

refactor: update check run configuration and success path definitions for agent customizers
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
Due: none

refactor: standardize success path definitions across agent customizers
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
Due: none

refactor: update status requirements to use 'should' instead of 'must' in agent customizer documentation
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
Due: none

refactor: enhance documentation for quantization and inference validation across generative agents
  .claude/agents3/generative/generative-code-refiner.md
  .claude/agents3/generative/generative-code-reviewer.md
  .claude/agents3/generative/generative-diff-reviewer.md
  .claude/agents3/generative/generative-doc-updater.md
  .claude/agents3/generative/generative-docs-finalizer.md
  .claude/agents3/generative/generative-fuzz-tester.md
  .claude/agents3/generative/generative-link-checker.md
  .claude/agents3/generative/generative-merge-readiness.md
  .claude/agents3/generative/generative-mutation-tester.md
  .claude/agents3/generative/impl-creator.md
  .claude/agents3/generative/impl-finalizer.md
  .claude/agents3/generative/issue-creator.md
  .claude/agents3/generative/pr-preparer.md
  .claude/agents3/generative/pr-publisher.md
  .claude/agents3/generative/quality-finalizer.md
  .claude/agents3/generative/spec-creator.md
  .claude/agents3/generative/spec-finalizer.md
  .claude/agents3/generative/test-creator.md
  .claude/agents3/generative/test-hardener.md
  .claude/agents3/generative/tests-finalizer.md
Due: none

refactor: enhance success path definitions and retry logic across agent customizers
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
Due: none

refactor: update adaptation process for agent customization to align with BitNet.rs standards
  .claude/agents3/agent-customizer-integrative.md
Due: none

refactor: clarify success definitions and routing for agent customization across multiple documents
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
Due: none

refactor: standardize evidence format and clarify gate evolution across agent customization flows
  .claude/agents3/agent-customizer-generative.md
  .claude/agents3/agent-customizer-integrative.md
  .claude/agents3/agent-customizer-review.md
  .claude/agents3/draft-to-pr.md
  .claude/agents3/issue-to-draft.md
  .claude/agents3/pr-to-merge.md
Due: none

refactor: adapt review-docs-and-adr agent to BitNet.rs documentation standards
  .claude/agents4/review/review-docs-and-adr.md
Due: none

refactor: adapt test-creator agent to BitNet.rs Generative flow standards
  .claude/agents4/generative/test-creator.md
Due: none

docs: adapt review-spec-fixer agent to BitNet.rs neural network standards
  .claude/agents4/review/review-spec-fixer.md
Due: none

refactor: adapt review-test-hardener agent to BitNet.rs neural network testing standards
  .claude/agents4/review/review-test-hardener.md
Due: none

Add comprehensive documentation for architecture, quantization support, and validation framework
  CLAUDE.md
  docs/architecture-overview.md
  docs/quantization-support.md
  docs/validation-framework.md
Due: none

fix(deps): resolve dependency security vulnerabilities
  Cargo.lock
  crates/bitnet-wasm/Cargo.toml
  crates/bitnet-wasm/src/lib.rs
  deny.toml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: resolve test fixture initialization issues for integration tests
  tests/fixtures/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Update last_run.json with new timestamp value
  .gitignore
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-kernels/tests/mixed_precision_gpu_kernels.rs
  crates/bitnet-models/src/production_loader.rs
  crates/bitnet-quantization/src/device_aware_quantizer.rs
  crates/bitnet-quantization/tests/device_aware_quantization.rs
  tests/common/env.rs
  tests/fixtures/performance_baselines.json
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve debug integration test timeout issues in parallel execution
  .claude/agents4/draft-to-pr.md
  .claude/agents4/pr-to-merge.md
  crates/bitnet-inference/src/production_engine.rs
  tests/common/debug_integration.rs
  tests/fixtures/performance_baselines.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(deps): resolve dependency security vulnerabilities and license compliance
  Cargo.lock
  crates/bitnet-quantization/tests/unit_tests.rs
  deny.toml
  tests/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Enhance BitNet.rs with mutation testing improvements and performance validations
  .claude/agents4/draft-to-pr.md
  .claude/oldhooks3/settings.json
  MUTATION_TESTING_ANALYSIS.md
  MUTATION_TESTING_FINAL_REPORT.md
  ci/benchmarks_gate.json
  ci/inference.json
  ci/inference_gpu.json
  ci/perf_gate.json
  ci/performance_evidence.md
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/production_engine.rs
  crates/bitnet-kernels/tests/mixed_precision_gpu_kernels.rs
  tests/fixtures/device_aware.rs
  tests/fixtures/performance_baselines.json
  tests/response_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: validate FFI block_size configuration with default fallback
  crates/bitnet-ffi/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: security validation complete - acceptable risk level (unmaintained paste dependency, test assertion patterns)
  ci/ledger_security_gate.md
Due: none

test: Add comprehensive mutation killer tests for BitNet.rs quantization algorithms
  crates/bitnet-quantization/tests/mutation_killer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor quantization tests for improved error handling and update performance baselines
  crates/bitnet-quantization/tests/mutation_killer_tests.rs
  tests/fixtures/performance_baselines.json
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: fix broken documentation links in quantization-support.md
  docs/reference/quantization-support.md
Due: none

Add mutation killer tests for quantization utilities and update last_run.json
  ci/ledger_integrative_features.md
  crates/bitnet-quantization/tests/utils_mutation_killer_tests.rs
  gates_update.md
  tests/fixtures/performance_baselines.json
  tests/tests/cache/incremental/last_run.json
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: resolve clippy warnings in mutation killer tests after rebase
  crates/bitnet-quantization/tests/utils_mutation_killer_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: update performance baselines and last run timestamp for quantization tests
  tests/fixtures/performance_baselines.json
  tests/tests/cache/incremental/last_run.json
Due: none

feat: Enhance agent customization and validation flows for BitNet.rs
  .claude/agents4/agent-customizer-generative.md
  .claude/agents4/agent-customizer-integrative.md
  .claude/agents4/agent-customizer-review.md
  .claude/agents4/draft-to-pr.md
  .claude/agents4/issue-to-draft.md
  .claude/agents4/pr-to-merge.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
