Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(lunar-lake): fix platform probe refresh claims (#4145)
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  docs/hardware/intel-258v-validation.md
Due: none

feat(cuda): emit planner execution plans in receipts (#4146)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-bitnet-perf-002-repeated-strict-ask.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-bitnet-perf-003-warm-session-benchmark.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-prod-004-answer-path-benchmark.json
  crates/bitnet-bench-receipts/src/bin/strict_cuda_answer_path_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/bin/strict_cuda_repeated_ask_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/bin/strict_cuda_warm_session_benchmark_receipt.rs
  crates/bitnet-bench-receipts/src/lib.rs
  crates/bitnet-cli/src/commands/answer_corpus.rs
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/planner_receipts.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T224500Z-CUDA-PLANNER-004-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T225500Z-CUDA-PLANNER-004-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-PLANNER-004 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T225847Z-CUDA-PLANNER-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-PLANNER-004 tracker (#4147)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T225847Z-CUDA-PLANNER-004-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Track positional Mac ask PR
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T231247Z-M4-SLM-HARDEN-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Add positional Mac ask UX
  .codex/campaigns/apple-m4-slm-hardening/goal.md
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/.gitkeep
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T230749Z-M4-SLM-HARDEN-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-slm-hardening] Refresh active PR dashboard
  docs/tracking/generated/active-prs.md
Due: none

feat(cuda): bridge dense planner receipts
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-parity.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-persistent.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-residency.json
  crates/bitnet-kernels/src/cuda/dense_gemm.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_005_MODEL_FAMILY_PLANNER_BRIDGE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T231817Z-CUDA-DENSE-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): bridge dense planner receipts (#4150)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-parity.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-persistent.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-f16-gemm-residency.json
  crates/bitnet-kernels/src/cuda/dense_gemm.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_005_MODEL_FAMILY_PLANNER_BRIDGE.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T231817Z-CUDA-DENSE-005-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-005 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T232721Z-CUDA-DENSE-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-005 tracker (#4151)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T232721Z-CUDA-DENSE-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cli): keep planner receipts available without full-cli
  crates/bitnet-cli/src/main.rs
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

chore(msrv): probe Rust 1.95 compatibility
  crates/bitnet-common/src/perf_profiler.rs
  crates/bitnet-testing-scenarios-core/src/lib.rs
  docs/audits/rust-1.95-compatibility.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cuda): inspect dense GGUF descriptors
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-gguf-descriptor-inspection.json
  crates/bitnet-models/src/dense_gguf_descriptors.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_006_GGUF_DESCRIPTOR_INSPECTION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T234213Z-CUDA-DENSE-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): inspect dense GGUF descriptors (#4152)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-gguf-descriptor-inspection.json
  crates/bitnet-models/src/dense_gguf_descriptors.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_006_GGUF_DESCRIPTOR_INSPECTION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T234213Z-CUDA-DENSE-006-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): close CUDA-DENSE-006 tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T234805Z-CUDA-DENSE-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-DENSE-006 tracker (#4153)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T234805Z-CUDA-DENSE-006-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Add positional Mac ask UX (M4-SLM-HARDEN-001) (#4149)
  .codex/campaigns/apple-m4-slm-hardening/goal.md
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_ask_help.snap
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/.gitkeep
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T230749Z-M4-SLM-HARDEN-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T231247Z-M4-SLM-HARDEN-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-SLM-HARDEN-001
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T235515Z-M4-SLM-HARDEN-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Close out positional Mac ask (M4-SLM-HARDEN-001) (#4154)
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-08T235515Z-M4-SLM-HARDEN-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(lunar-lake): detect Level Zero through loader
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/2026-05-08/platform-probe-cli.json
  ci/hardware/intel-258v/README.md
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/runtimes/level_zero.rs
  crates/bitnet-ffi/src/config.rs
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): improve Mac SLM cache repair guidance
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T000156Z-M4-SLM-HARDEN-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-SLM-HARDEN-002 PR
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T001041Z-M4-SLM-HARDEN-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Improve Mac SLM cache repair UX (M4-SLM-HARDEN-002) (#4155)
  crates/bitnet-cli/src/model_cache.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-local-answer-baseline.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T000156Z-M4-SLM-HARDEN-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T001041Z-M4-SLM-HARDEN-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-SLM-HARDEN-002
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002349Z-M4-SLM-HARDEN-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Close out cache repair UX (M4-SLM-HARDEN-002) (#4157)
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002349Z-M4-SLM-HARDEN-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(lunar-lake): detect Level Zero through loader (#4148)
  ci/hardware/intel-258v/2026-05-08/platform-comparison-index.json
  ci/hardware/intel-258v/2026-05-08/platform-probe-cli.json
  ci/hardware/intel-258v/README.md
  crates/bitnet-cli/src/lib.rs
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/runtimes/level_zero.rs
  crates/bitnet-ffi/src/config.rs
  docs/hardware/intel-258v-validation.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(cli): expand Mac SLM quality corpus
  ci/quality/apple-m4-slm-quality-corpus.yaml
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  docs/slm/apple-m4-slm-quality-determinism.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002652Z-M4-SLM-HARDEN-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): record M4-SLM-HARDEN-003 PR
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002949Z-M4-SLM-HARDEN-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Expand Mac SLM quality corpus (M4-SLM-HARDEN-003) (#4158)
  ci/quality/apple-m4-slm-quality-corpus.yaml
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__run_help.snap
  docs/slm/apple-m4-slm-quality-determinism.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002652Z-M4-SLM-HARDEN-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T002949Z-M4-SLM-HARDEN-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-SLM-HARDEN-003
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T003501Z-M4-SLM-HARDEN-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(lunar-lake): close Level Zero loader probe
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-09T002849Z-LNL258V-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Close out quality corpus expansion (M4-SLM-HARDEN-003) (#4159)
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T003501Z-M4-SLM-HARDEN-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): seed Apple M4 dense SLM regression
  .codex/campaigns/apple-m4-dense-slm-regression/goal.md
  docs/slm/apple-m4-dense-slm-regression.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/active.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T003752Z-M4-SLM-HARDEN-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): record M4-SLM-HARDEN-004 PR
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T004131Z-M4-SLM-HARDEN-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Seed dense SLM regression guardrails (M4-SLM-HARDEN-004) (#4161)
  .codex/campaigns/apple-m4-dense-slm-regression/goal.md
  docs/slm/apple-m4-dense-slm-regression.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-dense-slm-regression/active.toml
  docs/tracking/campaigns/apple-m4-dense-slm-regression/generated/status.md
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T003752Z-M4-SLM-HARDEN-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T004131Z-M4-SLM-HARDEN-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): close out M4-SLM-HARDEN-004
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T004321Z-M4-SLM-HARDEN-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-hardening] Close out regression guardrail seed (M4-SLM-HARDEN-004) (#4162)
  docs/tracking/campaigns/apple-m4-slm-hardening/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-hardening/active.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/events/2026-05-09T004321Z-M4-SLM-HARDEN-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-hardening/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cuda): extract dense GGUF linear fixtures
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/dense-gguf-linear-fixture-extraction.json
  crates/bitnet-models/src/dense_gguf_linear_fixture.rs
  crates/bitnet-models/src/lib.rs
  crates/bitnet-receipts-core/src/lib.rs
  crates/bitnet-receipts/tests/cuda_receipt_validation.rs
  docs/reports/CUDA_DENSE_007_LINEAR_FIXTURE_EXTRACTION.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
