Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

Enhance BitNet.rs PR Workflow Documentation and Validation Processes
  .claude/agents/pr-cleanup.md
  .claude/agents/pr-context-analyzer.md
  .claude/agents/pr-doc-finalizer.md
  .claude/agents/pr-finalize.md
  .claude/agents/pr-initial.md
  .claude/agents/pr-merge-executor.md
  .claude/agents/pr-test-validator.md
Due: none

feat: add IQ2_S quantization features and enhance backend documentation
  Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Squashed commit of the following:
  .cargo/config.toml
  .claude/finalization-report.md
  .docker/crossval.dockerfile
  .docker/rust-cpu.dockerfile
  .docker/rust-gpu.dockerfile
  CLAUDE.md
  docker-compose.test.yml
  rustc-ice-2025-08-29T22_44_29-3101821.txt
  scripts/comprehensive-validation.sh
  scripts/crossval.sh
  scripts/e2e-gate.sh
  scripts/preflight.sh
  scripts/verify-tests.sh
  tests/common/concurrency_caps.rs
  tests/common/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix streaming tests for updated API
  tests/integration/resource_management_tests.rs
  tests/integration/streaming_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: add mock inference embeds and logits
  crates/bitnet-ffi/src/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Align IQ2S data layout with FFI
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Handle missing bitnet_py extension
  crates/bitnet-py/python/bitnet_py/__init__.py
  crates/bitnet-py/python/bitnet_py/migration.py
Due: none

Add device-aware dequantization with GPU support
  api/rust/bitnet-common.public-api.txt
  crates/bitnet-models/src/gguf_min.rs
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  tests/api_snapshots.rs
  tests/integration_test.rs
  tests/working_e2e_demo.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: restore avx512 kernel
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/comprehensive_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cuda): add device queries and quantization
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Capture token id in streaming events
  crates/bitnet-server/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Implement teacher-forced scoring in CLI
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Call engine prefill and record latency
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add tokenizer backend implementations and GGUF loader
  crates/bitnet-tokenizers/src/universal.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Expand ModelInfo with detailed metadata
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add resource management integration tests with hybrid actual/simulated approach
  tests/integration/resource_management_tests.rs
  tests/integration/streaming_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: add rayon dependency and unsafe block for Rust 2024 edition compatibility
  crates/bitnet-models/src/quant/backend.rs
  tests/Cargo.toml
  tests/common/concurrency_caps.rs
  tests/common/mod.rs
  tests/integration/streaming_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add resource management documentation and validation tests
  DOCUMENTATION_UPDATE_REPORT.md
  RESOURCE_MANAGEMENT_IMPROVEMENTS.md
  docs/RESOURCE_MANAGEMENT_TESTING.md
  libtest_resource_management_comprehensive.rlib
  tests/test_resource_management_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(cpu): add AVX-512 kernel
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: enable avx512 backend
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Align IQ2_S layout with GGML and add parity tests
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-models/src/formats/gguf/types.rs
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Query CUDA device info and implement quantization
  crates/bitnet-kernels/src/gpu/cuda.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add BPE and SPM round-trip tests
  crates/bitnet-tokenizers/src/lib.rs
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/bpe_roundtrip.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
  crates/bitnet-tokenizers/tests/spm_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): expose gguf metadata in inspection
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/tests/engine_inspect.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add teacher-forced scoring with perplexity
  CLI.md
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add device-aware quantization
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-quantization/tests/gpu_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Pass actual token IDs in streaming output and test
  crates/bitnet-server/src/streaming.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Fix IQ2S layout and parity tests
  crates/bitnet-models/src/quant/backend.rs
  crates/bitnet-models/tests/iq2s_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add CUDA device queries and quantization kernels
  crates/bitnet-kernels/src/gpu/cuda.rs
  crates/bitnet-kernels/src/gpu/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Integrate GGUF tokenizer metadata and add roundtrip tests
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
  crates/bitnet-tokenizers/tests/tokenizer_contracts.rs
  crates/bitnet-tokenizers/tests/universal_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add teacher forcing scoring with NLL and perplexity
  CLI.md
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add device-aware quantization with GPU branching
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
  crates/bitnet-quantization/tests/gpu_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor BitNet GPU Kernels and Memory Management
  crates/bitnet-kernels/src/ffi/bridge.rs
  crates/bitnet-kernels/src/gpu/cuda.rs
  crates/bitnet-kernels/src/gpu/memory_optimization.rs
  crates/bitnet-kernels/src/gpu/mixed_precision.rs
  crates/bitnet-kernels/src/gpu/validation.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: refactor GPU kernels with enhanced CUDA and memory optimization
  .claude/finalization-report.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  crates/bitnet-kernels/src/gpu/cuda.rs
  docs/cuda-configuration-guide.md
  docs/gpu-kernel-architecture.md
  docs/gpu-setup-guide.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
