Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

ci: trigger CI Core pipeline
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: trigger CI Core pipeline
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(device-probe): Add rocm_available field to DeviceProbe (#995)
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Enable and wire Metal backend support across workspace
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/types.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-transformer/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove invalid retrigger comment from device-probe lib.rs
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: retrigger [skip tests]
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Implement AVX-512 kernels for TL2 quantization (#997)
  check_avx512
  crates/bitnet-quantization/src/tl2.rs
  test_avx512_intrinsics
  test_avx512_intrinsics.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove duplicate metal feature key in bitnet-common/Cargo.toml
  crates/bitnet-common/Cargo.toml
Due: none

Fix TL2 input quantization to stay in 2-bit domain (#978)
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: reduce ignored test count (wave 4) - enable unblocked tests (#947)
  crates/bitnet-device-probe/src/lib.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Enable and wire Metal backend support across workspace (#992)
  Cargo.toml
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/types.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-models/Cargo.toml
  crates/bitnet-models/src/bitnet.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/huggingface.rs
  crates/bitnet-models/src/formats/safetensors/loader.rs
  crates/bitnet-transformer/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add canonical CUDA setup guide
  docs/GPU_SETUP.md
  docs/development/gpu-setup-guide.md
Due: none

Fix NPU device parsing in bitnet-cli and bitnet-server
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-server/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add changelog entries for PRs #947-#997 (sessions 99-100)
  CHANGELOG.md
Due: none

docs: add canonical CUDA GPU setup guide and fix GPU build command examples (#998)
  docs/GPU_SETUP.md
  docs/development/gpu-setup-guide.md
Due: none

docs: update backend roadmap and architecture docs for v0.2
  README.md
  docs/architecture-overview.md
  docs/reference/dual-backend-roadmap.md
  docs/reference/quantization-support.md
Due: none

test(bitnet-device-probe): add property tests for new backend capabilities
  crates/bitnet-device-probe/tests/new_backends_proptest.rs
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_capabilities_gpu_fields_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__device_probe_availability_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__gpu_capabilities_debug_no_gpu.snap
  crates/bitnet-device-probe/tests/snapshots/new_backends_proptest__vulkan_compiled_no_feature.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(config): accept 'npu' as valid device identifier in CLI and server
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-server/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: expand nightly fuzz schedule to cover all 34 fuzz targets
  .github/workflows/nightly-fuzz.yml
Due: none

docs: add changelog entries for PRs #947-#997 (sessions 99-100) (#1000)
  CHANGELOG.md
Due: none

docs: update backend roadmap and architecture docs for v0.2 (#1001)
  README.md
  docs/architecture-overview.md
  docs/reference/dual-backend-roadmap.md
  docs/reference/quantization-support.md
Due: none

fix(config): accept 'npu' as valid device identifier in CLI and server (#1002)
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
  crates/bitnet-server/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

ci: expand nightly fuzz schedule to cover all 34 fuzz targets (#1004)
  .github/workflows/nightly-fuzz.yml
Due: none

docs: add Apple Silicon backend roadmap spec
  docs/specs/INDEX.md
  docs/specs/apple-silicon-backend-roadmap.md
Due: none

docs: add macOS 26 Apple Silicon integration roadmap
  COMPATIBILITY.md
  README.md
  docs/reference/macos-26-apple-silicon-roadmap.md
Due: none

feat(bdd-grid): add Metal, Vulkan, oneAPI backend cells
  crates/bitnet-bdd-grid-core/src/lib.rs
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  xtask/src/grid_check.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(device-probe): remove unused serial import and fix doc comments before proptest macros
  crates/bitnet-device-probe/tests/new_backends_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add initial NPU backend scaffolding across kernels, inference, and CLI
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/src/score.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/npu.rs
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/npu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add general LLM production readiness implementation plan
  docs/reports/GENERAL_LLM_PRODUCTION_READINESS_PLAN.md
  docs/reports/README.md
Due: none

revert accidental unrelated changes
  crates/bitnet-transformer/Cargo.toml
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Wire QK256 dispatch to active AVX2/scalar path and harden CI coverage
  .github/workflows/ci-core.yml
  .github/workflows/feature-matrix.yml
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
  crates/bitnet-quantization/src/lib.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Enforce LayerNorm bias presence in transformer loader
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(device-probe): convert remaining /// doc comments before proptest! blocks
  crates/bitnet-device-probe/tests/new_backends_proptest.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: update Cargo.lock to include bitnet-test-support for bitnet-transformer
  Cargo.lock
Due: none

feat(gpu): add initial support for Metal backend and detection
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/gpu.rs
  crates/bitnet-kernels/src/gpu_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(bdd-grid): update runtime-profile-contract-core and policy-interop snapshots to 25 cells
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: none

ci(docs): add unified docs automation workflow and script
  .github/workflows/docs-automation.yml
  Justfile
  Makefile
  scripts/docs_automation.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
