Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

loader(gguf): accept BitNet I2S norm envelope
  crates/bitnet-models/src/formats/gguf/loader.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

loader(gguf): trim strict I2S padding
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/formats/gguf/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): add RTX 5070 Ti BitNet CUDA guide
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T162126Z-CUDA-UX-009-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tutorials/rtx5070ti-bitnet-cuda.md
Due: none

docs(cuda): mark CUDA-UX-009 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T162927Z-CUDA-UX-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

tokenizers: avoid duplicate HF prompt specials
  crates/bitnet-tokenizers/src/hf_tokenizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

transformer(bitnet): wire sub-layernorms
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): add RTX 5070 Ti BitNet CUDA guide (CUDA-UX-009)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T162126Z-CUDA-UX-009-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T162927Z-CUDA-UX-009-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tutorials/rtx5070ti-bitnet-cuda.md
Due: none

transformer(bitnet): apply architecture norm and activation defaults
  crates/bitnet-common/src/arch_registry.rs
  crates/bitnet-common/tests/common_arch_kernel_backend_edge_cases.rs
  crates/bitnet-models/src/architecture.rs
  crates/bitnet-models/src/config_detection.rs
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-transformer/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cli: assert greedy against effective logits
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cli: prefill prompt before incremental decode
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(transformer): pin prompt history sensitivity
  crates/bitnet-transformer/tests/transformer_model_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(cli): pin prefill last-token logit selection
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA-UX-009 tracker
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T175810Z-CUDA-UX-009-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(qk256): pin rank3 row-sensitive dispatch
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
  crates/bitnet-qk256-dispatch/tests/opencl_qk256_hardware.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

diag(transformer): pin qk256 prompt history sensitivity
  crates/bitnet-transformer/tests/transformer_model_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close local-answer campaign
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
Due: none

cli(m3): preserve MacBook Air validate receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_models_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_receipts_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T031458Z-M3MBA-012-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T034812Z-M3MBA-013-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T182819Z-M3MBA-014-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m3): record validate bridge PR
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T183316Z-M3MBA-014-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

Close apple-m4-local-answer (#4765)
  docs/tracking/campaigns/apple-m4-local-answer/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-local-answer/active.toml
  docs/tracking/campaigns/apple-m4-local-answer/generated/status.md
Due: none

fix(bitnet): apply i2s trailer scale in qk256 dispatch
  crates/bitnet-models/src/formats/gguf/loader.rs
  crates/bitnet-models/src/weight_mapper.rs
  crates/bitnet-models/tests/qk256_avx2_correctness.rs
  crates/bitnet-models/tests/qk256_error_handling.rs
  crates/bitnet-models/tests/qk256_integration.rs
  crates/bitnet-models/tests/qk256_loader_tests.rs
  crates/bitnet-models/tests/qk256_property_tests.rs
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/src/opencl.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
  crates/bitnet-qk256-dispatch/tests/opencl_qk256_hardware.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-quantization/tests/proptest_wave15.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
  crates/bitnet-quantization/tests/quant_property_tests.rs
  crates/bitnet-quantization/tests/quantization_extended_tests.rs
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-transformer/tests/transformer_model_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): add 9950X3D 5070 Ti quickstart
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T183714Z-CUDA-UX-010-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tutorials/9950x3d-5070ti-cuda-quickstart.md
Due: none

docs(cuda): record CUDA-UX-010 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T184712Z-CUDA-UX-010-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): add reference checkpoint capture method
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): align CUDA-UX-010 PR tracker status
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): include CUDA-UX-010 active PR dashboard
  docs/tracking/generated/active-prs.md
Due: none

fix(bitnet): decode i2s qk256 act-parallel layout
  crates/bitnet-models/tests/qk256_error_handling.rs
  crates/bitnet-models/tests/qk256_integration.rs
  crates/bitnet-models/tests/qk256_property_tests.rs
  crates/bitnet-qk256-dispatch/src/opencl.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
  crates/bitnet-quantization/src/i2s_qk256.rs
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
  crates/bitnet-quantization/src/qk256_dispatch.rs
  crates/bitnet-quantization/tests/qk256_avx2_parity_tests.rs
  crates/bitnet-quantization/tests/quant_property_tests.rs
  crates/bitnet-transformer/tests/transformer_model_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cli(m3): preserve MacBook Air validate receipts (#4766)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_chat_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_models_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_receipts_check_help.snap
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T031458Z-M3MBA-012-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T034812Z-M3MBA-013-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T182819Z-M3MBA-014-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T183316Z-M3MBA-014-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m3): close validate bridge tracker
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T190811Z-M3MBA-014-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m3): close validate bridge tracker (#4772)
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T190811Z-M3MBA-014-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): add reference checkpoint capture method (#4769)
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-008Y1 merge
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T192220Z-SLM-CPU-008Y1-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

diag(bitnet): report real qk256 gguf layout
  crates/bitnet-cli/src/commands/inspect.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): add 9950X3D 5070 Ti quickstart
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T183714Z-CUDA-UX-010-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T184712Z-CUDA-UX-010-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tutorials/9950x3d-5070ti-cuda-quickstart.md
Due: none

docs(slm): sync SLM-CPU-008Y1 merge (#4773)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-14T192220Z-SLM-CPU-008Y1-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cli(m3): record dense Qwen smoke
  ci/hardware/apple-silicon-macbook/2026-05-12/m3-air/qwen-mirror-smoke.json
  crates/bitnet-cli/src/mac.rs
  docs/reports/apple-silicon-macbook-m3-air-qwen-smoke.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T192342Z-M3MBA-004A-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m3): mark dense smoke PR open
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-14T194612Z-M3MBA-004A-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

diag(bitnet): trace layer0 route stages
  Cargo.lock
  crates/bitnet-models/Cargo.toml
  crates/bitnet-transformer/Cargo.toml
  crates/bitnet-transformer/src/lib.rs
  xtask/src/main.rs
  xtask/src/trace_diff.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): close CUDA UX quickstart tracker
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-14T192648Z-CUDA-UX-010-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

chore(tracking): close stale merged campaign items
  docs/tracking/campaigns/apple-m4/active.toml
  docs/tracking/campaigns/apple-m4/events/2026-05-06T123205Z-M4-009-merged.toml
  docs/tracking/campaigns/apple-m4/generated/status.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-06T110911Z-LNL258V-RUN-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/events/2026-05-06T115519Z-NPU-002-merged.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-06T132942Z-RTX5070TI-005-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/campaigns/tracker-infra/active.toml
  docs/tracking/campaigns/tracker-infra/events/2026-05-06T120749Z-TRACKER-003-merged.toml
  docs/tracking/campaigns/tracker-infra/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none
