Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

perf(inference): add DenseLinear/FFN forward_into + BlockWorkspace (#3338)
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): add DenseAttention workspace + wire into BlockWorkspace
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(inference): add DenseAttention workspace + wire into BlockWorkspace (#3339)
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): use is_multiple_of() in dense_forward.rs
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: expand environment variables reference (~80 vars documented)
  CLAUDE.md
Due: none

test(inference): extract 14 fast pure-logic tests from slow integration suites
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/template_comparison.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cleanup(kernels): remove 15 orphaned source files (~18.6K lines)
  crates/bitnet-kernels/src/gpu/benchmarks.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/neon_attention.rs
  crates/bitnet-kernels/src/neon_gemv.rs
  crates/bitnet-kernels/src/opencl_autotuner.rs
  crates/bitnet-kernels/src/opencl_cmd_queue.rs
  crates/bitnet-kernels/src/opencl_continuous_batch.rs
  crates/bitnet-kernels/src/opencl_flash_attention.rs
  crates/bitnet-kernels/src/opencl_gqa.rs
  crates/bitnet-kernels/src/opencl_layer_compose.rs
  crates/bitnet-kernels/src/opencl_mixed_precision.rs
  crates/bitnet-kernels/src/opencl_model_converter.rs
  crates/bitnet-kernels/src/opencl_numerical_stability.rs
  crates/bitnet-kernels/src/opencl_prefix_cache.rs
  crates/bitnet-kernels/src/opencl_rope_cache.rs
  crates/bitnet-kernels/src/opencl_telemetry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): fix test compilation warnings on macOS ARM64
  crates/bitnet-kernels/tests/metal_attention_v2_shader_tests.rs
  crates/bitnet-kernels/tests/neon_attention_regression_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(inference): extract 14 fast pure-logic tests
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/template_comparison.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(inference): extract 14 fast pure-logic tests (#3348)
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/template_comparison.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: expand environment variables reference (~80 vars) (#3344)
  CLAUDE.md
Due: none

fix(apple-silicon): fix test compilation warnings on macOS ARM64 (#3347)
  crates/bitnet-kernels/tests/metal_attention_v2_shader_tests.rs
  crates/bitnet-kernels/tests/neon_attention_regression_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cleanup(kernels): remove 15 orphaned source files (~18.6K lines) (#3346)
  crates/bitnet-kernels/src/gpu/benchmarks.rs
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/neon_attention.rs
  crates/bitnet-kernels/src/neon_gemv.rs
  crates/bitnet-kernels/src/opencl_autotuner.rs
  crates/bitnet-kernels/src/opencl_cmd_queue.rs
  crates/bitnet-kernels/src/opencl_continuous_batch.rs
  crates/bitnet-kernels/src/opencl_flash_attention.rs
  crates/bitnet-kernels/src/opencl_gqa.rs
  crates/bitnet-kernels/src/opencl_layer_compose.rs
  crates/bitnet-kernels/src/opencl_mixed_precision.rs
  crates/bitnet-kernels/src/opencl_model_converter.rs
  crates/bitnet-kernels/src/opencl_numerical_stability.rs
  crates/bitnet-kernels/src/opencl_prefix_cache.rs
  crates/bitnet-kernels/src/opencl_rope_cache.rs
  crates/bitnet-kernels/src/opencl_telemetry.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): resolve test file warnings in bitnet-common and bitnet-kernels
  clippy_all_targets.txt
  clippy_common.txt
  clippy_common2.txt
  clippy_common3.txt
  clippy_core.txt
  clippy_kernels.txt
  clippy_kernels2.txt
  clippy_kernels3.txt
  clippy_kernels4.txt
  clippy_kernels5.txt
  clippy_out.txt
  crates/bitnet-common/tests/bdd_wave12_validation.rs
  crates/bitnet-common/tests/proptest_wave30_common.rs
  crates/bitnet-common/tests/snapshot_wave28.rs
  crates/bitnet-kernels/tests/avx2_attention_parity_tests.rs
  crates/bitnet-kernels/tests/metal_resource_lifecycle_tests.rs
  crates/bitnet-kernels/tests/metal_shader_validation.rs
  crates/bitnet-kernels/tests/neon_softmax_edge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cleanup(kernels): remove 14 orphaned OpenCL source files (~18.5K lines)
  crates/bitnet-kernels/src/opencl_async_executor.rs
  crates/bitnet-kernels/src/opencl_device_caps.rs
  crates/bitnet-kernels/src/opencl_elementwise.rs
  crates/bitnet-kernels/src/opencl_engine_bridge.rs
  crates/bitnet-kernels/src/opencl_graph_compiler.rs
  crates/bitnet-kernels/src/opencl_layer_norm.rs
  crates/bitnet-kernels/src/opencl_matmul_variants.rs
  crates/bitnet-kernels/src/opencl_program_cache.rs
  crates/bitnet-kernels/src/opencl_provider.rs
  crates/bitnet-kernels/src/opencl_quantized_matmul.rs
  crates/bitnet-kernels/src/opencl_reductions.rs
  crates/bitnet-kernels/src/opencl_softmax_variants.rs
  crates/bitnet-kernels/src/opencl_token_embed.rs
  crates/bitnet-kernels/src/opencl_weight_manager.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): use is_multiple_of() in dense_forward.rs (#3349)
  crates/bitnet-inference/src/dense_forward.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): remove 8 more duplicated attribute warnings in kernel tests
  crates/bitnet-kernels/tests/metal_attention_shader_tests.rs
  crates/bitnet-kernels/tests/metal_attention_v2_shader_tests.rs
  crates/bitnet-kernels/tests/metal_attention_v3_tests.rs
  crates/bitnet-kernels/tests/metal_buffer_mgmt_tests.rs
  crates/bitnet-kernels/tests/metal_error_recovery_tests.rs
  crates/bitnet-kernels/tests/metal_numerical_edge_case_tests.rs
  crates/bitnet-kernels/tests/metal_softmax_shader_tests.rs
  crates/bitnet-kernels/tests/metal_tokenizer_shader_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(apple-silicon): default wgpu backend to Metal on macOS
  crates/bitnet-wgpu/src/device.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

cleanup(kernels): remove 14 orphaned OpenCL source files (~18.5K lines) (#3351)
  crates/bitnet-kernels/src/opencl_async_executor.rs
  crates/bitnet-kernels/src/opencl_device_caps.rs
  crates/bitnet-kernels/src/opencl_elementwise.rs
  crates/bitnet-kernels/src/opencl_engine_bridge.rs
  crates/bitnet-kernels/src/opencl_graph_compiler.rs
  crates/bitnet-kernels/src/opencl_layer_norm.rs
  crates/bitnet-kernels/src/opencl_matmul_variants.rs
  crates/bitnet-kernels/src/opencl_program_cache.rs
  crates/bitnet-kernels/src/opencl_provider.rs
  crates/bitnet-kernels/src/opencl_quantized_matmul.rs
  crates/bitnet-kernels/src/opencl_reductions.rs
  crates/bitnet-kernels/src/opencl_softmax_variants.rs
  crates/bitnet-kernels/src/opencl_token_embed.rs
  crates/bitnet-kernels/src/opencl_weight_manager.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(clippy): resolve 7 test-file clippy warnings (#3350)
  clippy_all_targets.txt
  clippy_common.txt
  clippy_common2.txt
  clippy_common3.txt
  clippy_core.txt
  clippy_kernels.txt
  clippy_kernels2.txt
  clippy_kernels3.txt
  clippy_kernels4.txt
  clippy_kernels5.txt
  clippy_out.txt
  crates/bitnet-common/tests/bdd_wave12_validation.rs
  crates/bitnet-common/tests/proptest_wave30_common.rs
  crates/bitnet-common/tests/snapshot_wave28.rs
  crates/bitnet-kernels/tests/avx2_attention_parity_tests.rs
  crates/bitnet-kernels/tests/metal_attention_shader_tests.rs
  crates/bitnet-kernels/tests/metal_attention_v2_shader_tests.rs
  crates/bitnet-kernels/tests/metal_attention_v3_tests.rs
  crates/bitnet-kernels/tests/metal_buffer_mgmt_tests.rs
  crates/bitnet-kernels/tests/metal_error_recovery_tests.rs
  crates/bitnet-kernels/tests/metal_numerical_edge_case_tests.rs
  crates/bitnet-kernels/tests/metal_resource_lifecycle_tests.rs
  crates/bitnet-kernels/tests/metal_shader_validation.rs
  crates/bitnet-kernels/tests/metal_softmax_shader_tests.rs
  crates/bitnet-kernels/tests/metal_tokenizer_shader_tests.rs
  crates/bitnet-kernels/tests/neon_softmax_edge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: add ~80 undocumented env vars to reference (closes #3333)
  docs/environment-variables.md
Due: none

docs: add ~80 undocumented env vars to reference (closes #3333) (#3353)
  docs/environment-variables.md
Due: none

feat(apple-silicon): NEON-accelerated attention dot product
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(apple-silicon): default wgpu backend to Metal on macOS (#3352)
  crates/bitnet-wgpu/src/device.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(kernels): vectorize softmax exp with AVX2+FMA polynomial
  crates/bitnet-kernels/src/cpu/simd_softmax.rs
  crates/bitnet-kernels/src/cpu/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add BlockWorkspace + zero-alloc dense forward to CLAUDE.md
  CLAUDE.md
Due: none

feat(apple-silicon): NEON-accelerated attention dot product (#3355)
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

perf(kernels): vectorize softmax exp with AVX2+FMA polynomial (#3354)
  crates/bitnet-kernels/src/cpu/simd_softmax.rs
  crates/bitnet-kernels/src/cpu/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-silicon): NEON-accelerated attention SV dispatch
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-silicon): NEON-accelerated attention SV dispatch (#3357)
  crates/bitnet-kernels/src/cpu/attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add BlockWorkspace + zero-alloc dense forward to CLAUDE.md (#3356)
  CLAUDE.md
Due: none

feat(apple-silicon): NEON-accelerated softmax kernel
  crates/bitnet-kernels/src/cpu/softmax.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run
