Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

test(neon): add NEON quantize/dequantize TDD scaffolds [Apple Silicon] (#3191)
  crates/bitnet-kernels/tests/neon_quantize_dequant_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal shader performance TDD scaffolds [Apple Silicon] (#3192)
  crates/bitnet-kernels/tests/metal_shader_perf_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(neon): add F32 quantized attention functions for Apple Silicon
  crates/bitnet-kernels/src/cpu/neon_quantized_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add neon_quantized_ffn kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_ffn.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): add Metal buffer management TDD scaffolds [Apple Silicon] (#3193)
  crates/bitnet-kernels/tests/metal_buffer_mgmt_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal texture sampling TDD scaffolds [Apple Silicon] (#3194)
  crates/bitnet-kernels/tests/metal_texture_sampling_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(neon): add NEON attention mask TDD scaffolds [Apple Silicon] (#3195)
  crates/bitnet-kernels/tests/neon_attention_mask_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal resource binding TDD scaffolds [Apple Silicon] (#3196)
  crates/bitnet-kernels/tests/metal_resource_binding_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(neon): add NEON KV cache optimization TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/neon_kv_cache_optimization_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(wgpu): add wgpu adapter selection TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/wgpu_adapter_selection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal compute pipeline TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(neon): NEON quantized FFN kernel for Apple Silicon (87 tests) (#3082)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quantized_ffn.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add NEON quantized attention kernel v2 (94 tests) (#3071)
  crates/bitnet-kernels/src/cpu/neon_quantized_attention.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): NEON conv1d v2 with depthwise/dilated/bias variants (68 tests) (#2974)
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_conv1d.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add neon_tensor_reshape kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_tensor_reshape.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add neon_memory_layout kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_memory_layout.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add neon_weight_dequant_v2 kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_weight_dequant_v2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test: add metal_shader_compilation_tests
  crates/bitnet-kernels/tests/metal_shader_compilation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add neon_loss_regression_tests
  crates/bitnet-kernels/tests/neon_loss_regression_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add metal_quantization_validation_tests
  crates/bitnet-kernels/tests/metal_quantization_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Cleaned up PR from contaminated state
  crates/bitnet-common/src/op_pool.rs
  crates/bitnet-common/src/tensor_layout.rs
  docker/Dockerfile.nvidia-gpu
  fuzz/fuzz_targets/fuzz_tensor_layout.rs
  infra/docker/Dockerfile.gpu
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(deps): pin proptest <1.10.0 to avoid float sampler panic
  Cargo.lock
  Cargo.toml
Due: none

test(metal): add Metal compute pipeline TDD scaffolds [Apple Silicon] (#3199)
  crates/bitnet-kernels/tests/metal_compute_pipeline_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(wgpu): add wgpu adapter selection TDD scaffolds [Apple Silicon] (#3197)
  crates/bitnet-kernels/tests/wgpu_adapter_selection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(rocm): enhance ROCm device detection and probing (#2929)
  crates/bitnet-rocm/src/detect.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): Metal shader compilation and pipeline tests (#2918)
  crates/bitnet-kernels/tests/metal_shader_compilation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add AVX2-accelerated quantization with scalar fallbacks (#2789)
  crates/bitnet-kernels/src/cpu_avx2_quantize.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(neon): add NEON softmax edge case TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/neon_softmax_edge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: fix import ordering in neon_kv_cache_optimization_tests
  crates/bitnet-kernels/tests/neon_kv_cache_optimization_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(metal): add Metal pipeline state TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/metal_pipeline_state_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test(neon): add NEON matmul regression TDD scaffolds [Apple Silicon]
  crates/bitnet-kernels/tests/neon_matmul_regression_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(neon): add NEON neon_tensor_concat kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_tensor_concat.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_weight_pack kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_weight_pack.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_attention_mask kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_attention_mask.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_quant_embed kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_quant_embed.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_fused_ops kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_fused_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_mixed_precision kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_mixed_precision.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_flash_attn_v2 kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_flash_attn_v2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(neon): add NEON neon_dynamic_quant kernel for Apple Silicon
  crates/bitnet-kernels/src/cpu/mod.rs
  crates/bitnet-kernels/src/cpu/neon_dynamic_quant.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
