Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

feat(lunar-lake): port migrated strict regression surfaces (#22)
  crates/bitnet-cli/src/commands/lunar_lake.rs
  crates/bitnet-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): close swarm artifact intake gate
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T081200Z-SLM-CPU-063-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): close swarm artifact intake gate (#6128)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T081200Z-SLM-CPU-063-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): queue first swarm artifact intake review
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T082000Z-SLM-CPU-064-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: prove BitNet swarm PR route
  docs/swarm/ci-proof.md
Due: none

docs(slm): queue first swarm artifact intake review (#6129)
  docs/slm/SLM_CPU_SWARM_ARTIFACT_INTAKE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T082000Z-SLM-CPU-064-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(a770): add BitNet-rs migration inventory (#21)
  ci/hardware/amd-5700x-intel-a770/MIGRATION_MANIFEST.json
  docs/migrations/a770-from-bitnet-rs.md
Due: none

SWARM-LNL258V-MIGRATE-004: reconcile tracker state (#24)
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T072318Z-SWARM-LNL258V-MIGRATE-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T074311Z-SWARM-LNL258V-MIGRATE-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T081205Z-SWARM-LNL258V-MIGRATE-003-merged.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T082000Z-SWARM-LNL258V-BITNET-RS-CUTOFF-migrated.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  xtask/src/campaign.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

diag(bitnet): port reference layer trace patch
  ci/reference-instrumentation/bitnet-rs-layer-trace-main.patch
Due: none

feat(apple-m4): guard long context routes
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T085803Z-M4-CONTEXT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): mark context guardrails pr open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T091512Z-M4-CONTEXT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

ci: contain default PR workflow fanout
  .github/workflows/apple-m4-inference-ops-tier0.yml
  .github/workflows/apple-m4-slm-eval-tier0.yml
  .github/workflows/apple-silicon.yml
  .github/workflows/compatibility.yml
  .github/workflows/crossval.yml
  .github/workflows/fuzz-ci.yml
  .github/workflows/gpu-ci-matrix.yml
  .github/workflows/gpu.yml
  .github/workflows/intel-gpu-ci.yml
  .github/workflows/intel-gpu-compile.yml
  .github/workflows/intel-gpu-feature-matrix.yml
  .github/workflows/macos-arm64.yml
  .github/workflows/model-gates.yml
  .github/workflows/perf-gate.yml
  .github/workflows/performance-tracking.yml
  .github/workflows/property-tests.yml
  .github/workflows/quant-matrix.yml
  .github/workflows/rocm-smoke.yml
  .github/workflows/test-framework.yml
  .github/workflows/test-telemetry.yml
  .github/workflows/tl-lut-stress.yml
  .github/workflows/validation.yml
Due: none

fix(policy): remove a770 parity panic
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(a770): reconcile migration inventory state (#28)
  ci/hardware/amd-5700x-intel-a770/MIGRATION_MANIFEST.json
  docs/migrations/a770-from-bitnet-rs.md
Due: none

docs(slm): queue swarm artifact export gate (#25)
  docs/swarm/slm-cpu-artifact-export.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T091500Z-SLM-CPU-062-ready.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-CONTEXT-001: Guard M4 long context routes
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T085803Z-M4-CONTEXT-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T091512Z-M4-CONTEXT-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(lunar-lake): record swarm regression proof (#29)
  ci/hardware/intel-258v/MIGRATION_MANIFEST.json
  docs/migrations/lunar-lake-from-bitnet-rs.md
Due: none

docs(spec): complete I2S CUDA status contracts (#27)
  docs/specs/BITNET-SPEC-I2S-APPLE-NEON-METAL.md
  docs/specs/BITNET-SPEC-I2S-ARTIFACT-GATE.md
  docs/specs/BITNET-SPEC-I2S-CPU.md
  docs/specs/BITNET-SPEC-I2S-CUDA.md
  docs/specs/BITNET-SPEC-I2S-KERNEL-IDENTITY.md
  docs/specs/BITNET-SPEC-I2S-MODEL-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-I2S-OPENCL-A770.md
  docs/specs/BITNET-SPEC-I2S-PERFORMANCE.md
  docs/specs/BITNET-SPEC-I2S-QK256-LAYOUT.md
  docs/specs/BITNET-SPEC-I2S-SCALED-I8S-MATH.md
  docs/specs/BITNET-SPEC-I2S-STATUS-SURFACE.md
Due: none

docs(lunar-lake): close out swarm regression proof (#32)
  ci/hardware/intel-258v/MIGRATION_MANIFEST.json
  docs/migrations/lunar-lake-from-bitnet-rs.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T082000Z-SWARM-LNL258V-BITNET-RS-CUTOFF-migrated.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T095001Z-SWARM-LNL258V-REG-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

SWARM-LNL258V-GOAL-AUDIT-001: refresh current swarm audit (#34)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T101500Z-SWARM-LNL258V-GOAL-AUDIT-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T102058Z-SWARM-LNL258V-GOAL-AUDIT-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(mac): fail closed on blocked M4 context receipts
  crates/bitnet-cli/src/mac.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(apple-m4): add mixed model switch harness
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T101824Z-M4-STABILITY-HARNESS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T102827Z-M4-STABILITY-HARNESS-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm): export SLM-CPU-062 qwen3 q8 sidecar package
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/after_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/before_receipt.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/candidate_summary.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/equivalence_report.json
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/source_commit.txt
  ci/slm-cpu/intel-i5-8250u/2026-05-20/slm-cpu-062-swarm-export/timing_not_claimed.json
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T095111Z-SLM-CPU-062-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T095341Z-SLM-CPU-062-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): mark slm cpu 062 merged (#36)
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-20T104259Z-SLM-CPU-062-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: close lunar lake swarm audit item (#35)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T103223Z-SWARM-LNL258V-GOAL-AUDIT-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): queue BitNet PERF-005 profiles (#33)
  docs/bitnet/official-2b/README.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  plans/native-rust-inference/bitnet-official-i2s.md
Due: none

fix(mac): fail closed on blocked M4 context receipts (#6132)
  crates/bitnet-cli/src/mac.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-STABILITY-HARNESS-001: Add mixed model switch harness (#6131)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T101824Z-M4-STABILITY-HARNESS-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T102827Z-M4-STABILITY-HARNESS-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

SWARM-LNL258V-POWER-006-PREFLIGHT-001: refresh blocked battery telemetry (#37)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-low-power-battery-telemetry-blocked.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T111003Z-SWARM-LNL258V-POWER-006-PREFLIGHT-001-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T111124Z-SWARM-LNL258V-POWER-006-PREFLIGHT-001-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

test(m3-air): harden server receipt labels (#30)
  crates/bitnet-server/src/lib.rs
  docs/apple-silicon/m3-macbook-air-roadmap.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T082237Z-M3MBA-026-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T083200Z-M3MBA-026-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: close blocked battery preflight item (#38)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T113910Z-SWARM-LNL258V-POWER-006-PREFLIGHT-001-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(qk256): keep AVX2 draft claims proof-gated
  crates/bitnet-quantization/src/i2s_qk256_avx2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(apple-m4): close mixed model harness tracker
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T115457Z-M4-STABILITY-HARNESS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(m3-air): align M3MBA-022 campaign state
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
Due: none

Close M4-STABILITY-HARNESS-001 tracker (#6133)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T115457Z-M4-STABILITY-HARNESS-001-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
Due: none

docs(m3-air): close out server label hardening
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T114817Z-M3MBA-026-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda: queue BitNet PERF-005 receipt contract (#41)
  crates/bitnet-bench-receipts/src/bin/strict_cuda_benchmark_qualification_receipt.rs
  crates/bitnet-bench-receipts/src/tests.rs
  crates/bitnet-bench-receipts/src/validation.rs
  docs/tracking/campaigns/nvidia-5070ti/active.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
