Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(apple-m4): mark benchmark repeat harness pr open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T081137Z-M4-BENCH-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

M4-BENCH-008: Add benchmark repeat harness (#5902)
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-01.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/01-what-is-75-answer-with-the-number-only.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/02-name-the-capital-of-france-answer-with-one-word.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/04-classify-this-sentiment-as-positive-or-negative-.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out-prompts/05-rewrite-in-five-words-or-fewer-local-inference-k.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02-profiles/short_prompt_16_out.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke-runs/run-02.json
  ci/hardware/apple-m4-mac-mini/2026-05-19T0746Z/benchmark-variance/harness-smoke.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T075228Z-M4-BENCH-008-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T081137Z-M4-BENCH-008-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

LNL258V-PROFILE-RUN-004: add CPU heavy profile baseline
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-profile-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T181500Z-LNL258V-PROFILE-RUN-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T183500Z-LNL258V-PROFILE-RUN-004-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/gguf_cpu_profile_run.py
Due: none

docs: refresh LNL258V-PROFILE-RUN-004 tracker metadata
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T183500Z-LNL258V-PROFILE-RUN-004-pr-open.toml
Due: none

LNL258V-PROFILE-RUN-004: add CPU heavy profile baseline (#5898)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cpu-profile-run.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T181500Z-LNL258V-PROFILE-RUN-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T183500Z-LNL258V-PROFILE-RUN-004-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  scripts/gguf_cpu_profile_run.py
Due: none

LNL258V-PROFILE-RUN-004 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T184500Z-LNL258V-PROFILE-RUN-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-PROFILE-RUN-004 closeout (#5905)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T184500Z-LNL258V-PROFILE-RUN-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

refactor: DRY tokenizer subcommand test error assertions
  xtask/tests/tokenizer_subcommand_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(apple-m4): close benchmark repeat harness
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T081411Z-M4-BENCH-008-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-BENCH-008: Close benchmark repeat harness (#5904)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-19T081411Z-M4-BENCH-008-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): add SLM-CPU-051 Q8 selector readiness gate (#5897)
  crates/bitnet-models/src/dense_gguf_q8_equivalence.rs
  docs/slm/SLM_CPU_KABY_PERFORMANCE_DASHBOARD.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T080055Z-SLM-CPU-051-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(slm): sync SLM-CPU-051 merge
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T082250Z-SLM-CPU-051-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): sync SLM-CPU-051 merge (#5906)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-19T082250Z-SLM-CPU-051-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

DRY: centralize build metadata and component assembly in HealthChecker (#5899)
  crates/bitnet-server/src/monitoring/health.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(wasm): make inference stub fail explicitly (#5901)
  crates/bitnet-wasm/src/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-023: promote GPU heavy profiles
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T190000Z-LNL258V-ROUTE-023-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: mark LNL258V-ROUTE-023 PR open
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T191000Z-LNL258V-ROUTE-023-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

ci: consolidate nightly fuzz workflows and stop bypassing the cargo-fuzz cache
  .github/workflows/fuzz-ci.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/lint-workflows.yml
  .github/workflows/nightly-fuzz.yml
  docs/GPU_DEVELOPMENT_WORKFLOW.md
  docs/architecture-overview.md
  docs/ci/inventory.md
  docs/development/test-suite.md
Due: none

LNL258V-ROUTE-023: promote GPU heavy profiles (#5908)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T190000Z-LNL258V-ROUTE-023-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T191000Z-LNL258V-ROUTE-023-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(bitnet): use embedded GGUF BPE tokenizer metadata (#5895)
  crates/bitnet-tokenizers/src/gguf_loader.rs
  crates/bitnet-tokenizers/src/loader.rs
  xtask/src/bitnet_reference_plan.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-023 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T192000Z-LNL258V-ROUTE-023-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ROUTE-023 closeout (#5910)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T192000Z-LNL258V-ROUTE-023-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(qwen3): add RTX 5070 Ti server-smoke receipt
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-19/server-strict-dense-qwen3-q8-smoke.json
  ci/model-artifacts/model-coverage-matrix.toml
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_MODEL_013_QWEN3_SERVER_SMOKE_RECEIPT.md
  docs/reports/CUDA_MODEL_014_QWEN3_EXACT_PROFILE_SERVER_READINESS_REVIEW.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  plans/native-rust-inference/dense-qwen3.md
Due: none

docs(campaign): record qwen3 server-smoke PR
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T07-53-50Z-CUDA-MODEL-013-pr-open.toml
  plans/native-rust-inference/dense-qwen3.md
Due: none

docs(campaign): refresh qwen3 tracker dashboards
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T06-22-42Z-CUDA-MODEL-014-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-POWER-004 low-power energy proxy blocker
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-low-power-energy-proxy.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T193000Z-LNL258V-POWER-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-POWER-004 low-power energy proxy blocker (#5911)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-low-power-energy-proxy.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T193000Z-LNL258V-POWER-004-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-POWER-004 closeout
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T195500Z-LNL258V-POWER-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-POWER-004 closeout (#5912)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T195500Z-LNL258V-POWER-004-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(qwen36): normalize campaign and coverage gates
  ci/model-artifacts/model-coverage-matrix.toml
  docs/tracking/campaigns/qwen36/active.toml
  docs/tracking/campaigns/qwen36/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

CUDA-MODEL-013: add Qwen3 server-smoke receipt
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-19/server-strict-dense-qwen3-q8-smoke.json
  ci/model-artifacts/model-coverage-matrix.toml
  docs/model-artifacts/MODEL_COVERAGE_MATRIX.md
  docs/reports/CUDA_MODEL_013_QWEN3_SERVER_SMOKE_RECEIPT.md
  docs/reports/CUDA_MODEL_014_QWEN3_EXACT_PROFILE_SERVER_READINESS_REVIEW.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T06-22-42Z-CUDA-MODEL-014-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T07-53-50Z-CUDA-MODEL-013-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/dense-qwen3.md
Due: none

refactor: DRY tokenizer subcommand test error assertions (#5900)
  xtask/tests/tokenizer_subcommand_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(campaign): close qwen3 server-smoke item
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T08-57-26Z-CUDA-MODEL-013-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/dense-qwen3.md
Due: none

docs(qwen36): register governed Qwen3.6 family lane and candidate coverage rows (#5892)
  ci/model-artifacts/model-coverage-matrix.toml
  docs/proposals/BITNET-PROP-0017-qwen36-modern-dense-model-family.md
  docs/qwen/qwen36/README.md
  docs/specs/BITNET-SPEC-QWEN36-ARCHITECTURE-INVENTORY.md
  docs/specs/BITNET-SPEC-QWEN36-EXTERNAL-REFERENCE.md
  docs/specs/BITNET-SPEC-QWEN36-FAMILY-ARTIFACT-CONTRACT.md
  docs/specs/BITNET-SPEC-QWEN36-MEMORY-ENVELOPE.md
  docs/specs/BITNET-SPEC-QWEN36-MOE-35B-A3B.md
  docs/specs/BITNET-SPEC-QWEN36-MULTIMODAL.md
  docs/specs/BITNET-SPEC-QWEN36-PERFORMANCE.md
  docs/specs/BITNET-SPEC-QWEN36-PROCESSOR-TOKENIZER-PROMPT.md
  docs/specs/BITNET-SPEC-QWEN36-QUALITY.md
  docs/specs/BITNET-SPEC-QWEN36-SERVER.md
  docs/specs/BITNET-SPEC-QWEN36-STATUS-SURFACE.md
  docs/specs/BITNET-SPEC-QWEN36-TEXT-ONLY-NATIVE.md
  docs/specs/INDEX.md
  docs/status/CUDA_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/qwen36/CAMPAIGN.md
  docs/tracking/campaigns/qwen36/active.toml
  docs/tracking/campaigns/qwen36/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/qwen36/README.md
  plans/qwen36/implementation-plan.md
Due: none

docs(npu): add productization spec contracts
  docs/proposals/BITNET-PROP-0007-npu-productization.md
  docs/specs/BITNET-SPEC-NPU-BITNET-SUBGRAPH.md
  docs/specs/BITNET-SPEC-NPU-COLD-WARM-CACHE.md
  docs/specs/BITNET-SPEC-NPU-DENSE-SLM.md
  docs/specs/BITNET-SPEC-NPU-PERFORMANCE.md
  docs/specs/BITNET-SPEC-NPU-PROOF-LADDER.md
  docs/specs/BITNET-SPEC-NPU-QUALITY.md
  docs/specs/BITNET-SPEC-NPU-RESIDENCY.md
  docs/specs/BITNET-SPEC-NPU-ROUTE-CONTRACT.md
  docs/specs/BITNET-SPEC-NPU-STATUS-SURFACE.md
  docs/specs/INDEX.md
  docs/tracking/campaigns/intel-npu/active.toml
  docs/tracking/campaigns/intel-npu/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(campaign): CUDA-MODEL-013 closeout (#5913)
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-19T08-57-26Z-CUDA-MODEL-013-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
  plans/native-rust-inference/dense-qwen3.md
Due: none

docs(tl2): add source map, plan, and initial TL2 specs
  ci/model-artifacts/model-kernel-compatibility.toml
  docs/bitnet/tl2/README.md
  docs/proposals/BITNET-PROP-0018-tl2-productization.md
  docs/specs/BITNET-SPEC-TL2-ARTIFACT-GATE.md
  docs/specs/BITNET-SPEC-TL2-CPU.md
  docs/specs/BITNET-SPEC-TL2-CUDA.md
  docs/specs/BITNET-SPEC-TL2-LAYOUT.md
  docs/specs/BITNET-SPEC-TL2-MODEL-COMPATIBILITY.md
  docs/specs/BITNET-SPEC-TL2-PERFORMANCE.md
  docs/specs/BITNET-SPEC-TL2-REFERENCE-QUALITY.md
  docs/specs/BITNET-SPEC-TL2-ROUTE-CONTRACT.md
  docs/specs/BITNET-SPEC-TL2-SCALAR-ORACLE.md
  docs/specs/BITNET-SPEC-TL2-STATUS-SURFACE.md
  docs/specs/BITNET-SPEC-TL2-X86-AVX.md
  docs/specs/INDEX.md
  docs/status/BITNET_CAPABILITY_MATRIX.md
  docs/tracking/campaigns/tl2/CAMPAIGN.md
  docs/tracking/campaigns/tl2/active.toml
  plans/native-rust-inference/bitnet-tl2.md
  plans/tl2/README.md
  plans/tl2/implementation-plan.md
Due: none

docs(tl2): normalize campaign tracker gates
  docs/tracking/campaigns/tl2/active.toml
  docs/tracking/campaigns/tl2/generated/status.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

LNL258V-ROUTE-024 promote NPU warm resident
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T200500Z-LNL258V-ROUTE-024-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T202500Z-LNL258V-ROUTE-024-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

LNL258V-ROUTE-024 promote NPU warm resident (#5914)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-cold-warm-profile-benchmark.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-power-profile-evidence.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-profile-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-route-promotion.json
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T200500Z-LNL258V-ROUTE-024-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-19T202500Z-LNL258V-ROUTE-024-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
