Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix(kernels): restore gating module declarations lost in rebase
  crates/bitnet-repl-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract tokenizer core contracts into microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-tokenizers-core/Cargo.toml
  crates/bitnet-tokenizers-core/src/lib.rs
  crates/bitnet-tokenizers/Cargo.toml
  crates/bitnet-tokenizers/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract token stream core into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/token_stream.rs
  crates/bitnet-token-stream-core/Cargo.toml
  crates/bitnet-token-stream-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract download validation into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-download-validate-core/Cargo.toml
  crates/bitnet-download-validate-core/src/lib.rs
  crates/bitnet-download/Cargo.toml
  crates/bitnet-download/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(server): extract device config parsing into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-config-core/Cargo.toml
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: add CHANGELOG entries for A770 OpenCL waves 110-111
  CHANGELOG.md
Due: none

Extract KV-cache update policy into SRP microcrate (#2109)
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/layers/attention.rs
  crates/bitnet-kv-cache-policy-core/Cargo.toml
  crates/bitnet-kv-cache-policy-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract inference timing/throughput DTOs into bitnet-inference-metrics-core microcrate (#2108)
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference-metrics-core/Cargo.toml
  crates/bitnet-inference-metrics-core/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/lib.rs
  crates/bitnet-inference/src/production_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(download): extract bitnet-download-core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-download-core/Cargo.toml
  crates/bitnet-download-core/src/lib.rs
  crates/bitnet-download/Cargo.toml
  crates/bitnet-download/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add contiguous-layout CPU batch operations
  crates/bitnet-kernels/src/cpu/batch.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: extract testing policy runtime state microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-testing-policy-runtime-core/src/lib.rs
  crates/bitnet-testing-policy-state-core/Cargo.toml
  crates/bitnet-testing-policy-state-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract token stream primitives into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/token_stream.rs
  crates/bitnet-token-stream-core/Cargo.toml
  crates/bitnet-token-stream-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(server): extract device config into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-config-core/Cargo.toml
  crates/bitnet-device-config-core/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(kernels): add CPU weight dequantization module
  crates/bitnet-kernels/src/cpu/dequant.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract server health contract types into core microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-server-health-types-core/Cargo.toml
  crates/bitnet-server-health-types-core/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/monitoring/ac05_types.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract client IP parsing into SRP microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-http-client-ip/Cargo.toml
  crates/bitnet-http-client-ip/src/lib.rs
  crates/bitnet-server/Cargo.toml
  crates/bitnet-server/src/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(metal): wgpu Metal compute pipeline validation tests
  crates/bitnet-kernels/tests/metal_compute_validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add CPU attention mask construction utilities
  crates/bitnet-kernels/src/cpu/attention_mask.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract I2_S QK256 forward dispatch into bitnet-qk256-dispatch microcrate (#2022)
  Cargo.lock
  Cargo.toml
  crates/bitnet-qk256-dispatch/Cargo.toml
  crates/bitnet-qk256-dispatch/README.md
  crates/bitnet-qk256-dispatch/src/lib.rs
  crates/bitnet-qk256-dispatch/tests/forward_qk256.rs
  crates/bitnet-transformer/Cargo.toml
  crates/bitnet-transformer/src/lib.rs
  crates/bitnet-vulkan/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(kernels): add pipeline execution optimizer for compute/transfer overlap
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/src/opencl_pipeline_optimizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add automated repo maintenance instruments
  .github/workflows/dependency-policy-gate.yml
  .github/workflows/repo-maintenance-instruments.yml
  docs/maintenance/README.md
  docs/maintenance/churn.md
  docs/maintenance/deps.dot
  docs/maintenance/public_api_snapshot.md
  docs/maintenance/sbom.json
  docs/maintenance/status.md
  scripts/maintenance/generate_repo_instruments.py
Due: none

Add maintenance instrumentation workflow and generated reports
  .github/workflows/maintenance-instruments.yml
  docs/status/README.md
  docs/status/churn.md
  docs/status/dependency-graph.md
  docs/status/dependency-graph.mmd
  docs/status/invariants.md
  docs/status/public-api-summary.md
  scripts/generate_maintenance_artifacts.py
Due: none

feat: add automated repo maintenance instruments
  .github/workflows/repo-instruments.yml
  docs/churn.md
  docs/coverage.md
  docs/deps.json
  docs/deps.md
  docs/maintenance-instruments.md
  docs/status.md
  scripts/maintenance/generate_churn_report.py
  scripts/maintenance/generate_coverage_summary.py
  scripts/maintenance/generate_deps_graph.py
  scripts/maintenance/generate_public_api_snapshot.sh
  scripts/maintenance/generate_sbom.sh
  scripts/maintenance/generate_status_report.py
  scripts/maintenance/run_all.sh
  tools/maintenance/public_api_crates.txt
Due: none

feat(ci): add repository maintenance instruments pipeline
  .github/workflows/repo-maintenance-instruments.yml
  docs/instruments/README.md
  docs/instruments/churn.md
  docs/instruments/deps.mmd
  docs/instruments/public_api.md
  docs/instruments/sbom.json
  docs/instruments/status.md
  scripts/maintenance/generate_instruments.py
Due: none

feat(fuzz): add wave 19 — 6 new fuzz targets
  fuzz/Cargo.toml
  fuzz/fuzz_targets/fuzz_activation_elementwise.rs
  fuzz/fuzz_targets/fuzz_conv2d_shapes.rs
  fuzz/fuzz_targets/fuzz_fused_kernels.rs
  fuzz/fuzz_targets/fuzz_quantized_matmul.rs
  fuzz/fuzz_targets/fuzz_shaped_reduction.rs
  fuzz/fuzz_targets/fuzz_transpose_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

extract gguf display formatting into microcrate
  Cargo.lock
  Cargo.toml
  crates/bitnet-gguf-display/Cargo.toml
  crates/bitnet-gguf-display/src/lib.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(kernels): add fuzz-like proptest targets for OpenCL CPU references
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
  crates/bitnet-kernels/tests/opencl_fuzz_targets.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(gpu-hal): FFI safety layer (#1335)
  crates/bitnet-gpu-hal/src/ffi_safety.rs
  crates/bitnet-gpu-hal/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(gpu-hal): add mixed_precision module (#1339)
  crates/bitnet-gpu-hal/src/mixed_precision.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(opencl): extract SPIR-V logic into dedicated microcrate (#2004)
  Cargo.lock
  Cargo.toml
  crates/bitnet-opencl/Cargo.toml
  crates/bitnet-opencl/src/spirv.rs
  crates/bitnet-spirv/Cargo.toml
  crates/bitnet-spirv/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor(quantization): extract 2-bit packing codecs into SRP microcrate (#2014)
  Cargo.lock
  Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-inference/src/layers/quantized_linear.rs
  crates/bitnet-quantization-bits/Cargo.toml
  crates/bitnet-quantization-bits/src/lib.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-quantization/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Extract NVIDIA tuning heuristics into a dedicated SRP microcrate (#2056)
  Cargo.lock
  Cargo.toml
  crates/bitnet-nvidia/Cargo.toml
  crates/bitnet-nvidia/src/lib.rs
  crates/bitnet-wgpu-bench/Cargo.toml
  crates/bitnet-wgpu-bench/src/workgroup_tuner.rs
  crates/bitnet-wgpu/Cargo.toml
  crates/bitnet-wgpu/src/dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
