Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: mixed-line-ending

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt (check)
        entry: bash -c 'cargo fmt --all -- --check'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy (deny warnings + no &Vec args)
        entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-check-tests
        name: cargo check --tests
        entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-test-no-run
        name: cargo test --no-run
        entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: banned-patterns
        name: banned patterns (TestResult misuse, split doc comments)
        entry: bash scripts/hooks/banned-patterns.sh
        language: system
        files: 'tests/.*\.rs$'
        pass_filenames: false

Add device-aware quantization paths
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Implement scoring NLL and perplexity
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/score.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add prefill path and cache handling
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/engine.rs
  crates/bitnet-inference/tests/unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(inference): expand model inspection metadata
  README.md
  crates/bitnet-inference/src/engine.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: add gguf-based tokenizer loading and bpe
  crates/bitnet-tokenizers/src/universal.rs
  crates/bitnet-tokenizers/tests/gguf_loading.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add resource management integration test
  tests/integration/resource_management_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Add GGUF tensor mapping validation
  crossval/src/validation.rs
  crossval/tests/ms_bitnet_mapping.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(cpu): gate x86 modules and benches on x86_64
  benches/avx2_vs_avx512.rs
  crates/bitnet-kernels/src/cpu/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

refactor: use device parameter
  crates/bitnet-quantization/src/i2s.rs
  crates/bitnet-quantization/src/tl1.rs
  crates/bitnet-quantization/src/tl2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Use fast test configuration behind fixtures feature
  tests/common/parallel.rs
  tests/common/selection.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat: add iq2s quantization bindings
  crates/bitnet-ggml-ffi/csrc/ggml/include/ggml/ggml.h
  crates/bitnet-ggml-ffi/csrc/ggml/src/ggml-quants.c
  crates/bitnet-ggml-ffi/csrc/ggml/src/ggml-quants.h
  crates/bitnet-ggml-ffi/csrc/ggml_quants_shim.c
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-ggml-ffi/tests/iq2s_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Refactor dashboard to use real benchmark results and add tests
  tests/common/reporting/dashboard.rs
  tests/common/reporting/mod.rs
  tests/common/reporting/performance_viz.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Handle missing crossval env in smoke test
  crates/bitnet-kernels/src/cpu/x86.rs
  crossval/src/lib.rs
  crossval/tests/smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix AVX2 quantization validation and unsafe warnings
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-kernels/src/gpu/cuda.rs
  crates/bitnet-kernels/tests/gpu_quantization.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Explicitly mark x86 intrinsics as unsafe
  crates/bitnet-ffi/src/error.rs
  crates/bitnet-ffi/src/inference.rs
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Clean up migration script imports and fix llama_compat fallback
  crates/bitnet-py/python/bitnet_py/migration.py
  crates/bitnet-py/src/llama_compat.py
Due: none

feat(py): add bitnet_py stub for tests
  crates/bitnet-py/examples/async_streaming.py
  crates/bitnet-py/src/bitnet_py/__init__.py
  crates/bitnet-py/src/llama_compat.py
Due: none

fix crossval fetch script tag
  crossval/Cargo.toml
  crossval/src/comparison.rs
  crossval/tests/parity.rs
  scripts/crossval.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: guard env vars in model registry tests
  tests/common/cross_validation/test_runner.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

chore: remove obsolete C++ FFI stub
  Cargo.toml
  docs/cross-validation-setup.md
  tests/Cargo.toml
  tests/common/cross_validation/cpp_ffi.rs
  tests/common/cross_validation/cpp_ffi_stub.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/mod.rs
  tests/common/mod.rs
  tests/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

gate cross-validation module and fix related tests
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/implementation.rs
  tests/common/cross_validation/rust_implementation.rs
  tests/common/cross_validation/test_implementation.rs
  tests/common/mod.rs
  tests/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Document integration test feature usage in crossval script
  scripts/crossval.sh
Due: none

fix: add missing KernelError match arms in bitnet-ffi error handling
  crates/bitnet-ffi/src/error.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat: finalize IQ2_S quantization bindings with proper documentation and error handling
  crates/bitnet-ggml-ffi/src/lib.rs
  crates/bitnet-ggml-ffi/tests/iq2s_roundtrip.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

style: apply cargo fmt
  crates/bitnet-ggml-ffi/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix crossval fetch script tag
  crossval/Cargo.toml
  crossval/tests/parity.rs
  scripts/crossval.sh
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: address review feedback for parity tests
  crossval/Cargo.toml
  crossval/tests/parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix crossval script footer
  crossval/Cargo.toml
  scripts/crossval.sh
Due: none

Remove obsolete C++ FFI stub
  tests/Cargo.toml
  tests/common/cross_validation/BUILD.md
  tests/common/cross_validation/cpp_ffi.rs
  tests/common/cross_validation/cpp_implementation.rs
  tests/common/cross_validation/mod.rs
  tests/common/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns
