Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

fix(parity): add type annotation to fix E0282 in STUB mode
  crates/bitnet-inference/src/parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add Vulkan runtime probing and feature wiring
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: add vulkan feature to bitnet-device-probe Cargo.toml after rebase
  crates/bitnet-device-probe/Cargo.toml
Due: none

docs: Modernize docs.rs configuration and add mdbook
  Cargo.toml
  crates/bitnet-sys/Cargo.toml
  docs/SUMMARY.md
  docs/book.toml
Due: none

inference: add configurable NPU backend and Metal routing (#991)
  crates/bitnet-inference/src/backends.rs
  crates/bitnet-inference/src/parity.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add AVX2 QK256 GEMV runtime dispatch and SIMD kernel (#990)
  crates/bitnet-quantization/src/qk256_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

kernels(avx512): enable and prioritize AVX-512 CPU path (#987)
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add OpenGL probing and capability wiring for GPU backend detection (#984)
  crates/bitnet-kernels/src/gpu_utils.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

CLI: accept OpenCL/Vulkan device aliases and map to GPU backend (#985)
  crates/bitnet-cli/src/commands/benchmark.rs
  crates/bitnet-cli/src/commands/eval.rs
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/config.rs
  crates/bitnet-cli/src/score.rs
  crates/bitnet-cli/tests/cli_extended_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

test: add CPU golden path E2E test infrastructure (#949)
  Cargo.lock
  tests/Cargo.toml
  tests/integration/e2e_golden_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tests): gracefully skip model-dependent tests; fix AC2 attention timeout (#254 #260) (#981)
  crates/bitnet-inference/tests/greedy_decode_parity.rs
  crates/bitnet-inference/tests/neural_network_test_scaffolding.rs
  crates/bitnet-inference/tests/template_comparison.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: update canonical_grid_row_count_stable snapshot to 22
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: none

test: reduce ignored test count wave 4 - enable unblocked tests
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: Modernize docs.rs configuration and add mdbook
  Cargo.toml
  docs/book.toml
Due: none

fix(device-probe): Add rocm_available field to DeviceProbe
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Improve NEON kernel implementation and configuration safety (#988)
  crates/bitnet-kernels/src/cpu/arm.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Enable and wire AVX512 CPU kernel path
  crates/bitnet-kernels/src/cpu/x86.rs
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(test): update bitnet-testing-profile snapshot to 22 grid rows
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: none

fix: remove duplicate Avx512Kernel re-export
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add initial Vulkan runtime probing and feature wiring (#993)
  Cargo.lock
  Cargo.toml
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-device-probe/src/lib.rs
  crates/bitnet-kernels/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix(fmt): normalize blank lines after Avx512Kernel re-export
  crates/bitnet-kernels/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add initial oneAPI backend wiring and runtime detection
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/tests/backend_selection_tests.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
  crates/bitnet-common/tests/property_tests.rs
  crates/bitnet-common/tests/snapshot_tests.rs
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-tokenizers/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix(tests): add oneapi fields to KernelCapabilities initializers; fix type annotation
  crates/bitnet-kernels/tests/property_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

fix: add oneapi feature to bitnet-device-probe Cargo.toml after rebase
  crates/bitnet-device-probe/Cargo.toml
Due: none

Implement AVX-512 kernels for TL2 quantization
  check_avx512
  crates/bitnet-quantization/src/tl2.rs
  test_avx512_intrinsics
  test_avx512_intrinsics.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: retrigger [skip tests]
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

ci: retrigger [skip tests]
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs: Modernize docs.rs configuration and add mdbook (#994)
  Cargo.toml
  crates/bitnet-sys/Cargo.toml
  docs/SUMMARY.md
  docs/book.toml
Due: none

fix: remove invalid retrigger comment from lib.rs
  crates/bitnet-inference/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

fix: remove invalid retrigger comment from device-probe lib.rs
  crates/bitnet-device-probe/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

test(bdd,sampling,receipts,generation): expand BDD scenario coverage (#945)
  crates/bitnet-bdd-grid/src/lib.rs
  crates/bitnet-bdd-grid/tests/microcrate_grid_tests.rs
  crates/bitnet-bdd-grid/tests/property_tests.rs
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__cell_count.snap
  crates/bitnet-bdd-grid/tests/snapshots/snapshot_tests__grid_summary.snap
  crates/bitnet-generation/tests/bdd_scenarios.rs
  crates/bitnet-receipts/tests/bdd_scenarios.rs
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__active_profile_unit_local_supported_without_gpu.snap.new
  crates/bitnet-runtime-profile-contract-core/tests/snapshots/snapshot_tests__canonical_grid_cell_count_stable.snap
  crates/bitnet-sampling/tests/bdd_scenarios.rs
  crates/bitnet-testing-policy-interop/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
  crates/bitnet-testing-profile/tests/snapshots/snapshot_tests__canonical_grid_row_count_stable.snap
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Fix formatting for AVX-512 kernels
  crates/bitnet-quantization/src/tl2.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Add initial Intel oneAPI backend support and runtime detection (#986)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-common/Cargo.toml
  crates/bitnet-common/src/backend_selection.rs
  crates/bitnet-common/src/kernel_registry.rs
  crates/bitnet-common/tests/backend_selection_tests.rs
  crates/bitnet-common/tests/kernel_registry_tests.rs
  crates/bitnet-common/tests/property_tests.rs
  crates/bitnet-common/tests/snapshot_tests.rs
  crates/bitnet-device-probe/Cargo.toml
  crates/bitnet-inference/Cargo.toml
  crates/bitnet-kernels/Cargo.toml
  crates/bitnet-kernels/src/device_features.rs
  crates/bitnet-kernels/tests/property_tests.rs
  crates/bitnet-quantization/Cargo.toml
  crates/bitnet-receipts/tests/backend_contract_e2e.rs
  crates/bitnet-tokenizers/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

Enable AVX512 kernel selection and harden TL2 quantization buffers (#989)
  crates/bitnet-kernels/src/cpu/x86.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
