Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(tracking): refresh Codex web PR ledger state
  docs/tracking/codex-web-pr-ledger.md
Due: none

docs(tracking): refresh Codex web PR ledger state (#6141)
  docs/tracking/codex-web-pr-ledger.md
Due: none

cuda: dispatch PERF-005 prefill profile (#58)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(ci): bound historical perf claim artifacts
  ci/AGENT_T5_POLICY_VALIDATION_COMPLETE.md
  ci/MERGE_FINALIZATION_PR473.md
  ci/T5_BENCHMARK_VALIDATION_FINAL_SUMMARY.md
  ci/t5_policy_validation_pr473.md
  ci/t5_policy_validation_summary.md
Due: none

docs(slm): sync swarm export campaign status (#59)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
Due: none

docs(ci): bound historical perf claim artifacts (#6142)
  ci/AGENT_T5_POLICY_VALIDATION_COMPLETE.md
  ci/MERGE_FINALIZATION_PR473.md
  ci/T5_BENCHMARK_VALIDATION_FINAL_SUMMARY.md
  ci/t5_policy_validation_pr473.md
  ci/t5_policy_validation_summary.md
Due: none

cuda: dispatch PERF-005 ten-turn warm session (#60)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs: bound legacy hardware claim docs
  docs/GPU_PERFORMANCE_EXPECTATIONS.md
  docs/explanation/cpp-wrapper-gpu-layer-config.md
  docs/explanation/production-inference-server-architecture.md
  docs/howto/production-server-docker-deployment.md
  docs/howto/quantization-optimization-and-performance.md
  docs/mvp/qk256-mvp-validation-report.md
  docs/performance-benchmarking.md
  docs/performance-guide.md
  docs/reference/api-reference.md
  docs/reference/quantization-support.md
  docs/reference/real-model-api-contracts.md
Due: none

feat(mac): publish M4 long-context proof receipts
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_late_instruction_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_retrieval_copy_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_table_extraction_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_truncation_boundary_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/01-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/02-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/03-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_4k-prompts/01-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_4k.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark.json
  ci/quality/apple-m4-long-context-answer-corpus.yaml
  ci/quality/apple-m4-long-context-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T154518Z-M4-CONTEXT-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

SWARM-LNL258V-BITNET-INTAKE-008 refresh A770 43 evidence (#61)
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-parity-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-after-a770-43-profiles/decode_128.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-after-a770-43-profiles/prefill_512.json
  ci/hardware/intel-258v/2026-05-08/cpu-phase-warm-session-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/cpu-reference-bundle-after-semantic-fix.json
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/src/commands/lunar_lake.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T171856Z-SWARM-LNL258V-BITNET-INTAKE-008-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T172417Z-SWARM-LNL258V-BITNET-INTAKE-008-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

close SWARM-LNL258V-BITNET-INTAKE-008 (#63)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T175235Z-SWARM-LNL258V-BITNET-INTAKE-008-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(tracking): mark M4 context proof PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T175235Z-M4-CONTEXT-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: bound legacy hardware claim docs (#6144)
  docs/GPU_PERFORMANCE_EXPECTATIONS.md
  docs/explanation/cpp-wrapper-gpu-layer-config.md
  docs/explanation/production-inference-server-architecture.md
  docs/howto/production-server-docker-deployment.md
  docs/howto/quantization-optimization-and-performance.md
  docs/mvp/qk256-mvp-validation-report.md
  docs/performance-benchmarking.md
  docs/performance-guide.md
  docs/reference/api-reference.md
  docs/reference/quantization-support.md
  docs/reference/real-model-api-contracts.md
Due: none

docs(m3-air): close M3MBA-023 (#64)
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T172028Z-M3MBA-023-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

a770: add QK256 scaled OpenCL fixture (#62)
  ci/hardware/amd-5700x-intel-a770/2026-05-20/a770-opencl-qk256-i8s-scaled-fixture.json
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-kernels/src/a770_opencl_fixture.rs
  crates/bitnet-kernels/src/bin/a770_opencl_parity.rs
  crates/bitnet-kernels/src/kernels.rs
  docs/specs/intel-arc-a770-gpu-roadmap.md
  docs/tracking/campaigns/intel-a770/active.toml
  docs/tracking/campaigns/intel-a770/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

M4-CONTEXT-002: Publish long-context proof receipts
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_late_instruction_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_retrieval_copy_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_table_extraction_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus-runs/lc_truncation_boundary_001.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/answer-corpus.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/01-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/02-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k-prompts/03-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_1k.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_4k-prompts/01-use-the-synthetic-operations-log-below-answer-th.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark-profiles/context_4k.json
  ci/hardware/apple-m4-mac-mini/2026-05-20T1611Z/context/benchmark.json
  ci/quality/apple-m4-long-context-answer-corpus.yaml
  ci/quality/apple-m4-long-context-corpus.yaml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T154518Z-M4-CONTEXT-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T175235Z-M4-CONTEXT-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m4): close long-context proof item
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T181730Z-M4-CONTEXT-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SWARM-LNL258V-BITNET-INTAKE-009 fix direct reference prompt boundary (#66)
  ci/hardware/intel-258v/2026-05-08/cpu-reference-bundle-after-semantic-fix.json
  ci/hardware/intel-258v/2026-05-08/first-token-divergence-classification-after-a770-43.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-bitnet-semantic-intake.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-comparison.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-operator-readiness.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-regression-bundle-v2.json
  crates/bitnet-cli/src/commands/first_token_divergence.rs
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T180613Z-SWARM-LNL258V-BITNET-INTAKE-009-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T181120Z-SWARM-LNL258V-BITNET-INTAKE-009-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(m4): close M4-CONTEXT-002 (#6146)
  docs/tracking/campaigns/apple-m4-inference-excellence/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T181730Z-M4-CONTEXT-002-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: bound legacy performance claim docs
  docs/analysis/performance-issues-analysis-2025-11-11.md
  docs/analysis/performance-issues-executive-summary.md
  docs/analysis/tokenizer-authority-validation-analysis.md
  docs/architecture/decisions/ADR-003-receipt-schema-stability.md
  docs/architecture/decisions/ADR-004-deterministic-baseline-tolerance.md
  docs/architecture/reference-topology.md
  docs/baselines/perf/BUILD_SUMMARY.md
  docs/baselines/perf/FLAMEGRAPH_README.md
  docs/baselines/perf/phase2_timing_i2s.md
  docs/benchmarks/BENCHMARK_SUMMARY.md
  docs/benchmarks/qk256-dequant-benchmark.md
Due: none

docs(m4): define trend retention policy
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T183548Z-M4-STABILITY-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/blocked-items.md
Due: none

close SWARM-LNL258V-BITNET-INTAKE-009 (#68)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T184345Z-SWARM-LNL258V-BITNET-INTAKE-009-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda: dispatch PERF-005 long prefill profile (#65)
  crates/bitnet-cli/src/commands/answer_parity.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m3-air): preflight secondary BitNet artifacts (#67)
  ci/model-artifacts/apple-m3-secondary-unblock-preflight.toml
  docs/reports/apple-silicon-macbook-m3-air-secondary-artifact-unblock.md
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T181254Z-M3MBA-024-in-progress.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T181610Z-M3MBA-024-pr-open.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(m4): record trend retention PR
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T184240Z-M4-STABILITY-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

SWARM-LNL258V-GOAL-AUDIT-002 refresh post BitNet prompt-boundary audit (#69)
  ci/hardware/intel-258v/2026-05-08/lunar-lake-excellence-audit.json
  ci/hardware/intel-258v/2026-05-08/lunar-lake-goal-artifact-checklist.json
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T185725Z-SWARM-LNL258V-GOAL-AUDIT-002-in-progress.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T190030Z-SWARM-LNL258V-GOAL-AUDIT-002-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

M4-STABILITY-003: Define M4 trend retention policy (#6148)
  docs/slm/apple-m4-inference-excellence.md
  docs/slm/apple-m4-operator-envelope-v3.md
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T183548Z-M4-STABILITY-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T184240Z-M4-STABILITY-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

cuda: dispatch PERF-005 warm-context decode (#70)
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(m4): record M4-STABILITY-003 PR open
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T185600Z-M4-STABILITY-003-pr-open.toml
Due: none

docs(m3-air): close M3MBA-024 (#71)
  docs/tracking/campaigns/apple-m3-macbook-air/CAMPAIGN.md
  docs/tracking/campaigns/apple-m3-macbook-air/active.toml
  docs/tracking/campaigns/apple-m3-macbook-air/events/2026-05-20T190938Z-M3MBA-024-merged.toml
  docs/tracking/campaigns/apple-m3-macbook-air/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(m4): close trend retention item
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T191016Z-M4-STABILITY-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

close SWARM-LNL258V-GOAL-AUDIT-002 (#72)
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-20T191820Z-SWARM-LNL258V-GOAL-AUDIT-002-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs: bound legacy validation report claims
  docs/reports/COMPREHENSIVE_VALIDATION_REPORT.md
  docs/reports/INFERENCE_VALIDATION_RECEIPTS.md
  docs/reports/PHASE2_COMPLETION_REPORT.md
  docs/reports/PHASE2_FMA_IMPLEMENTATION_SUMMARY.md
  docs/reports/SYSTEMATIC_DEBUGGING_PLAN.md
  docs/reports/VALIDATION_INDEX.md
  docs/reports/VALIDATION_SUMMARY.md
  docs/reports/WORKING_INFERENCE_SUMMARY.md
  docs/reports/sprint-2-kickoff-2025-11-11.md
  docs/reports/sprint-2-lockdown-complete-2025-11-11.md
Due: none

docs: add expanded spec/proposal system reference (#73)
  docs/reference/SPEC_PROPOSAL_SYSTEM_FULLY_EXPLAINED.md
  docs/reference/SPEC_SYSTEM.md
Due: none

docs(m4): close M4-STABILITY-003 (#6150)
  docs/tracking/campaigns/apple-m4-inference-excellence/active.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/events/2026-05-20T191016Z-M4-STABILITY-003-merged.toml
  docs/tracking/campaigns/apple-m4-inference-excellence/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
