Repository EffortlessMetrics/BitNet-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

cargo-fmt:
  name: cargo fmt (check)
  entry: bash -c 'cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (deny warnings + no &Vec args)
  entry: bash -c 'RUSTFLAGS="-Dwarnings" cargo clippy --workspace --all-features --all-targets -- -D warnings -D clippy::ptr_arg'
  language: system
  pass_filenames: false

cargo-check-tests:
  name: cargo check --tests
  entry: bash -c 'cargo check --workspace --tests --no-default-features --features cpu'
  language: system
  pass_filenames: false

cargo-test-no-run:
  name: cargo test --no-run
  entry: bash -c 'cargo test --workspace --no-default-features --features cpu --no-run'
  language: system
  pass_filenames: false

banned-patterns:
  name: banned patterns (TestResult misuse, split doc comments)
  entry: bash scripts/hooks/banned-patterns.sh
  language: system
  pass_filenames: false

docs(slm): add SLM-CPU-006 first-token divergence item (#4031)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(slm): ready SLM-CPU-006 after tracker setup
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): ready SLM-CPU-006 after tracker setup (#4043)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Add release warm baseline (M4-SLM-PERF-001)
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4-slm-performance/goal.md
  Cargo.lock
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline.json
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/.gitkeep
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T113656Z-M4-SLM-PERF-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-slm-performance] Record M4-SLM-PERF-001 PR
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T115127Z-M4-SLM-PERF-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Refresh active PR dashboard
  docs/tracking/generated/active-prs.md
Due: none

[codex][apple-m4-slm-performance] Add release warm baseline (M4-SLM-PERF-001) (#4044)
  .codex/bitnet-alignment.md
  .codex/campaigns/apple-m4-slm-performance/goal.md
  Cargo.lock
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_128.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_16.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_32.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline-profiles/warm_64.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/release-baseline.json
  crates/bitnet-cli/Cargo.toml
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/.gitkeep
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T113656Z-M4-SLM-PERF-001-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T115127Z-M4-SLM-PERF-001-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-slm-performance] Close out M4-SLM-PERF-001
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T120045Z-M4-SLM-PERF-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out M4-SLM-PERF-001 (#4045)
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T120045Z-M4-SLM-PERF-001-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): record CPU258V-015 full corpus recovery
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-parity-bitnetcpp-template-full-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T121100Z-CPU258V-015-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T121900Z-CPU258V-015-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cpu): record CPU258V-015 full corpus recovery (#4046)
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-avx2-bitnetcpp-template-full-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/capital_france.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/math_2_plus_2.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/repeat_colors.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/say_ok.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics-runs/yes_no_water.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-corpus-scalar-bitnetcpp-template-full-post-mechanics.json
  ci/hardware/intel-258v/2026-05-08/cpu-answer-parity-bitnetcpp-template-full-post-mechanics.json
  docs/hardware/intel-258v-validation.md
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T121100Z-CPU258V-015-ready.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T121900Z-CPU258V-015-pr-open.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Add SLM allocation audit (M4-SLM-PERF-002)
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T121147Z-M4-SLM-PERF-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-slm-performance] Record M4-SLM-PERF-002 PR
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T121633Z-M4-SLM-PERF-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Add SLM allocation audit (M4-SLM-PERF-002) (#4047)
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_128.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_16.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_32.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/01-what-is-22-answer-briefly.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/02-name-the-capital-of-france.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64-prompts/03-write-one-short-sentence-about-rust.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit-profiles/warm_64.json
  ci/hardware/apple-m4-mac-mini/2026-05-08/slm-performance/allocation-audit.json
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__mac_validate_help.snap
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T121147Z-M4-SLM-PERF-002-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T121633Z-M4-SLM-PERF-002-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-SLM-PERF-002
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T122020Z-M4-SLM-PERF-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out allocation audit (M4-SLM-PERF-002) (#4049)
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T122020Z-M4-SLM-PERF-002-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

fix(cuda): align qk256 i8s activation semantics
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-vs-cuda-answer-parity.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-answer-corpus.json
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  crates/bitnet-kernels/tests/snapshots/snapshot_wave19__qk256_gemv_config_default_debug.snap
  crates/bitnet-qk256-dispatch/src/lib.rs
  docs/reports/CUDA_ANSWER_011_CPU_CUDA_PARITY.md
  docs/reports/CUDA_ANSWER_012_BITNET_I8S_CUDA_PARITY.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T115819Z-CUDA-ANSWER-011-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T115920Z-CUDA-ANSWER-012-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): mark CUDA-ANSWER-012 pr open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T121754Z-CUDA-ANSWER-012-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

fix(cuda): align qk256 i8s activation semantics (#4048)
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cpu-avx512-vs-cuda-answer-parity.json
  ci/hardware/windows-9950x3d-rtx5070ti/2026-05-08/cuda-answer-corpus.json
  crates/bitnet-kernels/src/cuda/bitnet_context.rs
  crates/bitnet-kernels/src/cuda/qk256_gemv.rs
  crates/bitnet-kernels/tests/snapshots/snapshot_wave19__qk256_gemv_config_default_debug.snap
  crates/bitnet-qk256-dispatch/src/lib.rs
  docs/reports/CUDA_ANSWER_011_CPU_CUDA_PARITY.md
  docs/reports/CUDA_ANSWER_012_BITNET_I8S_CUDA_PARITY.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T115819Z-CUDA-ANSWER-011-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T115920Z-CUDA-ANSWER-012-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T121754Z-CUDA-ANSWER-012-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

feat(cli): harden M4 SLM resident session receipts
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T122302Z-M4-SLM-PERF-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123237Z-M4-SLM-PERF-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

[codex][apple-m4-slm-performance] Harden resident SLM sessions (M4-SLM-PERF-003) (#4050)
  crates/bitnet-cli/src/mac.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T122302Z-M4-SLM-PERF-003-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123237Z-M4-SLM-PERF-003-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(tracking): close out M4-SLM-PERF-003
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123400Z-M4-SLM-PERF-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out resident sessions (M4-SLM-PERF-003) (#4052)
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123400Z-M4-SLM-PERF-003-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(slm): classify first-token divergence
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/commands/reference_compare.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/SLM_CPU_8250U_RUNBOOK.md
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T123500Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

feat(slm): classify first-token divergence (#4051)
  crates/bitnet-cli/src/commands/inference.rs
  crates/bitnet-cli/src/commands/reference_compare.rs
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  docs/slm/SLM_CPU_8250U_RUNBOOK.md
  docs/slm/SLM_REFERENCE_DIVERGENCE.md
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T095000Z-SLM-CPU-006-in-progress.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T100800Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T123500Z-SLM-CPU-006-pr-open.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(slm): keep SLM-CPU-006 ready after tooling
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T124100Z-SLM-CPU-006-tooling-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(slm): keep SLM-CPU-006 ready after tooling (#4053)
  docs/tracking/campaigns/slm-cpu/CAMPAIGN.md
  docs/tracking/campaigns/slm-cpu/active.toml
  docs/tracking/campaigns/slm-cpu/events/2026-05-08T124100Z-SLM-CPU-006-tooling-merged.toml
  docs/tracking/campaigns/slm-cpu/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cli): default strict ask receipts
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_001_STRICT_ASK_RECEIPT_DEFAULT.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124500Z-CUDA-ANSWER-012-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124600Z-CUDA-PROD-001-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cuda): mark CUDA-PROD-001 PR open
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124700Z-CUDA-PROD-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

feat(cli): default strict ask receipts (#4054)
  crates/bitnet-cli/src/main.rs
  docs/reports/CUDA_PROD_001_STRICT_ASK_RECEIPT_DEFAULT.md
  docs/specs/rtx5070ti-cuda-answer-readiness.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124500Z-CUDA-ANSWER-012-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124600Z-CUDA-PROD-001-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124700Z-CUDA-PROD-001-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(cpu): close out CPU258V-015
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T124800Z-CPU258V-015-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cpu): close out CPU258V-015 (#4055)
  docs/tracking/campaigns/intel-258v-platform/CAMPAIGN.md
  docs/tracking/campaigns/intel-258v-platform/active.toml
  docs/tracking/campaigns/intel-258v-platform/events/2026-05-08T124800Z-CPU258V-015-merged.toml
  docs/tracking/campaigns/intel-258v-platform/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-001
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124900Z-CUDA-PROD-001-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

docs(cuda): close CUDA-PROD-001 (#4056)
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T124900Z-CUDA-PROD-001-merged.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

perf(slm): optimize apple m4 cpu neon hot path
  crates/bitnet-transformer/src/lib.rs
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123554Z-M4-SLM-PERF-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T124931Z-M4-SLM-PERF-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

[codex][apple-m4-slm-performance] Optimize CPU/NEON hot path (M4-SLM-PERF-004) (#4057)
  crates/bitnet-transformer/src/lib.rs
  docs/slm/apple-m4-slm-performance.md
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T123554Z-M4-SLM-PERF-004-in-progress.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T124931Z-M4-SLM-PERF-004-pr-open.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run

docs(tracking): close out M4-SLM-PERF-004
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T125414Z-M4-SLM-PERF-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

[codex][apple-m4-slm-performance] Close out CPU/NEON hot path (M4-SLM-PERF-004) (#4058)
  docs/tracking/campaigns/apple-m4-slm-performance/CAMPAIGN.md
  docs/tracking/campaigns/apple-m4-slm-performance/active.toml
  docs/tracking/campaigns/apple-m4-slm-performance/events/2026-05-08T125414Z-M4-SLM-PERF-004-merged.toml
  docs/tracking/campaigns/apple-m4-slm-performance/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
  docs/tracking/generated/lane-dashboard.md
Due: none

feat(cuda): add strict warm-session receipts
  crates/bitnet-cli/src/main.rs
  crates/bitnet-cli/tests/cli_arg_tests.rs
  crates/bitnet-cli/tests/snapshots/cli_snapshot_tests__cli_help.snap
  docs/reports/CUDA_PROD_002_WARM_SESSION_RECEIPTS.md
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T130324Z-CUDA-PROD-002-in-progress.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: cargo-fmt, cargo-clippy, cargo-check-tests, cargo-test-no-run, banned-patterns

docs(cuda): mark CUDA-PROD-002 PR open
  docs/tracking/campaigns/nvidia-5070ti/CAMPAIGN.md
  docs/tracking/campaigns/nvidia-5070ti/active.toml
  docs/tracking/campaigns/nvidia-5070ti/events/2026-05-08T131048Z-CUDA-PROD-002-pr-open.toml
  docs/tracking/campaigns/nvidia-5070ti/generated/status.md
  docs/tracking/generated/active-prs.md
  docs/tracking/generated/blocked-items.md
  docs/tracking/generated/global-dashboard.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check-tests: any of: \.rs$
  cargo-test-no-run: any of: \.rs$
  banned-patterns: any of: tests/.*\.rs$
